@using System.Linq
@using Dynamicweb.Content.Items
@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;

<h3>Tilvalg til din bestilling</h3>
<div class="bstNav">
<ul class="button-group tlv">
<li><a class="arrow_box_selected" href="#">1. Tilvalg Telefoni</a></li>
<li><a class=" arrow_box" href="">2. Tilvalg TV</a></li>
<li><a class=" arrow_box" href="">3. Installation</a></li>
<li><a class=" arrow_box" href="">4. Kundeoplysninger</a></li>
</ul>
</div>
<div>
<div class="panel">

@{
		var i = 1;
		var GetPhoneProducts = Helpers.GetPhoneOptionalProducts();
    var NumberRelocation = GetPhoneProducts.PhoneProducts.First(item => item.ProductGroup == "Nummerflytning");
      var phoneServices = GetPhoneProducts.PhoneProducts.Where(item => item.ProductGroup == "Telefonitjenester").ToList();
}
    <form id="form" class="custom js-form-post js-form-post-on-document-ready phonevlg" method="form" action="/CustomHandlers/Cart.ashx?target=step2">
      <div class="row">
        <div class="large-12 columns">

        <!-- New phonenumber Start -->
          <input type="radio" id="new-number" class="left phone-number-button js-update-cart js-radio-group-required" id="new-number" name="numberConfiguration" value="1">
  	       <label for="new-number"><span>Nyt nummer</span></label><br>
          <div class="phone-number-container">
    	  	  <input type="text" readonly="readonly" class="phone-number js-new-phone-number" name="newnumber" value="@Helpers.GetNewPhoneNumbers().FirstOrDefault()">
            <a href="#" class="js-phone-number-button">S&oslash;g efter et andet nummer her</a>
                  <input type="search" class="phone-number-search js-phone-number-search" data-loading-class="loading" data-result-count="12" data-url="/da-DK/New-number.aspx">
            <div class="js-phone-number-results no-bullet"></div>
          </div>
        </div>
        </div>
        <div class="row">
        <!-- New phonenumber End -->
        <!-- Phonenumber Relocation Start -->
        <div class="small-12 columns">
          <input id="numberRelocation" type="radio" class="left number-relocation-button js-radio-group-required js-update-cart" name="numberConfiguration" value="@NumberRelocation.ProvisioningCode">
          <label for="numberRelocation"><span>@NumberRelocation.ProductName</span></label>


          <div class="number-relocation-container row">
            <div class="small-12 columns fltN">
           <h4>Flyt dit fastnetnummer til Bredb&aring;nd Nord</h4>
          <p>Udfyld nedenst&aring;ende felter for at godkende at Bredb&aring;nd Nord m&aring; starte flytning af dit fastnetnummer. Det tager typisk en m&aring;neds tid. Imellemtiden beholder du dit nuv&aelig;rende selskab.</p>
          </div>

            <div class="small-6 columns">
              <label for="phonenumber">Indtast dit fastnethjemmenummer her:</label>
              <input id="phonenumber" class="js-required" type="text" name="phonenumber">
            </div>
            <div class="small-6 columns">
            <label for="company">Oplys dit selskab:</label>
            <select name="donorid" class="js-required">
            <option readonly>V&aelig;lg selskab</option>
                @foreach (var item in Helpers.GetPhoneCompanies())
                {
                    <option value="@item.DonorId">@item.DonorName</option>
                }
            </select>
          </div>
        </div>
      </div>
    </div>


      <!-- Phonenumber Relocation End -->
<hr/>

  <div class="row">
    <div class="large-12 columns">
      <h4>Telefonitjenester</h4>

      <ul class="no-bullet additional-products">
          <li class="additional-products">
          <label for="all"><input type="checkbox" class="js-additional-group js-update-cart hidden-field" id="all" name="all" style="display:none;"><span class="custom checkbox js-checked"></span>
          Alle - samlet pris @Helpers.GetTotalPriceForPhoneServicesWithDiscount(phoneServices, Helpers.GetBundlesForProducts(phoneServices))</label>
          <li>

      @foreach (var item in GetPhoneProducts.PhoneProducts.Where(item => item.ProductGroup == "Telefonitjenester"))
      {
        <li class="additional-products" style="padding-left:15px">
        <label for="additional-product-@i">
          <input type="checkbox" class="js-additional-product js-update-cart hidden-field" id="additional-product-@i" name="additional-product" value="@item.ProvisioningCode" style="display:none;"><span class="custom checkbox js-checked"></span>
          @item.ProductName @item.Price</label>
        </li>
        i++;
      }
      </ul>



    </div>
    </div>
    <hr/>
 <div class="row">
    <div class="large-12 columns">

      <h4>Telefonbogstatus</h4>
      @foreach (var item in GetPhoneProducts.PhoneProducts.Where(item => item.ProductGroup == "Telefonbogstatus"))
      {
        string normalNumber = "";
        if( item.ProvisioningCode == 2268 )
        {
          normalNumber = "checked";
        }
        <div class="additional-products">
          <label for="status-product-@i">
          <input type="radio" class="js-update-cart hidden-field" @normalNumber id="status-product-@i" name="status-product" value="@item.ProvisioningCode" style="display:none;">
          <span class="custom radio js-checked"></span>
          @item.ProductName</label>
        </div>
        i++;
      }
    </div>
  </div>
  </div>
  </div>

      <div class="right">
      <a class="knap-tilbage-bestilling button radius" 
      href="http://bbn.test.nozebrahosting.dk/Bestil">Tilbage</a>
      <input type="submit" class="knap-videre-bestilling button radius" value="videre">
      </div>

</form>
</div>
