@using System
@using System.Linq
@using Dynamicweb.Content.Items
@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;
<h3>Tilvalg til din bestilling</h3>
<div class="bstNav">
    <ul class="button-group tlv">
        <li><a class="arrow_box_selected">1. Tilvalg Telefoni</a></li>
        <li><a class=" arrow_box">2. Tilvalg TV</a></li>
        <li><a class=" arrow_box">3. Installation</a></li>
        <li><a class=" arrow_box">4. Kundeoplysninger</a></li>
    </ul>
</div>
<div>
    <div class="panel">
        @{
            var i = 1;
            var GetPhoneProducts = Helpers.GetPhoneOptionalProducts();
            var NumberRelocation = GetPhoneProducts.PhoneProducts.First(item => item.ProductGroup == "Nummerflytning");
            var phoneServices = GetPhoneProducts.PhoneProducts.Where(item => item.ProductGroup == "Telefonitjenester").ToList();
            Random random = new Random();
        }
        <form id="form" data-abide class="js-form-post js-form-post-on-document-ready custom phonevlg" method="form" action="/CustomHandlers/Cart.ashx?target=step2">
            <div class="row">
                <div class="large-12 columns">
                    <!-- New phonenumber Start -->
                    <input type="radio" id="new-number" class="left phone-number-button js-update-cart js-radio-group-required" id="new-number" name="numberConfiguration" value="1" checked><span class="custom js-checked radio"></span>
                    <label><span>Nyt nummer</span></label><br>
                    <div class="phone-number-container">
                        <input type="text" readonly="readonly" class="phone-number js-new-phone-number" name="newnumber" value="@Helpers.GetNewPhoneNumbers()[random.Next(50)]">
                        <a href="#" class="js-phone-number-button">S&oslash;g efter et andet nummer her</a><br><br>
                        <input type="search" class="phone-number-search js-phone-number-search" data-loading-class="loading" data-result-count="12" data-url="/New-number" placeholder="Skriv tal som skal indg&aring; i dit nye">
                        <div class="js-phone-number-results no-bullet"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- New phonenumber End -->
                <!-- Phonenumber Relocation Start -->
                <div class="small-12 columns">
                    <input id="numberRelocation" type="radio" class="left number-relocation-button js-radio-group-required js-update-cart" name="numberConfiguration" value="@NumberRelocation.ProvisioningCode"><span class="custom js-checked radio"></span>
                    <label><span>@NumberRelocation.ProductName</span></label>

                    <div class="number-relocation-container row">
                        <div class="small-12 columns fltN">
                            <h4>Flyt dit fastnetnummer til Bredb&aring;nd Nord</h4>
                            <p>Udfyld nedenst&aring;ende felter for at godkende at Bredb&aring;nd Nord m&aring; starte flytning af dit fastnetnummer. Det tager typisk en m&aring;neds tid. Imellemtiden beholder du dit nuv&aelig;rende selskab.</p>
                        </div>
                        <div class="small-6 columns">
                            <label for="phonenumber">Indtast dit fastnetnummer her:</label>
                            <input id="phonenumber" class="js-required" type="text" required name="phonenumber" maxlength="8" pattern="number">
                            <small class="error">Venligst indtast dit Telefonnummer!</small>
                        </div>
                        <div class="small-6 columns">
                            <label for="company">Oplys dit nuv&aelig;rende selskab:</label>
                            <select name="donorid" required class="js-required">
                                <option readonly value="">V&aelig;lg selskab</option>
                                @foreach (var item in Helpers.GetPhoneCompanies())
                                {
                                    <option value="@item.DonorId">@item.DonorName</option>
                                }
                            </select>
                            <small class="error">Oplys dit nuv&aelig;rende selskab!</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Phonenumber Relocation End -->
            <hr>
        <div class="row">
            @{
                var tlfTjenesterUdenRabat = GetPhoneProducts.PhoneProducts.Where(item => item.ProductGroup == "Telefonitjenester").Sum(p => p.Price);
                var tlfTjenesterMedRabat = Helpers.GetTotalPriceForPhoneServicesWithDiscount(phoneServices, Helpers.GetBundlesForProducts(phoneServices));
                var rabat = tlfTjenesterUdenRabat - tlfTjenesterMedRabat;
            }
            <div class="large-12 columns">
                <h4>Telefonitjenester</h4>
                <ul class="no-bullet additional-products checkboxlist">
                    <li class="additional-products">
                    <label for="all">
                        <input type="checkbox" class="js-additional-group js-update-cart" id="all" name="all">
                        <span class="custom js-checked checkbox"></span>
                        Alle 4 telefonitjenester (Rabat @rabat kr./md.) <span class="right">@tlfTjenesterMedRabat kr./md.</span>
                    </label>
                    <li>
                    @foreach (var item in GetPhoneProducts.PhoneProducts.Where(item => item.ProductGroup == "Telefonitjenester"))
                    {
                        <li class="additional-products" style="padding-left:15px">
                            <label for="additional-product-@i">
                                <input type="checkbox" class="js-additional-product js-update-cart" id="additional-product-@i" name="additional-product" value="@item.ProvisioningCode"><span class="custom js-checked checkbox"></span>
                                @item.ProductName <span class="right">@item.Price kr./md.</span>
                            </label>
                        </li>
                        i++;
                    }
                </ul>
            </div>
        </div>
                <hr>
                <div class="row">
                    <div class="large-12 columns">
                        <h4>Telefonbogstatus</h4>
                        @foreach (var item in GetPhoneProducts.PhoneProducts.Where(item => item.ProductGroup == "Telefonbogstatus"))
                        {
                            string normalNumber = "";
                            if (item.ProvisioningCode == 2268)
                            {
                                normalNumber = "checked";
                            }
                            <div class="additional-products">
                                <label for="status-product-@i">
                                    <input type="radio" class="js-update-cart " @normalNumber id="status-product-@i" name="status-product" value="@item.ProvisioningCode"><span class="custom js-checked radio"></span> @item.ProductName
                                </label>
                            </div>
                            i++;
                        }
                    </div>
                </div>
        </div>
        <div class="right">
            <a class="knap-tilbage-bestilling button radius" onclick='javascript:history.back()'><< Tilbage</a>
            <input type="submit" class="knap-videre-bestilling button js-loader radius" value="Videre >>">
        </div>
        </form>
    </div>
