@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;

@{
	Products mainProducts = Helpers.GetMainProducts();
	<form class="js-ajax-form" method="get" action="<!--@Global:Pageview.Url-->">
		<div>
			@foreach(var item in mainProducts.Packages) {
				var node = item.Products.Split(new string[] {"|"}, StringSplitOptions.RemoveEmptyEntries);
				var combinationID = "";
				foreach( var product in node ) {
					combinationID = combinationID + "-" + product.Split(';')[0];
				}
				<label>@item.Name</label>
				<input type="radio" class="js-group js-update-cart" data-combination="@combinationID.Substring(1)" name="campagne-product">
				<ul>
					@foreach( var product in node ) {
						<li>@product.Split(';')[1]</li>
					}
				</ul>
			}
		</div>
		<br>
		<br>
		<h2>Fiberbredb&aring;rd</h2>
		@foreach(var item in mainProducts.InternetProducts) {
		  <div class="internet-product">
		  	<span>@item.ProductName</span>
		  	<a href="#">L&aelig;s mere</a>
				<input type="radio" class="js-product js-update-cart" name="internet-product" value="@item.ProvisioningCode">
		  </div>
		}
		<br />
		<h2>Telefoni</h2>
		@foreach(var item in mainProducts.PhoneProducts) {
		  <div class="phone-product">
		  	<span>@item.ProductName</span>
		  	<a href="#">L&aelig;s mere</a>
		  	<span></span>
				<input type="radio" class="js-product js-update-cart" name="phone-product" value="@item.ProvisioningCode">
		  </div>
		}
		<br />
		<h2>TV</h2>
		@foreach(var item in mainProducts.TvProducts) {
		  <div class="tv-product">
		  	<span>@item.ProductName</span>
		  	<a href="#">L&aelig;s mere</a>
				<input type="radio" class="js-product js-update-cart" name="tv-product" value="@item.ProvisioningCode">
		  </div>
		}
	</form>

}

<br>
<br>
<a href="/da-DK/Phone-options.aspx">Forts&aelig;tbestilling</a>
