@*
@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;
*@
<h3>Tilvalg til din bestilling</h3>
<div class="bstNav">
<ul class="button-group tlv">
<li><a class="arrow_box" href="#">1. Tilvalg Telefoni</a></li>
<li><a class=" arrow_box" href="">2. Tilvalg TV</a></li>
<li><a class=" arrow_box" href="">3. Installation</a></li>
<li><a class=" arrow_box_selected" href="">4. Kundeoplysninger</a></li>
</ul>
</div>
<div class="panel">
@{
	@*Products mainProducts = Helpers.GetMainProducts();*@
	<form method="get" action="<!--@Global:Pageview.Url-->">
	<div class="row">
		<div class="large-6 columns">
			<h4>Navn & Adresse</h4>
			<label>Fornavn</label><br>
			<input type="text" required><br><br>

			<label>Efternavn</label><br>
			<input type="text" required><br><br>

			<label>Vejnavn og husnr.</label><br>
			<input type="text" value="Mejlgade 56, Lejl. 110, 2. TH" readonly><br><br>

			<label>Post nr.</label><br>
			<input type="text" value="8000" readonly><br><br>

			<label>By</label><br>
			<input type="text" value="Aarhus C" readonly><br><br>

			<label>Kommentar</label><br>
			<textarea height="100" width="200"></textarea><br><br>
			<input type="checkbox" value="accept" required>
			<label>Jeg accepterer</label><br>
			<input type="checkbox" value="newsletter">
			<label>Ja tak, jeg &oslash;nsker at modtage nyheder og tilbud</label><br>
		</div>

		<div class="large-6 columns">
			<h4>Kontaktoplysninger</h4>
			<label>Telefon</label><br>
			<input type="text"><br><br>

			<label>Mobil</label><br>
			<input type="text"><br><br>

			<label>E-mail</label><br>
			<input type="email" required><br>
			<span>Du modtager kvitteringen via denne e-mail.</span><br><br>

			<label>Adgangskode</label><br>
			<input type="password" class="js-password" required><br><br>

			<label>Adgangskode (Bekr&aelig;ft)</label><br>
			<input type="password" class="js-password-confirm" required><br><br>
		</div>
</div>
		<hr>
		<div class="row">
		<div class="small-12 columns">
	<h4>Anden faktureringsadresse?</h4>


		<input type="radio" class="js-tricker-required" value="on" name="fa">
		<label>Ja</label>

		<input checked type="radio" class="js-tricker-required" value="off" name="fa">
		<label>Nej</label>
		</div></div>
<div class="row">
<div class="large-6 small-12 columns">
		<div class="col-1 col-validate">
			<label>Navn/Firma</label><br>
			<input type="text" class="js-target-required"><br><br>

			<label>Postnr.</label><br>
			<input type="text" class="js-target-required"><br><br>

			<label>By</label><br>
			<input type="text" class="js-target-required"><br><br>

			<label>Vej</label><br>
			<input type="text" class="js-target-required"><br><br>

			<label>Husnr.</label><br>
			<input type="text" class="js-target-required"><br><br>

			<label>Telefon</label><br>
			<input type="text"><br><br>

			<label>CVR nr.</label><br>
			<input type="text" class="js-target-required"><br><br>

			<label>ATT/Kontaktperson</label><br>
			<input type="text"><br><br>

			<label>E-mail</label><br>
			<input type="email" class="js-target-required"><br><br>
		</div>
</div>
<div class="large-6 small-12 columns">
		<div class="col-2">
			<span>V&aelig;lg hvilke produkter der skal have alternativ faktureringsadresse</span><br>
			<select>
				<option>Alle</option>
				<option>1</option>
				<option>2</option>
			</select>
		</div>
</div>
			<input type="submit" class="js-form-submit" value="Gennemf&oslash;r bestilling">
		</div>

	</form>

}

</div>