@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;

@{
  var mainProducts = Helpers.GetMainProductsForAjaxCart();
  var optionalProducts = Helpers.GetOptionalProductsForAjaxCart();
  var installationProducts = Helpers.GetInstallationProductsForAjaxCart();
  <div class="product-cart js-ajax-cart" data-ajaxpath="/da-DK/Cart2.aspx?LayoutTemplate=Designs/2014/MasterClean.html">

   <h4>Din bestilling</h4>
   @if (mainProducts != null)
  {
    <div>
    <h6>ABONNEMENT<span class="right">Betales l&oslash;bende</span></h6>
    @if (mainProducts.Packages.Count > 0)
    {
      <span>@mainProducts.Packages[0].Name;</span><br/>
    }
    @if (mainProducts.InternetProducts.Count > 0)
    {
      <span>@mainProducts.InternetProducts[0].ProductName</span><br/>
    }
    @if (mainProducts.TvProducts.Count > 0)
    {
      <span>@mainProducts.TvProducts[0].ProductName</span><br/>
    }
    @if (mainProducts.PhoneProducts.Count > 0)
    {
      <span>@mainProducts.PhoneProducts[0].ProductName</span><br/>
    }

    @if (optionalProducts != null)
    {
    <hr/>
      <div>
      <H6>Tilvalg<span class="right">Betales l&oslash;bende</span></H6>
      @foreach (Product product in optionalProducts.TvProducts)
      {
        <p>@product.ProductName<span class="right">@product.Price</span></p>
      }
      @foreach (Product product in optionalProducts.PhoneProducts)
      {
        <p>@product.ProductName<span class="right">@product.Price</span></p>
      }
        </div>
    }
    @if (installationProducts != null)
    {
      <div>
      <H6>Oprettelse</H6>
      @foreach (Product product in installationProducts.InstallationProducts)
      {
        <p>@product.ProductName<span class="right">@product.Price</span></p>
      }
      </div>
    }
    </div>
    <div class="dms">
  <p><h6>Det med sm&aring;t</h6>
  <ul>
    <li>Waoo! og Bredb&aring;nd Nords produkter leveres som
     standard som "G&oslash;r det selv installation". </li>
    <li> Prisen p&aring; TV2 Play i kampagneperioden (1. til 2. m&aring;ned)
     er 0 kr./md. Herefter er prisen 39 kr./md.</li>
    <li> Bindingsperioden er 6 m&aring;neder.</li>
    <li> Mindsteprisen beregnes ud fra: Waoo! 3 (6x638). TV2 Play
    (4x39). Fast tildelt IP (6x39 + 99). Overflytning af nummer
    (299). Telefoni - alle tjenester (6x29). Med TV Boks
    (Personligt TV) (399). TV 2 Pakke (6x89). 24 Nordjyske
    (1x20).  Boomerang (1x20). MTV Danmark HD  (1x20).
    TCM (1x20).</li>
  </ul>
     </p>
</div>
  }






</div>

}



