@using System.Linq
@using Dynamicweb.Content.Items
@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;


<h3>Tilvalg til din bestilling</h3>
<div class="bstNav">
<ul class="button-group tlv">
<li><a class="arrow_box" href="#">1. Tilvalg Telefoni</a></li>
<li><a class=" arrow_box" href="">2. Tilvalg TV</a></li>
<li><a class=" arrow_box_selected" href="">3. Installation</a></li>
<li><a class=" arrow_box" href="">4. Kundeoplysninger</a></li>
</ul>
</div>
<div class="panel">
@{
	var i = 1;
	var GetInstallationProducts = Helpers.GetInstallationProducts();
	<form id="form" method="post" class="js-form-post custom" action="/CustomHandlers/Cart.ashx?target=step4">
		<div class="additional-products">
	        <label for="gravlet">
	        <input type="radio" checked class="gravlet-button js-update-cart" id="gravlet" name="grav" value="gravlet"/><span class="custom radio"></span>
	        <h4>Grav-Let<span class="right">0 kr</span></h4></label>
	        <p>Bredb&aring;nd Nord st&aring;r for fremf&oslash;ring og etablering af 30 meter fibernet p&aring; din grund og frem til din bolig. </p>
	        <ul class="gravlet-container no-bullet">
            @foreach (var item in GetInstallationProducts.InstallationProducts.Where(item => item.ProductGroup == "GravLet")) {
                <li>
                    <label for="gravlet-@i">
                    <input type="checkbox" class="js-update-cart" id="gravlet-@i" name="gravlet" value="@item.ProvisioningCode"/><span class="custom checkbox"></span>@item.ProductName <span class="right">@item.Price</span></label>
                </li>
                i++;
            }
            </ul>
	    </div>
	    <div class="additional-products">
	    @foreach (var item in GetInstallationProducts.InstallationProducts.Where(item => item.ProductGroup == "GravSelv")) {

                <label for="gravselv-@i">
                <input type="radio" class="js-update-cart" id="gravselv-@i" name="grav" value="@item.ProvisioningCode"/><span class="custom radio"></span><h4>
                @item.ProductName <span class="right">@item.Price</span></h4></label>
            i++;
        }
             <p>Du st&aring;r selv for al gravearbejde og nedl&aelig;gning af tomr&oslash;r. Bredb&aring;nd Nord fremf&oslash;rer herefter fiberkablet frem til din bolig.</p>
            </div>

	    <h4>Fiberservice (valgfrit)</h4>
        @foreach (var item in GetInstallationProducts.InstallationProducts.Where(item => item.ProductGroup == "FiberService"))
        {
            <div class="additional-products">
            <label for="fiberservice-@i">
                <input type="checkbox" class="js-update-cart" id="fiberservice-@i" name="fiberservice" value="@item.ProvisioningCode"/>
                <span class="custom checkbox"></span>
                @item.ProductName <span class="right">@item.Price</span></label>
            </div>
            i++;
        }
			<br>
			<br>
			<input type="submit" value="Betal">
	</form>
}
</div>
