@using System.Linq
@using Dynamicweb.Content.Items
@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;


<h3>Tilvalg til din bestilling</h3>
<div class="bstNav">
<ul class="button-group tlv">
<li><a class="arrow_box_selected" href="#">1. Tilvalg Telefoni</a></li>
<li><a class=" arrow_box" href="">2. Tilvalg TV</a></li>
<li><a class=" arrow_box" href="">3. Installation</a></li>
<li><a class=" arrow_box" href="">4. Kundeoplysninger</a></li>
</ul>
</div>
<div class="panel">
@{
var i = 1;
<form id="form" class="js-form-post custom js-form-post-on-document-ready" method="form" action="/CustomHandlers/Cart.ashx?target=step2">
	<div class="row">
	<div class="large-12 columns">
	@foreach (var item in Helpers.GetPhoneOptionalProducts().PhoneProducts.Where(item => item.ProductGroup == "Nummerflytning").OrderBy(item=> item.Price))
	{
	<label for="numberConfiguration-@i" class="additional-products">
	<input id="numberConfiguration-@i" type="radio" class="js-update-cart" name="numberConfiguration" value="@item.ProvisioningCode"/><span class="custom radio"></span>
	@item.ProductName <span class="right">@item.Price kr.</span>

	</label>
	i++;
	}
	</div>
	</div>


<section id="fltN">
	<h4>Flyt dit fastnetnummer til Bredb&aring;nd Nord </h4>
	<p>Udfyld nedenst&aring;ende felter for at godkende at Bredb&aring;nd Nord m&aring; starte flytning af dit fastnetnummer. Det tager typisk en m&aring;neds tid. Imellemtiden beholder du dit nuv&aelig;rende selskab.</p>
	<div class="row">
		<div class="large-8 columns">
			<div class="row">
				<div class="large-6 columns">
					<label> Indtast dit fastnetnummer her: </label>
					<input class="fstN" id="phonenumber" type="text" name="phonenumber" placeholder="">
				</div>
				<div class="large-6 columns">
					<label for="customDropdown"> Oplys dit nuv&aelig;rende selskab: </label>
					<input class="fstN" id="company" type="text" name="company">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="tlfTj">
				<h4>Telefonitjenester</h4>
				<ul class="no-bullet">
					<li><label for="all"><input type="checkbox" class="js-additional-group js-update-cart" id="all" name="all"><span class="custom checkbox"></span> Alle 4 telefonitjenester (Rabat 7 kr./md.) <span class="right">29 kr./md.</span></label>
						<ul>
							@foreach(var item in Helpers.GetPhoneOptionalProducts().PhoneProducts.Where( item => item.ProductGroup == "Telefonitjenester" ) ) {
							<li class="additional-products">
								<label for="additional-product-@i">
								<input type="checkbox" class="js-additional-product js-update-cart" name="additional-product" value="@item.ProvisioningCode" id="additional-product-@i">
								<span class="custom checkbox"></span>@item.ProductName<span class="right">@item.Price kr./md.</span></label>
								</li>
								i++;
							}

						</ul>
					</li>

				</ul>

				<div class="radiogroup">
					<h4>Telefonbogstatus</h4>
					@foreach(var item in Helpers.GetPhoneOptionalProducts().PhoneProducts.Where( item => item.ProductGroup == "Telefonbogstatus" ) ) {
						string normalNumber = "";
						if( item.ProvisioningCode == 2268 )
						{
						  normalNumber = "checked";
						}
						<label for="@status-product-@i" class="additional-products">
						<input id="status-product-@i" @normalNumber type="radio" class="js-update-cart" name="status-product" value="@item.ProvisioningCode">
						@item.ProductName</label>
						i++;
					}

				</div>
			</div>
		</div>
	</div>
</section>
<input type="submit" value="Forts&aelig;t bestilling">
</form>



}
</div>

