@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;
@using NoZebra.S_DW_BBN.BBNSemiOpen;

@{
  var i = 1;
  Products mainProducts = Helpers.GetMainProducts();
  mainProducts.InternetProducts.RemoveAll(item => item.ProductName.ToUpper().Contains("KAMPAGNE"));
  mainProducts.TvProducts.RemoveAll(item => item.ProductName.ToUpper().Contains("KAMPAGNE"));
  mainProducts.PhoneProducts.RemoveAll(item => item.ProductName.ToUpper().Contains("KAMPAGNE"));
  Customer_QueryResponse customer = Helpers.GetCustomerQueryResponseFromSession();


<div class="row">
<h3>Vælg kampagnetilbud</h3>
	<form id="form" class="js-form-post" method="post" action="/CustomHandlers/Cart.ashx?target=step1">
	@if(customer.Body.Customer_QueryResult.CustomerInfoData.Forening_ID == "0")
    {
      <ul class="large-block-grid-3 small-grid-2">
        @foreach(var package in mainProducts.Packages) {
        @* The node looks like: |1819;Fiberbredbånd 60/60 Mbit/s||1525;Waoo! Telefoni Forbrugsafregnet *@
            var node = package.Products.Split(new string[] {"|"}, StringSplitOptions.None).Take(4).Where(item => !string.IsNullOrEmpty(item));
            var combinationID = "";
            foreach( var product in node ) {
                combinationID = combinationID + "-" + product.Split(';')[0];

            }
           var imgurl = "files/Templates/Designs/2014/img/bestilling/BOX-Waoo-"+@package.ID+".png";
            <li>
					<div class="kT">

					<img class="left"  src="@imgurl" alt="">
						<div class="wText">
					<h3>@package.Name</h3>
					<ul class="disc">
						@foreach( var product in node ) {
						<li>@product.Split(';')[1]</li>
					}
					</ul>
					</div>
					<div class="wText2">
					<h4>179 kr./md.</h4>
					<a href="#">Se TV kanaler  |  L&aelig;s mere</a>
					</div>
				<label for="package-@i"><input type="radio" id="package-@i" class="js-group js-update-cart" value="@package.BBNID" data-combination="@combinationID.Substring(1)" name="campagne-product">
					<span class="custom radio"></span></label>

			</li>



          i++;


    }

    </ul>
}


<h3 id="hBottom">Sammens&aelig;t din bestilling</h3>
<div class="sammensat-1">
 	<div class="ss1">
 	<img src="files/Templates/Designs/2014/img/Computer.png" alt="">
	<span class"">Fiberbredb&aring;nd</span>
	</div>
<ul class="button-group">
		@foreach(var item in mainProducts.InternetProducts) {
		<li class="internet-product">
			<a class="sbutton" href="">
				<h5>@item.ProductName</h5>
				<small>L&aelig;s mere</small>
			<input type="radio" class="js-product js-update-cart" name="internet-product" value="@item.ProvisioningCode">
				</a>
			</li>



		}
</ul>
</div>
<div class="sammensat-2">
 	<div class="ss1">
 	<img src="files/Templates/Designs/2014/img/Telefon.png" alt="">
	<span class"">Telefoni</span>
	</div>
<ul class="button-group">
		@foreach(var item in mainProducts.PhoneProducts) {
		  <li class="phone-product">
		  	<a class="sbutton" href="">
				<h5>@item.ProductName</h5>
				<small>L&aelig;s mere</small>
				<input type="radio" class="js-product js-update-cart" name="phone-product" value="@item.ProvisioningCode">
			</a>
		  </li>
		}
	</ul>
</div>
<div class="sammensat-3">
 	<div class="ss1">
 	<img src="files/Templates/Designs/2014/img/Tv.png" alt=""><br/>
	<span class"">TV</span>
	</div>
	<ul class="button-group">
		@foreach(var item in mainProducts.TvProducts) {
		  <li class="tv-product">
		  		<a class="sbutton" href="">
				<h5>@item.ProductName</h5>
				<small>L&aelig;s mere</small>
				<input type="radio" class="js-product js-update-cart" name="tv-product" value="@item.ProvisioningCode">
			</a>
		  </li>
		}
	</ul>
</div>
	</form>
<input type="submit" value="Forts&aelig;t" class="button radius">
</div>



}



