@using System.Linq
@using Dynamicweb.ImageHandling
@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;
@using Convert = System.Convert
<style type="text/css" media="screen">

      .col-validate {
        display: none;
      }
      .faktureringsadresse:checked ~ .col-validate {
        display: block;
      }
      .phone-number-container {
        display: none;
      }
      .phone-number-button:checked ~ .phone-number-container {
        display: block;
      }
      .number-relocation-container {
        display: none;
      }
      .number-relocation-button:checked ~ .number-relocation-container {
        display: block;
      }
      .tv-box-container {
        display: none;
      }
      .tv-box-button:checked ~ .tv-box-container {
        display: block;
      }
      .tv-channel-container {
        display: none;
      }
      .tv-channel-button:checked ~ .tv-channel-container {
        display: block;
      }
      .tv-packages-container {
        display: none;
      }
      .tv-packages-button:checked ~ .tv-packages-container {
        display: block;
      }
      .gravlet-container {
        display: none;
      }
      .gravlet-button:checked ~ .gravlet-container {
        display: block;
      }

    </style>


<h3>Tilvalg til din bestilling</h3>
<div class="bstNav">
<ul class="button-group tlv">
<li><a class="arrow_box" href="#">1. Tilvalg Telefoni</a></li>
<li><a class=" arrow_box_selected" href="">2. Tilvalg TV</a></li>
<li><a class=" arrow_box" href="">3. Installation</a></li>
<li><a class=" arrow_box" href="">4. Kundeoplysninger</a></li>
</ul>
</div>
<div class="panel">
@{
	var i = 1;
	var GetTvOptionalProducts = Helpers.GetTvOptionalProducts();

	<input type="radio" checked name="tv-box" id="no-tv">
    <label for="no-tv">Ingen TV Boks</label>
    <input type="radio" name="tv-box" class="tv-box-button" id="tv-box">
    <label for="tv-box">Bestil TV Boks</label>
    <div class="tv-box-container">
        <form id="form" class="js-form-post custom" method="post" action="/CustomHandlers/Cart.ashx?target=step3">
            <h3>F&oslash;rste TV boks</h3>
            <div class="additional-products">
                <select name="first-tv-box" >
                    <option value="">Ingen</option>
                    @foreach (var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "Gruppe-Settopbokse-Første").OrderBy(item => Convert.ToDouble(item.Price))) {
                        <option value="@item.ProvisioningCode">@item.ProductName @item.Price</option>
                    }
                </select>
            </div>
            <h3>Ekstra TV Bokse</h3>
            <div class="additional-products">
                Alm. TV boks<br />
                <select name="extra-tv-box-regular">
                    <option value="">Ingen</option>
                    @foreach (var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "Gruppe-Settopbokse-Ekstra").OrderBy(item => Convert.ToDouble(item.Price))) {
                        <option value="@item.ProvisioningCode">@item.ProductName @item.Price</option>
                    }
                </select>
            </div>
            <div class="additional-products">
                TV boks m. harddisk<br>
                <select name="extra-tv-box-harddisk">
                    <option value="">Ingen</option>
                    @foreach (var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "Gruppe-Settopbokse-Harddisk").OrderBy(item => Convert.ToDouble(item.Price))) {
                        <option value="@item.ProvisioningCode">@item.ProductName @item.Price</option>
                    }
                </select>
            </div>
            <h3>Tilvalg til TV boks</h3>
            <input type="checkbox" class="tv-packages-button" id="tv-packages" name="tv-packages">
            <label for="tv-packages">Ekstra TV Pakker</label>
            <div class="tv-packages-container">
                @foreach (var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "EkstraTvPakker")) {
                    <input type="checkbox" id="tvpakker-@i" name="additional-tv-packages" class="js-additional-product js-update-cart" value="@item.ProvisioningCode">
                    <label for="tvpakker-@i">@item.ProductName</label>
                    <br>
                    i++;
                }
            </div>
            <h3>Frit Valg TV kanaler</h3>
            <input type="checkbox" name="all-tv-channel" class="tv-channel-button" id="tv-channel">
            <label for="tv-channel">Frit Valg TV kanaler</label>
            <div class="tv-channel-container">
                @foreach( var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "FritValg").OrderBy(item => item.ProductName) ) {
                    <div class="additional-products">
                        <input type="checkbox" class="js-update-cart" name="free-choice-tv" id="additional-product-@i" value="@item.ProvisioningCode">
                        <label for="additional-product-@i">@item.ProductName</label>
                        <span>@item.Price</span>
                    </div>
                    i++;
                }
            </div>
    		<br>
    		<br>
    		<input type="submit" value="Forts&aelig;t bestilling">
        </form>
    </div>
}
</div>


