@using NoZebra.S_DW_BBN.CustomCode

@{
    var customer = Helpers.GetCustomerQueryFromUser();
<div class="small-12 medium-12 large-8 columns">
<div id="maincontent"><h1>Rediger mine oplysninger</h1>
<h4 class="h4">Her kan du redigere dine personlige oplysninger, opgive en anden betaler og postadresse!<br>&nbsp;</h4>
</div>
<div class="section-container auto button-group" data-section="" id="faner" data-section-resized="true" style="min-height: 43px;">
<section class="active" style="padding-top: 43px;">
    <div class="title" data-section-title="" style="left: 0px; height: 43px;"><a class="button" href="javascript:void(0);">Mine oplysninger</a></div>
    <div id="panel1" class="content" data-section-content="">
        <form id="formmydata" method="post" class="js-form-post custom informationform" data-redirect="Default.aspx?ID=202" action="/CustomHandlers/UserManagement.ashx?target=editmybbn&option=mybbn">
            <div class="kudOplys">
                <div class="large-6 columns">
                    <h4>Navn &amp; Installationsadresse</h4>
                    <label class="required">Navn</label>
                    <input name="firstname" type="text" readonly="" disabled="" value="@customer.Body.Customer_QueryResult.CustomerInfoData.FirstName @customer.Body.Customer_QueryResult.CustomerInfoData.Surname">
                    <!--<small class="error">Venligst indtast dit Navn!</small>-->

                    <label class="required">Vejnavn og husnr.</label>
                    <input disabled="" name="address" type="text" value="@customer.Body.Customer_QueryResult.CustomerInfoData.Street @customer.Body.Customer_QueryResult.CustomerInfoData.HouseNumber" readonly=""><br>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="row ">
                                <div class="large-3 columns">
                                    <label class="required">Post nr.</label>
                                    <input name="zip" type="text" value="@customer.Body.Customer_QueryResult.CustomerInfoData.Zip" readonly="" disabled=""><br><br>
                                </div>
                                <div class="large-9 columns">
                                    <label class="required">By</label>
                                    <input name="city" type="text" value="@customer.Body.Customer_QueryResult.CustomerInfoData.City" readonly="" disabled=""><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p><strong>BEM&AElig;RK:</strong> Navn og installationsadressen er fast og kan kun &aelig;ndres ved at melde flytning til Bredb&aring;ndnords kundeservice .</p>
                    </div>
                </div>
                <div class="large-6 columns">
                    <h4>Kontaktoplysninger</h4>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="row">
                                <div class="large-6 columns">
                                    <label class="required">Telefon</label>
                                    <input name="phone" type="text" maxlength="8" value="@customer.Body.Customer_QueryResult.CustomerInfoData.Contact_Phone">
                                </div>
                                <div class="large-6 columns">
                                    <label class="required">Mobil</label>
                                    <input name="mobile" type="text" maxlength="8" value="@customer.Body.Customer_QueryResult.CustomerInfoData.ContactMobilePhoneNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                    <label class="required">E-mail</label>
                    <input name="email" type="email" required="" value="@customer.Body.Customer_QueryResult.CustomerInfoData.Email">
                    <!--<small class="error">Venligst indtast din email!</small>-->
                    <p> Du modtager post, nyhedsbrev og notifikationer via denne e-mail.
                        Denne e-mailen bruges ogs&aring; som brugernavn til Mit "Bredb&aring;nd Nord".</p>
                    <div class="large-7 large-centered columns">
                        <input type="submit" value="Gem &AElig;ndringer &gt;&gt;" class="js-loader knap-f-bestilling aendring">
                        <p style="text-align:center; visibility:hidden" class="js-success">&AElig;ndringerne er gemt</p>
                    </div>
                </div>

            </div>
        </form>
    </div>
  </section>
  <section style="padding-top: 43px;">
    <div class="title" data-section-title="" style="left: 160px; height: 43px;"><a class="button secondary" href="javascript:void(0);">Anden betaler</a></div>
    <div id="panel2" class="content" data-section-content="">
    <h4>Anden Faktureringsadresse</h4>
<p class="info-2">&Oslash;nsker du at et firma eller en anden betaler et eller flere af dine produkter skal du udfylde nedenst&aring;ende og angive hvilke produkter det drejer sig om.</p>
        <form id="formpayeraddress" method="post" class="js-form-post custom informationform" data-redirect="Default.aspx?ID=202" action="/CustomHandlers/UserManagement.ashx?target=editmybbn&option=payeraddress">
            <div class="kudOplys">
                <div class="large-6 columns">
                    <label class="required">Navn/Firma</label>
                    <input name="billingname" type="text" class="js-target-required" required="required">
                    <label class="required">Vejnavn</label>
                    <input name="billingroad" type="text" class="js-target-required" required="required">
                    <label class="required">Husnr.</label>
                    <input name="billinghousenumber" type="text" class="js-target-required" required="required">
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="row ">
                                <div class="large-3 columns">
                                    <label class="required">Post nr.</label>
                                    <input name="zip" type="text" value="" readonly="" ><br><br>
                                </div>
                                <div class="large-9 columns">
                                    <label class="required">By</label>
                                    <input name="city" type="text" value="" readonly="" ><br><br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label class="required">Telefon</label>
                    <input name="billingphone" type="text">

                    <label class="required">CVR nr.</label>
                    <input name="billingcvr" type="text">

                    <label class="required">ATT/Kontaktperson</label>
                    <input name="billingcontact" type="text">

                    <label class="required">E-mail</label>
                    <input name="billingemail" type="email" class="js-target-required" required="required">
                    <span>V&aelig;lg hvilke produkter der skal have alternativ faktureringsadresse</span>
                    <br><br>

                    <div class="additional-products">
                        <label for="alternatebillingchoices">
                            <input name="alternatebillingchoices" type="checkbox" value="" class="hidden-field">
                            <span class="custom checkbox js-checked"></span>
                            Alle
                        </label>
                    </div>
                    <div class="additional-products">
                        <label for="alternatebillingchoices">
                            <input name="alternatebillingchoices" type="checkbox" value="" class="hidden-field">
                            <span class="custom checkbox js-checked"></span>
                            Internet
                        </label>
                    </div>
                    <div class="additional-products">
                        <label for="alternatebillingchoices">
                            <input name="alternatebillingchoices" type="checkbox" value="" class="hidden-field">
                            <span class="custom checkbox js-checked"></span>
                            Telefoni
                        </label>
                    </div>
                    <div class="additional-products">
                        <label for="alternatebillingchoices">
                            <input name="alternatebillingchoices" type="checkbox" value="" class="hidden-field">
                            <span class="custom checkbox js-checked"></span>
                            Analog TV
                        </label>
                    </div>

                    <input type="submit" value="Gem &AElig;ndringer &gt;&gt;" class="js-loader knap-f-bestilling aendring">
                    <p style="visibility:hidden">&AElig;ndringerne er gemt</p>

                </div>
            </div>
        </form>
    </div>
  </section>
 <section style="padding-top: 43px;">
    <div class="title" data-section-title="" style="left: 300px; height: 43px;"><a class="button secondary" href="javascript:void(0);">Postadresse</a></div>
    <div id="panel3" class="content" data-section-content="">
    <h4>Anden postadresse</h4>
<p class="info-2">&Oslash;nsker du at modtage din post og regninger fra Bredb&aring;nd Nord, p&aring; en anden adresse en installationsadressen, skal du udfylde nedenst&aring;ende. Du modtager ogs&aring; dit udstyr (router og TV boks) p&aring; denne adresse.</p>
 <form id="formpostal" method="post" class="js-form-post custom informationform" data-redirect="Default.aspx?ID=202" action="/CustomHandlers/UserManagement.ashx?target=editmybbn&option=postaladdress">
	<div class="kudOplys">
	<div class="large-6 columns">
			<h4>Navn &amp; Installationsadresse</h4>
			<label class="required">Fornavn</label>
			<input name="firstnamepostal" type="text" required="" value="@customer.Body.Customer_QueryResult.CustomerInfoData.PostalAddress.Firstname">
			<!--<small class="error">Venligst indtast dit Navn!</small>-->

			<label class="required">Efternavn</label>
            <input name="lastnamepostal" type="text" required="" value="@customer.Body.Customer_QueryResult.CustomerInfoData.PostalAddress.Lastname">
			<!--<small class="error">Venligst indtast dit Efternavn!</small>-->

		<label class="required">Vejnavn</label>
        <input name="addresspostal" type="text" value="@customer.Body.Customer_QueryResult.CustomerInfoData.PostalAddress.Street" ><br>
        <label class="required">Husnr.</label>
        <input name="housenumberpostal" type="text" value="@customer.Body.Customer_QueryResult.CustomerInfoData.PostalAddress.HouseNumber" ><br>
			<div class="row">
        <div class="large-12 columns">
        <div class="row ">
        <div class="large-3 columns">
       	<label class="required">Post nr.</label>
           <input name="zippostal" type="text" value="@customer.Body.Customer_QueryResult.CustomerInfoData.PostalAddress.Zip" ><br><br>
       </div>
       <div class="large-9 columns">
			<label class="required">By</label>
           <input name="citypostal" type="text" value="@customer.Body.Customer_QueryResult.CustomerInfoData.PostalAddress.City" ><br>
      </div>
      </div>
        <input type="submit" value="Gem &AElig;ndringer &gt;&gt;" class="js-loader knap-f-bestilling aendring">

		<button class="knap-tilbage-bestilling button radius" onclick="">Nulstil adresse</button>
		<p>&AElig;ndringerne er gemt</p>
      </div>

      </div>
      </div>
	</form>
    </div>
  </section>

</div>
</div>
}