@using System
@using System.Linq
@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;
<h3>Tilvalg til din bestilling</h3>
<div class="bstNav">
    <ul class="button-group tlv">
        <li><a class="arrow_box">1. Tilvalg Telefoni</a></li>
        <li><a class=" arrow_box">2. Tilvalg TV</a></li>
        <li><a class=" arrow_box_selected">3. Installation</a></li>
        <li><a class=" arrow_box">4. Kundeoplysninger</a></li>
    </ul>
</div>
<div>
    @{
        try
        {
            var i = 1;
            var GetInstallationProducts = Helpers.GetInstallationProducts();
            var gravBBN = GetInstallationProducts.InstallationProducts.Single(p => p.ProvisioningCode == 308);
            var gravEgen = GetInstallationProducts.InstallationProducts.Single(p => p.ProvisioningCode == 2434);
            <form id="form" method="post" class="js-form-post js-form-post-on-document-ready custom installationform" action="/CustomHandlers/Cart.ashx?target=step4">
                <div class="panel">
                    @if (!Helpers.DiggedOrHasFiberBox())
                    {
                        <div>
                            <div class="additional-products">
                                <input type="radio" checked class="gravlet-button js-update-cart" id="gravlet" name="grav" value="@gravBBN.ProvisioningCode" />
                                <label for="grav">
                                    <h4 class="grav">@gravBBN.ProductName &nbsp;<!--@Global:Paragraph.Content(1648)--><span class="right">@gravBBN.Price.ToString("F")</span></h4>
                                    <p>Vi fremf&oslash;rer fiberr&oslash;r maks 30 meter p&aring; din grund. Installation og tilslutning er inkluderet.</p>
                                </label>
                                <div class="gravlet-container">
                                    @foreach (var item in GetInstallationProducts.InstallationProducts.Where(item => item.ProductGroup == "GravLet" || item.ProductName.ToUpper() == "TRÆK-SELV"))
                                    {
                                        <label class="additional-products" for="gravlet-@i">
                                            <input type="checkbox" class="js-update-cart" id="gravlet-@i" name="gravlet" value="@item.ProvisioningCode" /><span class="custom checkbox js-checked"></span>
                                            @item.ProductName <span class="right">@item.Price kr.</span>
                                        </label>
                                        i++;
                                    }
                                </div>
                            </div><br>
                            <div class="additional-products">
                                <input type="radio" class="gravselv-button js-update-cart" id="gravselv" name="grav" value="@gravEgen.ProvisioningCode" />
                                <label for="grav">
                                    <h4 class="grav">@gravEgen.ProductName &nbsp;<!--@Global:Paragraph.Content(1647)--><span class="right">@gravEgen.Price.ToString("F")</span></h4>
                                    <p>Du fremf&oslash;rer selv fiberr&oslash;r p&aring; grunden og vi installerer og tilslutter</p>
                                </label>
                                <div class="gravselv-container no-bullet">
                                    @foreach (var item in GetInstallationProducts.InstallationProducts.Where(item => item.ProductGroup == "GravLet" || item.ProductName.ToUpper() == "TRÆK-SELV"))
                                    {
                                        <label class="additional-products" for="gravselv-@i">
                                            <input type="checkbox" class="js-update-cart" id="gravselv-@i" name="gravselv" value="@item.ProvisioningCode" /><span class="custom checkbox js-checked"></span>
                                            @item.ProductName <span class="right">@item.Price kr.</span>
                                        </label>
                                        i++;
                                    }
                                </div>
                            </div>
                            <hr />
                        </div>
                    }
                    <h4>Fiberservice (valgfrit)</h4>
                    @foreach (var item in GetInstallationProducts.InstallationProducts.Where(item => item.ProductGroup == "FiberService"))
                    {
                        <div class="additional-products">
                            <input type="checkbox" class="js-update-cart" id="fiberservice-@i" name="fiberservice" value="@item.ProvisioningCode" />
                            <label for="fiberservice-@i">@item.ProductName <span class="right">@item.Price kr.<span></label>
                        </div>
                        i++;
                    }
                    @if (Helpers.IsCurrentUserSales())
                    {
                        <h4>Till&aelig;gsoplysninger</h4>
                        <div class="">
                            <input name="diggingplan" type="checkbox" value="Graveskitse" />
                            <label for="diggingplan">Graveskitse udf&oslash;rt</label>
                            <input name="markingstick" type="checkbox" value="Markeringspind udleveret" />
                            <label for="markingstick">Markeringspind udleveret</label>
                        </div>
                    }
                </div>
                <div class="right">
                    <a class="knap-tilbage-bestilling button radius" onclick='javascript:history.back()'><< Tilbage</a>
                    <input type="submit" class="knap-videre-bestilling button js-loader radius" value="Videre >>">
                </div>
            </form>
        }
        catch (Exception e)
        {
            <div>
                Der er sket en fejl. Hvis fejlen bliver ved med at v&aelig;re til stede kontakt venligst kundeservice.
                <br /><br />
                <div>@e.ToString()</div>
            </div>
        }
    }
</div>
