<form id="lookUpAddress" runat="server" class="js-livesearch js-livesearch-loader" action="/CustomHandlers/LookupAddress.ashx">
  <input type="hidden" class="js-itemclick-action" value="/CustomHandlers/LookupAddress.ashx">
  <input type="hidden" class="js-noresults" value="No results found">
  <input type="hidden" class="js-error" value="An error has occurred">
  <input type="hidden" class="js-result-item-class" value="search-item js-look-up-user-address">
  <input type="text" class="js-input" value="" size="100">
  <ul class="results js-results"></ul>
</form>
<form id="lookUpUser" runat="server" action="/CustomHandlers/UserManagement.ashx?target=mybbn">
  <input type="hidden" class="js-address-container" name="address">
  <label for="axID">Kunde id:</label><br>
  <input type="text" name="axID" value=""><br>
  <label for="email">E-mail:</label><br>
  <input type="mail" name="email" value=""><br>
  <input type="submit" value="Submit">
</form>
