@using System.Linq
@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;

@{
	var i = 1;
	var GetInstallationProducts = Helpers.GetInstallationProducts();
	<form id="form" method="post" class="js-form-post" action="/CustomHandlers/Cart.ashx?target=step4">
		<div class="additional-products">
	        <input type="radio" class="js-update-cart" id="gravlet" name="grav" value="@GetInstallationProducts.InstallationProducts.First(item => item.ProductName.ToUpper() == "GRAV-LET").ProvisioningCode"/>
	        <label for="gravlet">Grav-Let</label>
            @foreach (var item in GetInstallationProducts.InstallationProducts.Where(item => item.ProductGroup == "GravLet" || item.ProductName.ToUpper() == "TRÆK-SELV")) {
                <div class="additional-products">
                    <input type="checkbox" class="js-update-cart" id="gravlet-@i" name="gravlet" value="@item.ProvisioningCode"/>
                    <label for="gravlet-@i">@item.ProductName @item.Price</label>
                </div>
                i++;
            }
	    </div>
		<div class="additional-products">
			<input type="radio" class="js-update-cart" id="gravlet" name="grav" value="@GetInstallationProducts.InstallationProducts.First(item => item.ProductName.ToUpper() == "GRAV-SELV").ProvisioningCode"/>
	        <label for="gravlet">Grav-Let</label>
			 @foreach (var item in GetInstallationProducts.InstallationProducts.Where(item => item.ProductGroup == "GravLet" || item.ProductName.ToUpper() == "TRÆK-SELV")) {
				<div class="additional-products">
					<input type="checkbox" class="js-update-cart" id="gravselv-@i" name="gravselv" value="@item.ProvisioningCode"/>
					<label for="gravselv-@i">@item.ProductName @item.Price</label>
				</div>
				i++;
			}
        </div>
	    <h3>Fiberservice (valgfrit)</h3>
        @foreach (var item in GetInstallationProducts.InstallationProducts.Where(item => item.ProductGroup == "FiberService"))
        {
            <div class="additional-products">
                <input type="checkbox" class="js-update-cart" id="fiberservice-@i" name="fiberservice" value="@item.ProvisioningCode"/>
                <label for="fiberservice-@i">@item.ProductName @item.Price</label>
            </div>
            i++;
        }
        @if (Helpers.IsCurrentUserSales())
        {
            <h3>Tillægsoplysninger</h3>
            <div class="">
                <input name="diggingplan" type="checkbox"/>
                <label for="diggingplan">Graveskitse udført</label>
                <input name="markingstick" type="checkbox"/>
                <label for="markingstick">Markeringspind udleveret</label>
            </div>
        }
		<br>
		<br>
		<input type="submit" value="Betal">
	</form>
}
