@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;
@using NoZebra.S_DW_BBN.BBNSemiOpen;

@{
  var i = 1;
  Products mainProducts = Helpers.GetMainProducts();
  mainProducts.InternetProducts.RemoveAll(item => item.ProductName.ToUpper().Contains("KAMPAGNE"));
  mainProducts.TvProducts.RemoveAll(item => item.ProductName.ToUpper().Contains("KAMPAGNE"));
  mainProducts.PhoneProducts.RemoveAll(item => item.ProductName.ToUpper().Contains("KAMPAGNE"));
  Customer_QueryResponse customer = Helpers.GetCustomerQueryResponseFromSession();
  <form id="form" class="js-form-post" method="post" action="/CustomHandlers/Cart.ashx?target=step1">
    @if(customer.Body.Customer_QueryResult.CustomerInfoData.Forening_ID == "0")
    {
      <div>
        @foreach(var package in mainProducts.Packages) {
        @* The node looks like: |1819;Fiberbredbånd 60/60 Mbit/s||1525;Waoo! Telefoni Forbrugsafregnet *@
            var node = package.Products.Split(new string[] {"|"}, StringSplitOptions.None).Take(4).Where(item => !string.IsNullOrEmpty(item));
            var combinationID = "";
            foreach( var product in node ) {
                combinationID = combinationID + "-" + product.Split(';')[0];
            }
            <label for="package-@i">@package.Name</label>
            <input type="radio" id="package-@i" class="js-group js-update-cart" value="@package.BBNID" data-combination="@combinationID.Substring(1)" name="campagne-product">
            <ul>
                @foreach (var product in node)
                {
                    <li>@product.Split(';')[1]</li>
                }
            </ul>
          i++;

        <label for="package-@i">@package.Name</label>
        <input type="radio" id="package-@i" class="js-group js-update-cart" value="@package.BBNID" data-combination="@combinationID.Substring(1)" name="campagne-product">
        <ul>
          @foreach (var product in node)
          {
              <li>@product.Split(';')[1]</li>
          }
        </ul>
        i++;
    }

    </div>
}
  @if (mainProducts.InternetProducts.Count > 0)
  {
    <h2>Fiberbredb&aring;rd</h2>
    foreach (var item in mainProducts.InternetProducts)
    {
      <div class="internet-product">
        <label for="internet-@i">@item.ProductName</label>
        <a href="#">L&aelig;s mere</a>
        <input type="radio" id="internet-@i" class="js-product js-update-cart" name="internet-product" value="@item.ProvisioningCode">
      </div>
    i++;
    }
    <br>
  }
  @if (mainProducts.PhoneProducts.Count > 0)
  {
    <h2>Telefoni</h2>
    foreach (var item in mainProducts.PhoneProducts)
    {
      <div class="phone-product">
        <label for="phone-@i">@item.ProductName</label>
        <a href="#">L&aelig;s mere</a>
        <span></span>
        <input type="radio" id="phone-@i" class="js-product js-update-cart" name="phone-product" value="@item.ProvisioningCode">
      </div>
    i++;
    }
    <br>
  }
  @if (mainProducts.TvProducts.Count > 0)
  {
    <h2>TV</h2>
    foreach(var item in mainProducts.TvProducts)
    {
      <div class="tv-product">
        <label for="tv-@i">@item.ProductName</label>
        <a href="#">L&aelig;s mere</a>
        <input type="radio" id="tv-@i" class="js-product js-update-cart" name="tv-product" value="@item.ProvisioningCode">
      </div>
      i++;
    }
  }
  <input type="submit" value="Forts&aelig;t">
</form>
}
