@using System.Linq
@using Dynamicweb.Content.Items
@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;

@{
		var i = 1;
		var GetPhoneProducts = Helpers.GetPhoneOptionalProducts();
    var NumberRelocation = GetPhoneProducts.PhoneProducts.First(item => item.ProductGroup == "Nummerflytning");
    <form id="form" class="js-form-post" method="form" action="/CustomHandlers/Cart.ashx?target=step2">

      <!-- New phonenumber Start -->
      <input type="radio" id="new-number" class="phone-number-button js-radio-group-required" id="new-number" name="numberConfiguration" value="1">
  	  <label for="new-number">Nyt nummer</label><br>
  	  <div class="phone-number-container">
    	  	<input type="text" disabled class="phone-number js-new-phone-number" name="newnumber" value="@Helpers.GetNewPhoneNumbers().FirstOrDefault()">
  	  		<a href="#" class="js-phone-number-button">S&oslash;g efter et andet nummer her</a>
  		</div>
      <!-- New phonenumber End -->

      <!-- Phonenumber Relocation Start -->
      <input id="numberRelocation" type="radio" class="number-relocation-button js-radio-group-required js-update-cart" name="numberConfiguration" value="@NumberRelocation.ProvisioningCode">
      <label for="numberRelocation">@NumberRelocation.ProductName</label><br>
      <div class="number-relocation-container">
        <div style="width: 250px; float: left;">
            <label for="phonenumber">Indtast dit fastnethjemmenummer her:</label><br>
            <input id="phonenumber" class="js-required" type="text" name="phonenumber">
        </div>
        <div style="width: 250px; float: left;">
            <label for="company">Oplys dit selskab:</label><br>
            <select name="donorid" class="js-required">
                @foreach (var item in Helpers.GetPhoneCompanies())
                {
                    <option value="@item.DonorId">@item.DonorName</option>
                }
            </select>
        </div>
      </div>
      <!-- Phonenumber Relocation End -->

      <h3>Telefonitjenester</h3>
      <div class="additional-products">
          <input type="checkbox" class="js-additional-group js-update-cart" id="all" name="all">
          <label for="all">Alle</label>
      </div>
      @foreach (var item in GetPhoneProducts.PhoneProducts.Where(item => item.ProductGroup == "Telefonitjenester"))
      {
        <div class="additional-products">
          <input type="checkbox" class="js-additional-product js-update-cart" id="additional-product-@i" name="additional-product" value="@item.ProvisioningCode">
          <label for="additional-product-@i">@item.ProductName</label>
        </div>
        i++;
      }
      <h3>Telefonbogstatus</h3>
      @foreach (var item in GetPhoneProducts.PhoneProducts.Where(item => item.ProductGroup == "Telefonbogstatus"))
      {
        <div class="additional-products">
          <input type="radio" class="js-update-cart" id="status-product-@i" name="status-product" value="@item.ProvisioningCode">
          <label for="status-product-@i">@item.ProductName</label>
        </div>
        i++;
      }
     	<input type="search" class="phone-number-search js-phone-number-search" data-loading-class="loading" data-result-count="12" data-url="/da-DK/New-number.aspx">
      <div class="js-phone-number-results"></div>
      <br>
      <br>
      <input type="submit" value="Forts&aelig;t bestilling">
    </form>
}
