﻿@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using MoreLinq
@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;
@using BundleProduct = NoZebra.S_DW_BBN.BBNSemiOpen.BundleProduct;
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Message Subject or Title</title>
    <style type="text/css">
        /***********
        Originally based on The MailChimp Reset from Fabio Carneiro, MailChimp User Experience Design
        More info and templates on Github: https://github.com/mailchimp/Email-Blueprints
        http://www.mailchimp.com &amp; http://www.fabio-carneiro.com

        INLINE: Yes.
        ***********/
        /* Client-specific Styles */
        #outlook a {
            padding: 0;
        }
        /* Force Outlook to provide a "view in browser" menu link. */
        body {
            width: 100% !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 0;
            padding: 0;
            font-family: Arial;
            font-size: 12px;
        }
        /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
        .ExternalClass {
            width: 100%;
        }
            /* Force Hotmail to display emails at full width */
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }
        /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
        #backgroundTable {
            margin: 0;
            padding: 0;
            width: 100% !important;
            line-height: 100% !important;
        }
        /* End reset */

        /* Some sensible defaults for images
        1. "-ms-interpolation-mode: bicubic" works to help ie properly resize images in IE. (if you are resizing them using the width and height attributes)
        2. "border:none" removes border when linking images.
        3. Updated the common Gmail/Hotmail image display fix: Gmail and Hotmail unwantedly adds in an extra space below images when using non IE browsers. You may not always want all of your images to be block elements. Apply the "image_fix" class to any image you need to fix.

        Bring inline: Yes.
        */
        img {
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        a img {
            border: none;
        }

        .image_fix {
            display: block;
        }

        /** Yahoo paragraph fix: removes the proper spacing or the paragraph (p) tag. To correct we set the top/bottom margin to 1em in the head of the document. Simple fix with little effect on other styling. NOTE: It is also common to use two breaks instead of the paragraph tag but I think this way is cleaner and more semantic. NOTE: This example recommends 1em. More info on setting web defaults: http://www.w3.org/TR/CSS21/sample.html or http://meiert.com/en/blog/20070922/user-agent-style-sheets/

        Bring inline: Yes.
        **/
        p {
            margin: 1em 0;
        }

        /** Hotmail header color reset: Hotmail replaces your header color styles with a green color on H2, H3, H4, H5, and H6 tags. In this example, the color is reset to black for a non-linked header, blue for a linked header, red for an active header (limited support), and purple for a visited header (limited support).  Replace with your choice of color. The !important is really what is overriding Hotmail's styling. Hotmail also sets the H1 and H2 tags to the same size.

        Bring inline: Yes.
        **/
        h1, h2, h3, h4, h5, h6 {
            color: black !important;
            margin-bottom: 1px; padding-bottom: 0;
            margin-top: 4px;
        }

        h1 {
            font-size: 20px;
            font-weight: bold;
        }

        h2 {
            font-size: 14px;
            font-weight: bold;
        }

        h3{ font-size: 12px;
            font-weight:bold;}

            h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
                color: blue !important;
            }

                h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
                    color: #f5851f !important; /* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
                }

                h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
                    color: #f5851f !important; /* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */
                }


        table td {
            border-collapse: collapse;
        }


        table {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }


        a {
            color: #f5851f;
        }

        /*ul {
            margin: 0;
            padding-left: 15px;
        }

        ul li {
            margin: 0;
            padding: 0;
        }*/
    </style>
    <!-- Targeting Windows Mobile -->
    <!--[if IEMobile 7]>
    <style type="text/css">

    </style>
    <![endif]-->
    <!-- ***********************************************
    ****************************************************
    END MOBILE TARGETING
    ****************************************************
    ************************************************ -->
    <!--[if gte mso 9]>
    <style>
        /* Target Outlook 2007 and 2010 */
    </style>
    <![endif]-->
</head>
@{
    var customer = Helpers.GetCustomerQueryResponseFromSession().Body.Customer_QueryResult.CustomerInfoData;
    var mainProducts = Helpers.GetMainProductsForAjaxCart();
    var optionalProducts = Helpers.GetOptionalProductsForAjaxCart();
    var installationProducts = Helpers.GetInstallationProductsForAjaxCart();
    var cart = Helpers.GetSessionCart();
    var bookingTime = HttpContext.Current.Session["BookingTime"] as string;
    var DWUserCreated = false;
    if(HttpContext.Current.Session["DWUserCreated"] != null)
    {
         DWUserCreated = (bool)HttpContext.Current.Session["DWUserCreated"];
    }
    List<BundleProduct> positiveBundles;
    var bundles = Helpers.GetBundlesForCart(out positiveBundles);
    var phoneServices = new List<PhoneProduct>();
    var monthlyPrice = 0.00;
    var installationPrice = 0.00;
    double outDouble = 0;
    double packagePrice = 0;
    <body>
        <!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->
        <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
            <tr>
                <td>
                    <!-- Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message. -->
                    <table cellpadding="0" cellspacing="0" border="0" align="left" width="600">
                        @if (cart.CustomerInfo != null)
                        {
                            <tr>
                                <td valign="top" colspan="2">
                                    <h1>Tak for din bestilling</h1>
                                    <span>Vi ønsker dig velkommen som kunde hos Bredbånd Nord.</span>
                                    @if (!string.IsNullOrEmpty(bookingTime))
                                    {
                                        if (!bookingTime.Contains("07:00-15:00"))
                                        {
                                            <span>Vi har booket følgende tid hvor vores tekniker kommer hjem til dig for at tilslutte fiberbredbånd i din bolig:</span>
                                            <br/>
                                            <h1 style="text-align:center">@bookingTime </h1>

                                            <span>Vær opmærksom på at du skal være hjemme når tekniker kommer. Hvis tidspunktet ikke passer dig kan du ændre det senest 72 timer inden, ved at logge ind på Mit Bredbånd Nord. Du kan også kontakte kundeservice på tlf. 98 88 99 90</span><br />
                                        }else{
                                            <span>Vi har booket følgende tid hvor dit fiberbredbånd bliver tilsluttet:</span>
                                            <br/>
                                            <h1 style="text-align:center">@bookingTime </h1>
                                            <br/>
                                            <span>Vær opmærksom på at vi <i>ikke</i> behøver adgang til din bolig. Hvis tidspunktet ikke passer dig kan du ændre det senest 72 timer inden, ved at logge ind på Mit Bredbånd Nord. Du kan også kontakte kundeservice på tlf. 98 88 99 90</span><br />
                                            <span>Afhængig af hvilken fiberboks som er installeret i din bolig og hvilke produkter du har bestilt, vil du modtage en pakke fra os som du skal hente på posthuset. Du får besked fra Post Danmark når pakken er klar.</span><br/>

                                        }
                                    }
                                    else
                                    {
                                        <span>Vi kan ikke tildele dig en tilslutningstid. Du modtager yderligere information pr. brev.</span><br/>
                                    }

                                </td>
                            </tr>
<tr><td colspan="2"><br/></td></tr>
                            <tr>
                                <td colspan="2">
                                    <h2>Mit Bredbånd Nord</h2>
                                    @if (!DWUserCreated)
                                    {
                                        <div>Når du har modtaget brevet med din tilslutningstid kan du oprette dig på Mit Bredbånd Nord.<br/>
                                            <a href="http://www.bredbaandnord.dk/Mit-BBN">Kilk her</a> for at gå til Mit Bredbånd Nord. </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <a href="http://www.bredbaandnord.dk/Mit-BBN">Kilk her</a> for at gå til Mit Bredbånd Nord og log ind med nedenstående oplysninger:
                                            <br/>

                                            <h3  style="margin-bottom:0px">Brugernavn</h3>
                                            Dit brugernavn er enten dit kundenummer: <b>@customer.AxCustomerID</b><br/>
                                            - eller din email: <a href="mailto:@customer.Email">@customer.Email</a><br/>

                                            <h3  style="margin-bottom:0px">Adgangskode</h3>
                                            @customer.WebPassword
                                        </div>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><br/><br/>
                                <span>Nedenunder finder du de oplysninger vi har registeret i forbindelse med din bestilling. Vi beder dig tjekke at din bestilling og dine kundeoplysninger er korrekte. <br/>
Vedhæftet finder du vejledningerne du skal bruge i forbindelse med installation og tilslutning af dine produkter.</span><br/>
                                    <h1>Kundeoplysninger</h1>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>@(cart.CustomerInfo.ContainsKey("firstname") ? cart.CustomerInfo["firstname"] : "") @(cart.CustomerInfo.ContainsKey("lastname") ? cart.CustomerInfo["lastname"] : "")</span><br/>
                                    <span>@(cart.CustomerInfo.ContainsKey("address") ? cart.CustomerInfo["address"] : "")</span><br/>
                                    <span>@(cart.CustomerInfo.ContainsKey("zip") ? cart.CustomerInfo["zip"] : "") @(cart.CustomerInfo.ContainsKey("city") ? cart.CustomerInfo["city"] : "")</span><br/>
                                    <br/>
                                    <b>Telefon:</b> @(cart.CustomerInfo.ContainsKey("phone") ? cart.CustomerInfo["phone"] : "")<br/>
                                    <b>Mobil:</b> @(cart.CustomerInfo.ContainsKey("mobile") ? cart.CustomerInfo["mobile"] : "")<br/>
                                    <b>E-mail:</b> @(cart.CustomerInfo.ContainsKey("email") ? cart.CustomerInfo["email"] : "")<br/>
                                </td>
                                <td>
                                    @if (cart.CustomerInfo != null && cart.CustomerInfo.ContainsKey("fa") && cart.CustomerInfo["fa"] == "on")
                                    {
                                        <b>Alternativ fakturering</b><br/>
                                        <span>@(cart.CustomerInfo.ContainsKey("billingname") ? cart.CustomerInfo["billingname"] : "")</span><br/>
                                        <span>@(cart.CustomerInfo.ContainsKey("billingroad") ? cart.CustomerInfo["billingroad"] : "") @(cart.CustomerInfo.ContainsKey("billinghousenumber") ? cart.CustomerInfo["billinghousenumber"] : "")</span><br/>
                                        <span>@(cart.CustomerInfo.ContainsKey("billingzip") ? cart.CustomerInfo["billingzip"] : "") @(cart.CustomerInfo.ContainsKey("billingcity") ? cart.CustomerInfo["billingcity"] : "")</span><br/>
                                        <br/>
                                        <b>ATT/Kontaktperson:</b> @(cart.CustomerInfo.ContainsKey("billingcontact") ? cart.CustomerInfo["billingcontact"] : "")<br/>
                                        <b>CVR nr.:</b> @(cart.CustomerInfo.ContainsKey("billingcvr") ? cart.CustomerInfo["billingcvr"] : "")<br/>
                                        <br/>
                                        <b>Telefon:</b> @(cart.CustomerInfo.ContainsKey("billingphone") ? cart.CustomerInfo["billingphone"] : "")<br/>
                                        <b>E-mail:</b> @(cart.CustomerInfo.ContainsKey("billingemail") ? cart.CustomerInfo["billingemail"] : "")<br/><br/>
                                        <b>Gælder for:</b><br/>
                                        <span>@(cart.CustomerInfo.ContainsKey("alternatebillingchoices") ? cart.CustomerInfo["alternatebillingchoices"] : "")</span><br/>
                                    }
                                </td>
                            </tr>
                        }

                        @if (mainProducts != null)
                        {
                            var mainProductsTotalPrice = 0.00;
                            <tr>
                                <td colspan="2">
                                    <h1>Din bestilling <span style="font-size: 11px">- ordrenr.: @(customer != null ? (customer.NonCompletedOrders != null && customer.NonCompletedOrders.Any() ? customer.NonCompletedOrders[0].ReferenceOrderID : System.Web.HttpContext.Current.Session["TransactionOrderID"] ?? "") : System.Web.HttpContext.Current.Session["TransactionOrderID"] ?? "")</span></h1><br/><hr /></td>
                            </tr>
                            <tr>
                                <td valign="top" width="300">
                                    <h2>Abonnement</h2>
                                </td>
                                <td width="300" align="right">
                                    <b>Betales l&oslash;bende</b>
                                </td>
                            </tr>
                            if (mainProducts.Packages.Count > 0 && mainProducts.Packages.First().IsAssociation)
                            {
                                if (mainProducts.InternetProducts.Count > 0)
                                {
                                    mainProductsTotalPrice += mainProducts.InternetProducts[0].Price;
                                    double internetPrice = mainProducts.InternetProducts[0].Price;
                                    foreach (BundleProduct bundle in bundles)
                                    {
                                        bool wasteThis;
                                        if (mainProducts.InternetProducts[0] == Helpers.GetProductFromBundleInCart(bundle, mainProducts, optionalProducts, installationProducts, out wasteThis))
                                        {
                                            internetPrice += bundle.Price;
                                            break;
                                        }
                                    }
                                    <tr>
                                        <td valign="top" width="300"><div>@mainProducts.InternetProducts[0].ProductName</div></td>
                                        <td width="300" valign="top" align="right"><span>@internetPrice.ToString("F") kr./md.</span></td>
                                    </tr>
                                }
                                if (mainProducts.TvProducts.Count > 0)
                                {
                                    if (mainProducts.TvProducts[0].ProvisioningCode < 0)
                                    {
                                        double price = Helpers.GetPriceForIPTvPackages(mainProducts.TvProducts[0].ProvisioningCode, out outDouble, null, Helpers.GetPriceListIdFromSession());
                                        mainProductsTotalPrice += price;
                                        <tr>
                                            <td valign="top" width="300"><div>@mainProducts.TvProducts[0].ProductName</div></td>
                                            <td width="300" valign="top" align="right"><span>@price.ToString("F") kr./md.</span></td>
                                        </tr>

                                    }
                                    else
                                    {
                                        mainProductsTotalPrice += mainProducts.TvProducts[0].Price;
                                        <tr>
                                            <td valign="top" width="300"><div>@mainProducts.TvProducts[0].ProductName</div></td>
                                            <td width="300" valign="top" align="right"><span>@mainProducts.TvProducts[0].Price.ToString("F") kr./md.</span></td>
                                        </tr>
                                    }
                                }
                                if (mainProducts.PhoneProducts.Count > 0)
                                {
                                    var phonePrice = mainProducts.PhoneProducts[0].Price;
                                    if (mainProducts.PhoneProducts[0].ProvisioningCode == 1527)
                                    {
                                        phonePrice += Helpers.GetMainProducts().PhoneProducts.First(item => item.ProvisioningCode == 1525).Price;
                                    }
                                    mainProductsTotalPrice += phonePrice;
                                    <tr>
                                        <td valign="top" width="300"><div>@mainProducts.PhoneProducts[0].ProductName</div></td>
                                        <td width="300" valign="top" align="right"><span>@phonePrice.ToString("F") kr./md.</span></td>
                                    </tr>
                                }
                            }
                            else if (mainProducts.Packages.Count > 0)
                            {
                                packagePrice = Helpers.GetPriceForPackage(mainProducts.Packages[0], out outDouble);
                                mainProductsTotalPrice += packagePrice;
                                <tr>
                                    <td valign="top" width="300">
                                        <div>@mainProducts.Packages[0].Name</div>
                                        <ul>
                                            @if (mainProducts.InternetProducts.Count > 0)
                                            {
                                                <li>@mainProducts.InternetProducts[0].ProductName</li>
                                            }
                                            @if (mainProducts.TvProducts.Count > 0)
                                            {
                                                <li>@mainProducts.TvProducts[0].ProductName</li>
                                            }
                                            @if (mainProducts.PhoneProducts.Count > 0)
                                            {
                                                <li>@mainProducts.PhoneProducts[0].ProductName</li>
                                            }
                                        </ul>
                                    </td>
                                    <td width="300" valign="top" align="right">
                                        <span>@packagePrice.ToString("F") kr./md.</span>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                if (mainProducts.InternetProducts.Count > 0)
                                {
                                    mainProductsTotalPrice += mainProducts.InternetProducts[0].Price;
                                    <tr>
                                        <td valign="top" width="300"><div>@mainProducts.InternetProducts[0].ProductName</div></td>
                                        <td width="300" valign="top" align="right"><span>@mainProducts.InternetProducts[0].Price.ToString("F") kr./md.</span></td>
                                    </tr>
                                }
                                if (mainProducts.TvProducts.Count > 0)
                                {
                                    if (mainProducts.TvProducts[0].ProvisioningCode < 0)
                                    {
                                        double price = Helpers.GetPriceForIPTvPackages(mainProducts.TvProducts[0].ProvisioningCode, out outDouble, null, Helpers.GetPriceListIdFromSession());
                                        mainProductsTotalPrice += price;
                                        <tr>
                                            <td valign="top" width="300"><div>@mainProducts.TvProducts[0].ProductName</div></td>
                                            <td width="300" valign="top" align="right"><span>@price.ToString("F") kr./md.</span></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        mainProductsTotalPrice += mainProducts.TvProducts[0].Price;
                                        <tr>
                                            <td valign="top" width="300"><div>@mainProducts.TvProducts[0].ProductName</div></td>
                                            <td width="300" valign="top" align="right"><span>@mainProducts.TvProducts[0].Price.ToString("F") kr./md.</span></td>
                                        </tr>
                                    }
                                }
                                if (mainProducts.PhoneProducts.Count > 0)
                                {
                                    var phonePrice = mainProducts.PhoneProducts[0].Price;
                                    if (mainProducts.PhoneProducts[0].ProvisioningCode == 1527)
                                    {
                                        phonePrice += Helpers.GetMainProducts().PhoneProducts.First(item => item.ProvisioningCode == 1525).Price;
                                    }
                                    <tr>
                                        <td valign="top" width="300"><div>@mainProducts.PhoneProducts[0].ProductName</div></td>
                                        <td width="300" valign="top" align="right"><span>@phonePrice.ToString("F") kr./md.</span></td>
                                    </tr>
                                }
                            }
                            if (positiveBundles.Count > 0 || (optionalProducts != null && optionalProducts.HasProducts()))
                            {
                                <tr>
                                    <td valign="top" width="300">
                                        <h2>Tilvalg</h2>
                                    </td>
                                    <td width="300" align="right">
                                        <b>Betales l&oslash;bende</b>
                                    </td>
                                </tr>
                                foreach (BundleProduct bundle in positiveBundles)
                                {
                                    mainProductsTotalPrice += bundle.Price;
                                    <tr>
                                        <td valign="top" width="300"><div>@bundle.ProductName</div></td>
                                        <td width="300" valign="top" align="right"><span>@bundle.Price.ToString("F") kr./md.</span></td>
                                    </tr>
                                }
                                if (optionalProducts != null && (optionalProducts.PhoneProducts.Any(item => item.ProductGroup == "Telefonitjenester") || optionalProducts.TvProducts.Any(item => !item.ProductName.ToUpper().Contains("KØB"))))
                                {
                                    double optionalPrices = 0.00;
                                    phoneServices.AddRange(optionalProducts.PhoneProducts.Where(item => item.ProductGroup == "Telefonitjenester"));
                                    if (cart.AllPhoneServices)
                                    {
                                        optionalPrices += Helpers.GetTotalPriceForPhoneServicesWithDiscount(phoneServices, bundles);
                                        <tr>
                                            <td valign="top" width="300">
                                                <div>Alle 4 telefonitjenester</div>
                                                <ul>
                                                    @foreach (Product product in phoneServices)
                                                    {
                                                        <li>@product.ProductName</li>
                                                    }
                                                </ul>
                                            </td>
                                            <td width="300" valign="top" align="right"><span>@optionalPrices.ToString("F") kr./md.</span></td>

                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (Product product in phoneServices)
                                        {
                                            optionalPrices += product.Price;
                                            <tr>
                                                <td valign="top" width="300"><div>@product.ProductName</div></td>
                                                <td width="300" valign="top" align="right"><span>@product.Price.ToString("F") kr./md.</span></td>
                                            </tr>
                                        }
                                    }
                                    foreach (Product product in optionalProducts.TvProducts.Where(item => !item.ProductName.ToUpper().Contains("KØB")))
                                    {
                                        optionalPrices += product.Price;
                                        <tr>
                                            <td valign="top" width="300"><div>@product.ProductName</div></td>
                                            <td width="300" valign="top" align="right"><span>@product.Price.ToString("F") kr./md.</span></td>
                                        </tr>
                                    }
                                    monthlyPrice += optionalPrices;
                                }

                            }
                            monthlyPrice += mainProductsTotalPrice;
                            <tr><td colspan="2"><br/></td></tr>
                            <tr>
                                <td valign="top" width="300">
                                    <h2>Oprettelse</h2>
                                </td>
                                <td width="300" align="right">
                                    <b>Betales ved oprettelse</b>
                                </td>
                            </tr>
                            if (installationProducts != null || (optionalProducts != null && (optionalProducts.PhoneProducts.Except(phoneServices).Any() || optionalProducts.TvProducts.Any(item => item.ProductName.ToUpper().Contains("KØB")))) || !string.IsNullOrEmpty(cart.NewPhoneNumber))
                            {
                                if (optionalProducts != null)
                                {
                                    foreach (Product product in optionalProducts.PhoneProducts.Except(phoneServices))
                                    {
                                        installationPrice += product.Price;
                                        <tr>
                                            <td valign="top" width="300"><div>@product.ProductName</div></td>
                                            <td width="300" valign="top" align="right"><span>@product.Price.ToString("F") kr.</span></td>
                                        </tr>
                                    }
                                    foreach (Product product in optionalProducts.TvProducts.Where(item => item.ProductName.ToUpper().Contains("KØB")))
                                    {
                                        double discountPrice = Helpers.GetPriceWithDiscountForWirelessSettop(product, bundles);
                                        installationPrice += discountPrice;
                                        <tr>
                                            <td valign="top" width="300"><div>@product.ProductName</div></td>
                                            <td width="300" valign="top" align="right"><span>@discountPrice.ToString("F") kr.</span></td>
                                        </tr>
                                    }
                                }
                                if (!string.IsNullOrEmpty(cart.NewPhoneNumber))
                                {
                                    <tr>
                                        <td valign="top" width="300"><div>Nyt nummer (@(cart.NewPhoneNumber))</div></td>
                                        <td width="300" valign="top" align="right"><span>0 kr.</span></td>
                                    </tr>
                                }
                                foreach (Product product in installationProducts != null ? installationProducts.InstallationProducts : new List<InstallationProduct>())
                                {
                                    installationPrice += product.Price;
                                    <tr>
                                        <td valign="top" width="300"><div>@product.ProductName</div></td>
                                        <td width="300" valign="top" align="right"><span>@product.Price.ToString("F") kr.</span></td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td valign="top" colspan="2" width="600">
                                    <hr />
                                    <table cellpadding="0" cellspacing="0" border="0" align="left" width="600">
                                        <tr>
                                            <td valign="top" width="100">
                                                <b>I Alt</b>
                                            </td>
                                            <td valign="top" width="300">
                                                <span>Betales m&aring;nedligt</span>
                                            </td>
                                            <td valign="top" width="200" align="right">
                                                <b>@(monthlyPrice.ToString("F")) kr.</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" width="100"></td>
                                            <td valign="top" width="300">
                                                <span>Oprettelse</span>
                                            </td>
                                            <td valign="top" width="200" align="right">
                                                <b>@(installationPrice.ToString("F")) kr.</b>
                                            </td>
                                        </tr>
                                    </table>
                                    <hr/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" width="600" align="right">Min. pris i 6 md.: @(((((monthlyPrice * 6) + installationPrice) != 0) ? (monthlyPrice * 6) + installationPrice + 30 : 0).ToString("F")) kr.</td>
                            </tr>
                            <tr>
                                <td valign="top" width="300" colspan="2">
                                    <h2>Det med småt</h2>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <ul>
                                        @foreach (BundleProduct bundle in bundles.Where(item => item.Period != 0))
                                        {
                                            bool isPackage;
                                            var product = Helpers.GetProductFromBundleInCart(bundle, mainProducts, optionalProducts, installationProducts, out isPackage);
                                            if (product != null)
                                            {
                                                if (isPackage)
                                                {
                                                    <li>Prisen på @product.ProductName i kampagneperioden (1. til @(bundle.Period). md.) er @(packagePrice.ToString("F")) kr./md. Herefter er prisen @outDouble.ToString("F") kr./md.</li>
                                                }
                                                else
                                                {
                                                    <li>Prisen på @product.ProductName i kampagneperioden (1. til @(bundle.Period). md.) er @((product.Price + bundle.Price).ToString("F")) kr./md. Herefter er prisen @product.Price.ToString("F") kr./md.</li>
                                                }
                                            }
                                        }
                                        <li>
                                            Alle min. priser består af abonnement x 6 mdr. og gebyr for betalingsservice 5 kr./md.
                                            @if (cart.OptionalTvBoxes.Any())
                                            {
                                            <span>og halvårligt TV Servicegebyr 399 kr.</span>
                                            }
                                        </li>
                                        <li>Bindingsperioden er 6 måneder</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr><td colspan="2"><br/></td></tr>

                            <tr>
                                <td colspan="2">

                                    <h2>Kommentarer</h2>
                                    @if (!string.IsNullOrEmpty(cart.SalesPerson))
                                    {
                                        <div>Oprettet af: @cart.SalesPerson</div>
                                    }
                                    @if (cart.CustomerInfo != null && cart.CustomerInfo.ContainsKey("comment") && !string.IsNullOrEmpty(cart.CustomerInfo["comment"]))
                                    {
                                        <div>@cart.CustomerInfo["comment"]</div>
                                    }
                                    <br/>
                                </td>
                            </tr>
                            <tr><td colspan="2"><br/></td></tr>

                            <tr>
                                <td colspan="2">
                                    <h2>Nyhedsbrev</h2>
                                    <ul>
                                        <li>Du har @(cart.CustomerInfo != null && cart.CustomerInfo.ContainsKey("newsletter") ? "" : "IKKE ")givet tilladelse til at Bredb&aring;nd Nord sender nyhedsbreve til dig.</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr><td colspan="2"><br/></td></tr>
                            <tr>
                                <td colspan="2">
                                    <h2>Forbehold og fortrydelsesret</h2>
                                    <ul>
                                        <li>Vi tager forbehold for evt. trykfejl i denne e-mail samt p&aring; vores hjemmeside.</li>
                                        <li>Du har 14 dages fortrydelsesret efter modtagelse af din skriftlige ordrebekr&aelig;ftelse.</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <br />
                                    <br />
                                    <img class="image_fix" src="http://www.bredbaandnord.dk/Files/Templates/Designs/NZ/examples/BBNsignatur.png" />
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </table>
        <!-- End of wrapper table -->
    </body>
}
</html>