@{
	string name = System.Web.HttpContext.Current.Request.QueryString[ "name" ];
	string mail = System.Web.HttpContext.Current.Request.QueryString[ "mail" ];

	string address = System.Web.HttpContext.Current.Request.QueryString[ "gade" ];
	string addressnr = System.Web.HttpContext.Current.Request.QueryString[ "nr" ];
	string zip = System.Web.HttpContext.Current.Request.QueryString[ "postnr" ];
	string city = System.Web.HttpContext.Current.Request.QueryString[ "by" ];
}
@{
<form method="post" class="custom" novalidation action="/CustomHandlers/UserManagement.ashx?target=showinterest" id="interesseform">
	<div class="row">
		<div class="small-3 medium-2 columns">
			&nbsp;
		</div>
		<div class="small-9 medium-10 columns">
			<h2>Udfyld felterner herunder</h2><font size="2">(Felter med * skal udfyldes)</font>
			<p></p>
		</div>
	</div>

	<div class="row">
		<div class="small-3 medium-2 columns">
			<label for="navn-input" class="right inline ">Navn*</label>
		</div>
		<div class="small-9 medium-10 columns">
			<input name="name" type="text" id="navn-input" required placeholder="Navn" value="@name">
		</div>
	</div>
	<div class="row">
		<div class="small-3 medium-2 columns">
			<label for="adresse-input" class="right inline">Adresse*</label>
		</div>
		<div class="small-9 medium-10 columns">

			<input name="address" type="text" readonly id="adresse-input" required disabled  placeholder="Adresse" value='@(address == null ? "" : address+" "+addressnr)'>
			</div>
	</div>

<div class="row">
<div class="small-3 medium-2 columns">
<label for="navn-postnr" class="right inline">Post nr.*</label>
</div>
	<div class="small-9 medium-10 columns">
<div class="row">
      <div class="small-3 medium-2 columns">

       	<div class="row">
				<div class="small-12 columns">
					<input name="zip" type="text" readonly disabled id="navn-postnr" required placeholder="Post nr." value="@zip">
				</div>
			</div>
		</div>
      <div class="small-9 medium-10 columns">
	      <div class="row">
				<div class="small-3 medium-2 columns">
					<label for="navn-postnr" class="right inline">By*</label>
				</div>
				<div class="small-9 medium-10 columns">
					<input name="city" type="text" readonly disabled id="by-input" required placeholder="By" value="@city">
				</div>
	      </div>
		</div>
	</div>
</div>
</div>


	<div class="row">
		<div class="small-3 medium-2 columns">
			<label for="telefon-input" class="right inline">Telefon*</label>
		</div>
		<div class="small-9 medium-10 columns">
			<input name="phone" type="text" id="telefon-input" required placeholder="Telefon">
		</div>
	</div>

	<div class="row">
		<div class="small-3 medium-2 columns">
			<label for="mobil-input" class="right inline">Mobil</label>
		</div>
		<div class="small-9 medium-10 columns">
			<input name="mobile" type="text" id="mobil-input" placeholder="Telefon">
		</div>
	</div>

	<div class="row">
		<div class="small-3 medium-2 columns">
			<label for="email-input" class="right inline">E-mail*</label>
		</div>
		<div class="small-9 medium-10 columns">
			<input name="email" type="email" id="email-input" required placeholder="E-mail" value="@mail">
		</div>
	</div>
	<div class="row">
		<div class="small-3 medium-2 columns">
			&nbsp;
		</div>
		<div class="small-9 medium-10 columns">

			<label for="checkbox1" style="font-weight:300">
				<input type="checkbox" id="checkbox1" value="newsletter">
				<span class="custom checkbox"></span> Ja tak, jeg &oslash;nsker at modtage nyheder og tilbud fra Bredb&aring;nd Nord og nyt om etablering af fiberbredb&aring;nd. Jeg har l&aelig;st og accepterer samtidig Bredb&aring;nd Nords <a href="/Default.aspx?ID=48 ">betingelser og persondatapolitik</a>.
			</label>
		</div>
	</div>
	<div class="row">
		<div class="small-3 medium-2 columns">
			&nbsp;
		</div>
		<div class="small-9 medium-10 columns">
			<button type="submit" class="button primary right radius">Tilmeld</button>
		</div>
	</div>

</form>
}