<ul class="tvKanaler">
<!--@LoopStart(ItemPublisher:Items.List)-->
<li><img class="lazy" data-original="<!--@ItemPublisher:Item.Ikon-->" width="86px" height="76px" Title="<!--@ItemPublisher:Item.Navn-->"/><div class="<!--@If(ItemPublisher:Item.HD==True)-->hd<!--@EndIf--><!--@If(ItemPublisher:Item.Analog==True)-->an<!--@EndIf--><!--@If(ItemPublisher:Item.OnDemand==True)-->od<!--@EndIf-->"></div></li>
<!--@LoopEnd(ItemPublisher:Items.List)-->
</ul>

