@using System.Linq
@using NoZebra.S_DW_BBN.CustomCode;
@using Convert = System.Convert
<h3>Tilvalg til din bestilling</h3>
<div class="bstNav">
    <ul class="button-group tlv">
        <li><a class="arrow_box">1. Tilvalg Telefoni</a></li>
        <li><a class=" arrow_box_selected">2. Tilvalg TV</a></li>
        <li><a class=" arrow_box">3. Installation</a></li>
        <li><a class=" arrow_box">4. Kundeoplysninger</a></li>
    </ul>
</div>
<div>
    @{
        var i = 1;
        var GetTvOptionalProducts = Helpers.GetTvOptionalProducts();
        var TvProducts = Helpers.GetMainProductsForAjaxCart();
        var isViasat = "";
        var isNotViasat = "";
        var disabled = "";
        if (TvProducts.TvProducts.Any(item => item.ProvisioningCode < 0))
        {
            isViasat = "checked";
            disabled = "disabled";
        }
        else
        {
            isNotViasat = "checked";
            disabled = "";
        }
        <form id="form" class="js-form-post js-form-post-on-document-ready custom additionalTV" method="post" action="/CustomHandlers/Cart.ashx?target=step3">
            <div class="panel">
                <input type="radio" class="js-update-cart" @disabled @isNotViasat name="tv-box" id="no-tv" value="off"><span class="custom js-checked radio"></span>
                <label class="noTV"><span>Ingen TV Boks</span></label>
                <input type="radio" name="tv-box" @isViasat class="js-update-cart tv-box-button" id="tv-box" value="on"><span class="custom js-checked radio"></span>
                <label><span>Bestil TV Boks</span><span class="right">399 kr./halv&aring;r</span></label>
                <p class="radio-text">Med TV boks kan du tilk&oslash;be Ekstra TV Pakker og Frit Valg TV kanaler, starte TV programmer forfra og se dem n&aring;r du vil samt leje film via fjernbetjeningen.</p>
                <div class="tv-box-container">
                    <hr>
                    <div class="row">
                        <div class="large-12 columns">
                            <h4>F&oslash;rste TV boks</h4>
                            <div class="additional-products">
                                <select class="js-update-cart" name="first-tv-box">
                                    @foreach (var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "Gruppe-Settopbokse-First").OrderBy(item => Convert.ToDouble(item.Price)))
                                    {
                                        <option value="@item.ProvisioningCode">@item.ProductName (@item.Price kr./md.)</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <h4>Ekstra TV Bokse</h4>
                    <div class="row">
                        <div class="additional-products small-12  medium-6 columns">
                            <label>Alm. TV boks</label>
                            <select class="js-update-cart" name="extra-tv-box-regular">
                                <option value="">Ingen</option>
                                @foreach (var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "Gruppe-Settopbokse-Ekstra").OrderBy(item => Convert.ToDouble(item.Price)))
                                {
                                    <option value="@item.ProvisioningCode">@item.ProductName</option>
                                }
                            </select>
                        </div>
                        <div class="additional-products  small-12 medium-6 columns">
                            <label>TV boks m. harddisk</label>
                            <select class="js-update-cart" name="extra-tv-box-harddisk">
                                <option value="">Ingen</option>
                                @foreach (var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "Gruppe-Settopbokse-Harddisk").OrderBy(item => Convert.ToDouble(item.Price)))
                                {
                                    <option value="@item.ProvisioningCode">@item.ProductName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <hr>
                    <h4>Tilvalg til TV boks</h4>
                    <input type="checkbox" class="tv-packages-button" id="tv-packages" name="tv-packages">
                    <span class="custom checkbox js-checked"></span><label for="tv-packages">Ekstra TV Pakker</label>
                    <div class="tv-packages-container">
                        @foreach (var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "EkstraTvPakker"))
                        {
                            var tooltip = "h" + @item.ProvisioningCode;
                            <label for="tvpakker-@i">
                                <input type="checkbox" id="tvpakker-@i" name="additional-tv-packages" class="js-update-cart" value="@item.ProvisioningCode"><span class="custom checkbox js-checked"></span>
                                @item.ProductName<a class="has-tip" href="#" data-dropdown="@tooltip" data-options="is_hover:true"></a><span class="right">@item.Price kr./md.</span>
                            </label><br/>
                            i++;
                        }
                    </div>
                    <hr>
                    <input type="checkbox" name="all-tv-channel" class="tv-channel-button" id="tv-channel">
                    <label for="tv-channel">Frit Valg TV kanaler</label>
                    <div class="tv-channel-container">
                        @foreach (var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "FritValg").OrderBy(item => item.ProductName))
                        {
                            <div class="additional-products">
                                <label for="additional-product-@i">
                                    <input type="checkbox" class="js-update-cart" name="free-choice-tv" id="additional-product-@i" value="@item.ProvisioningCode"><span class="custom checkbox js-checked"></span>
                                    @item.ProductName <span class="right">@item.Price kr./md.</span>
                                </label>
                            </div>
                            i++;
                        }
                    </div>
                </div>
            </div>
            <div class="right">
                <a class="knap-tilbage-bestilling button radius" onclick='javascript:history.back()'><< Tilbage</a>
                <input type="submit" class="knap-videre-bestilling button js-loader radius" value="Videre >>">
            </div>
        </form>
    }
</div>
<div id="tooltips" class="tvKanaler"></div>
<div id="tvpackages" style="display:none">
    <!--@Global:Page.Content(211)-->
</div>
<!--@SnippetStart(scripts)-->
$(".kanaler img").wrap("<li></li>");
    va<li></li>r thisClass = "";
    $(".kanaler li").each(function() {
            thisClass = $("img", this).attr("class") ? $("img", this).attr("class") : "";
            if(thisClass == "ANHD"){ thisClass="hdan"};
            div = $("<div></div>").addClass(thisClass.toLowerCase());
            $(this).append(div).parents(".kanaler").find("ul.tvKanaler").append(this);

    });

$(".tv-packages-container label").each(function(){
    var pid = $(this).find("input").val();
    var tooltip = $("#tvpackages").find("section[data-package-id='" + pid + "']");
    if($("#tvpackages").find("section[data-package-id='" + pid + "']").length > 0){
    var tooltip = '<div id="h'+pid+'" class="f-dropdown tvKanaler" data-dropdown-content><p>'+$("#tvpackages").find("section[data-package-id='" + pid + "'] .content").html()+'</p></div>';
     $("#tooltips").append(tooltip);
    }else{
    $(this).find(".has-tip").remove();
    }

 $("#tvpackages").find("section[data-package-id='" + pid + "']").remove();
})
<!--@SnippetEnd(scripts)-->
