﻿@*
    @using NoZebra.S_DW_BBN.CustomCode.Model;
*@
@using System.Linq;
@using NoZebra.Settings;
@using NoZebra.S_DW_BBN.CustomCode;
@using NoZebra.S_DW_BBN.BBNSemiOpen;
@using System.Web;
<h3>Kundeoplysninger</h3>
<div class="bstNav">
    <ul class="button-group tlv">
        <li><a class="arrow_box">1. Tilvalg Telefoni</a></li>
        <li><a class=" arrow_box">2. Tilvalg TV</a></li>
        <li><a class=" arrow_box">3. Installation</a></li>
        <li><a class=" arrow_box_selected">4. Kundeoplysninger</a></li>
    </ul>
</div>
@{
    @* "vf" query parameter show/hides "Vælg idrætsforening" select element *@
    try
    {
        string vf = System.Web.HttpContext.Current.Request.QueryString["vf"];
        if (!Helpers.GetSessionCart().MainProducts.Any())
        {
            HttpContext.Current.Response.Redirect(string.Format("{0}?nomainproducts=true", ApplicationSettings.Instance.LookupAddressUrl));
        }
        @*Products mainProducts = Helpers.GetMainProducts();*@
        Customer_QueryResponse customer = Helpers.GetCustomerQueryResponseFromSession();
        var isRequired = "";
        var isRequiredSymbol = "";
        var sales = Helpers.IsCurrentUserSales();
        if (sales)
        {
            isRequired = "";
            isRequiredSymbol = "";
        }
        else
        {
            isRequired = "required";
            isRequiredSymbol = "*";
        }
        <div>
            <form id="form" name="infoform" method="post" class="js-form-post custom informationform" action="/CustomHandlers/Cart.ashx?target=step5" data-abide>
                <div class="panel kudOplys">
                    <div class="row">
                        <div class="large-6 columns">
                            <h4>Navn & Adresse</h4>
                            <div class="name-field">
                                <label>Fornavn *</label>
                                <input name="firstname" type="text" required>
                                <small class="error">Venligst indtast dit Navn!</small>
                            </div>
                            <div class="surname-field">
                                <label>Efternavn *</label>
                                <input name="lastname" type="text" required>
                                <small class="error">Venligst indtast dit Efternavn!</small>
                            </div>
                            <label>Vejnavn og husnr. *</label>
                            <input name="address" type="text" value="@(customer != null ? string.Format("{0} {1} {2} {3} {4} {5}", customer.Body.Customer_QueryResult.CustomerInfoData.Street ?? "", customer.Body.Customer_QueryResult.CustomerInfoData.HouseNumber, customer.Body.Customer_QueryResult.CustomerInfoData.Letter ?? "",	customer.Body.Customer_QueryResult.CustomerInfoData.Floor ?? "", customer.Body.Customer_QueryResult.CustomerInfoData.ApartmentNumber ?? "", customer.Body.Customer_QueryResult.CustomerInfoData.Side ?? "") : "")" readonly="readonly">
                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="row ">
                                        <div class="large-3 columns">
                                            <label>Post nr. *</label>
                                            <input name="zip" type="text" value="@(customer != null ? customer.Body.Customer_QueryResult.CustomerInfoData.Zip.ToString() : "")" readonly="readonly">
                                        </div>
                                        <div class="large-9 columns">
                                            <label>By *</label>
                                            <input name="city" type="text" value="@(customer != null ? customer.Body.Customer_QueryResult.CustomerInfoData.City ?? "" : "")" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="large-6 columns">
                            <h4>Kontaktoplysninger</h4>
                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="row">
                                        <div class="large-6 columns">
                                            <label>Telefon *</label>
                                            <input name="phone" type="text" maxlength="8" required>
                                            <small class="error">Venligst indtast Telefon!</small>
                                        </div>
                                        <div class="large-6 columns">
                                            <label>Mobil</label>
                                            <input name="mobile" type="text" maxlength="8">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="email-field">
                                <label>E-mail @isRequiredSymbol</label>
                                <input name="email" type="email" @isRequired>
                                <small class="error">Venligst indtast din email!</small>
                                <p>
                                    Du modtager din kvittering via denne e-mail. Denne e-mail bruges ogs&aring; som brugernavn til Mit Bredb&aring;nd Nord.
                                </p>
                            </div>
                            <label>Kommentar</label>
                            <textarea name="comment" height="100" width="200"></textarea>
                            @if (Helpers.IsCurrentUserSales())
                            {
                                <label>V&aelig;lg idr&aelig;tsforening</label>
                                <select name="sportsclub" style="width: 200px;">
                                    @foreach (var item in Helpers.GetSportsclubs())
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                </select>
                            }

                        </div>
                        <div class="large-6 columns" style="clear:left">
                            <div class="accept-field">
                                <label class="check error" onclick="" for="accept">
                                    <input name="accept" type="checkbox" value="accept" required class="hidden-field">
                                    <span class="custom checkbox js-checked"></span> Jeg accepterer Bredb&aring;nd Nords <a href="Default.aspx?ID=60">vilk&aring;r</a>
                                    <small class="error" style="display:none">Venligst accepter betingelser!</small>
                                </label>
                            </div>
                            <label class="check" onclick="" for="newsletter">
                                <input name="newsletter" type="checkbox" value="newsletter" class="hidden-field"><span class="custom checkbox"></span> Ja tak, jeg &oslash;nsker at modtage nyheder og
                                tilbud fra Bredb&aring;nd Nord. Jeg accepterer
                                samtidig Bredb&aring;nd Nords <a href="Default.aspx?ID=48">
                                    betingelser
                                    og persondatapolitik.
                                </a>
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="col-break">
                        <h4>Anden faktureringsadresse?</h4>
                    </div>

                    <input checked type="radio" class="js-tricker-required" id="off" value="off" name="fa">
                    <label for="off">Nej</label>
                    <input type="radio" class="faktureringsadresse js-tricker-required" id="on" value="on" name="fa">
                    <label for="on">Ja</label>
                    <div class="row col-validate">
                        <div class="large-6 columns">
                            <div class="name-field">
                                <label>Navn/Firma *</label>
                                <input name="billingname" type="text" class="js-target-required">
                                <small class="error">Venligst indtast dit Navn!</small>
                            </div>

                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="row ">
                                        <div class="large-9 columns">
                                            <label>Vej *</label>
                                            <input name="billingroad" type="text" class="js-target-required">
                                            <small class="error">Venligst indtast Vejnavn!</small>
                                        </div>
                                        <div class="large-3 columns">
                                            <label>Husnr. *</label>
                                            <input name="billinghousenumber" type="text">
                                            <small class="error">Venligst indtast Husnr.!</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-12 columns">
                                    <div class="row ">
                                        <div class="large-3 columns">
                                            <label>Postnr. *</label>
                                            <input name="billingzip" type="text" class="js-target-required">
                                            <small class="error">Venligst indtast postnummer!</small>
                                        </div>
                                        <div class="large-9 columns">
                                            <label>By *</label>
                                            <input name="billingcity" type="text" class="js-target-required">
                                            <small class="error">Venligst indtast by!</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="name-field">
                                <label>Telefon *</label>
                                <input name="billingphone" type="text" class="js-target-required">
                                <small class="error">Venligst indtast Telefon!</small>
                            </div>
                            <div class="name-field">
                                <label>E-mail *</label>
                                <input name="billingemail" type="email" class="js-target-required">
                                <small class="error">Venligst indtast Email!</small>
                            </div>
                            <div class="name-field">
                                <label>CVR nr.</label>
                                <input name="billingcvr" type="text">
                                <small class="error">Venligst indtast CVR!</small>
                            </div>
                            <div class="name-field">
                                <label>ATT/Kontaktperson</label>
                                <input name="billingcontact" type="text">
                            </div>
                        </div>
                        <div class="large-6 columns js-groupwrapper">
                            <span>V&aelig;lg hvilke produkter der skal have alternativ faktureringsadresse</span>
                            <br><br>
                            @foreach (var item in Helpers.GetPossiblePayerAddresses())
                            {
                                <div class="additional-products">
                                    <label for="alternatebillingchoices" onclick="">
                                        <input name="alternatebillingchoices" class="js-radio-group-required" type="checkbox" value="@item" />
                                        <span class="custom checkbox js-checked"></span>
                                        @item
                                    </label>
                                </div>
                            }
                            <small class="error" style="display:none">V&aelig;lg venligst et produkt !</small>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <a class="knap-tilbage-bestilling button radius" onclick='javascript:history.back()'><< Tilbage</a>
                    <input type="submit" name="submit" value="Gennemf&oslash;r bestilling >>" class="js-loader knap-f-bestilling">
                </div>
            </form>
        </div>
    }
    catch (Exception e)
    {
        <div>
            Der er sket en fejl. Hvis fejlen bliver ved med at v&aelig;re til stede kontakt venligst kundeservice.
            <br /><br />
            <div>@e.ToString()</div>
        </div>
    }
}