<form id="form1" runat="server" class="js-livesearch js-livesearch-loader" action="/CustomHandlers/LookupAddress.ashx">
  <input type="hidden" class="js-itemclick-action" value="/CustomHandlers/LookupAddress.ashx">
  <input type="hidden" class="js-noresults" value="No results found">
  <input type="hidden" class="js-error" value="An error has occurred">
  <input type="hidden" class="js-result-item-class" value="search-item">
  <input type="text" class="js-input" value="" size="100">
  <input type="submit" class="js-submit-button" value="Submit">
  <ul class="results js-results"></ul>
</form>

<div class="no-fiber-box js-fiber-not-found">
  <button class="js-close-box">Luk</button>
  <h3>Der findes IKKE fiber p&aring; adressen!</h3>
  <a href="/da-DK/Product-list.aspx">G&aring; til bestilling</a><br><br>
  <a href="/da-DK/Interesse.aspx">Vis interesse</a>
</div>

<div class="fiber-box js-fiber-found">
  <button class="js-close-box">Luk</button>
  <h3>Der findes fiber p&aring; adressen!</h3>
  <a href="/da-DK/Product-list.aspx">G&aring; til bestilling</a>
</div>

<div class="fiber-box js-address-not-found">
  <button class="js-close-box">Luk</button>
  <h3>Vi kunne ikke finde din adressen!</h3>
  <a href="/da-DK/Product-list.aspx">G&aring; til bestilling</a>
</div>

<div class="fiber-box js-user-found">
  <button class="js-close-box">Luk</button>
  <h3>Du er allerede oprettet!</h3>
  <a href="/da-DK/Product-list.aspx">G&aring; til bestilling</a>
</div>
