@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;

@{
	@* q is the search value *@
	string q = System.Web.HttpContext.Current.Request.QueryString[ "q" ];

	@* GetNewPhoneNumbers is the method *@
	var results = Helpers.GetNewPhoneNumbers(q);

	@* count is the number of results *@
	int count;
	int.TryParse(System.Web.HttpContext.Current.Request.QueryString[ "count" ], out count);

	@* pageNumber is the page number of results *@
	int pageNumber;
	int.TryParse(System.Web.HttpContext.Current.Request.QueryString[ "page" ], out pageNumber);

	@* Loop counter *@
	int i = 0;

	@* Validates if there is a next page result *@
	bool result = false;

	@* you can change the result mark-up here *@
	<ul>
		@foreach ( var item in results.Skip( pageNumber*count ).Take( count ) )
		{
			<li>
				<input type="radio" class="js-available-phone-number" name="RadioButtonListAvailablePhoneNumbers" id="RadioButtonListAvailablePhoneNumbers_@i" value="@item">
				<label for="RadioButtonListAvailablePhoneNumbers_@i">@item</label>
			</li>
			i++;
		}
	</ul>
	foreach ( var item in results.Skip( (pageNumber+1)*count ).Take( 1 ) )
	{
		if( item.Length > 0 ) {
			result = true;
			break;
		}
	}

	string firstpage = "";
	string lastpage = "";
	string disableNextButton = "";
	string disablePrevButton = "";
	int prevPageNumber = pageNumber - 1;
	if( pageNumber <= 0 ) {
		firstpage = "first-page";
		disablePrevButton = "disabled";
	}
	if( !result ) {
		lastpage = "last-page";
		disableNextButton = "disabled";
	}
	pageNumber++;
	<button class="js-load-result @firstpage" @disablePrevButton data-page="@prevPageNumber">Prev</button>
	<button class="js-load-result @lastpage" @disableNextButton data-page="@pageNumber">Next</button>
}
