

<form method="post" class="custom" novalidation action="<!--@Global:Pageview.Url-->#sdfg" id="interesseform">
	<h2>Udfyld felterner herunder</h2>
	<div class="row">
		<div class="small-2 columns">
			<label for="navn-input" class="right inline ">Navn*</label>
		</div>
		<div class="small-10 columns">
			<input type="text" id="navn-input" required placeholder="Navn">
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			<label for="adresse-input" class="right inline">Adresse*</label>
		</div>
		<div class="small-10 columns">
			<input type="text" readOnly="readOnly" id="adresse-input"required placeholder="Adresse">
		</div>
	</div>

	<div class="row">
		<div class="small-2 columns">
			<label for="navn-postnr" class="right inline">Post nr.*</label>
		</div>
		<div class="small-10 columns">
			<input type="text" readOnly="readOnly" id="navn-postnr" required placeholder="Post nr.">
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			<label for="by-input" class="right inline">By*</label>
		</div>
		<div class="small-10 columns">
			<input type="text" readOnly="readOnly" id="by-input" required placeholder="By">
		</div>
	</div>

	<div class="row">
		<div class="small-2 columns">
			<label for="telefon-input" class="right inline">Telefon*</label>
		</div>
		<div class="small-10 columns">
			<input type="text" id="telefon-input" required placeholder="Telefon">
		</div>
	</div>

	<div class="row">
		<div class="small-2 columns">
			<label for="mobil-input" class="right inline">Mobil</label>
		</div>
		<div class="small-10 columns">
			<input type="text" id="mobil-input" placeholder="Telefon">
		</div>
	</div>

	<div class="row">
		<div class="small-2 columns">
			<label for="email-input" class="right inline">E-mail*</label>
		</div>
		<div class="small-10 columns">
			<input type="email" id="email-input" required placeholder="E-mail">
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			&nbsp;
		</div>
		<div class="small-10 columns">

			<label for="checkbox1">
				<input type="checkbox" id="checkbox1" value="newsletter">
				<span class="custom checkbox"></span> Ja tak, jeg &oslash;nsker at modtage nyheder og tilbud
			</label>
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			&nbsp;
		</div>
		<div class="small-10 columns">
			<button type="submit" class="button primary">Tilmeld</button>
		</div>
	</div>

</form>
