<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(Title)-->
<!--@Layout.Description(Description)-->
<div id="wrapper">
	<div id="logo">
		<h1><a href="#"><img src="/Admin/access/DW_hvid_150.png" title="" settings="parm1:val1;" /></a></h1>
		<p><em> Dynamicweb <a href="http://www.dynamicweb-cms.com/">CMS</a></em></p>
	</div>
	<hr />
	<!-- end #logo -->
	<div id="header">
		<div id="menu">
			<?dw-navigation startlevel="1" endlevel="1" template="LIClean.xslt" expandmode="path" id="top" ?>
		</div>
		<!-- end #menu -->
		<div id="search">
			<form method="get" action="/Default.aspx">
				<input type="hidden" name="ID" value="2143" />
				<fieldset>
				<input type="text" name="q" id="search-text" size="15" />
				<input type="submit" id="search-submit" value="GO" />
				<input type="image" src="images/btn-search.gif" alt="search" value="search" class="btn-search" />
				</fieldset>
			</form>
		</div>
		<!-- end #search -->
	</div>
	<!-- end #header -->
	<!-- end #header-wrapper -->
	<div id="page">
	<div style="text-align:right;"><!--@DwAddThis.Large--></div>
	<div id="page-bgtop">
	
		<div id="content" class="dwcontent" title="Main content" settings="parm1:val2;color:inherit;parm2:val3">
			<div class="post">
				<h2 class="title"><a href="#">Welcome to Condition </a></h2>
				<p class="meta">Sunday, April 26, 2009 7:27 AM Posted by <a href="#">Someone</a></p>
				<div class="entry">
					<p>This is <strong>Condition </strong>, a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>, released for free under the <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5</a> license.  You're free to use this template for anything as long as you link back to <a href="http://www.freecsstemplates.org/">my site</a>. Enjoy :)</p>
					<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.Sed lacus. </p>
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
				<p class="meta">Sunday, April 26, 2009 7:27 AM Posted by <a href="#">Someone</a></p>
				<div class="entry">
					<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec   consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros.</p>
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
				<p class="meta">Sunday, April 26, 2009 7:27 AM Posted by <a href="#">Someone</a></p>
				<div class="entry">
					<p>Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. </p>
				</div>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2><!--@DwTopPageName--></h2>
					<?dw-navigation startlevel="2" endlevel="5" template="LIClean.xslt" expandmode="path" id="top" ?>
				</li>
				<p class="dwcontent" title="Left column 2" id="left"></p>
				<p></p>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	<!-- end #page -->
	<div id="footer-bgcontent">
	<div id="footer" class="dwcontent" title="Footer">
		<p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
	</div>
	<!-- end #footer -->
</div>