﻿@using NoZebra.S_DW_BBN.BBNSemiOpen

<div id="fakturastatus" class="large-6 columns inactive">
<div class="panel glas">
<div class="topbar red">
<h3 class="left">Fakturastatus (Over forfald)</h3>
<div class="right">
<a href="#" class="but-1" style="display:none">Kontoudtog »</a>
<a href="#" class="but-2 expose" style="display:none">Rediger »</a>
</div>
</div>
<div class="">
<form>
            <div class="row ">
    @{
        var customer = (CustomerInfoData)System.Web.HttpContext.Current.Session["SelectedCustomer"];
        if (customer != null)
        {
<table class="glasTabel" cellspacing="0" cellpadding="0" width="100%" border="0">
  <tbody>
        <tr>
            <td><span><b>Faktura:</b></span>  345 kr.</td>
             <td><span><b>Indbetalt:</b></span>  345 kr. (PBS)</td>
        </tr>
         <tr>
            <td><span><b>Faktura:</b></span>  345 kr.</td>
            <td><span><b>Indbetalt:</b></span>  245 kr.</td>
            <td><span>Kredit: </span> -50 kr.</td>
        </tr>
    </tbody>
</table>
<div class="bottominfo">
<li><span class="orange"><b>Saldo:</b> </span> <span class="red1"><b>-50 kr.</b></span></li>
</div>

        }
    }
</div>

</form>
</div>
</div>
</div>
