@using System.Collections.Generic
@using System.Linq
@using Dynamicweb.Admin.ModulesCommon
@using MoreLinq
@using NoZebra.S_DW_BBN.BBNSemiOpen
@using NoZebra.S_DW_BBN.CustomCode
@using NoZebra.S_DW_BBN.CustomCode.Model
@{
    var userId = Dynamicweb.Modules.UserManagement.User.GetCurrentUserID();
    var history = new DatabaseFunctions().GetSearchHistory(userId, 0).DistinctBy(item => item.CustomerId).Take(12).Batch(3);
}
<div class="large-1 columns Historik">
  <strong> Historik:</strong>
  </div>
  <div class="large-11 columns ">
      <div class="">
          @foreach (var col in history)
          {
              <div class="large-3  columns">
                  <ul>
                      @foreach (var search in col)
                      {
                          <li><a href="/CustomHandlers/KS/SearchSelect.ashx?id=@search.CustomerId">@search.CustomerId @search.CustomerName</a></li>
                      }
                  </ul>
              </div>
          }
      </div>
  </div>