@using NoZebra.S_DW_BBN.BBNSemiOpen
@using NoZebra.S_DW_BBN.CustomCode
<div id="kundeinfo" class="large-6 columns">
<div class="panel glas">
<div class="topbar">
<h3 class="left">Kundeinfo</h3>
<div class="right">
<a href="#" class="but-1">Opret nyt brev »</a>
<a href="#" class="but-2 expose">Rediger&nbsp;»</a>
</div>
</div>
<div class="">
<form>
            <div class="row ">
    @{
        var customer = (CustomerInfoData)System.Web.HttpContext.Current.Session["SelectedCustomer"];
        if (customer != null)
        {

            Address payerAddress;
            var multiplePayers = Helpers.MultiplePayerAddresses(customer, out payerAddress);

            <div id="abonnent" class="small-4 columns">
                <b>Abonnent</b><br/>
                <div id="abo-firstname">@customer.FirstName</div><div id="abo-lastname">@customer.Surname</div>
                <div id="abo-street">@customer.Street</div><div id="abo-number">@customer.HouseNumber</div>
                <div id="abo-zip">@customer.Zip</div><div id="abo-city">@customer.City</div>
            </div>



            <div id="payer" class="small-4 columns">
                <b>Betaler</b><br/>
                @if (multiplePayers)
                {
                    <div id="pay-multiple">Der er flere betalere tilknyttet</div>
                }
                else
                {
                    <div id="pay-firstname">@payerAddress.Firstname</div><div id="pay-surname">@payerAddress.Lastname</div>
                    <div id="pay-street">@payerAddress.Street</div><div id="pay-number">@payerAddress.HouseNumber</div>
                    <div id="pay-zip">@payerAddress.Zip</div><div id="pay-city">@payerAddress.City</div>
                }
            </div>
            <div class="small-4 columns">
                <div><b>Kundenr:</b></div><div id="customerNumber">@customer.BBNCustomerID</div>
                <div><b>AX nummer:</b></div><div id="axNumber">@customer.AxCustomerID</div>
                <div><b>Install.nr:</b></div><div id="installNumber">@customer.InstallationNumber</div>
                <div><b>Permission:</b></div><div id="permission">@customer.Permissions</div>
            </div>

<div class="small-12 columns">
            <div>Kontaktnummer:<span id="contactPhone">@customer.Contact_Phone</span></div>
            <div>E-mail:<span id="contactEmail">@customer.Email</span></div>
</div>
        }
    }

</div>

</form>
<div class="errowbottom">
<a  class="right arrow3"><span class="arrow-down"></span></a>
</div>
</div>
</div>
</div>

