﻿@using System
@using System.Linq
@using NoZebra.S_DW_BBN.BBNSemiOpen
@using NoZebra.S_DW_BBN.CustomCode
@using NoZebra.S_DW_BBN.CustomCode.KS

<div id="kundestatus" class="large-6 columns">
<div class="panel glas" style="overflow:hidden">
<div class="topbar">
<h3 class="left">Kundestatus</h3>
<div class="right buttons">
<a data-reveal-id="installationstid" href="#" class="but-1">Book »</a>
</div>
</div>
<div class="">
<form>
            <div class="row ">

    @{
        var customer = (CustomerInfoData)System.Web.HttpContext.Current.Session["SelectedCustomer"];

        if (customer != null)
        {
            var flowColors = CustomerStatus.GetFlowStatusColors(customer.AxCustomerID);

            var projektStatus = "Ukendt";
            switch (@customer.Validation)
            {
                case 0:
                    projektStatus = "Undersøgelse";
                    break;
                case 1:
                    projektStatus = "GO Fase";
                    break;
                case 2:
                    projektStatus = "Afsluttet";
                    break;
                case -1:
                    projektStatus = "Udsat";
                    break;
            }

                <div class="large-4 columns">
 <b>Flowstatus</b>
 <div id="flowstatus"></div>
                    <ul>
                        <li class="@flowColors["Oprettet"]">• Oprettet</li>
                        <li class="@flowColors["Booket"]">• Booket</li>
                        <li class="@flowColors["Gravning"]">• Gravet</li>
                        <li class="@flowColors["Blæst"]">• Blæst</li>
                        <li class="@flowColors["Patchet"]">• Patchet</li>
                        <li class="@flowColors["Tilsluttet"]">• Tilsluttet</li>
                        <li class="@flowColors["Reetableret"]">• Reetableret</li>
                    </ul>
  </div>
  <div class="large-8 columns">
    <ul>
<li><b class="orange"> Prisliste:</b> <span id="prisliste">@customer.CustomerPricelistName</span></li>
<li><b class="orange">Projektstatus:</b> <span id="projektstatus">@projektStatus</span></li>
<li><b>Projektnavn:</b><span id="prjektnavn">@customer.ProjectName</span></li>
<li><b class="orange">Etablering (Projekt):</b> <span id="establish-projekt">@Helpers.GetProjectEstablishString(customer)</span></li>
<li><b class="orange">Etablering (Kunde):</b> <span id="establish-customer">@Helpers.GetCustomerEstablishString(customer)</span></li>
<li><b class="orange">Installationstid:</b> <span id="establishtime">@CustomerStatus.GetActionDate(customer)</span></li>
    </ul>
 </div>
        <textarea readonly="True">@customer.ProjectNote</textarea>


        }


    }

</div>

</form>
</div>
</div>
</div>


@if(customer != null)
{

<div id="installationstid" class="reveal-modal" data-ax="@{@customer.AxCustomerID}">
    <div class="reveal-modal-inner">
    <button class="js-close-box fi-x close-reveal-modal"></button>
    <h3 class="left">Book teknikertid</h3>
<p  class="left" style="text-align:left">Her kan du booke din teknikertid. Husk at du skal være hjemme i det valge tidsrum.</p>
<div id="datepicker"></div>

<div id="timepickerwrapper" >
<h5 style="color:#333">Vælg tidspunkt på dagen</h5>
<div id="timepicker">
</div>
</div>
    <div style="clear:both;width:100%;padding-top:15px; text-align:right">
      <a class="close-reveal-button button radius"><b><< Annuller</b></a>&nbsp;<a class="js-loader knap-f-bestilling disabled" style="font-size: 16px;line-height: 37px;height:48px"><b>Vælg tid</b></a>
    </div>
    </div>
</div>

<!--@SnippetStart(loadcss)--><link rel="stylesheet" media="screen" type="text/css" href="/files/templates/designs/2014/js/datepicker/css/datepicker.css" />
<!--@SnippetEnd(loadcss)-->
<!--@SnippetStart(loadscript)-->
<script type="text/javascript" src="/files/templates/designs/2014/js/datepicker/datepicker.js"></script>
<script type="text/javascript" src="/files/templates/designs/2014/js/booking.js"></script>
<!--@SnippetEnd(loadscript)-->
<!--@SnippetStart(scripts)-->
    if (customer.NonCompletedOrders != null && customer.NonCompletedOrders.Length > 0)
    {
        var fiber = customer.NonCompletedOrders.SingleOrDefault(o => o.MainProductID == 1);
        if (fiber != null)
        {
            var thisdate = fiber.ActionDate;
            thisdate = Convert.ToDateTime(@thisdate).ToString("dd-MM-yyyy");

            <text>
            getavailabledates("@{@customer.AxCustomerID}","@thisdate");
            $("#datepickerContainer").on("click",function( event ) {
                event.preventDefault();
            });
            $(document).on("click","#timepicker a",function(){
                $("#timepicker a").removeClass("selectedTime");
                $(this).addClass("selectedTime");
                $("#installationstid .knap-f-bestilling").removeClass("disabled").html("<b>Book tid >></b>");
            });
            </text>
        }
    }
}
<!--@SnippetEnd(scripts)-->


