﻿
@using NoZebra.S_DW_BBN.BBNSemiOpen
@using NoZebra.S_DW_BBN.CustomCode
@using NoZebra.S_DW_BBN.CustomCode.KS
@{
    var selected = "selected";
}
<div id="kundeinfo" class="large-6 columns">
<div class="panel glas">
<div class="topbar">
<h3 class="left">Kundeinfo</h3>
<div class="right buttons">
<a href="#" class="but-1 inactive">Opret nyt brev »</a>
<a href="#" class="but-2 rediger expose">Rediger&nbsp;»</a>
<a href="#" class="but-1 cancel exposed">&laquo; Annuller</a>
<a href="#" class="but-2 ok exposed">Gem »</a>

</div>

</div>
<div class="">
<form action="/CustomHandlers/KS/Kundeinfo_edit.ashx" method="post">
            <div class="row ">
    @{
        var customer = (CustomerInfoData)System.Web.HttpContext.Current.Session["SelectedCustomer"];
        if (customer != null)
        {

            Address payerAddress;
            var multiplePayers = Helpers.MultiplePayerAddresses(customer, out payerAddress);

            <div id="abonnent" class="small-4 columns">
                <b>Abonnent</b><br/>
               <input class="small" type="text" id="abo-firstname" name="abo-firstname" value="@customer.FirstName" disabled placeholder="Fornavn">
                <input class="small" type="text" id="abo-lastname" name="abo-lastname" value="@customer.Surname" disabled placeholder="Efternavn">
                <input class="small" type="text" id="abo-street" name="abo-street" value="@customer.Street" disabled readonly placeholder="Gade"/>
                <input class="small" type="text" id="abo-number" name="abo-number" value="@customer.HouseNumber" disabled readonly placeholder="Nummer"/>
                 <input class="small" type="text" id="abo-letter" name="abo-letter" value="@customer.Letter" disabled readonly placeholder="Bogstav"/>
<input class="small" type="text" id="abo-floor" name="abo-floor" value="@customer.Floor" disabled readonly placeholder="Sal"/>
<input class="small" type="text" id="abo-side" name="abo-side" value="@customer.Side" disabled readonly placeholder="Side"/>

                <input class="small" placeholder="Postnr" type="text" id="abo-zip" name="abo-zip" value="@customer.Zip" disabled readonly/>
                <input class="small" type="text" placeholder="By" id="abo-city" name="abo-city" value="@customer.City" disabled readonly/>
            </div>



            <div id="payer" class="small-4 columns">
                <b>Betaler</b><br/>
                @if (multiplePayers)
                {
                    <div id="pay-multiple">Der er flere betalere tilknyttet</div>
                }
                else
                {
                    <input class="small" type="text" name="pay-firstname" id="pay-firstname" value="@payerAddress.Firstname" disabled />
                    <input class="small" type="text" name="pay-surname" id="pay-surname" value="@payerAddress.Lastname"disabled />
                    <input class="small" type="text" name="pay-street" id="pay-street" value="@payerAddress.Street"disabled />
                    <input class="small" type="text" name="pay-number" id="pay-number" value="@payerAddress.HouseNumber" disabled />
 <input class="small" type="text" id="pay-letter" name="pay-letter" value="@payerAddress.Letter" disabled readonly/>
<input class="small" type="text" id="pay-floor" name="pay-floor" value="@payerAddress.Floor" disabled readonly/>
<input class="small" type="text" id="pay-side" name="pay-side" value="@payerAddress.Side" disabled readonly/>


                    <input class="small" type="text" name="pay-zip" id="pay-zip" value="@payerAddress.Zip" disabled />
                    <input class="small" type="text" name="pay-city" id="pay-city" value="@payerAddress.City" disabled />
                }
            </div>
            <div class="small-4 columns">
                <div><b>Kundenr:</b></div><div id="customerNumber">@customer.BBNCustomerID</div>
                <div><b>AX nummer:</b></div><div id="axNumber">@customer.AxCustomerID</div>
                <div><b>Install.nr:</b></div><div id="installNumber">@customer.InstallationNumber</div>
                <label class="small"><b>Permission:</b></label>
                <select  id="permission" name="permission" disabled>
                    <option value="0" @if(@customer.Permissions == "0"){@selected} >Ingen accept</option>
                    <option value="1" @if(@customer.Permissions == "1"){@selected} >Accept</option>
                    <option value="2" @if(@customer.Permissions == "9"){@selected} >Fravalgt</option>
                </select>


            </div>
<div class="large-12 columns">

<div class="section-container accordion" data-section="accordion">
  <section class="">
  <p class="title" data-section-title><a href="#"><span class="arrow-down"></span></a></p>
  <div class="content" data-section-content>
    <div><label style="width:100px">Kontaktnummer:</label><input type="text" class="small" id="contactPhone" name="contactPhone" value="@customer.Contact_Phone" disabled /></div>
            <div><label style="width:100px">KontaktMobil:</label><input type="text" class="small" id="contactMobile" name="contactMobile" value="@customer.ContactMobilePhoneNumber" disabled /></div>

            <div><label style="width:100px">E-mail:</label><input type="text" class="small" id="contactEmail" name="contactEmail" value="@customer.Email" disabled /></div>
            <div style="clear:both">&nbsp;</div>
            </div>

  </section>

</div>
</div>
        }
    }

</div>

</form>

</div>
</div>
</div>


