﻿@using System.Activities.Expressions
@using System.Collections.Generic
@using System.Linq
@using NoZebra.S_DW_BBN.BBNSemiOpen
@using NoZebra.S_DW_BBN.CustomCode
@using NoZebra.S_DW_BBN.CustomCode.Model
@{
    var customer = new Customer();
    var customerInfo = (CustomerInfoData)System.Web.HttpContext.Current.Session["SelectedCustomer"];
    var customerProducts = customer.GetProducts(customerInfo);
    double gebyr = 49;
    double totalsimple = 0;
    double totaldetail = gebyr;
    double totalOptional = gebyr;
    var tilvalg = new List<string>();
    List<string> productNames = new List<string>();
    if (customerProducts.MainProducts.HasProducts())
    {
        if (customerProducts.MainProducts.InternetProducts != null)
        {
            foreach (InternetProduct product in customerProducts.MainProducts.InternetProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
            {
                productNames.Add(product.ProductName);
                totalsimple += product.Price;
            }
        }
        if (customerProducts.MainProducts.PhoneProducts != null)
        {
            foreach (PhoneProduct product in customerProducts.MainProducts.PhoneProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
            {
                productNames.Add(product.ProductName);
                totalsimple += product.Price;
            }
        }
        if (customerProducts.MainProducts.TvProducts != null)
        {
            foreach (TvProduct product in customerProducts.MainProducts.TvProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
            {
                productNames.Add(product.ProductName);
                totalsimple += product.Price;
            }
        }
    }
    if (customerProducts.OptionalProducts.HasProducts())
    {
        foreach (InternetProduct product in customerProducts.OptionalProducts.InternetProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
        {
            tilvalg.Add(product.ProductName);
            totalOptional += product.Price;

        }
        foreach (PhoneProduct product in customerProducts.OptionalProducts.PhoneProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
        {
            tilvalg.Add(product.ProductName);
            totalOptional += product.Price;
        }

        foreach (TvProduct product in customerProducts.OptionalProducts.TvProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
        {
            tilvalg.Add(product.ProductName);
            totalOptional += product.Price;
        }
    }

    <div id="produktstatus" class="large-12 columns">
        <div class="panel glas">
            <div class="topbar">
                <h3 class="left">Produkt status</h3>
                <div class="right">
                    <a onclick="toggledetails()">Skift</a>
                </div>
            </div>
            <div>
                @if (productNames.Any())
                {
                    <div id="simple" style="display: block">
                        <b>@customerProducts.PackageName <span class="right">@totalsimple.ToString("F2") kr./md.</span></b>
                        @if (!string.IsNullOrEmpty(customerProducts.PackageName))
                        {
                            foreach (string name in productNames)
                            {
                                <div> - @name</div>
                            }
                        }
                        else
                        {
                            foreach (string name in productNames)
                            {
                                <div>@name</div>
                            }
                        }
                        <div>
                            <b>Tilvalg <span class="right">@totalOptional.ToString("F2") kr./md.</span></b>
                            @foreach (var name in tilvalg)
                            {
                                <div> - @name</div>
                            }
                            <div> - Betalingsgebyr</div>
                        </div>
                        <hr/>
                        @{ double tot = @totalsimple + @totalOptional; }
                        <b>IALT Betales månedligt <span class="right">@tot.ToString("F2") kr.</span></b>
                    </div>
                    <div id="details" style="display: none">
                        @{
                            if (customerProducts.MainProducts.InternetProducts.Any() || customerProducts.OptionalProducts.InternetProducts.Any())
                            {
                                <b>Fiberbredbånd</b>
                                foreach (InternetProduct product in customerProducts.MainProducts.InternetProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                                {
                                    <div>- @product.ProductName <span class="right">@product.Price.ToString("F2") kr./md.</span></div>
                                    totaldetail += product.Price;
                                }
                                foreach (InternetProduct product in customerProducts.OptionalProducts.InternetProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                                {
                                    <div>- @product.ProductName <span class="right">@product.Price.ToString("F2") kr./md.</span></div>
                                    totaldetail += product.Price;
                                }
                            }
                            if (customerProducts.MainProducts.TvProducts.Any() || customerProducts.OptionalProducts.TvProducts.Any())
                            {
                                <b>TV</b>
                                foreach (var product in customerProducts.MainProducts.TvProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                                {
                                    <div>- @product.ProductName <span class="right">@product.Price.ToString("F2") kr./md.</span></div>
                                    totaldetail += product.Price;
                                }
                                foreach (var product in customerProducts.OptionalProducts.TvProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                                {
                                    <div>- @product.ProductName <span class="right">@product.Price.ToString("F2") kr./md.</span></div>
                                    totaldetail += product.Price;
                                }
                            }
                            if (customerProducts.MainProducts.PhoneProducts.Any() || customerProducts.OptionalProducts.PhoneProducts.Any())
                            {
                                <b>Telefoni</b>
                                foreach (var product in customerProducts.MainProducts.PhoneProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                                {
                                    <div>- @product.ProductName <span class="right">@product.Price.ToString("F2") kr./md.</span></div>
                                    totaldetail += product.Price;
                                }
                                foreach (var product in customerProducts.OptionalProducts.PhoneProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                                {
                                    <div>- @product.ProductName <span class="right">@product.Price.ToString("F2") kr./md.</span></div>
                                    totaldetail += product.Price;
                                }
                            }
                            <br />
                            <div>Betalingsgebyr <span class="right">@gebyr.ToString("F2") kr./md.</span></div>
                            <hr />
                            <b>IALT Betales månedligt <span class="right">@totaldetail.ToString("F2") kr.</span></b>
                        }
                    </div>
                    <br />
                    <span class="small"><small><i>* Hvis kunden er tilmeldt PBS betaler vedkommende kun 5 kr. I dette tilfælde træk da 44 kr fra den samlede pris.</i></small></span>
                }
            </div>
        </div>
    </div>
}
                    <script>
                        function toggledetails() {
                            $("#simple").toggle();
                            $("#details").toggle();
                        }
                    </script>
