﻿<style>
    td {cursor: pointer;}
     td.details-control {
         background: url('/Files/Images/details_open.png') no-repeat center center;
     }
    tr.shown td.details-control {
        background: url('/Files/Images/details_close.png') no-repeat center center;
    }

</style>
<script>
    var selectedOrderGuid;
    function format(d) {
        // `d` is the original data object for the row
        var json = JSON.stringify(JSON.parse(d.Cart), null, 4);
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" width="90%">' +
            "<tr>" +
            "<td>Cart:</td>" +
            "<td><pre>" + json + "</pre></td>" +
            "</tr>" +
            "</table>";
    }

    function SendOrders() {
        $.ajax({url: "/CustomHandlers/CustomerOrders.ashx"}).done(function (data) {
                if ( console && console.log ) {
                    console.log( "Sample of data:", data.slice( 0, 100 ) );
                }
            });
    }

    function ShowLog() {
        $.get("/CustomHandlers/KS/ViewLogHandler.ashx", function (data) {
            var logwindow = window.open("", "Log window", "scrollbars=yes, titlebar=no, toolbar=no, menubar=no, location=no");
            logwindow.moveTo(0, 0);
            logwindow.resizeTo(screen.width, screen.height);
            logwindow.document.write("<pre>"+data+"</pre>");
        });
    }

    $(document).ready(function () {
        var table = $('#example').DataTable({
            "ajax": '/CustomHandlers/KS/Resend.ashx',
            "aoColumns": [
                {
                    "class": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                { "data": "InstallationID" },
                { "data": "Success" },
                { "data": "CreatedDate", "sType": 'date'},
                { "data": "TransactionId" },
                { "data": "OrderGuid" },
                {
                    "render": function(data, type, full) {
                        if (type === 'display' && full.OrderGuid != null) {
                            return "<button class='resend'>Resend</button>";
                        }
                        else {
                            return "";
                        }
                    },
                    "orderable": false
                },
                {
                    "render": function (data, type, full) {
                        if (type === 'display' && full.Success == false && full.OrderGuid != null) {
                            return "<button class='forcesucces'>Force Success</button>";
                        }
                        else {
                            return "";
                        }
                    },
                    "orderable": false,
                }
            ],
            "order": [[3, "desc"]]
        });

        $("<button>Refresh</button>").click(function () { table.ajax.reload(); details.clear().draw(); }).appendTo('div.dataTables_filter');
        $("<input type='checkbox' id='filter'><Label for='filter'>Only false</label>").click(function () {
            if ($(this).prop('checked')) {
                table.ajax.url('/CustomHandlers/KS/Resend.ashx?success=false').load(); details.clear().draw();
            } else {
                table.ajax.url('/CustomHandlers/KS/Resend.ashx').load(); details.clear().draw();
            }
        }).appendTo('div.dataTables_filter');

        var details = $('#logdetails').DataTable({
            "paging": false,
            "searching": false,
            "aoColumns": [
                { "data": "InstallationID" },
                { "data": "CreateMethod" },
                { "data": "StatusCode" },
                { "data": "StatusMessage" },
                { "data": "Success" },
                { "data": "OrderGuid" },
                { "data": "Created", "sType": 'date' }
            ]
            ,"order": [[6, "asc"]]
        });

        $('#example tbody').on('click', 'button.resend', function() {
            var row = table.row($(this).closest('tr'));
            var orderGuid = row.data().OrderGuid;
            if (confirm('Er du sikker på at du vil gensende ordre: ' + orderGuid)) {
                $.ajax("/CustomHandlers/KS/Resend.ashx?resend=true&orderGuid=" + orderGuid);
            }
        });

        $('#example tbody').on('click', 'button.forcesucces', function() {
            var row = table.row($(this).closest('tr'));
            if (confirm('Er du sikker på at du vil tvinge success for ordre: ' + row.data().OrderGuid)) {
                $.ajax("/CustomHandlers/KS/Resend.ashx?setsuccess=true&orderGuid=" + row.data().OrderGuid);
            }
            table.ajax.reload();
            details.clear().draw();
        });

        // Add event listener for click on row
        $('#example tbody').on('click', 'tr', function () {
            var row = table.row($(this));
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            selectedOrderGuid = row.data().OrderGuid;
            details.ajax.url("/CustomHandlers/KS/Resend.ashx?orderGuid=" + selectedOrderGuid).load();
        });

        // Add event listener for opening and closing details
        $('#example tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });
    });

</script>
<div><button disabled="true" onclick="SendOrders();">Send usendte ordrer!</button><button onclick="ShowLog();">Show log</button></div>
<div>
    <table id="example" class="display" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>InstallationId</th>
                <th>Success</th>
                <th>CreatedDate</th>
                <th>TransactionId</th>
                <th>OrderGuid</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
    <hr/>
    <h2>OrderLog</h2>
    <table id="logdetails" class="display">
        <thead>
            <tr>
                <th>InstallationsId</th>
                <th>CreateMethod</th>
                <th>StatusCode</th>
                <th>StatusMessage</th>
                <th>Success</th>
                <th>OrderGuid</th>
                <th>Created</th>
            </tr>
        </thead>
    </table>
</div>