@using System
@using System.Linq
@using System.Net
@using Dynamicweb.Admin
@using NoZebra.S_DW_BBN.CustomCode.KS

@{
    var antal = 20;
    var httpRequest = System.Web.HttpContext.Current.Request;
    var query = httpRequest.Form["query"] ?? httpRequest.QueryString["query"];
    bool advanced = httpRequest.Params.AllKeys.Contains("advanced");
    bool active = string.IsNullOrEmpty(query) || httpRequest.Params.AllKeys.Contains("activeCustomers");
    bool fiber = string.IsNullOrEmpty(query) || httpRequest.Params.AllKeys.Contains("fiberProject");
    bool oprettelse = string.IsNullOrEmpty(query) || httpRequest.Params.AllKeys.Contains("underOprettelse");
    bool noFiber = string.IsNullOrEmpty(query) || httpRequest.Params.AllKeys.Contains("ingenFiber");


    int current;
    if (!int.TryParse(httpRequest.Params["current"], out current))
    {
        current = 0;
    }
    var next = current + antal;
    var prev = current - antal;
}





@{
    if (String.IsNullOrEmpty(query))
    {
        return;
    }

    var result = KS_Search.Search(query, active, fiber, oprettelse, noFiber);
<div id="searchresult" class="large-12 columns">
    <table id="searchdata" width="100%">
        <thead>
            <tr>
                <th>Status</th>
                <th>Kundenr.</th>
                <th>Fastnet</th>
                <th>Mobil</th>
                <th>Navn</th>
                <th>Adresse</th>
                <th>Postnr/by</th>
                <th>Installationsnr.</th>
                <th>Axapta kundenr.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kundeAdress in result)
            {
                <tr onclick="document.location.href='/CustomHandlers/KS/SearchSelect.ashx?id=@kundeAdress.Kundenummer'" >
                    <td>@if(@kundeAdress.StatusColor != ""){<div class="block @kundeAdress.StatusColor"></div>}</td>
                    <td>@kundeAdress.Kundenummer</td>
                    <td>@kundeAdress.Fastnet</td>
                    <td>@kundeAdress.Mobil</td>
                    <td>@kundeAdress.Navn</td>
                    <td>@kundeAdress.Adresse</td>
                    <td>@kundeAdress.PostnummerBy</td>
                    <td>@kundeAdress.Installationnummer</td>
                    <td>@kundeAdress.Axaptanummer</td>
                </tr>
            }
        </tbody>
    </table>

    @if (current > 0)
    {
        <form method="POST">
            <input type="hidden" name="query" value="@query" />
            <input type="hidden" name="activeCustomers" value="@active" />
            <input type="hidden" name="fiberProject" value="@fiber" />
            <input type="hidden" name="underOprettelse" value="@oprettelse" />
            <input type="hidden" name="ingenFiber" value="@noFiber" />
            <input type="hidden" name="advanced" value="@advanced" />
            <input type="hidden" name="current" value="@prev" />
            <input type="submit" value="Forrige" />
         </form>
    }
    @if (result.Count == antal)
    {
        <form method="POST">
            <input type="hidden" name="query" value="@query" />
            <input type="hidden" name="activeCustomers" value="@active" />
            <input type="hidden" name="fiberProject" value="@fiber" />
            <input type="hidden" name="underOprettelse" value="@oprettelse" />
            <input type="hidden" name="ingenFiber" value="@noFiber" />
            <input type="hidden" name="advanced" value="@advanced" />
            <input type="hidden" name="current" value="@next" />
            <input type="submit" value="Næste" />
        </form>
    }
    <div style="clear:both"><br/><br/><br/></div>
    </div>


}
<!--@SnippetStart(loadscript)-->
<script src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js" type="text/javascript"></script>
<!--@SnippetEnd(loadscript)-->
<!--@SnippetStart(loadcss)-->
<link rel="stylesheet" href="/Files/Templates/Designs/2014/css/datatables.css">
<!--@SnippetEnd(loadcss)-->

<!--@SnippetStart(scripts)-->
$('#searchdata').dataTable({ searching: false, "lengthChange": false, "info": false, "iDisplayLength": 20});
<!--@SnippetEnd(scripts)-->


