﻿@using System.Linq

@{
    var httpRequest = System.Web.HttpContext.Current.Request;
    var query = httpRequest.Form["query"] ?? httpRequest.QueryString["query"];
    bool active = string.IsNullOrEmpty(query) || httpRequest.Params.AllKeys.Contains("activeCustomers");
    bool fiber = string.IsNullOrEmpty(query) || httpRequest.Params.AllKeys.Contains("fiberProject");
    bool oprettelse = string.IsNullOrEmpty(query) || httpRequest.Params.AllKeys.Contains("underOprettelse");
    bool noFiber = string.IsNullOrEmpty(query) || httpRequest.Params.AllKeys.Contains("ingenFiber");
}


    <form class="large-12 columns custom" method="POST">
    <div class="row">
    <div class="large-10 large-centered columns">
    <div class="small-3 columns"><label for="right-label" class="right">
    <h3>S&oslash;g</h3>
    </label></div>
    <div class="row collapse">
    <div class="small-7 columns">
        <input name="query" type="text" value="@query"/>
        </div>
    <div class="small-2 columns">
        <input class="postfix" type="submit" value="" /></div>
    </div>
    </div>
    <div class="large-10 large-centered columns center-text">
        <input type="checkbox" name="activeCustomers" checked="@active"/>Aktive kunder
        <input type="checkbox" name="fiberProject" checked="@fiber" />Kunder i projekt med Fiber
        <input type="checkbox" name="underOprettelse" checked="@oprettelse" />Kunder under oprettelse
        <input type="checkbox" name="ingenFiber" checked="@noFiber" />Kunder der ikke kan få fiber
    </div>
    </div>
    </form>



