﻿@using NoZebra.S_DW_BBN.BBNSemiOpen

<div id="tekniskstatus" class="large-6 columns inactive">
<div class="panel glas">
<div class="topbar">
<h3 class="left">Teknisk status</h3>
<div class="right">

</div>
</div>
<div class="row">
<form>
            <div class=" small-12 columns">

    @{
        var customer = (CustomerInfoData)System.Web.HttpContext.Current.Session["SelectedCustomer"];
        if (customer != null)
        {
<ul>
<li><b class="orange">Port:</b> HJO0101-ACCN-AS-01/05/23</li>
<li><b class="orange">Portstatus:</b> 50/50 Mbit <b class="green">(Forbundet)</b></li>
<li><b class="orange">Telefoni:</b> 98 11 45 26 <b class="green">(Forbundet)</b></li>
<li><b class="orange">Router IP:</b> 192.168.1.1 &nbsp;&nbsp;<b class="orange">MAC:</b>12:05:8:bh:57:de</li>
<li><b class="orange">Sidst genstartet:</b> 10.06.2012  - Kl. 14:48  (Oppetid 11 dage 7 timer)</li>
<li><b class="orange">Firmware:</b>124.178.2.1</li>
</ul>
        }
    }
</div>

</form>
</div>
</div>
</div>
