﻿@using NoZebra.S_DW_BBN.BBNSemiOpen
@using NoZebra.S_DW_BBN.CustomCode
@using NoZebra.S_DW_BBN.CustomCode.KS
<div id="trobletickets" style="border: 1px solid">
    @{
        var customer = (CustomerInfoData)System.Web.HttpContext.Current.Session["SelectedCustomer"];
        if (customer != null)
        {
            var ttData = CustomerInfo.GetCustomerTroubleTicketData(customer.AxCustomerID);
            if (ttData != null && ttData.TroubleTickets != null)
            {
                foreach (var troubleTicket in ttData.TroubleTickets)
                {
                    foreach (var ttChange in troubleTicket.TroubleTicketChanges)
                    {
                        <div id="trobleticket">
                            <div>@ttChange.CreationDate (@ttChange.CreatedBy)</div>
                            <div>@ttChange.EscalatedToGroup</div><div>@ttChange.Topic</div><div>@ttChange.Group</div>
                            <div>@ttChange.Description</div>
                        </div>
                    }
                }
            }
        }
    }
</div>
    