<!--@MasterPageFile(Master.html)-->

@{
	string name = System.Web.HttpContext.Current.Request.QueryString[ "name" ];
	string mail = System.Web.HttpContext.Current.Request.QueryString[ "mail" ];
}

<form id="form" class="js-form-post" method="post" action="/CustomHandlers/UserManagement.ashx?target=showinterest">
	<h2>Udfyld felterner herunder</h2>
	<label>Navn*</label><br>
	<input type="text" value="@name" name="name" required><br><br>

	<label>Adresse*</label><br>
	<input type="text" name="address" required><br><br>

	<label>Post nr.</label><br>
	<input type="text" value="" name="zip" required><br><br>

	<label>By</label><br>
	<input type="text" value="" name="city" required><br><br>

	<label>Telefon</label><br>
	<input type="text" value="" name="phone" required><br><br>

	<label>Mobil</label><br>
	<input type="text" value="" name="mobile" required><br><br>

	<label>E-mail*</label><br>
	<input type="email" value="@mail" name="email" required><br><br>

	<input type="checkbox" name="newsletter" value="newsletter">
	<label>Ja tak, jeg &oslash;nsker at modtage nyheder og tilbud</label><br>

	<input type="submit" value="Tilmeld">
</form>
