<h1 style="margin-bottom: 0.3em;">S&oslash;geresultat for "<!--@DwSearchPhrase-->"</h1>
<div class="row">
	<!--@DwSearchResultList-->
<div align=center><!--@DwSearchResultBack-->&nbsp;&nbsp;<!--@DwSearchResultPageList-->&nbsp;&nbsp;<!--@DwSearchResultForward--></div>
</div>
<!--@SnippetStart(scripts)-->
$(".mainIndhold").addClass("slided-down1");
<!--@SnippetEnd(scripts)-->


