<div class="large-6 medium-6 small-12 columns">
	<div class="myBox soegbox">
		<div class="box1">
			<h4><!--@DwSearchResultTitle--></h4>
			<article><p class="hide-for-small"><!--@DwSearchResultSummary.Crop(240)--></p>
				<p class="show-for-small"><!--@DwSearchResultSummary.Crop(120)--></p>
			<a href="<!--@DwSearchResultHref-->">&nbsp;</a>
			</article>
		</div>
</div>
</div>
