<!--@Layout.Title(Sidebox)-->
<!--@Layout.Description(Box der benyttes i højre kolonne)-->
<div class="medium-12 large-12 columns">
<div class="myBox2" <!--@If(ParagraphImageLinkAlt<>"")-->data-reveal-id="<!--@ParagraphImageLinkAlt-->"<!--@EndIf-->>
	<!--@If Defined(ParagraphImageClean)-->
	<figur><img src="<!--@ParagraphImageClean-->"  alt=""/></figur>
	<!--@EndIf(ParagraphImageClean)-->
	<div class="box-text">
		 <!--@If Defined(ParagraphImageLinkClean)-->
<h4><a href="<!--@ParagraphImageLinkClean-->" target="<!--@ParagraphImageLinkTarget-->"><!--@ParagraphHeader--></a></h4>
		 <!--@EndIf(ParagraphImageLinkClean)-->
		<!--@If Not Defined(ParagraphImageLinkClean)-->
<h4><!--@ParagraphHeader--></h4>
		<!--@EndIf(ParagraphImageLinkClean)-->

		<!--@ParagraphText-->
	</div>
</div>
</div>
