<!--@Layout.Title(Standard Tekst box)-->
<!--@Layout.Description(Textbox på 4 kolonner)-->
<div class="large-3 medium-6 small-12 columns">
	<div class="myBox" <!--@If(ParagraphImageLinkAlt<>"")-->data-reveal-id="<!--@ParagraphImageLinkAlt-->"<!--@EndIf-->>
		<!--@If Defined(ParagraphImageClean)-->
		<div class="figur">
		<!--@If(ParagraphImageLinkClean<>"")-->
		<a href="<!--@ParagraphImageLinkClean-->" target="<!--@ParagraphImageLinkTarget-->">
			<img src='<!--@ParagraphImageClean-->' height="167px"/></a>
		<!--@Else-->
		<img src='<!--@ParagraphImageClean-->' height="167px"/>
		<!--@EndIf-->
	</div>
		<!--@EndIf(ParagraphImageClean)-->
		<div class="box1">
			<h4><!--@ParagraphHeader--></h4>
			<article class="hide-for-small"><!--@ParagraphText--><!--@ParagraphModule--></article>
		</div>
	</div>
</div>
