  <section>
    <div class="title" data-section-title ><a class="button secondary" href="#"><!--@ParagraphHeader--></a></div>
    <div id="panel<!--@ParagraphContainerSort-->" class="content" data-section-content>
      <!--@ParagraphText-->
    </div>
  </section>