﻿<!--@Layout.Title(Item: graf)-->
<!--@Layout.Description(Template bruges til graf items)-->
<div class="large-6 columns  graf">
<h3><!--@Item.Overskrift--> </h3>
<div class="panel">
  <div id="chart_div<!--@ParagraphContainerSort-->" style="width: 100%; height: 250px;"></div>
</div>
</div>

<!--@SnippetStart(scripts)-->

  var data<!--@ParagraphContainerSort--> = google.visualization.arrayToDataTable([
                <!--@Item.Data.StripHtml()-->
        ]);
      <!--@If(Item.Graftype=="LineChart")-->
        var options<!--@ParagraphContainerSort--> = {

        <!--@Item.GrafOptions.StripHtml()-->


  };
        <!--@EndIf-->
        <!--@If(Item.Graftype=="ComboChart")-->
        var options<!--@ParagraphContainerSort--> = {

        <!--@Item.GrafOptions.StripHtml()-->
        };
        <!--@EndIf-->

        var chart<!--@ParagraphContainerSort--> = new google.visualization.<!--@Item.Graftype-->(document.getElementById('chart_div<!--@ParagraphContainerSort-->'));
        chart<!--@ParagraphContainerSort-->.draw(data<!--@ParagraphContainerSort-->, options<!--@ParagraphContainerSort-->);

<!--@SnippetEnd(scripts)-->