<!--@Layout.Title(TVKanalliste visning)-->
<!--@Layout.Description(Indsæt provisioning kode i afsnitsbillede alt-text feltet)-->
<div class="mainpack kanaler" data-package-id="<!--@ParagraphImageLinkAlt-->">
<h3><!--@ParagraphHeader--><span class="price"></span>
			 		<span class="minprice"></span></h3>
			 		<ul class="tvKanaler"></ul>
			 		<!--@ParagraphText-->

</div>


