<div id="kontaktKS" class="reveal-modal">
<div class="reveal-modal-inner" style="text-align:left"><button class="js-close-box fi-x  close-reveal-modal"></button>
<h3>Kontakt kundeservice</h3>
<p>Du kan skrive direkte til vores kundeservice i denne formular.</p>
<form id="form" name="KontaktKS" method="post" class="js-form-post abide custom js-show-modal" data-abide data-modal="kontaktKSSuccess" action="/CustomHandlers/SendMail.ashx">
    <!--Form.Start-->
    <div class="row">
    <div class="small-12">
    <div class="row">
    <div class="small-4 columns"><label for="right-label" class="inline">Navn</label></div>
    <div class="small-8 columns"><input type="text" name="KontaktKS_Navn" id="KontaktKS_Navn" value="<!--@Global:Extranet.Name-->" readonly="" disabled/></div>

    </div>
    </div>
    </div>
    <div class="row">
    <div class="small-12">
    <div class="row">
    <div class="small-4 columns"><label for="phone" class="inline">Telefon</label></div>
    <div class="small-8 columns"><input type="text" id="KontaktKS_Tlf" name="Telefon" value="" class="js-phone required" /> <small class="error">Venligst indtast Telefon!</small></div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="small-12">
    <div class="row">
    <div class="small-4 columns"><label for="email" class="inline">E-mail</label></div>
    <div class="small-8 columns"><input type="email" id="KontaktKS_email" name="Email" value="" required /> <small class="error">Venligst indtast Email!</small></div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="small-12">
    <div class="row">
    <div class="small-4 columns"><label for="right-label" class="inline">V&aelig;lg omr&aring;de</label></div>
    <div class="small-8 columns"><select id="KontaktKS_omraade" name="KontaktKS_omraade" required>
    <option value="abonnement">Abonnement / Bestilling</option>
    <option value="faktura">Faktura/Regning</option>
    <option value="installation">Installation</option>
    <option value="TekniskSupport">Teknisk Support</option>
    </select></div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="small-12">
    <div class="row">
    <div class="small-4 columns"><label for="right-label" class="inline">V&aelig;lg kategori</label></div>
    <div class="small-8 columns"><select size="1" id="KontaktKS_abonnement" name="KontaktKS_abonnement" required>
    <option >V&aelig;lg</option>
    <option value="&AElig;ndre abonnement">&AElig;ndre abonnement</option>
    <option value="Tilk&oslash;b">Tilk&oslash;b</option>
    <option value="&AElig;ndre bestilling">&AElig;ndre bestilling</option>
    <option value="Andet">Andet</option>
    </select>
<small class="error">Vælg omr&aring;de og kategori</small>
               <select id="KontaktKS_faktura" name="KontaktKS_faktura">
    <option >V&aelig;lg</option>
    <option value="Betalingsform">Betalingsform</option>
    <option value="Rykker">Rykker</option>
    <option value="Inkasso">Inkasso</option>
    <option value="Tilgodehavende">Tilgodehavende</option>
    <option value="Andet">Andet</option>
    </select>           <select id="KontaktKS_installation" name="KontaktKS_installation">
    <option >V&aelig;lg</option>
    <option value="Ombooke installationsdato">Ombooke installationsdato</option>
    <option value="Sp&oslash;rgsm&aring;l til installation">Sp&oslash;rgsm&aring;l til installation</option>
    <option value="Reetablering">Reetablering</option>
    <option value="Andet">Andet</option>
    </select>           <select id="KontaktKS_TekniskSupport" name="KontaktKS_TekniskSupport">
    <option >V&aelig;lg</option>
    <option value="Hj&aelig;lp til ops&aelig;tning">Hj&aelig;lp til ops&aelig;tning</option>
    <option value="Hj&aelig;lp til udstyr">Hj&aelig;lp til udstyr</option>
    <option value="Wifi">Wifi</option>
    <option value="TV">TV</option>
    <option value="VoIP">VoIP</option>
    <option value="Andet">Andet</option>
    </select></div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="small-12">
    <div class="row">
    <div class="small-4 columns"><label for="right-label" class="inline">Din besked til os</label></div>
    <div class="small-8 columns"><textarea id="KontaktKS_Din_besked_til_os" name="Kommentar" cols="50" rows="3"></textarea></div>
    </div>
	<input type="hidden" value="info@bredbaandnord.dk" name="To">
	<input type="hidden" value="Abonnement / Bestilling - Ingen kategori, <!--@Global:Extranet.UserName-->"
	name="Subject" id="mailSubject">
	<input type="hidden" name="Navn" id="Navn" value="<!--@Global:Extranet.Name-->"/>
<input type="hidden" value="Intet valgt" name="Kategori" id="Kategori">
<input type="hidden" value="<!--@Global:Extranet.UserName-->" name="Axid" id="Axid">
<input type="hidden" value="Abonnement / Bestilling" name="Omraade" id="Omraade">
<input type="hidden" value="Designs/2014/NZ/SimpleFormMail.html" name="Template" id="Template">
    <input type="submit" name="submit" value="Send >>" class="js-loader knap-f-bestilling right"></div>
    </div>
</form>
</div>
</div>
<div id="kontaktKSSuccess" class="kontaktKSSuccess reveal-modal">
    <div class="reveal-modal-inner">
   <button class="js-close-box fi-x close-reveal-modal"></button>
    <h3>Tak for din henvendelse!</h3>
    <p>N&aring;r du skriver til os, kan du regne med et svar inden for 2 hverdage.</p>
    <p>Kontakter du os, fordi du har brug for teknisk support eller at fejlmelde udstyr, er det en fordel, at du ringer til os, mens du er ved udstyret.<br/><br/>
    <a class="close-reveal-button knap-f-bestilling"><b>Tilbage >></b></a>
    </div>
</div>

<!--@SnippetStart(loadstyle)-->
<p><style type="text/css">
form#form.custom select:not(#KontaktKS_omraade)+.custom.dropdown{display:none}
form#form.custom select#KontaktKS_abonnement+.custom.dropdown{display:block}
form textarea{height: 5em;
font-size: 0.9em;}

</style>  <!--@SnippetEnd(loadstyle)-->
<!--@SnippetStart(scripts)-->
var axid = "<!--@Global:Extranet.UserName-->";
var omraade = "Abonnement / Bestilling";
var kategori ="";
$("#KontaktKS_omraade").on("change",function(){
	$("#form select:not(#KontaktKS_omraade)").prop("disabled", true);
	$("#form select:not(#KontaktKS_omraade)+.custom.dropdown").hide();
	var $this = $(this);
	var thisID = "#KontaktKS_"+$this.val();
	omraade = $( "#KontaktKS_omraade option:selected" ).text();
	$("#Kategori").val(omraade);
	$(thisID).removeAttr("disabled");
	$(thisID+"+.custom.dropdown").show();
	setSubject();
});

$("#form select:not(#KontaktKS_omraade)").on("change",function(){
	var $this = $(this);
	kategori = $this.val();
$("#Kategori").val(kategori);
	setSubject();
});

function setSubject(){
	var subj = omraade+" - "+kategori+", "+axid
	$("#mailSubject").val(subj);
}







<!--@SnippetEnd(scripts)-->