<!--@Layout.Title(Sales Loginform)-->
<!--@Layout.Description(Loginform til sales og andre standard DW brugere)-->
<!--@If Defined(Server:Request.login)-->
<!--@If(Global:Extranet.UserName<>"")-->
<!--@SnippetStart(header)-->
<meta http-equiv="refresh" content="0;url=<!--@Item.RedirectTil-->" />
<!--@SnippetEnd(header)-->
<!--@EndIf-->
<!--@EndIf(Server:Request.login)-->


<div class="row skundeS">

<!--@If(Global:Extranet.UserName<>"")-->
<div class="small-12 large-10 medium-12 large-centered columns">
			<div class="row collapse">
				<div class="large-10 small-12 columns medium-10 left">
					<h5 style="white-space:normal">Velkommen<span class="hide-for-small"> til <!--@DwAreaName--></span> - <!--@Global:Extranet.Name--></h5>

				</div>
				<div class="large-2 small-12 columns medium-2">
				<a href="/Admin/Public/extranetlogoff.aspx?ID=<!--@Item.RedirectTilout-->" class="button radius logInd">Log ud >></a>
				</div>
			</div>
		</div>

<!--@Else-->

		<div class="small-12 large-centered columns">
			<div class="row">
				<h5 class="small-12 medium-3 large-2 columns">
<!--@If Defined(Item.LogindTekst)-->
<!--@Item.LogindTekst-->
<!--@EndIf(Item.LogindTekst)-->
<!--@If Not Defined(Item.LogindTekst)-->
Log ind:
<!--@EndIf(Item.LogindTekst)-->
					</h5>
				<div class="medium-9 small-12 columns large-10">
					<form name="ExtUserForm" method="post" Action="default.aspx?ID=336">
				     		<div class="medium-3 small-12 columns">

                       			<input class="radius" type="text" tabindex="1" name="Username"  placeholder="Brugernavn" value="<!--@DWExtranetUsername-->">
                    		</div>
                    		<div class="medium-3 small-12 columns">

                        		<input class="adGang" type="password" tabindex="2" name="Password"  placeholder="Adgangskode">
                    		</div>
							<div class="medium-6 small-12 columns logIndlinks">
								<input type="submit" class="medium logInd button radius" value="Log ind >>" />
										<a href="#" data-reveal-id="forgotpass" style="color:#FFF; border-right:none" class="glemt_link">Glemt adgangskode?</a>
                    		</div>
                    		<!--@If Defined(Server:Request.login)-->
                    		<!--@If(Global:Extranet.UserName=="")-->
								<div id="errorlogin" class="reveal-modal">
										<div class="reveal-modal-inner">
									 <button class="js-close-box fi-x close-reveal-modal"></button>
										<h3>Der opstod en fejl</h3>
										<p>Forkert brugernavn eller adgangskode.</p>
										 <a class="close-reveal-button knap-f-bestilling"><b>OK</b></a>
										</div>
								</div>
								<!--@SnippetStart(errorinlogin)-->
									$('#errorlogin').foundation('reveal', 'open');
								<!--@SnippetEnd(errorinlogin)-->
								<!--@EndIf(Global:Extranet.UserName)-->
                    		<!--@EndIf(Server:Request.login)-->


					</form>
				</div>
			</div>
		</div>


	<!--@Include(../Include/forgotpassreveals.html)-->
<!--@EndIf()-->
	</div>