<!--@Layout.Title(cleantemp)-->
<!--@Layout.Description(Template bruges til RSSfeeds items)-->
<div class="large-6 columns  graf">
<h3><!--@ParagraphHeader--></h3>
<div class="panel">
<!--@ParagraphModule--> 
</div>
</div>
