    <div class="large-3 medium-6 small-12 columns">
                <div class="myBox nolink mitbbn">
                    <div class="box1 mitbbn">
<!--@ParagraphModule-->
                    </div>
                </div>
            </div>