
<div class="large-9 small-12 columns" id="mainindhold1">

<div class="row">
<div id="sammen">
            <h3 id="hBottom">Sammensæt din bestilling</h3>
                <div class="sammensat-1">
                    <div class="ss1">
                        <img src="files/Templates/Designs/2014/img/Computer.png" alt="">
                        <span class="">Fiberbredbånd</span>
                    </div>
                    <ul class="inline-list">
                            <li class="internet-product sbutton">
                                <label for="internet-55">
                                    <h5>15/15 Mbit</h5>
                                        <a href="http://www.bredbaandnord.dk/Fiberbredb%C3%A5nd/Hvad-er-fiberbredb%C3%A5nd">Læs mere</a>
                                    <input type="radio" id="internet-55" class="js-product js-update-cart hidden-field" name="internet-product" value="1924"><span id="minradio1" class="custom radio js-checked"></span>
                                </label>
                            </li>
                            <li class="internet-product sbutton">
                                <label for="internet-56">
                                    <h5>50/50 Mbit</h5>
                                        <a href="http://www.bredbaandnord.dk/Fiberbredb%C3%A5nd/Hvad-er-fiberbredb%C3%A5nd">Læs mere</a>
                                    <input type="radio" id="internet-56" class="js-product js-update-cart hidden-field" name="internet-product" value="2407"><span id="minradio1" class="custom radio js-checked"></span>
                                </label>
                            </li>
                            <li class="internet-product sbutton">
                                <label for="internet-57">
                                    <h5>60/60 Mbit</h5>
                                        <a href="http://www.bredbaandnord.dk/Fiberbredb%C3%A5nd/Hvad-er-fiberbredb%C3%A5nd">Læs mere</a>
                                    <input type="radio" id="internet-57" class="js-product js-update-cart hidden-field" name="internet-product" value="1819"><span id="minradio1" class="custom radio js-checked checked"></span>
                                </label>
                            </li>
                            <li class="internet-product sbutton">
                                <label for="internet-58">
                                    <h5>90/90 Mbit</h5>
                                        <a href="http://www.bredbaandnord.dk/Fiberbredb%C3%A5nd/Hvad-er-fiberbredb%C3%A5nd">Læs mere</a>
                                    <input type="radio" id="internet-58" class="js-product js-update-cart hidden-field" name="internet-product" value="1820"><span id="minradio1" class="custom radio js-checked"></span>
                                </label>
                            </li>
                            <li class="internet-product sbutton">
                                <label for="internet-59">
                                    <h5>300/300 Mbit</h5>
                                        <a href="http://www.bredbaandnord.dk/Fiberbredb%C3%A5nd/Hvad-er-fiberbredb%C3%A5nd">Læs mere</a>
                                    <input type="radio" id="internet-59" class="js-product js-update-cart hidden-field" name="internet-product" value="1942"><span id="minradio1" class="custom radio js-checked"></span>
                                </label>
                            </li>
                            <li class="internet-product sbutton">
                                <label for="internet-60">
                                    <h5>Nej tak</h5>
                                        <span>jeg ønsker ikke Internet</span>
                                    <input type="radio" id="internet-60" class="js-product js-update-cart hidden-field" name="internet-product" value="-1337"><span id="minradio1" class="custom radio js-checked"></span>
                                </label>
                            </li>
                    </ul>
                </div>
                            <div class="sammensat-2">
                    <div class="ss1">
                        <img src="files/Templates/Designs/2014/img/Telefon.png" alt="">
                        <span class""="">Telefoni</span>
                    </div>
                    <ul class="inline-list">
                            <li class="phone-product sbutton">
                                <label for="phone-61">
                                    <h5>Telefoni Forbrugsafregnet</h5>
                                        <a href="http://www.bredbaandnord.dk/Telefoni/Fastnet">Læs mere</a>
                                    <input type="radio" id="phone-61" class="js-product js-update-cart hidden-field" name="phone-product" value="1525">
                                    <span id="minradio2" class="custom radio js-checked"></span>
                                </label>
                            </li>
                            <li class="phone-product sbutton">
                                <label for="phone-62">
                                    <h5>Telefoni Fri til fastnet</h5>
                                        <a href="http://www.bredbaandnord.dk/Telefoni/Fastnet">Læs mere</a>
                                    <input type="radio" id="phone-62" class="js-product js-update-cart hidden-field" name="phone-product" value="1527">
                                    <span id="minradio2" class="custom radio js-checked checked"></span>
                                </label>
                            </li>
                            <li class="phone-product sbutton">
                                <label for="phone-63">
                                    <h5>Nej tak</h5>
                                        <span>jeg ønsker ikke Telefoni</span>
                                    <input type="radio" id="phone-63" class="js-product js-update-cart hidden-field" name="phone-product" value="-1337">
                                    <span id="minradio2" class="custom radio js-checked"></span>
                                </label>
                            </li>
                    </ul>
                </div>
                            <div class="sammensat-3">
                    <div class="ss1">
                        <img src="files/Templates/Designs/2014/img/TV-stor.png" alt=""><br>
                        <span class""="">TV</span>
                    </div>
                    <ul class="inline-list">
                            <li class="tv-product sbutton">
                                <label for="tv-64">
                                    <h5>Lille TV Pakke
</h5>
                                        <a href="www.bredbaandnord.dk/TV/TV-Pakker/Privat">Læs mere</a>
                                    <input type="radio" id="tv-64" class="js-product js-update-cart hidden-field" name="tv-product" value="1957"><span id="minradio3" class="custom radio js-checked"></span>
                                </label>
                            </li>
                            <li class="tv-product sbutton">
                                <label for="tv-65">
                                    <h5>Stor TV Pakke
</h5>
                                        <a href="www.bredbaandnord.dk/TV/TV-Pakker/Privat">Læs mere</a>
                                    <input type="radio" id="tv-65" class="js-product js-update-cart hidden-field" name="tv-product" value="1960"><span id="minradio3" class="custom radio js-checked checked"></span>
                                </label>
                            </li>
                            <li class="tv-product sbutton">
                                <label for="tv-66">
                                    <h5>Viasat Danmarks-Pakke</h5>
                                        <a href="www.bredbaandnord.dk/TV/TV-Pakker/Privat">Læs mere</a>
                                    <input type="radio" id="tv-66" class="js-product js-update-cart hidden-field" name="tv-product" value="-5"><span id="minradio3" class="custom radio js-checked"></span>
                                </label>
                            </li>
                            <li class="tv-product sbutton">
                                <label for="tv-67">
                                    <h5>Stor Viasat Danmarks-Pakke</h5>
                                        <a href="www.bredbaandnord.dk/TV/TV-Pakker/Privat">Læs mere</a>
                                    <input type="radio" id="tv-67" class="js-product js-update-cart hidden-field" name="tv-product" value="-10"><span id="minradio3" class="custom radio js-checked"></span>
                                </label>
                            </li>
                            <li class="tv-product sbutton">
                                <label for="tv-68">
                                    <h5>Nej tak</h5>
                                        <span>jeg ønsker ikke TV</span>
                                    <input type="radio" id="tv-68" class="js-product js-update-cart hidden-field" name="tv-product" value="-1337"><span id="minradio3" class="custom radio js-checked"></span>
                                </label>
                            </li>
                    </ul>
                </div>
        </div>
        <input type="submit" class="knap-f-bestilling js-loader right" value="Fortsæt bestilling &gt;&gt;">
        </div>
        </div>
