<!--@Layout.Title(Item: Toprotator)-->
<!--@Layout.Description(Template bruges til toprotator items)-->
<!--@If(Item.BIllede<>"")-->
<div class="swiper-slide">
	<!--@If(Item.Link<>"")-->
		<a href="<!--@Item.Link-->">
			<!--@If(Global:Device.IsMobile==True && Item.BilledeMobil<>"")-->

				<img src="<!--@Item.BilledeMobil-->" alt="">
						<!--@If(Item.Tekst<>"")-->
<div class="overlay">
	<!--@Item.Tekst-->
</div>
<!--@EndIf-->
		<!--@Else-->
				<img src="<!--@Item.BIllede-->" alt="">
			<!--@EndIf-->


</a>
	<!--@Else-->
		<a><!--@If(Global:Device.IsMobile==True && Item.BilledeMobil<>"")-->
				<img src="<!--@Item.BilledeMobil-->" alt="">
				<!--@If(Item.Tekst<>"")-->
<div class="overlay">
	<!--@Item.Tekst-->
</div>
<!--@EndIf-->
			<!--@Else-->
				<img src="<!--@Item.BIllede-->" alt="">

			<!--@EndIf-->

			</a>
		<!--@EndIf-->
	</div>
<!--@EndIf-->

