<!--@Layout.Title(Item:  trustpoilt)-->
<!--@Layout.Description(Template bruges til graf items)-->
<div class="large-6 columns  graf">
<h3><!--@ParagraphHeader--></h3>
<div class="panel" id="trustpilot">
	<div class="word-rating">
<div class="number-rating">
	    <span class="average" itemprop="ratingValue"></span>
    </div>
  <span class="max-rating">fra <span itemprop="worstRating">0</span> - <span itemprop="bestRating">10</span></span>
                        </div>
   <div class="star-rating size-large">
                            <div class="star-1"><img alt="trustpilot stars" src="http://images-static.trustpilot.com/community/shared/sprite_star.png" class="star-image"></div>
                            <div class="star-2"><img alt="trustpilot stars" src="http://images-static.trustpilot.com/community/shared/sprite_star.png" class="star-image"></div>
                            <div class="star-3"><img alt="trustpilot stars" src="http://images-static.trustpilot.com/community/shared/sprite_star.png" class="star-image"></div>
                            <div class="star-4"><img alt="trustpilot stars" src="http://images-static.trustpilot.com/community/shared/sprite_star.png" class="star-image"></div>
                            <div class="star-5"><img alt="trustpilot stars" src="http://images-static.trustpilot.com/community/shared/sprite_star.png" class="star-image"></div>
                        </div>

    <div class="stats-recency-wrapper">

                            <div class="stats">
                                <span itemprop="reviewCount" class="ratingCount"></span> Trustpilot anmeldelser
                            </div>



                        </div>
</div>
</div>
<!--@SnippetStart(css)-->    <link rel="stylesheet" href="files/Templates/designs/2014/css/trustpilot.css"><!--@SnippetEnd(css)-->
<!--@SnippetStart(scripts)-->

$.ajax({
  url: '<!--@Item.Trustfeed-->',
  dataType: 'jsonp',
  jsonp: false,
  jsonpCallback: 'trustpilot_jsonp_callback',
  success: function(data, status) {
  $(".word-rating").prepend(data.TrustScore.Human);
  $(".average").text(data.TrustScore.Score / 10);
  $(".star-rating").addClass("count-"+data.TrustScore.Stars);
  $(".ratingCount").text(data.ReviewCount.Total);

  },
  error: function(XHR, txtStatus, errThrown) {
    console.log('Error: ' + txtStatus);
    console.log('Error: ' + errThrown);
  }
});

<!--@SnippetEnd(scripts)-->