<!--@Layout.Title(TVKanalliste visning)-->
<!--@Layout.Description(Indsæt provisioning kode i afsnitsbillede alt-text feltet)-->
<section class="section" data-package-id="<!--@Item.ProvisioningCode-->">
		            		<p class="title" data-section-title="">
		            			<a href="#"><i class="fi-minus"></i><span class="title"><!--@ParagraphHeader--></span><span class="right">kr./md.</span></a>
		            		</p>
		            		<div class="content" data-section-content="">
<ul class="tvKanaler">
<!--@LoopStart(Item.Liste)-->
<li><img src="<!--@Item.Liste.Ikon-->" Title="<!--@Item.Liste.Navn-->"/><div class="
<!--@If(Item.Liste.HD==True)-->hd<!--@EndIf--><!--@If(Item.Liste.Analog==True)-->an<!--@EndIf-->"></div></li>
<!--@LoopEnd(Item.Liste)-->
</ul>
<div class="reqtext"><!--@Item.Fritekst.StripHtml()--></div>

	</div>
</section>

