<!--@Layout.Title(TVKanalliste visning)-->
<!--@Layout.Description(Indsæt provisioning kode i afsnitsbillede alt-text feltet)-->
<section class="section kanaler" data-package-id="<!--@ParagraphImageLinkAlt-->">
		            		<p class="title" data-section-title="">
		            			<a href="#"><i class="fi-minus"></i><span class="title"><!--@ParagraphHeader--></span><span class="right"></span></a>
		            		</p>
		            		<div class="content" data-section-content="">
								<ul class="tvKanaler"></ul>
								<!--@ParagraphText-->
	</div>
</section>
