<div id="cookieWarningDiv">
    <script type="text/javascript">
        function setOptInCookie(optInLevel) {
            var xmlhttp;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            }
            else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var div = document.getElementById("cookieWarningDiv");
                    div.parentNode.removeChild(div);
                    return false;
                }
            }
            xmlhttp.open("GET", "/admin/public/CookieOptInLevelConfig.aspx?cmd=SetCookieOptInLevel&OptInLevel=" + optInLevel, true);
            xmlhttp.send();
            return false;
        }
    </script>
    <div class="row">
    	<div class="small-12 columns">
	    <p>Bredbånd Nord benytter cookies på hjemmesiden, så vi kan yde vores kunder og andre besøgende den bedste service.  </p>
	    <p>Cookies på denne hjemmeside bruges primært til trafikmåling og optimering af sidens indhold. Hvis du klikker videre på siden, accepterer du vores brug af cookies.</p>
	    <div style="text-align: right; position: absolute; right: 20px; bottom: 15px;">
		    <a href="#" onclick="return setOptInCookie(2);" style="background-color: #07D63C; display: inline-block; color: black; border: 1px solid #048425; padding: 3px 8px; text-decoration: none;">Accept all cookies</a>
	    </div>
	 </div>
    </div>
</div>




