<h1><!--@News:Heading--></h1>
<time datetime="<!--@News:Date.ShortDate-->"><!--@News:Date.LongDate--></time>
<!--@If(News:ImageClean<>"")-->
<img src="<!--@News:ImageClean-->" alt="<!--@News:Heading-->" class="marginbottom"/>
<!--@EndIf-->
<!--@News:ImageText-->

<!--@News:Text-->

<!--@News:BackText-->
