@using System.Linq
@using Dynamicweb.ImageHandling
@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;
@using Convert = System.Convert

<h3>Tilvalg til din bestilling</h3>
<div class="bstNav">
<ul class="button-group tlv">
<li><a class="arrow_box" href="#">1. Tilvalg Telefoni</a></li>
<li><a class=" arrow_box_selected" href="">2. Tilvalg TV</a></li>
<li><a class=" arrow_box" href="">3. Installation</a></li>
<li><a class=" arrow_box" href="">4. Kundeoplysninger</a></li>
</ul>
</div>
<div>

@{
	var i = 1;
	var GetTvOptionalProducts = Helpers.GetTvOptionalProducts();
<form id="form" class="js-form-post custom additionalTV" method="post" action="/CustomHandlers/Cart.ashx?target=step3">
<div class="panel">
    <input type="radio" checked name="tv-box" id="no-tv">
    <label for="no-tv"><span>Ingen TV Boks</span></label>
    <input type="radio" name="tv-box" class="tv-box-button" id="tv-box">
    <label for="tv-box"><span>Bestil TV Boks</span></label>

    <div class="tv-box-container">

        <hr>
        <div class="row">
            <div class="large-12 columns">
             <h4>F&oslash;rste TV boks</h4>
            <div class="additional-products">
                <select class="js-update-cart" name="first-tv-box" >
                    <option value="">Ingen</option>
                    @foreach (var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "Gruppe-Settopbokse-First").OrderBy(item => Convert.ToDouble(item.Price))) {
                        <option value="@item.ProvisioningCode">@item.ProductName @item.Price</option>
                    }
                </select>
            </div>
        </div>
        </div>
        <h4>Ekstra TV Bokse</h4>
        <div class="row">
            <div class="additional-products small-6 columns">
                <label>Alm. TV boks</label>
                <select class="js-update-cart" name="extra-tv-box-regular">
                    <option value="">Ingen</option>
                    @foreach (var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "Gruppe-Settopbokse-Ekstra").OrderBy(item => Convert.ToDouble(item.Price))) {
                        <option value="@item.ProvisioningCode">@item.ProductName @item.Price</option>
                    }
                </select>
            </div>
            <div class="additional-products  small-6 columns">
                <label>TV boks m. harddisk</label>
                <select class="js-update-cart" name="extra-tv-box-harddisk">
                    <option value="">Ingen</option>
                    @foreach (var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "Gruppe-Settopbokse-Harddisk").OrderBy(item => Convert.ToDouble(item.Price))) {
                        <option value="@item.ProvisioningCode">@item.ProductName @item.Price</option>
                    }
                </select>
            </div>
            </div>
            <hr>
            <h4>Tilvalg til TV boks</h4>
            <input type="checkbox" class="tv-packages-button" id="tv-packages" name="tv-packages">
            <span class="custom checkbox js-checked"></span><label for="tv-packages">Ekstra TV Pakker</label>
            <div class="tv-packages-container">
                @foreach (var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "EkstraTvPakker")) {
                    <label for="tvpakker-@i"><input type="checkbox" id="tvpakker-@i" name="additional-tv-packages" class="js-additional-product js-update-cart" value="@item.ProvisioningCode"><span class="custom checkbox js-checked"></span>
                    @item.ProductName</label>
                    i++;
                }
            </div>
            <input type="checkbox" name="all-tv-channel" class="tv-channel-button" id="tv-channel">
            <label for="tv-channel">Frit Valg TV kanaler</label>
            <div class="tv-channel-container">
                @foreach( var item in GetTvOptionalProducts.TvProducts.Where(item => item.ProductGroup == "FritValg").OrderBy(item => item.ProductName) ) {
                    <div class="additional-products">
                        <label for="additional-product-@i"><input type="checkbox" class="js-update-cart" name="free-choice-tv" id="additional-product-@i" value="@item.ProvisioningCode"><span class="custom checkbox js-checked"></span>
                        @item.ProductName <span>@item.Price</span></label>

                    </div>
                    i++;
                }
            </div>

    </div>
    </div>
    		 <div class="right">
             <a class="knap-tilbage-bestilling button radius" 
      href="http://bbn.test.nozebrahosting.dk/Bestil/Telfonvalg">Tilbage</a>
            <input type="submit" class="knap-videre-bestilling button js-loader radius" value="videre">
    </div>
    </form>
}
</div>
