<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(Bestilling)-->
<!--@Layout.Description(Bestilling 1)-->

<section  class="row" role="bestilling">
<div class="large-9 small-12 columns">
<div class="row">
<h3>Vælg kampagnetilbud</h3>
<form id="tilbudform" class="custom">
<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" >
	<li>
		<div class="kT">
			<img class="left"  src="img/bestilling/BOX-Waoo-1.png" alt="">
				<div class="left wText">
					<h3>Waoo! 1</h3>
					<ul class="disc">
						<li>50/50 Mbit Fiberbred</li>
					</ul>
					</div>
					<div class="left wText2">
					<h4>179 kr./md.</h4>
					<a href="#">Se TV kanaler  |  Læs mere</a>
				</div>
				<label class="Radio" for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;" checked="" class="hidden-field"><span class="custom radio"></span></label>
		</div>
	</li>
	<li>
		<div class="kT">
			<img class="left" src="img/bestilling/Waoo!-2.png" alt="">
			<div class="left wText">
				<h3>Waoo! 2</h3>
				<ul class="disc">
					<li>50/50 Mbit Fiberbred</li>
					<li>Telefoni fri Fastnet</li>
				</ul>
				</div>
				<div class="left wText2">
				<h4> 179 kr./md.</h4>
				<a href="#">Se TV kanaler  |  Læs mere</a>
			</div>
			<label class="Radio" for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;" checked="" class="hidden-field"><span class="custom radio"></span></label>
		</div>
	</li>
	<li>
		<div class="kT">
			<img class="left" src="img/bestilling/BOX-Waoo-3.png" alt="">
			<div class="left wText">
				<h3>Waoo! 3</h3>
				<ul class="disc">
					<li>50/50 Mbit Fiberbred</li>
					<li>Telefoni fri Fastnet</li>
					<li>Lille TV Pakke</li>
				</ul>
				</div>
				<div class="left wText2">
				<h4>249 kr./md.</h4>
				<a href="#">Se TV kanaler  |  Læs mere</a>
			</div>
			<label class="Radio" for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;" checked="" class="hidden-field"><span class="custom radio"></span></label>
		</div>
	</li>
	<li>
		<div class="kT">
			<img class="left" src="img/bestilling/BOX-Waoo-4.png" alt="">
			<div class="left wText">
				<h3>Waoo! 3</h3>
				<ul class="disc">
					<li>50/50 Mbit Fiberbred</li>
					<li>Telefoni fri Fastnet</li>
					<li>Stor TV Pakke</li>
				</ul>
				</div>
				<div class="left wText2">
				<h4>179 kr./md.</h4>
				<a href="#">Se TV kanaler  |  Læs mere</a>
			</div>
			<label class="Radio" for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;" checked="" class="hidden-field"><span class="custom radio"></span></label>
		</div>
	</li>
	<li>
	<div class="kT">
		<img class="left" src="img/bestilling/BOX-Waoo-5.png" alt="">
		<div class="left wText">
			<h3>Waoo! 3</h3>
			<ul>
				<li>50/50 Mbit Fiberbred</li>
				<li>Telefoni fri Fastnet</li>
				<li>Stor TV Pakke</li>
			</ul>
		 </div>
		 <div class="left wText2">
			<h4>179 kr./md.</h4>
			<a href="#">Se TV kanaler  |  Læs mere</a>
		</div>
	<label class="Radio" for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;" checked="" class="hidden-field"><span class="custom radio checked"></span></label>
	</div>
	</li>
	<hr>
</ul>
</form>
	
<h3 id="hBottom">Sammensæt din bestilling</h3>

<div class="sammensat-1">
 	<div class="ss1">
 	<img src="img/Computer.png" alt="">
	<span >Fiberbredbånd</span>
	</div>
	<form id="sammensat1" class="custom">
	<ul class="inline-list">
		<li class="sbutton">
		<label   for="radio2">
		<h5>15/15 Mbit</h5>
		<a href="#">Læs mere</a>
		<input name="radio2" type="radio" id="radio2" style="display:none;" checked="" class="hidden-field">
		<span class="custom radio"></span>	
		</label>
		</li>
		<li class="sbutton" >
		<label  for="radio2">
		<h5>60/60 Mbit</h5>
		<a href="#">Læs mere</a>
		<input name="radio2" type="radio" id="radio2" style="display:none;" checked="" class="hidden-field"><span class="custom radio checked"></span>
		</label>
		</li>
		<li class="sbutton">
		<label   for="radio1">
			<h5>60/60 Mbit</h5>
			<a href="#">Læs mere</a>
			<input name="radio2" type="radio" id="radio2" style="display:none;" checked="" class="hidden-field">
			<span class="custom radio"></span>	
		</label>
		</li>
		<li class="sbutton">
			<label   for="radio2">
				<h5>90/90 Mbit</h5>
				<a href="#">Læs mere</a>
			<input name="radio2" type="radio" id="radio2" style="display:none;" checked="" class="hidden-field">
			<span class="custom radio"></span>	
			</label>
			</li>
		<li class="sbutton">
		<label   for="radio2">
				<h5>100/100 Mbit</h5>
				<a href="#">Læs mere</a>
			<input name="radio2" type="radio" id="radio2" style="display:none;" checked="" class="hidden-field">
			<span class="custom radio"></span>
			</label>	
			</li>
		<li class="sbutton">
			<label   for="radio2">
				<h5>Nej tak</h5>
				<p>jeg ønsker ikke Internet</p>
			<input name="radio2" type="radio" id="radio2" style="display:none;" checked="" class="hidden-field">
			<span class="custom radio"></span>	
			</label>
		</li>
	</ul>
</form>
</div>
<div class="sammensat-2">
 	<div class="ss1">
 	<img src="img/Telefon.png" alt="">
	<span>Telefoni</span>
	</div>
	<form id="sammensat2" class="custom">
	<ul class="inline-list">
		<li class="sbutton">
			<label   for="radio3">
				<h5>Telefoni</h5>
				<span>Forbrugsafregnet</span>
				<a href="#">Læs mere</a>
				<input name="radio3" type="radio" id="radio3" style="display:none;" checked="" class="hidden-field">
			<span class="custom radio checked"></span>
			</label>
			</li>
		<li  class="sbutton">
		<label   for="radio3">
				<h5>Telefoni</h5>
				<span>Fri til fastnet</span>
				<a href="#">Læs mere</a>
				<input name="radio3" type="radio" id="radio3" style="display:none;" checked="" class="hidden-field">
				<span class="custom radio"></span>
			</label>
		</li>
		<li class="sbutton slast">
		<label   for="radio3">
				<h5>Nej tak</h5>
				<p>jeg ønsker ikke Telefoni</p>
		<input name="radio3" type="radio" id="radio3" style="display:none;" checked="" class="hidden-field">
		<span class="custom radio"></span>
		</label>
		</li>
	</ul>
	</form>
	</div>

<div class="sammensat-3">
 	<div class="ss1">
 	<img src="img/Tv.png" alt=""><br/>
	<span>TV</span>
	</div>
	<form id="sammensat3" class="custom">
	<ul class="button-group">
		<li class="sbutton">
		<label for="radio4">
				<h5>Waoo!</h5>
				<span>Lille TV Pakke</span>
				<a href="#">Se TV Kanaler</a>
				<input name="radio4" type="radio" id="radio4" style="display:none;" checked="" class="hidden-field">
				<span class="custom radio"></span>
				</label>
			</li>
		<li class="sbutton" >
		<label   for="radio4">
				<h5>Waoo!</h5>
				<span>Stor TV Pakke</span>
				<a href="#">Se TV Kanaler</a>
				<input name="radio4" type="radio" id="radio4" style="display:none;" checked="" class="hidden-field">
				<span class="custom radio"></span>
				</label>
				</li>
		<li class="sbutton">
				<label   for="radio4">
					<h5>Viasat</h5>
					<span>Danmarks-Pakke</span>
					<a href="#">Se TV Kanaler</a>
					<input name="radio4" type="radio" id="radio4" style="display:none;" checked="" class="hidden-field">
					<span class="custom radio"></span>
				</label>
				</li>
			<li class="sbutton">
				<label  for="radio4">
				<h5>Viasat</h5>
				<span>Stor Danmarks-Pakke</span>
				<small>Se TV Kanaler</small>
				</label>
				<input name="radio4" type="radio" id="radio4" style="display:none;" checked="" class="hidden-field">
				<span class="custom radio"></span>
			</li>
			<li class="sbutton">
			<label   for="radio4">
				<h5>Nej tak</h5>
				<p>jeg ønsker ikke Tv</p>
				<input name="radio4" type="radio" id="radio4" style="display:none;" checked="" class="hidden-field">
			<span class="custom radio"></span>
			</label>
			</li>
	</ul>
	</form>

</div>
<a class="knap-f-bestilling right" href="#">Fortsæt bestilling »</a>

</div>
</div>

<aside class="large-3 columns i-kurve">
<h4>Din bestelling</h4>
<h6>ABONNEMENT<span class="right">Betales løbende</span></h6>
  <span> Waoo! 3 <span class="right">638 kr./md.</span></span>
  <ul>
  <li>Fiberbredbånd 50/50 Mbit/s</li>
  <li>Stor TV Pakke</li>
  <li>Telefoni</li>
</ul>
<hr>
<h6>TILVALG <span class="right">Betales løbende</span></h6>
<p>Alle 4 telefonitjenester<span class="right">29 kr./md.</span></p>
<hr>
<h6>OPRETTELSE  <span class="right"> Betales ved oprettelse</span></h6>
<p>Overflytning af nummer <span class="right">299 kr.</span></p>
<hr>
<div class="row">
<div class="large-12 columns">
<div class="row">
<div class="large-3 columns"><strong>I ALT</strong></div> <div class="large-6 columns"><strong class="pris-1">Betales månedligt </strong></div><div class="large-3 columns right"><strong class="right">667 kr.</strong></div>
		<div class="push-3 large-8  columns ialt"><span>Betales halvårligt</span></div>  <div class="large-4 columns ialt"><span class="right"><span> 0 kr.</span> </div>
		<div class="push-3 large-8  columns ialt"><span>Oprettelse</span> </div>  <div class="large-4 columns"><span class="right ialt"><span> 299 kr.</span> </div>
		</div>
		<hr>
<small class="large-12 columns" style="text-align:center;">Mindstepris i 6 måneder 4.301 kr.</small>
</div>

</div>
<div class="dms">
	<p><h6>Det med småt</h6>
	<ul>
		<li>Waoo! og Bredbånd Nords produkter leveres som
     standard som "Gør det selv installation". </li>
		<li> Prisen på TV2 Play i kampagneperioden (1. til 2. måned)
     er 0 kr./md. Herefter er prisen 39 kr./md.</li>
		<li> Bindingsperioden er 6 måneder.</li>
		<li> Mindsteprisen beregnes ud fra: Waoo! 3 (6x638). TV2 Play
    (4x39). Fast tildelt IP (6x39 + 99). Overflytning af nummer
    (299). Telefoni - alle tjenester (6x29). Med TV Boks
    (Personligt TV) (399). TV 2 Pakke (6x89). 24 Nordjyske
    (1x20).  Boomerang (1x20). MTV Danmark HD  (1x20).
    TCM (1x20).</li>
	</ul>
	   </p>
</div>
</div>
</aside>
</section>