@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;

@{
	Products mainProducts = Helpers.GetMainProducts();

<div class="row">
<h3>V&aelig;lg kampagnetilbud</h3>
	<form id="tilbudform" class="js-ajax-form custom" method="get" action="<!--@Global:Pageview.Url-->">
	   <div class="produkt">
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
			@foreach(var item in mainProducts.Packages) {
				var node = item.Products.Split(new string[] {"|"}, StringSplitOptions.RemoveEmptyEntries);
				var combinationID = "";
				foreach( var product in node ) {
					combinationID = combinationID + "-" + product.Split(';')[0];
				}
				<li>
					<div class="kT">
					<img class="left"  src="files/Templates/Designs/2014/img/bestilling/BOX-Waoo-1.png" alt="">
						<div class="wText">
					<h3>@item.Name</h3>
					<ul class="disc">
						@foreach( var product in node ) {
						<li>@product.Split(';')[1]</li>
					}
					</ul>
					</div>
					<div class="left wText2">
					<h4>179 kr./md.</h4>
					<a href="#">Se TV kanaler  |  L&aelig;s mere</a>
				</div>
				<label class="Radio" for="radio1"><input type="radio" class="js-group js-update-cart " data-combination="@combinationID.Substring(1)" name="campagne-product" >
					<span class="custom radio"></span></label>
			</div>
			</li>
			}
		</ul>
		</div>
<div id="sammen">
<h3 id="hBottom">Sammens&aelig;t din bestilling</h3>
<div class="sammensat-1">
 	<div class="ss1">
 	<img src="files/Templates/Designs/2014/img/Computer.png" alt="">
	<span class"">Fiberbredb&aring;nd</span>
	</div>
<ul class="inline-list">
		@foreach(var item in mainProducts.InternetProducts) {
		<li class="internet-product sbutton">
			<label   for="radio2">
				<h5>@item.ProductName</h5>
				<a href="">L&aelig;s mere</a>
				<input type="radio" id="radio2" class="js-product js-update-cart" name="internet-product" value="@item.ProvisioningCode">
				<span id="minradio1" class="custom radio"></span>	
			</label>
		</li>
		}
</ul>
</div>
<div class="sammensat-2" >
 	<div class="ss1">
 	<img src="files/Templates/Designs/2014/img/Telefon.png" alt="">
	<span class"">Telefoni</span>
	</div>
<ul class="inline-list">
		@foreach(var item in mainProducts.PhoneProducts) {
		  <li class="phone-product sbutton">
		  	<label   for="radio3">
				<h5>@item.ProductName</h5>
				<a href="">L&aelig;s mere</a>
				<input type="radio" class="js-product js-update-cart" name="phone-product" value="@item.ProvisioningCode">
				<span id="minradio2" class="custom radio"></span>	
			</label>
		  </li>
		}
	</ul>
</div>
<div class="sammensat-3">
 	<div class="ss1">
 	<img src="files/Templates/Designs/2014/img/TV-stor.png" alt=""><br/>
	<span class"">TV</span>
	</div>
	<ul class="inline-list">
		@foreach(var item in mainProducts.TvProducts) {
		  <li class="tv-product sbutton">
		  		<label   for="radio3">
					<h5>@item.ProductName</h5>
					<a href="">L&aelig;s mere</a>
					<input type="radio" class="js-product js-update-cart" name="tv-product" value="@item.ProvisioningCode">
				<span id="minradio3" class="custom radio"></span>	
			</label>
		  </li>
		}
	</ul>
</div>
</div>
	</form>
<a class="knap-f-bestilling right" href="/da-DK/Phone-options.aspx">Forts&aelig;tbestilling</a>
</div>


}



