<!--@If Not Defined(News:NoNewsMessage)-->
<h2 class="nyt">Sidste Nyt</h2>
<div class="row ">
	<!--@LoopStart(NewsList)-->
		<div class="large-6 medium-12 small-12 columns" >
			<article class="myBox2">
				<!--@If(News:ImageClean<>"")-->
				<div class="figur"><img class="left" src="<!--@News:ImageClean-->" alt=""/></div>
				<!--@EndIf-->
				<div class="date-and-author"><time datetime="<!--@News:Date.ShortDate-->"><!--@News:Date.LongDate--></time></div>
				<div class="box-text">
					<h4><a href="<!--@News:Href-->"><!--@News:Heading--></a></h4>
					<p><!--@News:FirstXChar--><!--@News:ReadMoreText--></p>

				</div>
			</article>
		</div>

	<!--@LoopEnd(NewsList)-->
</div>
<hr class="divid">
<a href="Default.aspx?ID=64" class="read-more" title="Flere blogindlæg">Flere nyheder</a>

    <!--@EndIf(News:NoNewsMessage)-->
