<!--@If Not Defined(News:NoNewsMessage)-->
<div class="row ">
	<!--@LoopStart(NewsList)-->
		<div class="large-12 medium-12 small-12 columns" >

			<article class="myBox2">
				<!--@If(News:ImageClean<>"")-->
				<div class="figur"><img class="left" src="<!--@News:ImageClean-->" alt=""/></div>
				<!--@EndIf-->

				<div class="date-and-author"></div>
				<div class="box-text">
					<h4><a href="<!--@News:Href-->"><!--@News:Heading--></a></h4>
					<p><!--@News:FirstXChar--><!--@News:ReadMoreText--></p>
					<time datetime="<!--@News:Date.ShortDate-->"><!--@News:Date.LongDate--></time>
				</div>
			</article>
		</div>
	<!--@LoopEnd(NewsList)-->
</div>
    <!--@EndIf(News:NoNewsMessage)-->
