<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(Forside)-->
<!--@Layout.Description(Forside)-->

<section id="slider" class="slider"><!--slideren på forside-->

	 		<div class="cycle-prev"></div><!--slider nav venstre-->
    		<div class="cycle-next"></div><!--slider nav højre-->
    		<div class="swiper-container">
      			<div id="toprotatordw" class="dwcontent swiper-wrapper" title="Toprotator" settings="limit:toprotator.html;template:toprotator.html">


            <!-- tekst <div class="swiper-slide"> <div class="content-slide"></div></div>-->
      			</div>
   			</div>
	<!--<div class="large-4 small-6 colmuns">
	<div class="Psplatter">
			    <img src="img/circle.png" alt="">
			    <a href="" class="button-slide"><span>Bestil >></span></a>
		    </div>
	</div>-->
	<!--@If(Global:Device.IsMobile<>True)-->
	<div class="Tkunder-wrap hide-for-small"><!--til bredbånd nord kunder box?links stor skærm-->
		<div class="Tkunder">
			<h5>Til Bredbånd Nords kunder</h5>
			<ul class="dwcontent" id="kundelinkswrapper" Title="Kundeservicelinks" settings="limit:TKundelink.html;template:TKundelink.html">

			</ul>
		</div>
	</div>
	<!--@EndIf-->

</section>
<div id="search-box"><!-- start adresse søgbox forside-->

	<!--@If(Global:Device.IsMobile==True)-->
		<div class="row">

				<div class="small-12 columns">
<a href="#" data-reveal-id="addresslookup2" class="small-12 columns button expand knap-tjek radius">tjek min adresse</a>
</div></div>
	<!--@Include(Include/addresslookup.html)-->
	<!--@Include(Include/addresslookupreveals.html)-->
	<!--@Else-->
	<form id="form1" runat="server" class="js-livesearch js-livesearch-loader" action="CustomHandlers/LookUpAddress.ashx">
		<div class="row">
			<div class="sbox row">
				<div class="large-12 small-12 columns left">
					<div class="row collapse">
						<div class="large-3 medium-5 small-12 columns">
							<h5 class="left">Se om du kan få fiberbredbånd:</h5>
						</div>
	     				 <!--søgform starter her-->
							<div class="large-9 medium-7 small-10 columns left hide-for-small">
		     					<div class="row collapse">
									<div class="small-10 medium-8 columns radius">
			        					<input type="hidden" class="js-itemclick-action" value="CustomHandlers/LookUpAddress.ashx"><!--call web service-->
							    		<input type="hidden" class="js-noresults" value="No results found">
							    		<input type="hidden" class="js-error" value="An error has occurred">
							    		<input class="js-input js-loader" style="margin-bottom: 0;"  type="text" placeholder="Skriv din adresse her..."><!-- Input box for søge funktion-->
										<ul class="js-results"></ul><!--liste af fundende adresser-->
		        					</div>
		        					<div class="small-2 medium-4 columns">
		          						<input  class="button postfix knap-tjek radius js-submit-button js-loader" type="submit" value="Tjek min adresse >>"><!--button for søgfumktion-->
		        					</div>
		        		   		</div>
		        		  	</div>



				 </div>
				</div>
			</div>
		</div>

		<!--@Include(Include/addresslookupreveals.html)-->
		</form><!-- afslut form-->
	<!--@EndIf-->

	</div>
	<!--@If(Global:Device.IsMobile==True)-->
	<div class="hide-for-medium-up Tkunder-wrap row"><!--til bredbånd nord kunder box?links stor mobil-->
		<div class="Tkunder row">
			<h5>Til Bredbånd Nords Kunder</h5>
			<ul class="small-12 columns dwcontent">
				<!--@DwContent(kundelinkswrapper)-->

			 </ul>
		</div>
	</div>
<!--@EndIf-->


<div role="content-1" class="row">
	<section class="row sec-1 border"> <!--forsiden first 4 boxs-->
		<div class="small-12 medium-10 medium-centered large-12 columns">
		<div class="row dwcontent" Title="Boxe" id="mainboxe" settings="default:true;limit:box.html;template:box.html">
		</div>
		</div>
	</section>

<section class="row sec-2 dwcontent" id="newscontent" Title="Nyheder"><!--forsiden bottom boxs-->
	<h2 class="nyt">Sidste Nyt</h2>
 		<div class="row ">
			<div class="small-12  columns">
				<div class="large-6 medium-12 small-12 columns" >
					<article class="myBox2">
						<figur><img class="left" src="img/s2_img_1.jpg" alt=""/></figur>
						<div class="date-and-author"><time datetime="2013-09-17">17. september 2013</time></div>
						<div class="box-text">
							<h4>Kom til Fiberdage i Drastrup og Skalborg</h4>
							<p>Så er vi klar til at informere borgerne i Drastrup og Skalborg om fiber.  I begge byer starter vi ud med informationsmøder, som efterfølges af fiberdage.</p>
						</div>
					</article>
				</div>

				<div class="large-6 medium-12 small-12 columns">
					<article class="myBox2">
						<figur><img class="left" src="img/s2_img_2.jpg" alt=""/></figur>
						<div class="date-and-author"><time datetime="2013-08-15">15. august 2013</time></div>
						<div class="box-text">
							<h4>Wi-Fi i Fårup Sommerland er populært</h4>
							<p>Det er nu en måned siden, at Fårup Sommerland lancerede gratis Wi-Fi powered by Bredbånd Nord til alle gæster i sommerlandet, og allerede nu er det tydeligt...</p>
						</div>
					</article>
				</div>
		</div>
	</div>
	<div class="row">
	<div class="small-12  columns">
		<div class="six large-6 medium-12 small-12 columns" >
			<article class="myBox2">
				<figur><img class="left" src="img/s2_img_3.jpg" alt=""/></figur>
				<div class="date-and-author"><time datetime="2013-07-15">15. juli 2013</time></div>
				<div class="box-text">
					<h4>Udvidede åbningstider i Kundeservice</h4>
					<p>Fra 1. juni 2013 udvider vi åbningstiden i Kundeservice. De nye åbningstider er fra 09:00 - 20:00 alle hverdage samt 10:00 - 17:00 på lørdage</p>
				</div>
			</article>
		</div>
		<div class="large-6 medium-12 small-12 columns" id="">
			<article class="myBox2">
				<figur><img class="left" src="img/s2_img_4.jpg" alt=""/></figur>
				<div class="date-and-author"><time datetime="2013-07-9">9. juli 2013</time></div>
				<div class="box-text">
					<h4><a href="">Derfor skal du vælge fiberbredbånd!</a></h4>
					<p>Se filmen og bliv klogere på, hvad fiber kan gøre for dig! Med fiber til hjemmet får du lynhurtigt internet, du kan se TV programmer i HD kvalitet og fiberen sikrer desuden...</p>
				</div>
			</article>
		</div>
	</div>
</div>
<hr class="divid"></hr>


</section>

</div>

