@*
@using NoZebra.S_DW_BBN.CustomCode.Model;
*@
@using NoZebra.S_DW_BBN.CustomCode;
@using NoZebra.S_DW_BBN.BBNSemiOpen;
@using System.Web;

<h3>Kundeoplysninger</h3>
<div class="bstNav">
<ul class="button-group tlv">
<li><a class="arrow_box" href="#">1. Tilvalg Telefoni</a></li>
<li><a class=" arrow_box" href="">2. Tilvalg TV</a></li>
<li><a class=" arrow_box" href="">3. Installation</a></li>
<li><a class=" arrow_box_selected" href="">4. Kundeoplysninger</a></li>
</ul>
</div>

@{
	@* "vf" query parameter show/hides "Vælg idrætsforening" select element *@
	string vf = System.Web.HttpContext.Current.Request.QueryString[ "vf" ];

	@*Products mainProducts = Helpers.GetMainProducts();*@
	Customer_QueryResponse customer = Helpers.GetCustomerQueryResponseFromSession();
}
<div>
	<form id="form" method="post" class="js-form-post custom informationform" data-redirect="/da-DK/Success.aspx" action="/CustomHandlers/Cart.ashx?target=step5">
	<div class="panel kudOplys">

	<div class="row">
		<div class="large-6 columns">
			<h4>Navn & Adresse</h4>
			<label>Fornavn</label>
			<input name="firstname" type="text" required>

			<label>Efternavn</label>
			<input name="lastname" type="text" required>

			<label>Vejnavn og husnr.</label>
			<input disabled  name="address" type="text" value="@(customer != null ? string.Format("{0} {1} {2} {3} {4} {5}", customer.Body.Customer_QueryResult.CustomerInfoData.Street ?? "", customer.Body.Customer_QueryResult.CustomerInfoData.HouseNumber, customer.Body.Customer_QueryResult.CustomerInfoData.Letter ?? "",	customer.Body.Customer_QueryResult.CustomerInfoData.Floor ?? "", customer.Body.Customer_QueryResult.CustomerInfoData.ApartmentNumber ?? "", customer.Body.Customer_QueryResult.CustomerInfoData.Side ?? "") : "")" readonly><br><br>
			<div class="row">
        <div class="large-12 columns">
        <div class="row ">
       <div class="large-3 columns">
       	<label>Post nr.</label>
		<input name="zip" type="text" value="@(customer != null ? customer.Body.Customer_QueryResult.CustomerInfoData.Zip.ToString() : "")" readonly disabled ><br><br>
 </div>
       <div class="large-9 columns">
			<label>By</label>
			<input name="city" type="text" value="@(customer != null ? customer.Body.Customer_QueryResult.CustomerInfoData.City ?? "" : "")" readonly disabled ><br><br>
</div>
      </div>
      </div>
      </div>
			<label>Kommentar</label>
			<textarea name="comment" height="100" width="200"></textarea>
			@if(Helpers.IsCurrentUserSales()) {
				<label>V&aelig;lg idr&aelig;tsforening</label>
		        <select name="sportsclub" style="width: 200px;">
		            @foreach (var item in Helpers.GetSportsclubs())
		            {
		                <option value="@item.Id">@item.Name</option>
                    }

		        </select>
			}
			<label class="check" for="accept">
			<input name="accept" type="checkbox" value="accept" required>
			<span class="custom checkbox js-checked"></span> Jeg accepterer Bredb&aring;nd Nords <a href="">vilk&aring;r</a></label>
			<label class="check" for="newsletter">
			<input name="newsletter" type="checkbox" value="newsletter"><span class="custom checkbox"></span> Ja tak, jeg &oslash;nsker at modtage nyheder og
        tilbud fra Bredb&aring;nd Nord. Jeg accepterer
        samtidig Bredb&aring;nd Nords <a href="">betingelser
        og persondatapolitik.</a></label>
		</div>

		<div class="large-6 columns">
			<h4>Kontaktoplysninger</h4>
			<div class="row">
        <div class="large-12 columns">
        <div class="row">
       <div class="large-6 columns">
			<label>Telefon</label>
			<input name="phone" type="text">
</div>
       <div class="large-6 columns">
			<label>Mobil</label>
			<input name="mobile" type="text">
 </div>
      </div>
      </div>
      </div>
			<label>E-mail</label>
			<input name="email" type="email" required>
			<p> Du modtager kvitteringen via denne e-mail.
      Denne e-mailen bruges og&aring; som brugernavn
      til Mit Bredb&aring;nd Nord.
    </p>

		</div>
</div>
		<hr>
		<div class="col-break">
			<h4>Anden faktureringsadresse?</h4>
		</div>

		<input type="radio" class="faktureringsadresse js-tricker-required" id="on" value="on" name="fa">
		<label for="on">Ja</label>

		<input checked type="radio" class="js-tricker-required" id="off" value="off" name="fa">
		<label for="off">Nej</label>


		<div class="row col-validate">
		<div class="large-6 columns">
			<label>Navn/Firma</label>
			<input name="billingname" type="text" class="js-target-required">

			<label>Postnr.</label>
			<input name="billingzip" type="text" class="js-target-required">

			<label>By</label>
			<input name="billingcity" type="text" class="js-target-required">

			<label>Vej</label>
			<input name="billingroad" type="text" class="js-target-required">

			<label>Husnr.</label>
			<input name="billinghousenumber" type="text" class="js-target-required">

			<label>Telefon</label>
			<input name="billingphone" type="text">

			<label>CVR nr.</label>
			<input name="billingcvr" type="text">

			<label>ATT/Kontaktperson</label>
			<input name="billingcontact" type="text">

			<label>E-mail</label>
			<input name="billingemail" type="email" class="js-target-required">
		</div>

		<div class="large-6 columns">
		<span>V&aelig;lg hvilke produkter der skal have alternativ faktureringsadresse</span>
		<br><br>

        @foreach (var item in Helpers.GetPossiblePayerAddresses())
        {
            <div class="additional-products">
				<label for="alternatebillingchoices">
		        <input name="alternatebillingchoices" type="checkbox" value=""/>
		        <span class="custom checkbox js-checked"></span>
		        @item
		        </label>
		    </div>
        }
		</div>
	</div>
	</div>

	<div class="right">
	<input type="submit" value="Gennemf&oslash;r bestilling" class="js-loader knap-f-bestilling">
	</div>
</form>
</div>

