@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;

<h3>Tilvalg til din bestilling</h3>
<div class="bstNav">
<ul class="button-group tlv">
<li><a class="arrow_box" href="#">1. Tilvalg Telefoni</a></li>
<li><a class=" arrow_box" href="">2. Tilvalg TV</a></li>
<li><a class=" arrow_box_selected" href="">3. Installation</a></li>
<li><a class=" arrow_box" href="">4. Kundeoplysninger</a></li>
</ul>
</div>
<div>

@{
    var i = 1;
    var GetInstallationProducts = Helpers.GetInstallationProducts();
    <form id="form" method="post" class="js-form-post js-form-post-on-document-ready custom installationform" action="/CustomHandlers/Cart.ashx?target=step4">
    <div class="panel">


        <div class="additional-products">
            <input type="radio" checked class="gravlet-button js-update-cart" id="gravlet" name="grav" value="@GetInstallationProducts.InstallationProducts.First(item => item.ProductName.ToUpper().Contains("GRAV-LET")).ProvisioningCode"/>
            <label for="gravlet">
            <h4 class="grav">Grav-Let&nbsp;<span data-tooltip="" class="has-tip" title="Tooltips are awesome, you should totally use them!"></span></h4>
            <p>Bredb&aring;nd Nord st&aring;r for fremf&oslash;ring og etablering af 30 meter fibernet p&aring; din grund og frem til din bolig. </p>
            </label>
            <div class="gravlet-container">
                @foreach (var item in GetInstallationProducts.InstallationProducts.Where(item => item.ProductGroup == "GravLet" || item.ProductName.ToUpper() == "TRÆK-SELV")) {
                    <label class="additional-products" for="gravlet-@i">
                        <input type="checkbox" class="js-update-cart" id="gravlet-@i" name="gravlet" value="@item.ProvisioningCode"/><span class="custom checkbox js-checked"></span>
                        @item.ProductName @item.Price
                    </label>
                    i++;
                }
            </div>
        </div>
        <div class="additional-products">
            <input type="radio" class="gravselv-button js-update-cart" id="gravselv" name="grav" value="@GetInstallationProducts.InstallationProducts.First(item => item.ProductName.ToUpper().Contains("GRAV-SELV")).ProvisioningCode"/>
            <label for="gravselv">
            <h4 class="grav">Grav-selv&nbsp;<span data-tooltip="" class="has-tip" title="Tooltips are awesome, you should totally use them!"></span></h4>
            <p>Du st&aring;r selv for al gravearbejde og nedl&aelig;gning af tomr&oslash;r. Bredb&aring;nd Nord fremf&oslash;rer herefter fiberkablet frem til din bolig.</p>
            </label>
            <div class="gravselv-container no-bullet">
                @foreach (var item in GetInstallationProducts.InstallationProducts.Where(item => item.ProductGroup == "GravLet" || item.ProductName.ToUpper() == "TRÆK-SELV")) {
                    <label class="additional-products" for="gravselv-@i">
                        <input type="checkbox" class="js-update-cart" id="gravselv-@i" name="gravselv" value="@item.ProvisioningCode"/><span class="custom checkbox js-checked"></span>
                        @item.ProductName @item.Price
                    </label>
                    i++;
                }
            </div>
        </div>
        <hr/>
        <h4>Fiberservice (valgfrit)</h4>
        @foreach (var item in GetInstallationProducts.InstallationProducts.Where(item => item.ProductGroup == "FiberService"))
        {
            <div class="additional-products">
                <input type="checkbox" class="js-update-cart" id="fiberservice-@i" name="fiberservice" value="@item.ProvisioningCode"/>
                <label for="fiberservice-@i">@item.ProductName @item.Price</label>
            </div>
            i++;
        }
        @if (Helpers.IsCurrentUserSales())
        {
            <h3>Tillægsoplysninger</h3>
            <div class="">
                <input name="diggingplan" type="checkbox"/>
                <label for="diggingplan">Graveskitse udført</label>
                <input name="markingstick" type="checkbox"/>
                <label for="markingstick">Markeringspind udleveret</label>
            </div>
        }
        </div>
           <div class="right">
      <a class="knap-tilbage-bestilling button radius" 
      href="http://bbn.test.nozebrahosting.dk/Bestil/Tvbokse">Tilbage</a>
      <input type="submit" class="knap-videre-bestilling button js-loader radius" value="videre">
      </div>
    </form>
}
</div>
