<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(Kundeservice Forside)-->
<!--@Layout.Description(Kundeservice Forside)-->
<section id="slider" class="slider"><!--slideren på forside-->
	
	 		<div class="cycle-prev"></div><!--slider nav venstre-->
    		<div class="cycle-next"></div><!--slider nav højre-->
    		<div class="swiper-container">
      			<div id="toprotatordw" class="dwcontent swiper-wrapper" title="Toprotator" settings="limit:toprotator.html;template:toprotator.html">


            <!-- tekst <div class="swiper-slide"> <div class="content-slide"></div></div>-->
      			</div>
   			</div>
		<!--<div class="large-4 small-6 colmuns">
			<div class="Psplatter">
			    <img src="img/circle.png" alt="">
			    <a href="" class="button-slide"><span>Bestil >></span></a>
		    </div>
		</div>-->
		<div class="Tkunder-wrap">
			<div class="Tkunder">
				<h5>Her finder ud hjælp til...</h5>
				<ul class="dwcontent" id="kundelinkswrapper" Title="Kundeservicelinks" settings="limit:TKundelink.html;template:TKundelink.html">
					<li  class="knap-kontakt"><a href="#" class="kunde">Kundeservice >></a></li>
					<li class="knap-kontakt"><a href="#" class="mit">Mit Bredbånd Nord >></a></li>
				<li class="knap-kontakt"><a href="#" class="hjalp">Få hjælp til din regning >></a></li>
				<li class="knap-kontakt"><a href="#" class="drift">Driftinformation >></a></li>
				<li class="knap-kontakt"><a href="#" class="kont">Kontakt >></a></li>
			</ul>
			</div>
	 </div>
</section>
<div id="search-box">
	<div class="row skundeS">
		<div class="small-10 push-1 large-centered columns">
			<div class="row collapse">
					<h5 class="left">Mit Bredbånd Nord:</h5>
				<div class="large-8 small-10 columns left">
					<form class="row collapse">
				     		<div class="small-4 columns">
                       			<input class="radius" type="text" placeholder="Brugernavn">
                    		</div>
                    		<div class="small-4 columns">
                        		<input class="adGang"  type="text" placeholder="Adgangskode">
                    		</div>
							<div class="small-4 columns">
                        		<a  href="#" class="medium logInd button radius">Log ind »</a>
                    		</div>
                    		<a class="small-3 columns glemt_link" href="#"><small>Glemt adgangskode?</small></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="sec-1 row">
		<div class="row dwcontent" Title="Boxe" id="mainboxe" settings="default:true;limit:box.html;template:box.html">
			<div class="large-3 medium-6 small-10 columns">
				<div class="myBox">
					<!--<div class="panel callout">
					<h3>Kontakt kundeservice</h3><br/>
					<h2>98 88 99 90</h2></div>-->
					<img src="img/kundeservice/thump_k_1.jpg" alt=""/>
					<div class="box1">
						<h4>Åbningstider & kontakt</h4>
						<ul class="no-bullet">
							<li><strong>Kundeservice & teknisk support</strong></li>
							<li>Mandag til fredag kl. 9.00 til 20.00</li>
							<li>Lørdag kl.10.00 til 17.00</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="large-3 medium-6 small-10 columns">
				<img src="img/kundeservice/thump_k_2.jpg" alt=""/>
				<div class="myBox">
				<div class="box1">
					<h4> På YouTube kan du se alle videovejledninger</h4>
					<p>Er du på nettet kan du døgnet rundt se videovejledninger og få hjælp til:
					Tilslutning af udstyr, opsætning af mail, trådsløst netværk, port forward etc.</p>
				</div>
				</div>
			</div>
			<div class="large-3 medium-6 small-10 columns ">
			<img src="img/kundeservice/thump_k_3.jpg" alt=""/>
			<div class="myBox">
				<div class="box1">
					<h4>TV & radio kanaler</h4>
					<p>Se frekvensoversigten over dine TV og radio Kanaler.
					<ul style="margin-left:10px; color:orange; font-weight:bold;">
						<li><a href="">Waoo! TV (Nord for Limfjorden)</a></li>
						<li><a href="">Waoo! TV (Syd for Limfjorden)</a></li>
						<li><a href="">Waoo! Forening</a></li>
					</ul>
					</p>
				</div>
			</div>
			</div>

			<div class="large-3 medium-6 small-10 columns ">
				<img src="img/kundeservice/thump_k_4.jpg" alt=""/>
				<div class="myBox">
				<div class="box1">
					<h4>Hastighedstest - se hvor hurtigt dit internet kører!</h4>
					<p>Test hvor hurtigt dit fiberbredbånd kører. Husk at du skal tilslutte din computer
					direkte til fiberboksen for at få en reel måling</p>
				</div>
			</div>
		</div>
	</div>
</section>