<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(Forside)-->
<!--@Layout.Description(Forside)-->
<section id="slider" class="slider"><!--slideren på forside-->
	<div class="cycle-slideshow hide-for-small"  data-cycle-slides="> a"   data-cycle-fx="fade" data-cycle-timeout="0" data-cycle-swipe="true">
	 	<div class="cycle-prev"></div><!--slider nav venstre-->
    	<div class="cycle-next"></div><!--slider nav højre-->
   <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"> 
       		 <div id="toprotatordw" class="dwcontent" title="Toprotator" settings="limit:toprotator.html;template:toprotator.html"> </div>
        </div>
            <!-- tekst <div class="swiper-slide">
          <div class="content-slide">
     
          </div>
        </div>-->
      </div>
    </div>
   	</div>
	<!--<div class="large-4 small-6 colmuns">
	<div class="Psplatter">
			    <img src="img/circle.png" alt="">
			    <a href="" class="button-slide"><span>Bestil >></span></a>
		    </div>
	</div>-->
	<div class="Tkunder-wrap hide-for-small"><!--til bredbånd nord kunder box?links stor skærm-->
		<div class="Tkunder">
			<h5>Til Bredbånd Nords kunder</h5>
			<ul class="dwcontent" id="kundelinkswrapper" Title="Kundeservicelinks" settings="limit:TKundelink.html;template:TKundelink.html">
				<li  class="knap-kontakt"><a href="#" class="kunde">Kundeservice >></a></li>
				<li class="knap-kontakt"><a href="#" class="mit">Mit Bredbånd Nord >></a></li>
				<li class="knap-kontakt"><a href="#" class="hjalp">Få hjælp til din regning >></a></li>
				<li class="knap-kontakt"><a href="#" class="drift">Driftinformation >></a></li>
				<li class="knap-kontakt"><a href="#" class="kont">Kontakt >></a></li>
			</ul>
		</div>
	</div>

	<div class="hide-for-medium-up Tkunder-wrap row"><!--til bredbånd nord kunder box?links stor mobil-->
		<div class="Tkunder row">
			<h5>Til Bredbånd Nords Kunder</h5>
			<ul class="small-12 columns">
				<li  class="knap-kontakt"><a href="#" class="kunde">Kundeservice >></a></li>
				<li class="knap-kontakt"><a href="#" class="mit">Mit Bredbånd Nord >></a></li>
				<li class="knap-kontakt"><a href="#" class="hjalp">Få hjælp til din regning >></a></li>
				<li class="knap-kontakt"><a href="#" class="drift">Driftinformation >></a></li>
				<li class="knap-kontakt"><a href="#" class="kont">Kontakt >></a></li>
			 </ul>
		</div>
	</div>

	<div id="search-box"><!-- start adresse søgbox forside-->
		<div class="row">
			<div class="sbox row">
				<div class="large-12 small-12 columns left">
					<div class="row collapse">
						<div class="large-3 small-12 columns">
							<h5 class="left">Se om du kan få firberbredbånd:</h5>
						</div>
	     				<form id="form1" runat="server" class="js-livesearch js-livesearch-loader" action="CustomHandlers/LookUpAddress.ashx"> <!--søgform starter her-->
							<div class="large-9 small-10 columns left">
		     					<div class="row collapse">
									<div class="small-10 columns radius">
			        					<input type="hidden" class="js-itemclick-action" value="CustomHandlers/LookUpAddress.ashx"><!--call web service-->
							    		<input type="hidden" class="js-noresults" value="No results found">
							    		<input type="hidden" class="js-error" value="An error has occurred">
							    		<input class="js-input" style="margin-bottom: 0;"  type="text" placeholder="Skriv din adresse her..."><!-- Input box for søge funktion-->
		        					</div>
		        					<div class="small-2 columns">
		          						<input  class="button postfix knap-tjek radius" type="submit" value="Tjek min adresse >>"><!--button for søgfumktion-->
		        					</div>
		        		   		</div>

		        		   		<ul class="js-results"></span></ul><!--liste af fundende adresser-->
		        		  	</div>
	        			</form><!-- afslut form-->
	      			</div>
		      		<div class="no-fiber-box js-fiber-not-found"><!-- fiber findes ikke box alert-->
			      		<button class="js-close-box fi-x"></button>
			      		<h3>Der findes IKKE fiber p&aring; adressen!</h3>
			      		<a class="knap-f-bestilling VisIn" href="#">G&aring; til bestilling >></a>
			      		<a class="knap-f-bestilling VisIn" href="#">Vis interesse >></a>
		    		</div>
		    		<div class="fiber-box js-fiber-found"><!-- fiber findes box alert-->
					    <button class="js-close-box fi-x"></button>
					    <h3>Der findes fiber p&aring; adressen!</h3>
					    <a class="knap-f-bestilling" href="#">G&aring; til bestilling >></a>
		    		</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div role="content-1">
	<section class="row sec-1 border"> <!--forsiden first 4 boxs-->
		<div class="row dwcontent" Title="Boxe" id="mainboxe" settings="default:true;limit:box.html;template:box.html">
			<div class="large-3 medium-6 small-6 columns">
				<div class="myBox">
					<img src="img/s1_img_1.jpg"  alt=""/>
					<div class="box1">
						<h4>Kom til Fiberdage i Drastrup og Skalborg </h4>
						<p class="hide-for-small">Så er vi klar til at informere borgerne i Drastrup og Skalborg om fiber.  I begge byer starter vi ud med informations-<a href="#">møder, som efterfølges af fiberdage.</a></p>
					</div>
				</div>
			</div>
			<div class="large-3 medium-6 small-6 columns">
				<div class="myBox">
					<img src="img/s1_img_2.jpg" alt=""/>
					<div class="box1">
						<h4>Se TV og film hvor og hvornår det passer dig</h4>
						<p class="hide-for-small">Bestil en TV boks og få personligt TV. Så bestemmer du hvad du vil se og hvornår, og du kan Pause Live TV programmer og Starte forfra lige når det passer dig.</p>
					</div>
				</div>
			</div>
			<div class="large-3 medium-6 small-6 columns ">
				<div class="myBox">
					<img src="img/s1_img_.jpg" alt=""/>
					<div class="box1">
						<h4>Deltag i Konkurrencen om den nye iPad</h4>
						<p class="hide-for-small">Tilmeld dig Bredbånd Nords nyhedsbrev og deltag automatisk i vores konkurrencer. Nyhedsbrevet indeholde seneste nyt om etablering af fibernettet, tilbud.</p>
					</div>
				</div>
			</div>
			<div class="large-3 medium-6 small-6 columns ">
				<div class="myBox">
					<img src="img/s1_img_4.jpg" alt=""/>
					<div class="box1">
						<h4>Med fiberbredbånd får du hastighedsgaranti!</h4>
						<p class="hide-for-small">Bestil Fiberbredbånd og få fremtidens internet med Hastighedsgaranti. Modsat alm. bredbånd får du med Fiberbredbånd altid stabil og symmetrisk up/download. </p>
					</div>
				</div>
			</div>
		</div>
	</section>

<section class="row sec-2 dwcontent" id="newscontent" Title="Nyheder"><!--forsiden bottom boxs-->
	<h2 class="nyt">Sidste Nyt</h2>
 	<div class="row ">
		<div class="large-6 medium-12 small-12 columns" >
			<article class="myBox2">
				<figur><img class="left" src="img/s2_img_1.jpg" alt=""/></figur>
				<div class="date-and-author"><time datetime="2013-09-17">17. september 2013</time></div>
				<div class="box-text">
					<h4>Kom til Fiberdage i Drastrup og Skalborg</h4>
					<p>Så er vi klar til at informere borgerne i Drastrup og Skalborg om fiber.  I begge byer starter vi ud med informationsmøder, som efterfølges af fiberdage.</p>
				</div>
			</article>
			</div>
			<div class="large-6 medium-12 small-12 columns">
				<article class="myBox2">
					<figur><img class="left" src="img/s2_img_2.jpg" alt=""/></figur>
					<div class="date-and-author"><time datetime="2013-08-15">15. august 2013</time></div>
					<div class="box-text">
						<h4>Wi-Fi i Fårup Sommerland er populært</h4>
						<p>Det er nu en måned siden, at Fårup Sommerland lancerede gratis Wi-Fi powered by Bredbånd Nord til alle gæster i sommerlandet, og allerede nu er det tydeligt...</p>
					</div>
				</article>
			</div>
	</div>
	<div class="row">
		<div class="six large-6 medium-12 small-12 columns" >
			<article class="myBox2">
				<figur><img class="left" src="img/s2_img_3.jpg" alt=""/></figur>
				<div class="date-and-author"><time datetime="2013-07-15">15. juli 2013</time></div>
				<div class="box-text">
					<h4>Udvidede åbningstider i Kundeservice</h4>
					<p>Fra 1. juni 2013 udvider vi åbningstiden i Kundeservice. De nye åbningstider er fra 09:00 - 20:00 alle hverdage samt 10:00 - 17:00 på lørdage</p>
				</div>
			</article>
		</div>
		<div class="large-6 medium-12 small-12 columns" id="">
			<article class="myBox2">
				<figur><img class="left" src="img/s2_img_4.jpg" alt=""/></figur>
				<div class="date-and-author"><time datetime="2013-07-9">9. juli 2013</time></div>
				<div class="box-text">
					<h4><a href="">Derfor skal du vælge fiberbredbånd!</a></h4>
					<p>Se filmen og bliv klogere på, hvad fiber kan gøre for dig! Med fiber til hjemmet får du lynhurtigt internet, du kan se TV programmer i HD kvalitet og fiberen sikrer desuden...</p>
				</div>
			</article>
		</div>
	</div>
<hr class="divid">
<a href="#" class="read-more" title="Flere blogindlæg">Flere nyheder</a>
</section>

</div>
