@using System
@using System.Linq
@using NoZebra.S_DW_BBN.CustomCode.Model;
@using NoZebra.S_DW_BBN.CustomCode;
@using NoZebra.S_DW_BBN.BBNSemiOpen;

@{
  var i = 1;
  Products mainProducts = Helpers.GetMainProducts();
  mainProducts.InternetProducts.RemoveAll(item => item.ProductName.ToUpper().Contains("KAMPAGNE"));
  mainProducts.TvProducts.RemoveAll(item => item.ProductName.ToUpper().Contains("KAMPAGNE"));
  mainProducts.PhoneProducts.RemoveAll(item => item.ProductName.ToUpper().Contains("KAMPAGNE"));
  Customer_QueryResponse customer = Helpers.GetCustomerQueryResponseFromSession();
  double outDouble;
}
<div class="row">
<h3>V&aelig;lg kampagnetilbud</h3>
  <form id="tilbudform" class="js-form-post custom js-form-post-on-document-ready  productlistform" method="post" action="/CustomHandlers/Cart.ashx?target=step1">
  @if (customer.Body.Customer_QueryResult.CustomerInfoData.Forening_ID == "0")
  {
     <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
      @foreach(var package in mainProducts.Packages) {
      @* The node looks like: |1819;Fiberbredbånd 60/60 Mbit/s||1525;Waoo! Telefoni Forbrugsafregnet *@
        var node = package.Products.Split(new string[] {"|"}, StringSplitOptions.None).Take(4).Where(item => !string.IsNullOrEmpty(item));
        var combinationID = "";
        foreach( var product in node ) {
            combinationID = combinationID + "-" + product.Split(';')[0];
        }
        var imgurl = "files/" + @package.Image;
        <li class="produkt" style="@(package.IsActive ? "" : "display:none")">
        <div class="kT">
            <img class="left"  src="@imgurl" alt="">
            <div class="wText">
              <h3>@package.Name</h3>
              <ul class="disc">
                @foreach (var product in node)
                {
                  <li>@product.Split(';')[1]</li>
                }
              </ul>
          </div>
          <div class="left wText2">
              <h4>@Helpers.GetPriceForPackage(package, out outDouble).ToString("F") kr./md.</h4>
              <a href="@package.Link">@package.LinkText</a>
            </div>
          <label for="package-@i" class="Radio">
          <input type="radio" id="package-@i" class="js-group js-update-cart" value="@package.BBNID" data-combination="@combinationID.Substring(1)" name="campagne-product"><span class="custom radio js-checked"></span></label>

        </li>
        i++;
      }
    </ul>
  }

  <div id="sammen">
     <h3 id="hBottom">Sammens&aelig;t din bestilling</h3>
  @if (mainProducts.InternetProducts.Count > 0)
  {

<div class="sammensat-1">
  <div class="ss1">
  <img src="files/Templates/Designs/2014/img/Computer.png" alt="">
  <span class"">Fiberbredb&aring;nd</span>
  </div>
<ul class="inline-list">
    @foreach (var item in mainProducts.InternetProducts)
    {
    <li class="internet-product sbutton">
    <label for="internet-@i">
        <h5>@item.ProductName</h5>
        <a>L&aelig;s mere</a>
      <input type="radio" id="internet-@i" class="js-product js-update-cart hidden-field" name="internet-product" value="@item.ProvisioningCode"><span id="minradio1" class="custom radio js-checked"></span></label>
      </li>
                                                                                                       i++;
    }
</ul>
</div>
  }
  @if (mainProducts.PhoneProducts.Count > 0)
  {
    <div class="sammensat-2">
  <div class="ss1">
  <img src="files/Templates/Designs/2014/img/Telefon.png" alt="">
  <span class"">Telefoni</span>
  </div>
  <ul class="inline-list">
    @foreach (var item in mainProducts.PhoneProducts)
    {
      <li class="phone-product sbutton">
        <label for="phone-@i">
          <h5>@item.ProductName</h5>
          <a>L&aelig;s mere</a>
          <input type="radio" id="phone-@i" class="js-product js-update-cart hidden-field" name="phone-product" value="@item.ProvisioningCode" >
          <span id="minradio2" class="custom radio js-checked"></span>
        </label>
      </li>
                                                                                                     i++;
    }
  </ul>
</div>
    }
    @if (mainProducts.TvProducts.Count > 0)
    {
        <div class="sammensat-3">
  <div class="ss1">
  <img src="files/Templates/Designs/2014/img/TV-stor.png" alt=""><br/>
  <span class"">TV</span>
  </div>
<ul class="inline-list">
    @foreach (var item in mainProducts.TvProducts)
    {
      <li class="tv-product sbutton">
       <label for="tv-@i">
        <h5>@item.ProductName</h5>
        <a>L&aelig;s mere</a>
      <input type="radio" id="tv-@i" class="js-product js-update-cart hidden-field" name="tv-product" value="@item.ProvisioningCode" ><span id="minradio3" class="custom radio js-checked"></span></label>
      </li>
                                                                                           i++;
    }
  </ul>
</div>
    }
    </div>
    <input type="submit" class="knap-f-bestilling js-loader right" value="Forts&aelig;t">
</form>
</div>

