<!--@Layout.Title(Item: Toprotator)-->
<!--@Layout.Description(Template bruges til toprotator items)-->
<!--@If(Item.BIllede<>"")-->
<div class="swiper-slide "  >
	<!--@If(Item.Link<>"")-->
		<a href="<!--@Item.Link-->"><img src="<!--@Item.BIllede-->" alt=""></a>
	<!--@Else-->
		<img src="<!--@Item.BIllede-->" alt="">
		<!--@EndIf-->
	</div>
<!--@EndIf-->

