<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(2 kolonners side)-->
<!--@Layout.Description(Siden opderler indhold i en bred venstre og smal højre kolonne)-->
<section  class="row indhold">

	<div class=" small-12 medium-7 large-8 columns">
	<div class="dwcontent" id="maincontent" Title="Hovedindhold - top" settings="default:true;limit:clean.html,box.html,nav-level2.html,nav-level3.html,nav-level4.html,addresslookup.html;template:clean.html"></div>
	<!--@If Defined(DwContent(faner))-->
	<div class="section-container auto button-group dwcontent" data-section id="faner" Title="Faner" settings="limit:fane.html;template:fane.html">

	</div>
	<!--@SnippetStart(initfane)-->
	$("#faner section:first-child a").click();
	<!--@SnippetEnd(initfane)-->
	<!--@EndIf(DwContent(faner))-->
	<!--@If Defined(DwContent(maincontentbottom))-->
	<div class="dwcontent" id="maincontentbottom" Title="Hovedindhold - bund" settings="default:true;limit:clean.html,box.html,nav-level2.html,nav-level3.html,nav-level4.html,addresslookup.html;template:clean.html"></div>
	<!--@EndIf(DwContent(maincontentbottom))-->
</div>

	<!--@If Defined(DwContent(rightcolumn))-->
<aside class="large-3 push-1 medium-4 small-12 columns dwcontent" id="rightcolumn" Title="Højre kolonne" settings="limit:clean.html,asidebox.html;template:asidebox.html">
</aside>
	<!--@EndIf(DwContent(rightcolumn))-->

</section>




