<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(TVPakker)-->
<!--@Layout.Description(TVPakker)-->
<section id="indhold" class="row indhold">
	<div class="large-10 large-centered columns tCenter">
		<h1>TV Pakker</h1>
		<p class="subheader">Med TV fra Bredbånd Nord får du masser af spændende TV kanaler og mulighed for selv
		at tilvælge de TV Pakker og Frit Valg TV kanaler du kunne tænke dig - og bestiller
		du en <a href="#">TV boks</a> bestemmer du selv, hvad du vil se og hvornår!</p>
	</div>
				<div class="row">
					<div class="large-9 small-12 collapse columns" style="padding-left=0;">
					<div class="row collapse">
					<div class="large-6 small-6 columns private">
					<div class="left">
					<h2>TV til Private</h2>
					<span>Til alle der ikke er medlem af en forening</span>
					</div>
					<a class="button greenB right" href="#">Bestil »</a>
					</div>
					<div class="large-6 small-6 columns forening">
					<h2>TV til Foreninger</h2>
					<span>Til alle der er med i en foreningsaftale</span>
					</div>
					</div>
					</div>
		</div>
		<div id="tvPakker" class="small-12 large-12 columns">
					<ul class="button-group">
					 	<li><a  class="button pakkerknap" href="#">Lille TV Pakke</a></li>
					 	<li><a  class="button" href="#">Stor TV Pakke</a></li>
					 	<li><a class="button pakkerknap" href="#">Viasat Danmarks-Pakke</a></li>
					 	<li><a class="button pakkerknap"  href="#">Viasat Stor Danmarks-Pakke</a></li>
			 		</ul>
			 		<h3>Waoo! Stor TV Pakke<span> - 359 kr./md.</span>
			 		<small>(Mndstepris inkl. TV boks i 6 mdr. 1.893 kr.)</small></h3>
			 		<ul class="tvKanaler">
			 			<li><img src="img/tvpakker/pakke_small_img_2.png" alt=""><div class="hdTv"></div></li>
			 			<li><img src="img/tvpakker/pakke_small_img_3.png" alt=""><div class="anTv"></div></li>
			 			<li><div class=""><img src="img/tvpakker/pakke_small_img_4.png" alt=""><div class="hdan"></div></li>
			 			<li><img src="img/tvpakker/pakke_small_img_1.png" alt=""></li>
			 		</ul>
			 		<small>Alle kanaler leveres digitalt  |  HD = High definition - kræver at dit TV har <a href="#">DVB-C</a> eller at du har TV boks  | <img src="img/icon/analogt.png" alt=""> Disse kanaler leveres også analogt  |  <a href="#">Kanal- og frekvensoversigt</a> </small>
			 		<h3>Ekstra TV Pakker</h3>
			 		<p>Herunder kan du se, hvilke Ekstra TV Pakker du kan tilkøbe til Stor TV Pakke.</p>
			 		<div class="section-container accordion" data-section="accordion">
		          		<section class="section active">
		            		<p class="title" data-section-title="">
		            			<a href="#"><i class="fi-minus"></i>Danske Favoritter<span class="right">150 kr./md.  (Min. pris i 1 mdr. 150 kr)</span></a>
		            		</p>
		            		<div class="content" data-section-content="">
		             		 	<img src="img/tvpakker/TV-Pakke.png" alt=""><br/>
		             		 	<small>(Kræver TV 2 Pakke/Danske Favoritter)</small>
		            		</div>
		          		</section>
		          		<section class="section">
			            	<p class="title" data-section-title="">
			            	<a href="#"><i class="fi-plus"></i>Waoo! Ekstra TV Pakker<span class="right">139 kr./md.  (Min. pris i 1 md. 139 kr.)</span></a></p>
			            	<div class="content" data-section-content="">
			              		<p>Content of section 2.</p>
			            	</div>
		          		</section>
        			</div>
				</div>

	</div>
</section>