@{
	string name = System.Web.HttpContext.Current.Request.QueryString[ "name" ];
	string mail = System.Web.HttpContext.Current.Request.QueryString[ "mail" ];
}
@{
<form method="post" class="custom" novalidation action="/CustomHandlers/UserManagement.ashx?target=showinterest" id="interesseform" data-abide>
	<h2>Udfyld felterner herunder</h2>
	<div class="row">
		<div class="small-2 columns">
			<label for="navn-input" class="right inline ">Navn*</label>
		</div>
		<div class="small-10 columns">
			<input type="text" id="navn-input" required placeholder="Navn" value="@name" required 
			pattern="[a-zA-Z]+">
			<small class="error">Venligst indtast dit navn!</small>
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			<label for="adresse-input" class="right inline">Adresse*</label>
		</div>
		<div class="small-10 columns">
			<input type="text" id="adresse-input" placeholder="Adresse"required 
			pattern="[a-zA-Z]+">
			<small class="error">Venligst indtast din adresse!</small>
		</div>
	</div>

	<div class="row">
		<div class="small-2 columns">
			<label for="navn-postnr" class="right inline">Post nr.*</label>
		</div>
		<div class="small-10 columns">
			<input type="text" pattern="number" id="navn-postnr" required placeholder="Post nr.">
			<small class="error">Venligst indtast dit postnummer!</small>
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			<label for="by-input" class="right inline">By*</label>
		</div>
		<div class="small-10 columns">
			<input type="text" id="by-input" required placeholder="By">
			<small class="error">Venligst indtast din by!</small>
		</div>
	</div>

	<div class="row">
		<div class="small-2 columns">
			<label for="telefon-input" class="right inline">Telefon*</label>
		</div>
		<div class="small-10 columns">
			<input type="text" pattern="integer" id="telefon-input" required placeholder="Telefon">
			<small class="error">Venligst indtast dit telefon-nr.!</small>
		</div>
	</div>

	<div class="row">
		<div class="small-2 columns">
			<label for="mobil-input" class="right inline">Mobil</label>
		</div>
		<div class="small-10 columns">
			<input type="text" id="mobil-input" placeholder="Telefon">
		</div>
	</div>

	<div class="row">
		<div class="small-2 columns">
			<label for="email-input" class="right inline">E-mail*</label>
		</div>
		<div class="small-10 columns">
			<input type="email" id="email-input" required placeholder="E-mail" value="@mail">
			<small class="error">Venligst indtast din e-mail!</small>
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			&nbsp;
		</div>
		<div class="small-10 columns">

			<label for="checkbox1">
				<input type="checkbox" id="checkbox1" value="newsletter">
				<span class="custom checkbox"></span> Ja tak, jeg &oslash;nsker at modtage nyheder og tilbud
			</label>
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			&nbsp;
		</div>
		<div class="small-10 columns">
			<button type="submit" class="button primary">Tilmeld</button>
		</div>
	</div>

</form>
}