

/*alt css i denne fil skal flyttes til de korrekte scss filer*/
/*slided-down12 genereres som menu. 12 angiver at det er en level2 side - og derfor skal den slides ned.*/
.clearfix{clear:both;width:100%;}
.mainIndhold.slided-down{padding-top:0px !important;}
.mainIndhold.slided-down1,
.mainIndhold.slided-down12,
#sidebar.slided-down12,
.mainIndhold.slided-down123,
.mainIndhold.slided-down1234,
.mainIndhold.slided-down12345{
padding-top: 49px !important;/* I APP STÅR DEN TIL 51 PX*/
}
.mainIndhold.search-slided{
  padding-top: 49px !important;
}

#mainboxe .mitbbn.myBox{margin-bottom: 20px}
input[type="text"].readonly{background: #ddd !important;}
input[type='password'], input[type='checkbox']{-webkit-user-select: text !important; }
.checkboxlist input:checked+span:before{content: "" !important;
border: medium none;
width: 29px;
border-radius: 0;
height: 28px;
margin-left: 0px !important;
padding: 0;
position: absolute;
top: -13px !important;
border-radius: 0;
background: url('../img/icon-sf86c5b0007.png') no-repeat;
background-position: 0 -334px;}
.knap-tjek{padding-top:1px;}
.js-ajax-cart.loading > *{opacity:0.2;}
.js-ajax-cart.loading:after{top: 50%;
left: 50%;
margin-top: -40%;
margin-left: -20px;}
#sidebar{overflow-y:scroll; overflow-x:hidden; height:100%; padding-bottom:172px !important;}
#maincontent a{line-height:1.6em;}
.js-results{width:100%; margin-left:0px;}
.js-results li {
padding: 8px 5px 8px 10px;
margin:0px;
outline: none;
}

.js-results li:focus {
  background: #d6cebe;
}
.afmeld{margin-left:2px;}
/*revalboxe*/
/*OVERRIDES FRA APP FILEN*/
.reveal-modal{
z-index:999;
margin-left: -48%;
width: 96%;

}
.reveal-modal-inner{
padding:20px;
border: 10px solid #656565;
text-align: center;
height: auto;
background-color: #e6e6e6;
-webkit-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.75);
box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.75);
margin: 0 auto;
    position: relative;
    max-width: 31em;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.reveal-modal {
  -webkit-transform: scale(1) !important;
-moz-transform: scale(1) !important;
-ms-transform: scale(1) !important;
-o-transform: scale(1) !important;
transform: scale(1) !important;
    padding: 0;
    background: transparent;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.reveal-modal.text-left .reveal-modal-inner{text-align: left}
/*.reveal-modal-inner form{margin-bottom: 4em;}*/
.reveal-modal-inner form,
.reveal-modal-inner .button,
.reveal-modal-inner .button,
.reveal-modal-inner .knap-f-bestilling{margin-bottom:0px;}
.reveal-modal h3{margin:0px 0px 20px 0px !important;}
.reveal-modal p{font-weight: 400;}
.reveal-modal small{display:block;}
.reveal-modal .knap-f-bestilling{font-weight:300; margin-top:0px !important;}
.knap-f-bestilling[disabled="disabled"] { opacity: 0.5; }
.reveal-modal input[type="text"],
.reveal-modal input[type="email"]{height: 35px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-ms-border-radius: 6px;
-o-border-radius: 6px;
border-radius: 6px;
margin-bottom: 0;
font-style: italic;
font-weight: 300;
padding: .2em;}
/*.reveal-modal .button{margin-top:15px;}
*/.reveal-modal .js-results{margin-left: 0;
width: 91%;
padding: 0px;}

#addresslookup2.reveal-modal button{
    margin-top: 15px;}
.reveal-modal .js-results li{text-align: left}
.reveal-modal .secundaryArea{background-color: #d7cfbf;margin: 0px -20px -20px -20px;
padding: 5px 20px 20px 20px;}
.reveal-modal .secundaryArea h5{color:#000; font-weight:normal;}
.reveal-modal .secundaryArea input[type="email"]{margin-top:10px;}
#addresslookup2.reveal-modal form.loading::after{top: 164px;right: 22px;
left: auto;}

.box1{margin-bottom:20px; overflow:hidden; padding: 16px 15px 11px 15px;}
/*.top-bar-section .has-dropdown.inpath > .dropdown{display:block;}*/
.dropdown .inpath{text-decoration: underline}
.indhold .large-8 p, p.info-2, p.info-1, .indhold .large-8 ul{font-weight:300 !important; font-size:1.2em !important; line-height:1.6em !important;}
#logo{float:left;}

.indhold .large-8 h1{margin-bottom:10px; line-height:1.2em; margin-top:7px;}
.indhold .large-8 h4{font-weight:300 !important; font-size:1.8em; margin-bottom:1em;}
.indhold .large-8 ul{list-style-position: inside}
.indhold .large-8 li{text-indent:-22px; padding-left:22px;}
h2{font-size: 1.6875em !important;
color: #333333  !important;
font-weight: 500  !important;}
.indhold .large-8 .button-group li{text-indent:0px !important; padding-left:0px !important;}
table td{font-size:1.2em !important; font-weight: 300 !important; padding:0.2em 0em !important;}

#indhold h4, .indhold h4{font-weight:300;}
#indhold #toptekst{margin-bottom:50px;} /*Bruges til at lave afstand på tvpakke siderne*/
.top-bar-section ul li > a{font-weight:normalt !important;}

/*#mainboxe .box1{height:170px;}*/

#footer{font-weight: normal}
#footer a:hover,
.boxeffect:hover h4 a{
color: #0979df !important;
}

#Indicator{
    content: "";
    background:url("../img/Indicator.png");
    bottom: -13px !important;
    display: none;
    height:10px ;

    position: absolute;
    width: 17px;
}
.myBox2 figur{width:33%;}


.button-group .button,
.section-container section .button{padding-top: 0.7em;
padding-bottom: 0.6em;
padding-left:1.2em;
padding-right:1.2em;
margin-bottom:5px;
line-height: normal !important;}

.section-container section.active .button{-webkit-transition: background-color 300ms ease-out;
-moz-transition: background-color 300ms ease-out;
transition: background-color 300ms ease-out;
background-image: -webkit-linear-gradient(0deg, #d76c0a 0%, #f5851f 100%);
background-image: -moz-linear-gradient(0deg, #d76c0a 0%, #f5851f 100%);
background-image: -o-linear-gradient(0deg, #d76c0a 0%, #f5851f 100%);
background-image: linear-gradient(0deg, #d76c0a 0%, #f5851f 100%); color:#FFF !important;
border-color: #d76c0a;
}

section .title{padding-right:5px;}
section .content{margin-top: .45em;}

.indhold .button-group > *{-moz-margin-end: 0px !important;}
#tvPakker .button-group > *{-moz-margin-end: 5px !important;}
.indhold{margin-top:3.125em;}
.indhold .button-group > * {margin-right:5px;}*/
i{background:transparent; border: none; color:inherit; padding:0 0;}
td i {font-size:0.85em;}


.indhold .box1 h4 {
margin-top: 0;
line-height: 1.2;
margin-right: 10px;
font-size: 1.45em;
margin-bottom: 0.4em;
}

.indhold .box1:after,
.myBox2 .box-text:after{display: none !important}
.indhold .box1 h4 a{color: #f5851f;}
.indhold .box1 time, .myBox2 time{font-size:0.7em; font-weight:300; margin-top:5px; color:#aaa; display:block; clear:left;}
.large-8 time, .large-12 time{float:left; width:100%; margin-bottom:20px;}

#mainmenu .dropdown{-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;}
#mainmenu ul ul{-webkit-animation: none;
animation: none;}
#mainmenu .hover .dropdown li{-webkit-transition: all 0.25s ease;
-moz-transition: all 0.25s ease;
-o-transition: all 0.25s ease;
transition: li 0.25s ease;
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s;}

nav.top-bar>.top-bar-section.topmenu ul li{position: relative;}
nav.top-bar li.active:after{left:50%; margin-left:-9px;}

.swiper-container{background-color: #000; height:0px;}
.Tkunder ul{line-height: auto}
.Tkunder ul li{list-style-type: none; line-height:1.62;}

.Tkunder ul li a{padding-left:15px; overflow:hidden;}
.Tkunder ul li img{float:left; height:50px; padding:5px 5px;}

.cycle-prev, .cycle-next, .Tkunder-wrap{display: none;}
.swiper-slide a{overflow:hidden;}
.swiper-slide{position:relative; height:auto !important; width:auto; max-width:1515px; width:1515px !important; overflow:hidden; visibility:hidden;}
.swiper-slide .overlay{position: absolute;
bottom: 0px;
background-color: rgba(51,51,51,0.85);
color: #FFF;
text-align: center;
width: 100%;
padding: 10px 10px 20px 10px;}
.swiper-slide img{height:auto !important; width:100%;}
.swiper-slide.swiper-slide-visible{visibility: visible;}
.swiper-slide{opacity: 0.15; -webkit-transition: all 0.25s ease;
-moz-transition: all 0.25s ease;
-o-transition: all 0.25s ease;
transition: li 0.25s ease;
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s;}
.noSlides .swiper-slide{animation:none; -webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: li none;
-webkit-animation: none}
.swiper-slide-active{opacity: 1; }
.smallslide{opacity:1; width:auto !important; overflow:hidden;}
.smallslide img{width:auto !important;}
.noSlides .swiper-wrapper{width:100%;float:left;}
.noSlides .swiper-slide{width:100% !important; max-width:100% !important;}
.noSlides .swiper-slide img{width:auto;}


.indhold .button-group > * {
margin: 0 5px 0 0;
-moz-margin-end: -5px;
}/*app.css 11340*/
.myBox2{width:100%;}
.myBox2 figur{width:33%; float:left;}
.myBox2 .box-text{width:66%; padding-left:20px;}
.box-text h4, .box-text h4 a{line-height:1.1em !important;}
.myBox2 .box-text p{margin-bottom:0.2em;}
.myBox2 .date-and-author{position: relative; float:left; clear:both; left:0; bottom:0;}
#cookieWarningDiv, #driftWarningDiv{position: fixed; bottom:0px;
background: #D6CEBE; /* Old browsers */
border-top:none;
color:#000;
font-size: 0.9em;
z-index:20;
width:100%;
padding-top:15px;
padding-bottom:15px;
}
header{z-index:20;}
.mainpack.kanaler, section.kanaler{display:none;} /*benyttes af accordions der er ajax baserede og skjules derfor indtil content er loaded*/
.section.kanaler .content{border:none !important; padding:0 !important;}
.section.kanaler .content p{margin-bottom:5px !important; margin-left:8px;}
ul.tvKanaler{padding-left:1px; padding-top:1px; margin-bottom:0px;} /*skal opveje at alle elementer har margin-left -1 pga borders*/
.section.kanaler .content div{padding-top:0px;}
ul.tvKanaler li{margin-top:-1px; width:auto; height:auto;}
ul.tvKanaler li:first-child{margin-left:-1px;} /*app.css 11575*/
.section.kanaler .content img{width:86px; height:76px;}


/*app.css 6968*/
.section-container.accordion > section > .title, .section-container.accordion > .section > .title,
.section-container.accordion > section > .title, .section-container.accordion > .section.active > .title{
background: #dddddd; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#dddddd 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#dddddd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
border:1px solid #c8c8c8;
margin-top:-1px;
}

/*app.css 6982*/
.section-container.accordion > section > .title a, .section-container.accordion > .section > .title a{padding:6px 0px 0px 8px; font-size:1em;}
#fritvalgtv .title a{padding-bottom:6px;}
.fi-minus:before {
content: "\f199 ";
background:#FFFFFF;
border:1px solid #c8c8c8;
padding:4px 0px;
text-align: center;
color:#656565;
font-size:16px;
margin-right:20px;
width:25px;
float:left;
}
.section-container.accordion > section > .title a span.title{float:left; clear:none;}
.section-container.accordion > section > .title a span.right{padding-right:10px; float:right; clear:none;}
.active .fi-minus:before {
content: "\f176 ";
}


#cookieWarningDiv .row{background: url(../img/cookie-footstep.png) no-repeat top left; position: relative}
#cookieWarningDiv p{text-align:center; margin:auto 50px;}
#cookieWarningDiv p a{color:#000;}
#cookieWarningDiv p a:hover{text-decoration: none}
#cookieWarningDiv a.cookieicon{background: url(../img/cookie-close.png) no-repeat top left; height:42px; width:43px; position:absolute; bottom:-15px; right:0px;}

#driftWarningDiv{position:fixed; top:0; height:30px; padding-top:5px; background:#be0000; border-top:none;}
#driftWarningDiv .row{position: relative; text-align: center; height:30px;}
#driftWarningDiv a{padding-top:0px;color:#FFF; text-align: center; line-height:20px;font-family: "Roboto", Arial, sans-serif; font-size:14px; font-weight: 300}
#driftWarningDiv a:hover{text-decoration: underline}
header.driftwarningheader{top:30px;}
div.driftwarningpadding{height:30px; width:100%;float:left;}

#sidebar{position:fixed; margin-top: -7px; width:80%;}
#sidebar ul.dropdown li a{box-shadow:none;}
#sidebar .mobil_links li{margin:0; line-height:2.4em; position: relative}
#sidebar .mobil_links li:first-child a{padding-top:4px;}




@media screen and (max-width: 795px){
.mainIndhold.slided-down,
.mainIndhold.slided-down1,
.mainIndhold.slided-down123,
.mainIndhold.slided-down1234,
.mainIndhold.slided-down12345{
padding-top:0px !important;/* I APP STÅR DEN TIL 51 PX*/
}
.mainIndhold.search-slided,
#sidebar.search-slided
{
  padding-top: 44px !important;
}

    .dropdown:after{content:none;}


.indhold .button-group:not(.tlv) li,
.indhold .button-group li a{width:100%;}

#search-trigger, #sidebarButton{background-size: 100%; background-repeat: no-repeat; width:30px; margin:8px 0px 0px 10px;}
#search-trigger{background-size:90%;}

.section-container.button-group section{width:100%;}
.section-container.button-group section .title .button{
background: #dddddd; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#dddddd 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#dddddd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
border:1px solid #c8c8c8;
margin-top:-1px;
}

.section-container.button-group section .content{padding-bottom:15px !important;}
}
#sidebarButton{margin:30px 7px 0px;}
#logo{margin-left:0px;text-align:center;}

.myBox2 img {
min-width: 100%;
width: 100%;
}
.mybox2 time{padding-bottom:3px;}
.myBox2.boxeffect:hover:after, .myBox.boxeffect:hover:after{color: #0979df;}



/*checkud*/
.installationform .custom.checkbox,
.additionalTV .custom.checkbox{float: left;
margin-right: 10px;}
.additionalTV .custom.radio,
.installationform .custom.radio, .informationform .custom.radio{float: left;
margin-right: 10px; margin-top:5px;}

#search-box input[type="text"]{-webkit-user-select:text}
#search-box input.hide{opacity:0.5;}
#search-box .skundeS form .columns{padding-right:10px;}
#search-box .skundeS a{
position: relative;
top: 2px;
left: 10px;
}

#sammen .inline-list{margin-bottom:0px;}
#sammen .inline-list li{margin-bottom:1.0625em !important;} /*app.css:10037*/

/*SECTION FANER*/
.section-container.button-group section .title{height:43px; padding: 0 5px 0 0; border:none; background:none !important;}
.section-container.button-group section.active a.button{
background-image: -webkit-linear-gradient(0deg, #d76c0a 0%, #f5851f 100%);
background-image: -moz-linear-gradient(0deg, #d76c0a 0%, #f5851f 100%);
background-image: -o-linear-gradient(0deg, #d76c0a 0%, #f5851f 100%);
background-image: linear-gradient(0deg, #d76c0a 0%, #f5851f 100%);
color:#FFF;
}
.section-container.button-group section a.button {

background-color: white;
border-color: #e6e6e6;
color: #333333;
border-color: #c8c8c8;
background-image: none;
padding-top: 0.7em;
padding-bottom: 0.6em;
padding-left: 1.2em;
padding-right: 1.2em;
font-size: 16px;
}
.section-container.button-group section:not(.active) a.button:hover{color: #fff; background-color: #e6e6e6; }

.section-container.button-group section .content{background: none;
border: none;
margin: 30px 0 0 0;
padding: 0;}

td input, td textarea{height:auto !important; margin:0 !important; font-size: 1em !important}


/*************************
**************************
****************************************************
****************************************************
****************************************************
****************************************************
****************************************************
****************************************************
****************************************************
****************************************************
****************************************************
****************************************************
**************************/
@media screen and (max-width:767px){
    .myBox, .myBox2{position:relative;}
.figur, figur{width:25% !important; float:left;}
.figur img, figur img,
.myBox img{max-width:100%; width:100%; max-height:100%;}
#mainboxe .box1:not(.mitbbn),
.myBox .box1:not(.mitbbn),
.myBox2 .box-text{height: auto;
padding-top: 0px;
float: left;
clear: none;
width: 75%; padding-left: 20px; padding-bottom: 0px}
.myBox:not(.soegbox) .box1:not(.mitbbn) p{display: none}
.myBox h4, .myBox2 h4,
.box1 h4, .box1 h4 a{padding-right: 20px;
font-weight: 300;}
.myBox2 p, .myBox2 .date-and-author{display:none;}

}

@media screen and (max-width: 650px){
.Tkunder-wrap ul .knap-kontakt{width:100%;float:left; border-top: 1px solid #e36d00; border-left:1px solid #FFF; border-right:0px}
    }

.phone-number-container input[type="text"], .phone-number-container input[type="search"] {
  height: 42px;
  border-radius: 6px;
  padding-top: 4px;}
  #mainboxe .myBox.nolink .box1 a:hover{color:rgb(9, 121, 223);}

  #formmydata input[type="text"], #formmydata input[type="email"], .kudOplys input[type="text"], .kudOplys input[type="email"],#interesseform input[type="text"], #interesseform input[type="email"] {
    height: 42px;
    border-radius: 6px;
    padding: 0 .5em
  }
   #formmydata label, .kudOplys label, #interesseform .interesseLabel{
    font-size:1.1em;
    margin-bottom:.3875em;
    margin-left:3px;
   }

   .kudOplys .custom.checkbox, #interesseform .custom.checkbox {
    border: medium none;
    height: 23px;
    vertical-align: middle;
    width: 23px;
    background: url("../img/icon-s65bdd277c6.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-position: 0 -1948px;
}
   .kudOplys .custom.checkbox.checked:before, #interesseform .custom.checkbox.checked:before{
    border: medium none;
    border-radius: 0;
    content: "" !important;
    height: 28px;
    margin-left: -8px !important;
    padding: 0;
    position: absolute;
    width: 29px;
    background: url("../img/icon-s65bdd277c6.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-position: 0 -334px;
}


[class*="block-grid-"] {
display: block!important;
margin: 0 -0.625em!important;
padding: 0!important;
}
[class*="block-grid-"] li {
margin-right:0!important;
}
.clearing-blackout li {
clear:inherit!important;
}
.large-block-grid-2 > li:nth-of-type(2n+1){clear:none;}
.wText h3{
    color:rgb(245, 133, 31);
    font-size:21px;
}
.bestil_ikon{padding-bottom:8px;}
.kT {height:222px !important ;padding: 19px 0px 17px 23px;}
.kT img{margin-right:30px !important;}
.wText2 {
position: absolute;
bottom: 1px;
left: 33%;

}
.wText2 h4{font-weight:700;}
.kT li {
line-height: 1.4;
font-weight: normal;
font-size: 1em;
margin-left: 125px;}
.sbutton:first-child{
    border-left:none;
}
.ss1{
    margin-top:20px;
    margin-bottom:8px;
    margin-left:10px;
}
.ss1 img{
    vertical-align:middle;
}
.ss1 span{
    font-size:  26px;

    font-weight: 500;
    padding-left:  7px;
    vertical-align:middle;
}
.sbutton{
    width:170px;
}
#sammen .sammensat-1 h5, #sammen .sammensat-2 h5, #sammen .sammensat-3 h5{font-size:    1.45em}
#sammen .sammensat-1 .tvNavn, #sammen .sammensat-2 .tvNavn, #sammen .sammensat-3 .tvNavn{font-size:1.45em;}
.Radio {
bottom: 17px;
left: 73px;
}
.i-kurve h4 {
font-weight: 500 ;
}
@media only screen and (max-width: 1450px){
li.sbutton:nth-child(6){
border-left:none;
}
@media only screen and (max-width: 1300px){
li.sbutton:nth-child(5){
border-left:none;

}
li.sbutton:nth-child(6){
border-left:1px solid #B7B7B7;
}
}
@media only screen  and (max-width:1090px) {
li.sbutton:nth-child(4){
border-left:none;
}
li.sbutton:nth-child(5){
border-left:1px solid #B7B7B7;
}
}
@media only screen  and (max-width:980px)  {
    li.sbutton:nth-child(4){
border-left:none;
}
li.sbutton:nth-child(5){
border-left:1px solid #B7B7B7;
}
li.sbutton:nth-child(3){
border-left:1px solid #B7B7B7;
}
}

@media only screen and (max-width:830px)  {
li.sbutton:nth-child(3){
border-left:none;
}
li.sbutton:nth-child(5){
border-left:none;
}
    li.sbutton:nth-child(4){
border-left:1px solid #B7B7B7;
}
}
@media only screen  and (max-width:600px){
    li.sbutton:nth-child(5){
border-left:none;
}
li.sbutton:nth-child(3){
border-left:none;
}
}
