/* line 1, ../sass/info.scss */
.topmenu li {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px; }

/* line 2, ../sass/info.scss */
.panel {
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  padding: 0;
  padding-top: 15px;
  min-height: 150px; }

/* line 10, ../sass/info.scss */
.graf h3 {
  color: #333;
  /* text color */
  font-size: 18px;
  height: 30px;
  background-color: #ddd;
  /* color overlay */
  margin-bottom: 0;
  padding: 2px 0px 4px 10px;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */ }

/* line 24, ../sass/info.scss */
.graf ul {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  list-style-position: inside;
  padding: 5px 13px; }

/* line 31, ../sass/info.scss */
.overskrift {
  padding: 10px 10px 0px 10px; }

/* line 34, ../sass/info.scss */
.feed {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  padding-top: 0px !important; }

/* line 40, ../sass/info.scss */
.feed li, .graf li {
  list-style: none; }

/* line 43, ../sass/info.scss */
.dato {
  padding-right: 10px; }

/* line 46, ../sass/info.scss */
.dato date {
  display: block;
  width: 136px;
  float: left; }

/* line 47, ../sass/info.scss */
.dato date::first-letter {
  color: #FFF;
  visibility: hidden;
  letter-spacing: -23px;
  width: 100px; }

/* line 49, ../sass/info.scss */
.feed a {
  color: #f5851f; }

/* line 53, ../sass/info.scss */
.feed a:hover {
  text-decoration: underline; }

/* line 54, ../sass/info.scss */
#search {
  height: 85px; }

/* line 57, ../sass/info.scss */
.historie {
  background: #d7cfbf;
  font-size: 14px;
  padding-top: 10px; }

/* line 63, ../sass/info.scss */
.historie ul li {
  list-style: none; }

/* line 66, ../sass/info.scss */
.historie a {
  color: #333; }

/* line 69, ../sass/info.scss */
.historie a:hover {
  color: #f0780b;
  text-decoration: underline; }

/* line 73, ../sass/info.scss */
.Historik {
  font-size: 18px;
  left: 20px;
  font-weight: 500; }

/* line 78, ../sass/info.scss */
.box-driftsinformation {
  height: 31px;
  background-color: #2b8fc4;
  /* color overlay */
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  color: white;
  font-size: 13px;
  padding-top: 5px;
  margin-bottom: 15px; }

/* line 91, ../sass/info.scss */
.but-1, .but-2 {
  font-size: 15px;
  height: 100%;
  width: 100%;
  color: white;
  padding: 5px; }

/* line 99, ../sass/info.scss */
.but-1 {
  background: #999999;
  border-right: 1px solid white; }

/* line 103, ../sass/info.scss */
.but-2 {
  background: #646464;
  margin-left: -4px; }

/* line 107, ../sass/info.scss */
.expose {
  position: relative; }

/* line 111, ../sass/info.scss */
#overlay {
  background: rgba(0, 0, 0, 0.7);
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99998; }

/* line 117, ../sass/info.scss */
.box-om-kunden {
  width: 338px;
  height: 31px;
  background-color: #af0000;
  /* color overlay */
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */ }

/* line 125, ../sass/info.scss */
.arrow1 {
  width: 30px;
  height: 30px;
  background-color: #0a6493;
  position: relative;
  margin-top: -5px;
  /* text-align: center; */
  right: 0px;
  padding: 8px 8px; }

/* line 135, ../sass/info.scss */
.arrow2 {
  width: 30px;
  height: 30px;
  background-color: #8b0000;
  position: relative;
  margin-top: -5px;
  /* text-align: center; */
  right: 0px;
  padding: 8px 8px; }

/* line 145, ../sass/info.scss */
.errowbottom {
  position: absolute;
  right: 12px;
  bottom: 16px; }

/* line 151, ../sass/info.scss */
.arrow3 {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  position: relative;
  padding: 8px 8px; }

/* line 159, ../sass/info.scss */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid rgba(0, 0, 0, 0);
  border-right: 8px solid rgba(0, 0, 0, 0);
  border-top: 15px solid white;
  position: absolute; }

/* line 168, ../sass/info.scss */
.glas {
  padding-top: 5px; }

/* line 171, ../sass/info.scss */
.left-bar {
  height: 31px;
  background-color: #af0000;
  /* color overlay */
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  color: white;
  font-size: 13px;
  padding-top: 5px;
  margin-bottom: 15px; }

/* line 182, ../sass/info.scss */
.left-bar strong {
  font-size: 14px; }

/* line 183, ../sass/info.scss */
.box-driftsinformation p, .left-bar p {
  margin-left: 20px;
  margin-bottom: 0px; }

/* line 184, ../sass/info.scss */
.rigtPanel {
  padding-left: 20px;
  padding-right: 4px;
  color: #333333;
  font-size: 14px !important; }

/* line 185, ../sass/info.scss */
.rightPanel {
  font-weight: 500 !important; }

/* line 189, ../sass/info.scss */
.panel table, .panel table td {
  font-weight: 500 !important;
  font-size: 13px !important;
  background: none !important;
  color: #333333; }
/* line 190, ../sass/info.scss */
.panel table td, .panel table th {
  padding: 0.5em 0.625em 0px 0.625em !important; }
/* line 191, ../sass/info.scss */
.panel table thead, .panel table tr {
  background: none !important; }

/* line 194, ../sass/info.scss */
.inactive {
  opacity: 0.3; }

/* line 195, ../sass/info.scss */
#demo {
  position: relative;
  width: 100%; }

/* line 200, ../sass/info.scss */
#demo article .content_w {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  height: 0;
  margin-bottom: -15px;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */ }

/* line 212, ../sass/info.scss */
#demo article .content_w.transition {
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s; }

/* line 219, ../sass/info.scss */
article .content {
  padding-top: 0;
  line-height: 1.3;
  margin: 4px 4px 8px 0px; }

/* line 224, ../sass/info.scss */
.content p {
  color: #333;
  font-weight: 500;
  font-size: 13px;
  margin-left: 10px; }

/* line 226, ../sass/info.scss */
.indholdbox1 {
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */ }

/* line 232, ../sass/info.scss */
.indholdbox1 .content {
  padding: 0; }

/* line 235, ../sass/info.scss */
.indholdbox {
  position: absolute;
  z-index: 9999;
  padding-left: 0;
  padding-right: 0em;
  margin-right: 0px; }

/* line 243, ../sass/info.scss */
#kundeinfowrapper .panel {
  padding: 10px;
  height: 200px; }

/* line 244, ../sass/info.scss */
#kundeinfowrapper .columns.exposed {
  z-index: 9999999; }

/* line 246, ../sass/info.scss */
#kundeinfowrapper .panel .topbar {
  background-color: #ddd;
  float: none;
  margin: -10px -10px 0px -10px;
  height: 30px;
  margin-bottom: 12px; }

/* line 252, ../sass/info.scss */
#kundeinfowrapper .panel .topbar .right {
  float: right !important;
  height: 30px;
  margin-top: 8px; }

/* line 256, ../sass/info.scss */
#kundeinfowrapper .panel h3 {
  font-size: 18px;
  padding: 5px 10px 0px 10px;
  margin: 0px; }

/* line 259, ../sass/info.scss */
#kundeinfowrapper .panel {
  font-weight: 500 !important;
  font-size: 13px !important; }

/* line 261, ../sass/info.scss */
#kundeinfowrapper .panel li {
  list-style: none; }

/* line 262, ../sass/info.scss */
table b, table span {
  font-weight: bold;
  color: #e97408;
  font-size: 13px; }

/* line 263, ../sass/info.scss */
.bottominfo {
  font-size: 13px;
  margin-left: 8px; }

/* line 264, ../sass/info.scss */
.orange, #kundeinfowrapper .panel b {
  color: #e97408 !important; }

/* line 265, ../sass/info.scss */
.green {
  color: #348b11;
  font-weight: normal; }

/* line 266, ../sass/info.scss */
.gul {
  color: #f6b900; }

/* line 267, ../sass/info.scss */
.red {
  background-color: #ad0000 !important; }

/* line 268, ../sass/info.scss */
.red h3 {
  color: white; }

/* line 269, ../sass/info.scss */
.red1 {
  color: #ad0000; }

/* line 270, ../sass/info.scss */
.hvid {
  color: #fff; }

/* line 271, ../sass/info.scss */
.line {
  margin: 0px; }

/* line 272, ../sass/info.scss */
#kundeinfowrapper .panel label {
  cursor: default;
  font-size: 12px;
  float: left;
  clear: left;
  line-height: 20px;
  padding-right: 5px; }

/* line 281, ../sass/info.scss */
#kundeinfowrapper .panel .accordion {
  background-color: white;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0px;
  z-index: 999;
  border-top: 0px;
  margin-bottom: 0px; }

/* line 292, ../sass/info.scss */
#kundeinfowrapper .panel .accordion .title {
  background: #FFF;
  border: none; }

/* line 293, ../sass/info.scss */
#kundeinfowrapper .panel .accordion .title a {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #ddd; }

/* line 295, ../sass/info.scss */
#kundeinfowrapper .panel .accordion .content {
  border: none; }

/* line 296, ../sass/info.scss */
#kundeinfowrapper .panel .accordion .active .title {
  margin-top: -7px; }

/* line 298, ../sass/info.scss */
div.left {
  float: left;
  clear: none; }

/* line 299, ../sass/info.scss */
.panel a.exposed {
  display: none;
  color: #FFF; }

/* line 300, ../sass/info.scss */
.panel a.exposed.ok {
  background-color: #8bc33e; }

/* line 301, ../sass/info.scss */
.panel a.exposed.cancel {
  background-color: #ea740a; }

/* line 303, ../sass/info.scss */
form input[type="text"] {
  font-size: 12px;
  padding: 2px;
  border: 1px solid #e6e4e5;
  height: auto;
  margin: 0 0 1px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  background-color: #ededcb; }

/* line 309, ../sass/info.scss */
form input[type="text"].small {
  width: 50%;
  float: left;
  clear: none; }

/* line 310, ../sass/info.scss */
form input[type="text"]:disabled {
  background: #FFFFFF;
  border: 1px solid #FFFFFF !important; }

/* line 311, ../sass/info.scss */
form input[type="text"][readonly] {
  background: #FFFFFF;
  border: 1px solid #FFFFFF !important; }

/* line 312, ../sass/info.scss */
body.glasplade #Indicator {
  bottom: -16px !important; }

/* line 313, ../sass/info.scss */
.soeg-tab {
  height: 103px;
  background-color: #2b8fc4;
  /* color overlay */
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  /* drop shadow */
  padding-top: 35px; }

/* line 322, ../sass/info.scss */
#topsoegning > form input[type="text"] {
  height: 35px !important;
  background-color: white;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px; }
/* line 327, ../sass/info.scss */
#topsoegning > form input[type="submit"] {
  background: url("../img/KNAPsoeg.png") no-repeat;
  height: 40px;
  width: 45px;
  border: none; }
/* line 334, ../sass/info.scss */
#topsoegning > form h3 {
  color: #FFF; }
/* line 335, ../sass/info.scss */
#topsoegning > form .center-text {
  text-align: center;
  color: #FFF;
  font-size: 11px;
  margin-left: 130px; }
/* line 337, ../sass/info.scss */
#topsoegning > form .custom.checkbox {
  color: #FFF;
  margin: 0px 5px 0px 15px; }

/* line 339, ../sass/info.scss */
#searchresult {
  background-color: #fff;
  padding-top: 34px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25); }
