#trustpilot{padding:20px;}

#trustpilot .word-rating {
font-size: 22px;
line-height: 20px;
display: block;
margin-bottom: 15px;}

#trustpilot .word-rating .number-rating {
display: inline-block;
}

#trustpilot .word-rating .average {
font-size: 22px;
font-weight: bold;
}

#trustpilot .word-rating .max-rating {
font-size: 12px;
color: #7c7c7c;
white-space: nowrap;
}

#trustpilot .summary-rating .star-rating {
float: left;
}

.star-rating.size-large .star-1, .star-rating.size-large .star-2, .star-rating.size-large .star-3, .star-rating.size-large .star-4, .star-rating.size-large .star-5 {
float: left;
line-height: 1em;
padding: 4px;
border-radius: 4px;
margin: 0 4px 0 0;
}
.star-rating{margin-right:5px;}
.star-rating>div{background: #c8c8c8; width:32px; height:32px;};
.star-rating.count-1 .star-1{
background: #73b143;
}
.star-rating.count-2 .star-1, .star-rating.count-2 .star-2 {
background: #73b143;
}
.star-rating.count-3 .star-1, .star-rating.count-3 .star-2, .star-rating.count-3 .star-3{
background: #73b143;
}
.star-rating.count-4 .star-1, .star-rating.count-4 .star-2, .star-rating.count-4 .star-3, .star-rating.count-4 .star-4 {
background: #73b143;
}
.star-rating.count-5 .star-1, .star-rating.count-5 .star-2, .star-rating.count-5 .star-3, .star-rating.count-5 .star-4 , .star-rating.count-5 .star-5 {
background: #73b143;
}

#trustpilot .stats {
color: #7c7c7c;
margin-bottom: 5px;
padding-top:15px;
clear:both;
}
