<!DOCTYPE html>
<html>
  <head>
    <title>@GetValue("Title")</title>
@GetValue("MetaTags")
@GetValue("CopyRightNotice")

    <style type="text/css" media="screen">
      .loading::after {
        content: "Loading...";
        display: inline;
      }
      h1,
      h2,
      h3 {
        clear: both;
        padding-top: 10px;
      }
      .fiber-box {
        background-color: #fff;
        border: 1px solid #000;
        display: none;
        height: 200px;
        margin-left: -150px;
        margin-top: -100px;
        position: absolute;
          left: 50%;
          top: 50%;
        width: 300px;
      }
      .fiber-box.active {
        display: block;
      }
      .no-fiber-box {
        background-color: #fff;
        border: 1px solid #000;
        display: none;
        height: 200px;
        margin-left: -150px;
        margin-top: -100px;
        position: absolute;
          left: 50%;
          top: 50%;
        width: 300px;
      }
      .no-fiber-box.active {
        display: block;
      }
      li.loading::after {
        content: "Loading...";
        display: inline;
      }
      .results {
        padding: 0;
        margin:0;
      }
      .results li {
        list-style: none;
        margin: 0;
      }
      .results li a {
        background: #f5f5f5;
        border: 1px solid #fff;
        cursor: pointer;
        display: block;
        padding: 10px;
      }
      .results li:focus {
        background: #ebebea;
      }
      .hide {
        display: none;
      }
      .product-cart {
      	border: 1px solid #000;
      	background-color: #fff;
      	position: fixed;
      	right: 20px;
      	top: 220px;
      	width: 290px;
      	padding: 10px;
      }
      .required {
        border: 1px solid red;
      }
      .required::after {
        content: 'required';
        color: red;
        position: relative;
        top: -15px;
        left: 15px;
      }
      .accepted {
        border: 1px solid green;
      }
      .accepted::after {
        content: 'accepted';
        color: green;
        position: relative;
        top: -15px;
        left: 15px;
      }
      .col-1,
      .col-2 {
        width: 50%;
        float: left;
      }
      .col-break {
        clear: both;
      }
      hr {
        clear: both;
        float: left;
        margin-top: 50px;
        width: 100%;
      }
      .col-validate {
        display: none;
      }
      .faktureringsadresse:checked ~ .col-validate {
        display: block;
      }
      .phone-number-container {
        display: none;
      }
      .phone-number-button:checked ~ .phone-number-container {
        display: block;
      }
      .number-relocation-container {
        display: none;
      }
      .number-relocation-button:checked ~ .number-relocation-container {
        display: block;
      }
      .tv-box-container {
        display: none;
      }
      .tv-box-button:checked ~ .tv-box-container {
        display: block;
      }
      .tv-channel-container {
        display: none;
      }
      .tv-channel-button:checked ~ .tv-channel-container {
        display: block;
      }
      .tv-packages-container {
        display: none;
      }
      .tv-packages-button:checked ~ .tv-packages-container {
        display: block;
      }
      .gravlet-container {
        display: none;
      }
      .gravlet-button:checked ~ .gravlet-container {
        display: block;
      }

      .login-container {
        background-color: #fff;
        border: 1px solid #000;
        height: 180px;
        left: 50%;
        margin-left: -125px;
        margin-top: -140px;
        padding: 20px;
        position: fixed;
        top: 50%;
        width: 250px;
        z-index: 10;
      }
      .gravlet-container {
        display: none;
      }
      .gravlet-button:checked ~ .gravlet-container {
        display: block;
      }
      .gravselv-container {
        display: none;
      }
      .gravselv-button:checked ~ .gravselv-container {
        display: block;
      }

    </style>
  @GetValue("Stylesheets")
@GetValue("Javascripts")
</head>
  <body>
  	<nav>
  	<!--@Navigation.Render(startlevel:1;endlevel:2;)-->
  	</nav>
  	
@{
	string name = System.Web.HttpContext.Current.Request.QueryString[ "name" ];
	string mail = System.Web.HttpContext.Current.Request.QueryString[ "mail" ];
}

<form id="form" class="js-form-post" method="post" action="/CustomHandlers/UserManagement.ashx?target=showinterest">
	<h2>Udfyld felterner herunder</h2>
	<label>Navn*</label><br>
	<input type="text" value="@name" name="name" required=""><br><br>

	<label>Adresse*</label><br>
	<input type="text" name="address" required=""><br><br>

	<label>Post nr.</label><br>
	<input type="text" value="" name="zip" required=""><br><br>

	<label>By</label><br>
	<input type="text" value="" name="city" required=""><br><br>

	<label>Telefon</label><br>
	<input type="text" value="" name="phone" required=""><br><br>

	<label>Mobil</label><br>
	<input type="text" value="" name="mobile" required=""><br><br>

	<label>E-mail*</label><br>
	<input type="email" value="@mail" name="email" required=""><br><br>

	<input type="checkbox" name="newsletter" value="newsletter">
	<label>Ja tak, jeg &oslash;nsker at modtage nyheder og tilbud</label><br>

	<input type="submit" value="Tilmeld">
</form>


		<div class="js-ajax-container">
			<!--@Global:Paragraph.Content(<!--@Translate(ajaxcart, "4", global)-->)-->
		</div>

    <!-- START Login Box -->
    <div class="login-container" style="display:none;">
      <h3>Login BBN Salg</h3>
      <div>Indtast dit brugernavn og adgangskode.</div>
      <input type="text" placeholder="Brugernavn">
      <input type="password" placeholder="Adgangskode">
      <br>
      <input type="submit">
    </div>
    <!-- END Login Box -->

    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="/Files/Templates/Designs/NZ/assets/javascripts/main-min.js" type="text/javascript"></script>

  <!--
    <script type="text/javascript">
      function onAjaxLoaded( event ) {
        var $box = $(event.currentTarget);
        $box.foundation('reveal', 'open');
      }
      $(document).ready(function(){
        $( '.js-fiber-found' ).on( 'AjaxSuccess', onAjaxLoaded );
      });
    </script>
  -->

  </body>
</html>
