<!--@Layout.Title(Standard Tekst box)-->
<!--@Layout.Description(Textbox på 4 kolonner)-->
<div class="large-3 medium-4 small-12 columns">
	<div class="myBox">
		<!--@If Defined(ParagraphImageClean)-->
		<div class="img">
		<!--@If(ParagraphImageLinkClean<>"")-->
		<a href="<!--@ParagraphImageLinkClean-->" target="<!--@ParagraphImageLinkTarget-->">
			<img src='/admin/public/getimage.ashx?Image=<!--@ParagraphImageClean-->&Format=jpg&Height=175&Crop=0' height="175px"/></a>
		<!--@Else-->
		<img src='/admin/public/getimage.ashx?Image=<!--@ParagraphImageClean-->&Format=jpg&Height=175&Crop=0' height="175px"/>
		<!--@EndIf-->
	</div>
		<!--@EndIf(ParagraphImageClean)-->
		<div class="box1">
			<h4><!--@ParagraphHeader--></h4>
			<article class="hide-for-small"><!--@ParagraphText--></article>
		</div>
	</div>
</div>
