<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(1 kolonnes side)-->
<!--@Layout.Description(Siden viser indhold i fuld bredde)-->
<section  class="row indhold">

	<div class=" small-12 medium-10 medium-centered large-12 columns dwcontent" id="maincontent" Title="Hovedindhold" settings="default:true;limit:clean.html,rediger.html,box.html,nav-level2.html,nav-level3.html,nav-level4.html;template:clean.html"></div>
</section>