<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(Bestilling)-->
<!--@Layout.Description(Bestilling 1)-->

<section class="row" role="bestilling">
<div class="large-9 small-12 columns">
<h3>Tilvalg til din bestilling</h3>
<div class="bstNav">
	<ul class="button-group tlv">
		<li><a class="arrow_box_selected" href="#">1. Tilvalg Telefoni</a></li>
		<li><a class=" arrow_box" href="">2. Tilvalg TV</a></li>
		<li><a class=" arrow_box" href="">3. Installation</a></li>
		<li><a class=" arrow_box" href="">4. Kundeoplysninger</a></li>
	</ul>
</div>
	<div class="panel">

<form class="custom">
	<div class="row">
		<div class="large-12 columns">
          <label for="radio1">
            <input name="radio1" type="radio" id="radio1" style="display:none;" class="hidden-field">
            <span class="custom radio"></span> Nyt nummer
         	<span class="right">0 kr.</span> </label>
			<br/>
            <label for="radio2">
            <input name="radio2" type="radio" id="radio2" style="display:none;" class="hidden-field">
            <span class="custom radio"></span> Overflytning af nummer
          <span class="right">29 kr.</span></label>
          </div>
          </div>
        </form>

<section id="fltN">
	<h4>Flyt dit fastnetnummer til Bredbånd Nord </h4>
<p>Udfyld nedenstående felter for at godkende at Bredbånd Nord må starte flytning af dit fastnetnummer. Det tager typisk en måneds tid. Imellemtiden beholder du dit nuværende selskab.</p>
<form class="custom">
	<div class="row">
	<div class="large-8 columns">
		<div class="row">
		<div class="large-6 columns">
    <label> Indtast dit fastnetnummer her: </label>
    <input class="fstN" type="text" placeholder="">
    </div>
    	<div class="large-6 columns">
     <label for="customDropdown"> Oplys dit nuværende selskab: </label>
    <select id="customDropdown" class="medium fstN">
    <option DISABLED>dit nuværende selskab</option>
        <option value="selskab-1">selskab-1</option>
        <option value="selskab-2">selskab-2</option>
</select>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="large-12 columns">
    	<div class=" tlfTj">
        <h4>Telefonitjenester</h4>
       <ul class="no-bullet">
    	<li><label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;" class="hidden-field"><span class="custom checkbox"></span>  Alle 4 telefonitjenester (Rabat 7 kr./md.) <span class="right">29 kr./md.</span></label>
    	<ul>
    		<li><label for="checkbox2"><input type="checkbox" id="checkbox2" style="display: none;" class="hidden-field"><span class="custom checkbox"></span>  Telefonsvarer <span class="right">9 kr./md.</span></label></li>
    		<li><label for="checkbox3"><input type="checkbox" id="checkbox3" style="display: none;" class="hidden-field"><span class="custom checkbox"></span>  Viderestilling <span class="right">9 kr./md.</span></label></li>
    		<li><label for="checkbox4"><input type="checkbox" id="checkbox4" style="display: none;" class="hidden-field"><span class="custom checkbox"></span>  Vis nummer <span class="right">9 kr./md.</span></label></li>
    		<li><label for="checkbox5"><input type="checkbox" id="checkbox5" style="display: none;" class="hidden-field"><span class="custom checkbox"></span>  Forstyr ikke <span class="right">9 kr./md.</span> </label></li>
    </ul>
    </li>

   </ul>

  	<div class="radiogroup">
   <h4>Telefonbogstatus</h4>
	 <label for="radio3">
            <input name="radio3" type="radio" id="radio3" style="display:none;" class="hidden-field">
            <span class="custom radio"></span> Almindelig
          </label>
          	 <label for="radio4">
            <input name="radio4" type="radio" id="radio4" style="display:none;" class="hidden-field">
            <span class="custom radio"></span> Hemmeligt nummer
          </label>
          	 <label for="radio5">
            <input name="radio5" type="radio" id="radio5" style="display:none;" class="hidden-field">
            <span class="custom radio"></span> 	Skjult nummer
          </label>
          </div>
</div>
</div>
</div>
</form>

</section>
</div>

<div class="right">
<a class="knap-tilbage-bestilling button radius" href="#">«Tilbage</a>
<a class="knap-videre-bestilling  button radius" href="#">Videre »</a>
</div>
</div>
<aside class="large-3 columns i-kurve">
<h4>Din Bestelling</h4>
<h6>ABONNEMENT<span class="right">Betales løbende</span></h6>
  <span> Waoo! 3 <span class="right">638 kr./md.</span></span>
  <ul>
  <li>Fiberbredbånd 50/50 Mbit/s</li>
  <li>Stor TV Pakke</li>
  <li>Telefoni</li>
</ul>
<hr>
<h6>TILVALG <span class="right">Betales løbende</span></h6>
<p>Alle 4 telefonitjenester<span class="right">29 kr./md.</span></p>
<hr>
<h6>OPRETTELSE  <span class="right"> Betales ved oprettelse</span></h6>
<p>Overflytning af nummer <span class="right">299 kr.</span></p>
<hr>
<div class="row">
<div class="large-12 columns">
<div class="row">
<div class="large-2 columns"><strong>I alt</strong></div> <div class="large-6 columns"><strong>Betales månedligt </strong></div><div class="large-4 columns right"><strong class="right">667 kr.</strong></div>
		<div class="push-2 large-8  columns ialt">Betales halvårligt</div>  <div class="large-4 columns ialt"><span class="right"> 0 kr.</span> </div>
		<div class="push-2 large-8  columns ialt">Oprettelse </div>  <div class="large-4 columns"><span class="right ialt"> 299 kr.</span> </div>

		</div>
		<hr>
<small class="large-12 columns" style="text-align:center;">Mindstepris i 6 måneder 4.301 kr.</small>
</div>

</div>
<div class="dms">
	<p><h6>Det med småt</h6>
	<ul>
		<li>Waoo! og Bredbånd Nords produkter leveres som
     standard som "Gør det selv installation". </li>
		<li> Prisen på TV2 Play i kampagneperioden (1. til 2. måned)
     er 0 kr./md. Herefter er prisen 39 kr./md.</li>
		<li> Bindingsperioden er 6 måneder.</li>
		<li> Mindsteprisen beregnes ud fra: Waoo! 3 (6x638). TV2 Play
    (4x39). Fast tildelt IP (6x39 + 99). Overflytning af nummer
    (299). Telefoni - alle tjenester (6x29). Med TV Boks
    (Personligt TV) (399). TV 2 Pakke (6x89). 24 Nordjyske
    (1x20).  Boomerang (1x20). MTV Danmark HD  (1x20).
    TCM (1x20).</li>
	</ul>
	   </p>
</div>
</div>
</aside>
</section>