﻿<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(Bestilling)-->
<!--@Layout.Description(Bestilling 1)-->

<section class="row indhold dwcontent" >
<div class="large-9 medium-8 small-12 columns dwcontent" Title="main" id="mainindhold1">

</div>


<aside class="large-3 medium-4 small-12 columns ">
	<div class="js-ajax-container panel i-kurve">
			<!--@Global:Paragraph.Content(245)-->
		</div>

</aside>
</section>
<style>
.phone-number-container {
        display: none;
      }
      .phone-number-button:checked ~ .phone-number-container {
        display: block;
      }
      .number-relocation-container {
        display: none;
      }
      .number-relocation-button:checked ~ .number-relocation-container {
        display: block;
      }
      .tv-box-container {
        display: none;
      }
      .tv-box-button:checked ~ .tv-box-container {
        display: block;
      }
      .tv-channel-container {
        display: none;
      }
      .tv-channel-button:checked ~ .tv-channel-container {
        display: block;
      }
      .tv-packages-container {
        display: none;
      }
      .tv-packages-button:checked ~ .tv-packages-container {
        display: block;
      }
      .col-validate {
        display: none;
      }

      .faktureringsadresse:checked ~ .col-validate {
        display: block;
      }
      .gravlet-container {
        display: none;
      }
      .gravlet-button:checked ~ .gravlet-container {
        display: block;
      }

      .login-container {
        background-color: #fff;
        border: 1px solid #000;
        height: 180px;
        left: 50%;
        margin-left: -125px;
        margin-top: -140px;
        padding: 20px;
        position: fixed;
        top: 50%;
        width: 250px;
        z-index: 10;
      }
      .gravlet-container {
        display: none;
      }
      .gravlet-button:checked ~ .gravlet-container {
        display: block;
      }
      .gravselv-container {
        display: none;
      }
      .gravselv-button:checked ~ .gravselv-container {
        display: block;
      }

      .js-phone-number-results ul{list-style-type: none}
.js-phone-number-results ul li{float:left; width:100%;}
      .js-phone-number-results ul input{float:left; clear:both; margin-right:15px; margin-top:3px;}

</style>