<!--@Layout.Title(Item: graf)-->
<!--@Layout.Description(Template bruges til graf items)-->
<div class="large-6 columns  graf">
<h3><!--@Item.Overskrift--> </h3>
<div class="panel">
<p> <!--@Item.Data--></p>
  <div id="chart_div" style="width: 900px; height: 500px;"></div>
</div>
</div>