<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(Forside)-->
<!--@Layout.Description(Forside)-->
<section id="slider" class="slider"><!--slideren på forside-->

	 		<div class="cycle-prev"></div><!--slider nav venstre-->
    		<div class="cycle-next"></div><!--slider nav højre-->
    		<div class="swiper-container">
      			<div id="toprotatordw" class="dwcontent swiper-wrapper" title="Toprotator" settings="limit:toprotator.html;template:toprotator.html">


            <!-- tekst <div class="swiper-slide"> <div class="content-slide"></div></div>-->
      			</div>
   			</div>
	<!--<div class="large-4 small-6 colmuns">
	<div class="Psplatter">
			    <img src="img/circle.png" alt="">
			    <a href="" class="button-slide"><span>Bestil >></span></a>
		    </div>
	</div>-->
	<!--@If(Global:Device.IsMobile<>True)-->
	<div class="Tkunder-wrap hide-for-small"><!--til bredbånd nord kunder box?links stor skærm-->
		<div class="Tkunder">
			<h5><!--@Item.Area.KundelinksOverskrift--></h5>
			<ul class="dwcontent" id="kundelinkswrapper" Title="Kundeservicelinks" settings="limit:TKundelink.html;template:TKundelink.html">

			</ul>
		</div>
	</div>
	<!--@EndIf-->

</section>
<div id="search-box"><!-- start adresse søgbox forside-->


	<form id="form1" runat="server" class="js-livesearch js-livesearch-loader" action="CustomHandlers/LookUpAddress.ashx">
		<div class="row">
			<div class="sbox row">
				<div class="large-12 small-12 columns left">
					<!--@If(DwAreaName<contains>"sales")-->
					<!--@If(DWextranet_AccessUserUserName.Length()>1)-->
								<div class="row sales collapse">
				<div class="large-10 small-12 columns medium-10 left">
					<h5 style="white-space:normal">Velkommen<span class="hide-for-small"> til <!--@DwAreaName--></span> - <!--@Global:Extranet.Name--></h5>

				</div>
				<div class="large-2 small-12 columns medium-2">
					<!--@If(DwAreaName<contains>"sales")-->
				<a href="/Admin/Public/extranetlogoff.aspx?ID=252" class="button right radius logInd">Log ud >></a>
				<!--@Else-->
				<a href="/Admin/Public/extranetlogoff.aspx?ID=245" class="button right radius logInd">Log ud >></a>
				<!--@EndIf-->
				</div>
			</div><!--@EndIf-->
							<!--@EndIf-->
					<div class="row collapse">
						<div class="large-3 medium-5 small-12 columns">


<!--@If(DwAreaName<contains>"sales")-->
<!--@If(DWextranet_AccessUserUserName.Length()>1)-->
<h5 class="left">Slå adresse op :</h5>
<!--@EndIf-->
<!--@Else-->
<h5 class="left show-for-medium-up">Se om du kan få fiberbredbånd:</h5>
<h5 class="left show-for-small">Se om du kan få fiber :</h5>

<!--@EndIf-->



						</div>
	     				 <!--søgform starter her-->
							<div class="large-9 medium-7 small-12 columns left">
		     					<div class="row collapse">
									<div class="small-11 medium-8 columns radius js-livesearch-loader">
			        					<input type="hidden" class="js-itemclick-action" value="CustomHandlers/LookUpAddress.ashx"><!--call web service-->
							    		<input type="hidden" class="js-noresults" value="Søgningen gav intet resultat">
							    		<input type="hidden" class="js-error" value="Der opstod en fejl">
							    		<input class="js-input js-loader findaddress" style="margin-bottom: 0;"  type="text" placeholder="Skriv din adresse her..."><!-- Input box for søge funktion-->
										<ul class="results js-results"></ul><!--liste af fundende adresser-->
		        					</div>
		        					<div class="small-2 medium-4 columns hide-for-small">
		          						<input  class="button postfix knap-tjek radius js-submit-button js-loader" type="submit" value="Tjek min adresse >>">
		          						<!--button for søgfumktion-->
		        					</div>
		        					<div class="small-1 medium-4 columns show-for-small">
		          						<input  class="button postfix knap-tjek radius js-submit-button js-loader" type="submit" value=">>">
		          						<!--button for søgfumktion-->
		        					</div>
		        		   		</div>
		        		  	</div>



				 </div>
				</div>
			</div>
		</div>


		</form><!-- afslut form-->

	</div>
	<div class="hide-for-medium-up Tkunder-wrap row"><!--til bredbånd nord kunder box?links stor mobil-->
		<div class="Tkunder row">
			<h5><!--@Item.Area.KundelinksOverskrift--></h5>
			<ul class="small-12 columns dwcontent">
				<!--@DwContent(kundelinkswrapper)-->

			 </ul>
		</div>
	</div>


<div role="content-1">
	<section class="row  sec-1 border"> <!--forsiden first 4 boxs-->
		<div class="small-12 medium-10 medium-centered large-12 columns">
		<div class="row dwcontent" Title="Boxe" id="mainboxe" settings="default:true;limit:box.html;template:box.html">
		</div>
		</div>
	</section>

<section class="row  sec-2"><!--forsiden bottom boxs-->
	<div class="small-12 medium-10 medium-centered large-12 columns" >
<div class="row dwcontent" id="newscontent" Title="Nyheder">
</div>

	</div>




</section>

</div>

