<!--@MasterPageFile(MasterInfo.html)-->
<!--@Layout.Title(infoskaerm)-->
<!--@Layout.Description(infoskaerm)-->

<section class="row" style="margin-top:20px">

<div class="large-9 columns">
<div class="row dwcontent" title="Graf" id="graf" settings="limit:graf.html,minclean.html,trustp.html;template:graf.html">
<div class="large-6 columns  graf">
<h3>Privat - Tilslutninger solgt </h3>
<div class="panel">
<p> graf </p>
</div>
</div>
<div class="large-6 columns  graf">
<h3>Erhverv - Total Contract Value</h3>
<div class="panel">
<p> graf </p>
</div>
</div>


<div class="large-6 columns graf">
<h3>Kundeservice - Henvendelsesfaktor</h3>
<div class="panel">
<p> graf </p>
</div>

</div>
<div class="large-6 columns graf">
<h3>Installationer pr. måned</h3>
<div class="panel">
<p> graf </p>
</div>
</div>

<div class="large-6 columns graf">
<h3>Seneste nyt fra TV2</h3>
<div class="panel">
<ul>
	<li>hi</li>
	<li>hi</li>
	<li>hi</li>
</ul>
</div>
</div>
<div class="large-6 columns graf">
<h3>Trustpilot</h3>
<div class="panel">
<p>trust</p>
</div>
</div>
</div>
</div>
<aside class="large-3 columns graf end dwcontent" title="aside" id="aside" settings="template:aside.html">
<h3>Opslagstavle</h3>
<div class="panel">
<ul>
<li>hi 1</li>
<li>hi 2</li>
<li>hi 2</li>
</ul>
</div>
</aside>
</section>