<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(KundeFAQ)-->
<!--@Layout.Description(KundeFAQ)-->
		<section  class="indhold row">
		<div class="large-9 columns">
			<h2>Hjælp til fiberbredbånd</h2>
					<ul class="button-group">
					 	<li><a  class="button secondary" href="#">Selvhjælp</a></li>
					 	<li><a  class="button" href="#">Vejledninger</a></li>
					 	<li><a class="button secondary" href="#">Mail & DNS</a></li>
					 	<li><a class="button secondary"  href="#">Spørgsmål & Svar</a></li>
			 		</ul>
				<h2 class="subheader">Klik på den fiberboks du har for at se de tilhørende vejledninger...</h2>
				<ul class="button-group">
					 	<li><a  class="button" href="#"><span>TIlgin MSA951</span><br><img src="img/kundeservice/vejl_Button_1.jpg" alt=""></a></li>
					 	<li><a  class="button fiberKnap" href="#"><span>Icotera IGW3000</span><br><img src="img/kundeservice/vejl_Button_2.jpg" alt="">
					 	</a></li>
					 	<li><a  class="button fiberKnap" href="#"><span>Allied Telesis</span><br><img src="img/kundeservice/vejl_Button_3.jpg" alt="">
					 	</a></li>
					 	<li><a  class="button fiberKnap" href="#"><span>Packet Front</span><br><img src="img/kundeservice/vejl_Button_4.jpg" alt="">
					 	</a></li>
			 	</ul>
				<div id="vejl-liste">
			 	<div class="border">
				<h3>Tilgin MSA951</h3>
				<ul>
					<li><a href="">Tilslutning af udstyr <span>(PDF)</span></a></li>
					<li><a href="">Telefoni <span>(PDF)</span></a></li>
					<li><a href="">Opret forbindelse til trådløst netværk <span>(Video)</span></a></li>
					<li><a href="">Skift navn og kode på trådløst netværk <span>(Video)</span></a></li>
					<li><a href="">Port forward  <span>(Video)</span></a></li>
				</ul>
				</div>
				<div>
					<h3>Øvrige vejledninger</h3>
					<strong>TV boks</strong>
					<ul>
						<li><a href="">TV boks - AirTies 7120 <span>(PDF)</span></a></li>
						<li><a href="">TV boks - AirTies 7210 <span>(PDF)</span></a></li>
					</ul>
					<strong>Bredbånd Nord e-mail</strong>
					<ul>
						<li><a href="">Opret Bredbånd Nord e-mail <span>(Video)</span></a></li>
					</ul>
					<strong>Opsætning af e-mail konto</strong>
					<ul>
						<li><a href="">Opsæt e-mailkonto i Outlook 2010 <span>(Video)</span></a></li>
						<li><a href="">Opsæt e-mailkonto i Outlook 2003 <span>(Video)</span></a></li>
						<li><a href="">Opsæt e-mailkonto i Windows Live Mail <span>(Video)</span></a></li>
						<li><a href="">Opsæt e-mailkonto i Outlook Express <span>(Video)</span></a></li>
					</ul>
					<strong>Smart Phone</strong>
					<ul>
						<li><a href="">Opsætning af e-mail konto - iPhone  <span>(Video)</span></a></li>
						<li><a href="">Opsætning af e-mail konto - Andriod  <span>(Video)</span></a></li>
					</ul>
				</div>
				</div>
		</div>


	<aside class="large-3 columns">
		<div class="myBox">
      <div class="sideBox">
        <h4>Adobe Reader</h4>
        <p>For et kunne åbne PDF filer kræver det at du har installeret Adobe Reader på din computer.</p>
        <h4><a href="#">Hent Adobe Reader</a></h4>
      </div>
    </div>
	</aside>
	</section>