<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(Kundeservice Forside)-->
<!--@Layout.Description(Mit Bredbaandnord Forside)-->
<!--@SnippetStart(loadscript)-->
<script src="js/swiper.js" type="text/javascript"></script>
<script src="js/vendor/idangerous.swiper-2.1.min.js"></script>
<script src="js/vendor/idangerous.swiper.scrollbar-2.1.js"></script>
<!--@SnippetEnd(loadscript)-->
<section id="slider" class="slider"><!--slideren på forside-->

	 		<div class="cycle-prev"></div><!--slider nav venstre-->
    		<div class="cycle-next"></div><!--slider nav højre-->
    		<div class="swiper-container">
      			<div id="toprotatordw" class="dwcontent swiper-wrapper" title="Toprotator" settings="limit:toprotator.html;template:toprotator.html">


            <!-- tekst <div class="swiper-slide"> <div class="content-slide"></div></div>-->
      			</div>
   			</div>
	<!--<div class="large-4 small-6 colmuns">
	<div class="Psplatter">
			    <img src="img/circle.png" alt="">
			    <a href="" class="button-slide"><span>Bestil >></span></a>
		    </div>
	</div>-->
	<!--@If(Global:Device.IsMobile<>True)-->
	<div class="Tkunder-wrap hide-for-small"><!--til bredbånd nord kunder box?links stor skærm-->
		<div class="Tkunder">
			<h5><!--@Item.Area.KundelinksOverskrift--></h5>
			<ul class="dwcontent" id="kundelinkswrapper" Title="Kundeservicelinks" settings="limit:TKundelink.html;template:TKundelink.html">

			</ul>
		</div>
	</div>
	<!--@EndIf-->

</section>
<div id="search-box" class="dwcontent" Title="loginform">
	<!--@DwContent(search-box)--> <!-- Her hentes main.htm login fra NZ login -->

</div>

<div class="hide-for-medium-up Tkunder-wrap row"><!--til bredbånd nord kunder box?links stor mobil-->
		<div class="Tkunder row">
			<h5><!--@Item.Area.KundelinksOverskrift--></h5>
			<ul class="small-12 columns dwcontent">
				<!--@DwContent(kundelinkswrapper)-->

			 </ul>
		</div>
	</div>


<section class="sec-1 row">
	<div class="small-12 medium-10 medium-centered large-12 columns">
		<div class="row dwcontent" Title="Boxe" id="mainboxe" settings="default:true;limit:box.html,opretnybruger.html;template:box.html">

		</div>
	</div>
</section>
<!--@Include(Include/opretbruger.html)-->
