<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(Kundeoplysninger)-->
<!--@Layout.Description(Kundeoplysninger)-->
<section class="row" role="bestilling">
<div class="large-9 small-12 columns">
<h3>Tilvalg til din bestilling</h3>
<div class="bstNav">
</div>
  <div class="panel kudOplys">
  <div class="row">
<form class="custom large-9 columns">
<div class="row">
  <div class=" push-1 large-6 columns">
       <h4>Navn & Adresse</h4>
        <label>Fornavn</label>
        <input type="text" placeholder="">
        <label>Efternavn</label>
        <input type="text" placeholder="">
        <label>Vejnavn og husnr.</label>
        <input type="text" placeholder="">
        <div class="row">
        <div class="large-12 columns">
        <div class="row ">
       <div class="large-3 columns">
        <label>Postnr.</label>
        <input type="text" placeholder="">
      </div>
       <div class="large-9 columns">
        <label> By</label>
        <input type="text" placeholder="">
      </div>
      </div>
      </div>
      </div>
      <label class="check" for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;" class="hidden-field"><span class="custom checkbox"></span> Jeg accepterer Bredbånd Nords <a href="">vilkår</a></label>
      <label class="check" for="checkbox2"><input type="checkbox" id="checkbox2" style="display: none;" class="hidden-field"><span class="custom checkbox"></span> Ja tak, jeg ønsker at modtage nyheder og
        tilbud fra Bredbånd Nord. Jeg accepterer
        samtidig Bredbånd Nords <a href="">betingelser
        og persondatapolitik.</a></label>
       </div>

       <div class="large-6 push-2 columns">
       <h4>Kontaktoplysninger</h4>
         <div class="row">
        <div class="large-12 columns">
        <div class="row">
       <div class="large-6 columns">
        <label>Telefon</label>
        <input type="text" placeholder="">
      </div>
       <div class="large-6 columns">
        <label>Mobil</label>
        <input type="text" placeholder="">
      </div>
      </div>
      </div>
      </div>
      <label>E-mail</label>
        <input type="text" placeholder="">
        <p> Du modtager kvitteringen via denne e-mail.
      Denne e-mailen bruges ogå som brugernavn
      til “Mit Bredbånd Nord”.
    </p>
     <label>Adgangskode  (Mit Bredbånd Nord)</label>
        <input type="text" placeholder="">
        <label>Adgangskode  (Bekræft)</label>
        <input type="text" placeholder="">
       </div>
       </div>

        </form>
        <hr>


     <form class="custom large-9 columns">
<div class="row">
  <div class=" push-1 large-6 columns">
       <h4>Anden faktureringsadresse?</h4>
         <label for="radio3">
            <input name="radio3" type="radio" id="radio3" style="display:none;" class="hidden-field">
            <span class="custom radio"></span> Ja
          </label>
             <label for="radio4">
            <input name="radio4" type="radio" id="radio4" style="display:none;" class="hidden-field">
            <span class="custom radio"></span> Nej
          </label>
        <label>Navn/Firma</label>
        <input type="text" placeholder="">
        <div class="row">
        <div class="large-12 columns">
        <div class="row">
       <div class="large-3 columns">
        <label>Postnr.</label>
        <input type="text" placeholder="">
      </div>
       <div class="large-9 columns">
        <label> By</label>
        <input type="text" placeholder="">
      </div>
      </div>
      </div>
      </div>
         <div class="row">
        <div class="large-12 columns">
        <div class="row">
       <div class="large-10 columns">
        <label>Vej</label>
        <input type="text" placeholder="">
      </div>
       <div class="large-2 columns">
        <label>Husnr.</label>
        <input type="text" placeholder="">
      </div>
      </div>
      </div>
      </div>
           <div class="row">
        <div class="large-12 columns">
        <div class="row">
       <div class="large-6 columns">
        <label>Telefon</label>
        <input type="text" placeholder="">
      </div>
       <div class="large-6 columns">
        <label>CVR nr.</label>
        <input type="text" placeholder="">
      </div>
      </div>
      </div>
      </div>
      <label>ATT/Kontaktperson</label>
        <input type="text" placeholder="">
          <label>E-mail</label>
        <input type="text" placeholder="">

       </div>

       <div class="large-6 push-2 columns altA">
         <label for="customDropdown">Vælg hvilke produkter der skal have
alternativ faktureringsadresse
 </label>
    <select id="customDropdown" class="medium altAd">
    <option DISABLED>hej</option>
        <option value="alle">alle</option>
        <option value="kun en">kun en</option>
</select>
       </div>
       </div>
        </form>

    </div>
    </div>
<div class="right">
<a class="knap-tilbage-bestilling button radius" href="#">«Tilbage</a>
<a class="knap-f-bestilling knapKund" href="#">Gennemfør bestilling »</a>
</div>

</div>
<aside class="large-3 columns i-kurve">
<h4>Din Bestelling</h4>
<h6>ABONNEMENT<span class="right">Betales løbende</span></h6>
  <span> Waoo! 3 <span class="right">638 kr./md.</span></span>
  <ul>
  <li>Fiberbredbånd 50/50 Mbit/s</li>
  <li>Stor TV Pakke</li>
  <li>Telefoni</li>
</ul>
<hr>
<h6>TILVALG <span class="right">Betales løbende</span></h6>
<p>Alle 4 telefonitjenester<span class="right">29 kr./md.</span></p>
<hr>
<h6>OPRETTELSE  <span class="right"> Betales ved oprettelse</span></h6>
<p>Overflytning af nummer <span class="right">299 kr.</span></p>
<hr>
<div class="row">
<div class="large-12 columns">
<div class="row">
<div class="large-2 columns"><strong>I alt</strong></div> <div class="large-6 columns"><strong>Betales månedligt </strong></div><div class="large-4 columns right"><strong class="right">667 kr.</strong></div>
    <div class="push-2 large-8  columns ialt">Betales halvårligt</div>  <div class="large-4 columns ialt"><span class="right"> 0 kr.</span> </div>
    <div class="push-2 large-8  columns ialt">Oprettelse </div>  <div class="large-4 columns"><span class="right ialt"> 299 kr.</span> </div>

    </div>
    <hr>
<small class="large-12 columns" style="text-align:center;">Mindstepris i 6 måneder 4.301 kr.</small>
</div>

</div>
<div class="dms">
  <h6>Det med småt</h6>
  <ul>
    <li>Waoo! og Bredbånd Nords produkter leveres som
     standard som "Gør det selv installation". </li>
    <li> Prisen på TV2 Play i kampagneperioden (1. til 2. måned)
     er 0 kr./md. Herefter er prisen 39 kr./md.</li>
    <li> Bindingsperioden er 6 måneder.</li>
    <li> Mindsteprisen beregnes ud fra: Waoo! 3 (6x638). TV2 Play
    (4x39). Fast tildelt IP (6x39 + 99). Overflytning af nummer
    (299). Telefoni - alle tjenester (6x29). Med TV Boks
    (Personligt TV) (399). TV 2 Pakke (6x89). 24 Nordjyske
    (1x20).  Boomerang (1x20). MTV Danmark HD  (1x20).
    TCM (1x20).</li>
  </ul>
</div>
</aside>
</section>