<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(Kundeservice Forside - logget ind)-->
<!--@Layout.Description(Kundeservice Forside)-->
<!--@SnippetStart(loadscript)--><script src="js/swiper.js" type="text/javascript"></script>
<script src="js/vendor/idangerous.swiper-2.1.min.js"></script>
<script src="js/vendor/idangerous.swiper.scrollbar-2.1.js"></script><!--@SnippetEnd(loadscript)-->
<section id="slider" class="slider"><!--slideren på forside-->

	 		<div class="cycle-prev"></div><!--slider nav venstre-->
    		<div class="cycle-next"></div><!--slider nav højre-->
    		<div class="swiper-container">
      			<div id="toprotatordw" class="dwcontent swiper-wrapper" title="Toprotator" settings="limit:toprotator.html;template:toprotator.html">


            <!-- tekst <div class="swiper-slide"> <div class="content-slide"></div></div>-->
      			</div>
   			</div>
	<!--<div class="large-4 small-6 colmuns">
	<div class="Psplatter">
			    <img src="img/circle.png" alt="">
			    <a href="" class="button-slide"><span>Bestil >></span></a>
		    </div>
	</div>-->
	<!--@If(Global:Device.IsMobile<>True)-->
	<div class="Tkunder-wrap hide-for-small"><!--til bredbånd nord kunder box?links stor skærm-->
		<div class="Tkunder">
			<h5><!--@Item.Area.KundelinksOverskrift--></h5>
			<ul class="dwcontent" id="kundelinkswrapper" Title="Kundeservicelinks" settings="limit:TKundelink.html;template:TKundelink.html">

			</ul>
		</div>
	</div>
<!--@EndIf-->
</section>
<div id="search-box" class="" Title="loginform">
	<div class="row skundeS">
		<div class="small-12 large-10 medium-12 large-centered columns">
			<div class="row collapse">
				<div class="large-10 small-12 columns medium-10 left">
					<h5 style="white-space:normal">Velkommen<span class="hide-for-small"> til <!--@DwAreaName--></span> - <!--@Global:Extranet.Name--></h5>

				</div>
				<div class="large-2 small-12 columns medium-2">
				<a href="/Admin/Public/extranetlogoff.aspx?ID=245" class="button radius logInd">Log ud >></a>
				</div>
			</div>
		</div>
	</div>

</div>

<!--@If(Global:Device.IsMobile==True)-->
	<div class="hide-for-medium-up Tkunder-wrap row"><!--til bredbånd nord kunder box?links stor mobil-->
		<div class="Tkunder row">
			<h5><!--@Item.Area.KundelinksOverskrift--></h5>
			<ul class="small-12 columns dwcontent">
				<!--@DwContent(kundelinkswrapper)-->

			 </ul>
		</div>
	</div>
<!--@EndIf-->

<section class="sec-1 row">
		<div class="row dwcontent" Title="Boxe" id="mainboxe" settings="default:true;limit:box.html,box_u_hover.html,clean.html,Razorpanel.html,KontaktKSForm.html;template:box.html">
			<div class="large-3 medium-6 small-10 columns">
				<div class="myBox">
					<div class="box1 mitbbn">
						<h4>Min oplysninger</h4>
						<h6 class="kNavn">Esther Heidlbach Jensen</h6>
						<p class="adresse">klokkelyngel 34 8800 Aarhus</p>
						<hr>
						<div class="row">
							<div class="small-6 columns tNr">
								<h6>Telefon</h6>
								<p>86 66 22 66</p>
							</div>
							<div class="small-6 columns mNr">
								<h6>Mobil</h6>
								<p>86 66 22 66</p>
							</div>
						</div>
						<hr>
						<div>
						<h6>Email</h6>
						<p>estherJensen@gmail.com</p>
						</div>
						<a class="knap-tilbage-bestilling button radius" href="#" style="display:none">Rediger>></a>
					</div>
				</div>
			</div>

			<div class="large-3 medium-6 small-10 columns">
				<div class="myBox">
				<div class="box1 mitbbn igang">
					<h4>Mit Abonnement</h4>
					<p>Waoo!3 <span class="right">388 kr./md.</span></p>
					<ul>
							<li>fiberbredbånd 50/50 mibt/s</li>
							<li>lille tV Pakke</li>
							<li>telefoni</li>
						</ul>
						<hr>
						<div>
						<h6>TILVALG</h6>
						<p>Alle telefoni tjenester <span class="right">29 kr./md.</span></p>
						<p>Tv boks <span class="right">339 kr./hlvår.</span></p>
							<ul>
							<li>Charlie & co.</li>
							<li>Discovery Channel</li>
							<li>Desney Junior</li>
						</ul>
						<hr>
					   </div>
					   <div class="row">
		<div class="large-3 columns"><strong>I ALT</strong></div> <div class="large-6 columns"><strong>Betales månedligt </strong></div><div class="large-2 columns right"><strong class="right">667 kr.</strong></div>
		<div class="push-3 large-8  columns ialt">Betales halvårligt</div><div class="large-4 columns ialt"><span class="right"> 0 kr.</span> </div>
		</div>
<div class="bottom-txt">
		<h6>abonnementet er under oprettelse</h6>
		<p>så længe abonnmementet under oprettelse kan du ikke ænder dine produkter</p>
		</div>
				</div>

				</div>
				</div>
			<div class="large-3 medium-6 small-10 columns ">
			<div class="myBox">
				<div class="box1 mitbbn">
					<h4>Betalingsform</h4>
					<h6>PBS</h6>
					<p>Du er tilmeldt PBS.</p>
					<hr>
					<h6>Betalingskort</h6>
					<p>intet Betallingskort tilknyttet.</p>

					<a class="knap-tilbage-bestilling button radius" style="display:none">Rediger >></a>
				</div>
			</div>

			</div>

			<div class="large-3 medium-6 small-10 columns ">
				<div class="myBox ">
				<div class="box1 mitbbn">
					<h4 class="sidst">Indstillinger!</h4>
					<ul class="dwcontent" id="mitbbnlinks" title="links" settings="template:mitbbnlink.html;limit:mitbbnlink.html">

						</ul>
						<ul>
							<li><a href="/Admin/Public/extranetlogoff.aspx?ID=245">Log ud</a></li>
						</ul>
				</div>
			</div>
		</div>
	</div>
</section>

