
    
<div id="maincontent"><h1>Rediger min oplysninger</h1>
<h4 class="h4">Her kan du redigere dine personlige oplysninger, opgive en anden betaler og postadresse.<br>&nbsp;</h4>
</div>
<section class="active" style="padding-top: 43px;">
    <div class="title" data-section-title="" style="left: 0px; height: 43px;"><a class="button secondary" href="javascript:void(0);">Min oplysninger</a></div>
    <div id="panel1" class="content" data-section-content="">
      <h3>Funktioner &amp; Priser</h3>
<p class="info-2">Du kan vælge mellem 2 TV bokse - enten med eller uden harddisk. Den første TV boks uden harddisk får du til 0 kr.&nbsp;Efterfølgende TV bokse kan lejes fra 39 kr./md. eller købes fra 1.499 kr. Uanset antal TV bokse, opkræves halvårligt TV Servicegebyr på 399 kr., hvilket svarer til 66,50 kr./md.</p>
    </div>
  </section>

</div>
</div>
</div>