<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(TVPakker - Privat)-->
<!--@Layout.Description(Bruges på alle sider under den private del)-->

<section id="indhold" class="row indhold">
	<div class="large-10 large-centered columns tCenter dwcontent" title="toptekst" id="toptekst">

	</div>
		<div class="row">
			<div class="large-11 small-12 collapse columns" style="padding-left=0;">
				<div class="row collapse">
					<div class="large-6 small-12 columns private">
						<div class="left">
							<h2>TV til Private</h2>
							<span>Til alle der ikke er medlem af en forening</span>
						</div>
						<a class="button greenB right" href="#" data-reveal-id="addresslookup2">Bestil »</a>
					</div>
					<div class="large-6 small-12 columns forening">
						<a href="default.aspx?ID=<!--@Translate(foreningssideID,'183', global)-->"><h2>TV til Foreninger</h2></a>
						<span>Til alle der er med i en foreningsaftale</span>
					</div>
				</div>
			</div>
		</div>
		<div id="tvPakker" class="small-12 large-12 columns">
			<div class="dwcontent" Title="Grund pakker" id="Grundpakker"  settings="limit:HovedPakker.html,nav-level4.html,clean.html;template:HovedPakker.html"></div>
<hr/>
<div id="extratvtekst" class="dwcontent" Title="Ekstra TVPakker tekst" settings="template:clean.html;limit:clean.html"></div>

				<div class="section-container accordion dwcontent" Title="Ekstra TVPakker" id="tvpakker" data-section="accordion" settings="limit:TVkanal-accordion.html;template:TVkanal-accordion.html"></div>
<!--@If Defined(DwContent(fritvalgtvtekst))-->
<div id="fritvalgtvtekst" class="dwcontent" Title="Fritvalg TV tekst" settings="template:clean.html;limit:clean.html"></div>



					<div class="section-container accordion" id="fritvalgtv" data-section="accordion">
						<section class="section kanaler">
							<p class="title" data-section-title="">
								<a href="#"><i class="fi-minus"></i>10 kr./md.</a>
							</p>
							<div id="fritvalg10" class="content" data-section-content="">

							</div>
						</section>
						<section class="section kanaler">
							<p class="title" data-section-title="">
								<a href="#"><i class="fi-minus"></i>20 kr./md.</a>
							</p>
							<div id="fritvalg20" class="content" data-section-content="">

							</div>
						</section><section class="section kanaler">
						<p class="title" data-section-title="">
							<a href="#"><i class="fi-minus"></i>30 kr./md.</a>
						</p>
						<div id="fritvalg30" class="content" data-section-content="">

						</div>
					</section>
					<section class="section kanaler">
						<p class="title" data-section-title="">
							<a href="#"><i class="fi-minus"></i>40 kr./md.</a>
						</p>
						<div id="fritvalg40" class="content" data-section-content="">

						</div>
					</section>
					<section class="section kanaler">
						<p class="title" data-section-title="">
							<a href="#"><i class="fi-minus"></i>50 kr./md.</a>
						</p>
						<div id="fritvalg50" class="content" data-section-content="">

						</div>
					</section>
					<section class="section kanaler">
						<p class="title" data-section-title="">
							<a href="#"><i class="fi-minus"></i>90 kr./md.</a>
						</p>
						<div id="fritvalg90" class="content" data-section-content="">

						</div>
					</section>
				</div>
<!--@EndIf(DwContent(fritvalgtvtekst))-->
			</div>


	</section>
	<!--@SnippetStart(kanalscript)-->
	$(".kanaler img").wrap("<li></li>");
	var thisClass = "";
	$(".kanaler li").each(function() {
			thisClass = $("img", this).attr("class") ? $("img", this).attr("class") : "";
			if(thisClass == "ANHD"){ thisClass="hdan"};
			div = $("<div></div>").addClass(thisClass.toLowerCase());
			$(this).append(div).parents(".kanaler").find("ul.tvKanaler").append(this);

	});
	$(".mainpack.kanaler").fadeIn("slow");
	$(".kanaler p").not('.title').each(function(){

		if($(this).html().length == 0){$(this).remove()}
	});


<!--@If Defined(DwContent(fritvalgtvtekst))-->
	$.getJSON( "/CustomHandlers/TvPackagesAndChannels.ashx?method=FritValg", function( data ) {
	var items10 = [];
	var items20 = [];
	var items30 = [];
	var items40 = [];
	var items50 = [];
	var items90 = [];
	var thisclass = "";

	$.each( data, function( key, val ) {
	if(val.IsHdChannel==1){
	thisclass="<div class='hd'></div>";
}else{
thisclass="";
}
switch(val.Price.toString()){
case("10"):
items10.push( "<li><img src='/files/Images/Privat/Undersider/TV/TV_Pakker/Kanallogo_tms/"+val.ProvisioningCode+".png' title='"+val.ProductName+"'/>"+thisclass+"</li>" );
break;
case("20"):
items20.push( "<li><img src='/files/Images/Privat/Undersider/TV/TV_Pakker/Kanallogo_tms/"+val.ProvisioningCode+".png' title='"+val.ProductName+"'/>"+thisclass+"</li>" );
break;
case("30"):
items30.push( "<li><img src='/files/Images/Privat/Undersider/TV/TV_Pakker/Kanallogo_tms/"+val.ProvisioningCode+".png' title='"+val.ProductName+"'/>"+thisclass+"</li>" );
break;
case("40"):
items40.push( "<li><img src='/files/Images/Privat/Undersider/TV/TV_Pakker/Kanallogo_tms/"+val.ProvisioningCode+".png' title='"+val.ProductName+"'/>"+thisclass+"</li>" );
break;
case("50"):
items50.push( "<li><img src='/files/Images/Privat/Undersider/TV/TV_Pakker/Kanallogo_tms/"+val.ProvisioningCode+".png' title='"+val.ProductName+"'/>"+thisclass+"</li>" );
break;
case("90"):
items90.push( "<li><img src='/files/Images/Privat/Undersider/TV/TV_Pakker/Kanallogo_tms/"+val.ProvisioningCode+".png' title='"+val.ProductName+"'/>"+thisclass+"</li>" );
break;

}

});
$( "<ul/>", {
"class": "tvKanaler",
html: items10.join( "" )
}).appendTo( "#fritvalg10" ).parents(".kanaler").fadeIn("slow");
$( "<ul/>", {
"class": "tvKanaler",
html: items20.join( "" )
}).appendTo( "#fritvalg20" ).parents(".kanaler").fadeIn("slow");
$( "<ul/>", {
"class": "tvKanaler",
html: items30.join( "" )
}).appendTo( "#fritvalg30" ).parents(".kanaler").fadeIn("slow");
$( "<ul/>", {
"class": "tvKanaler",
html: items40.join( "" )
}).appendTo( "#fritvalg40" ).parents(".kanaler").fadeIn("slow");
$( "<ul/>", {
"class": "tvKanaler",
html: items50.join( "" )
}).appendTo( "#fritvalg50" ).parents(".kanaler").fadeIn("slow");
$( "<ul/>", {
"class": "tvKanaler",
html: items90.join( "" )
}).appendTo( "#fritvalg90" ).parents(".kanaler").fadeIn("slow");
});
<!--@EndIf(DwContent(fritvalgtvtekst))-->

$.getJSON( "/CustomHandlers/TvPackagesAndChannels.ashx?method=Pakker", function( data ) {
var items = [];
var mainPackProvCode = $(".mainpack.kanaler").attr("data-package-id");
$.each( data, function( key, val ) {
$("#tvpakker").find("section[data-package-id='" + val.ProvisioningCode + "']").fadeIn("slow").find("span.title").text(val.ProductName).parent().find("span.right").text(val.Price+" kr. / mdr.");

if(mainPackProvCode == val.ProvisioningCode){

	$(".mainpack.kanaler h3 span.price").html("- "+val.Price+" kr./md.");
	$(".mainpack.kanaler h3 span.minprice").html("<small><b>(Mindstepris inkl. TV boks i 6 mdr. "+val.Price*6+"kr.)</b></small>");
}
});
});



<!--@SnippetEnd(kanalscript)-->