<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(TVPakker)-->
<!--@Layout.Description(TVPakker)-->

<section id="indhold" class="row indhold">


<div class="dwcontent" Title="blah" id="blah"></div>

					<h3>Frit Valg TV</h3>
					<p>Herunder kan du se, hvilke Frit Valg TV kanaler du kan købe.</p>
					<div class="section-container accordion" id="fritvalgtv" data-section="accordion">
						<section class="section kanaler">
							<p class="title" data-section-title="">
								<a href="#"><i class="fi-minus"></i><span class="title">10 kr./md.</span> <span class="minprice">(Min. pris i 1 mdr. 10kr./stk.)</span></a>
							</p>
							<div id="fritvalg10" class="content" data-section-content="">

							</div>
						</section>
						<section class="section kanaler">
							<p class="title" data-section-title="">
								<a href="#"><i class="fi-minus"></i><span class="title">20 kr./md.</span> <span class="minprice">(Min. pris i 1 mdr. 20kr./stk.)</span></a>
							</p>
							<div id="fritvalg20" class="content" data-section-content="">

							</div>
						</section><section class="section kanaler">
						<p class="title" data-section-title="">
							<a href="#"><i class="fi-minus"></i><span class="title">30 kr./md.</span> <span class="minprice">(Min. pris i 1 mdr. 30kr./stk.)</span></a>
						</p>
						<div id="fritvalg30" class="content" data-section-content="">

						</div>
					</section>
					<section class="section kanaler">
						<p class="title" data-section-title="">
							<a href="#"><i class="fi-minus"></i><span class="title">40 kr./md.</span><span class="minprice">(Min. pris i 1 mdr. 40kr./stk.)</span></a>
						</p>
						<div id="fritvalg40" class="content" data-section-content="">

						</div>
					</section>
					<section class="section kanaler">
						<p class="title" data-section-title="">
							<a href="#"><i class="fi-minus"></i><span class="title">50 kr./md.</span> <span class="minprice">(Min. pris i 1 mdr. 50kr./stk.)</span></a>
						</p>
						<div id="fritvalg50" class="content" data-section-content="">

						</div>
					</section>
					<section class="section kanaler">
						<p class="title" data-section-title="">
							<a href="#"><i class="fi-minus"></i><span class="title">90 kr./md.</span> <span class="minprice">(Min. pris i 1 mdr. 90kr./stk.)</span></a>
						</p>
						<div id="fritvalg90" class="content" data-section-content="">

						</div>
					</section>
				</div>
			</div>

		</div>
	</section>
<div id="addresslookup2" class="reveal-modal">
	<form id="form2" runat="server" class="js-livesearch js-livesearch-loader" action="/CustomHandlers/LookupAddress.ashx">
		<input type="hidden" class="js-itemclick-action" value="/CustomHandlers/LookupAddress.ashx">
		<input type="hidden" class="js-noresults" value="No results found">
		<input type="hidden" class="js-error" value="An error has occurred">
		<input type="hidden" class="js-result-item-class" value="search-item">
		<input type="text" class="js-input" value="" size="100">
		<input type="submit" class="js-submit-button" value="Submit">
		<ul class="results js-results"></ul>
	</form>

	<!--@Include(Include/addresslookupreveals.html)-->
</div>
	<!--@SnippetStart(kanalscript)-->
	$(".kanaler img").wrap("<li></li>");
	var thisClass = "";
	$(".kanaler li").each(function() {
			thisClass = $("img", this).attr("class") ? $("img", this).attr("class") : "";
			if(thisClass == "ANHD"){ thisClass="hdan"};
			div = $("<div></div>").addClass(thisClass.toLowerCase());
			$(this).append(div).parents(".kanaler").find("ul.tvKanaler").append(this);

	});
	$(".mainpack.kanaler").fadeIn("slow");
	$(".kanaler p").not('.title').each(function(){

		if($(this).html().length == 0){$(this).remove()}
	});


<!--@If Defined(DwContent(fritvalgtvtekst))-->
	$.getJSON( "/CustomHandlers/TvPackagesAndChannels.ashx?method=FritValg", function( data ) {
	var items10 = [];
	var items20 = [];
	var items30 = [];
	var items40 = [];
	var items50 = [];
	var items90 = [];
	var thisclass = "";

	$.each( data, function( key, val ) {
	if(val.IsHdChannel==1){
	thisclass="<div class='hd'></div>";
}else{
thisclass="";
}
switch(val.Price.toString()){
case("10"):
items10.push( "<li><img src='/files/Images/Privat/Undersider/TV/TV_Pakker/Kanallogo_tms/"+val.ProvisioningCode+".png' title='"+val.ProductName+"'/>"+thisclass+"</li>" );
break;
case("20"):
items20.push( "<li><img src='/files/Images/Privat/Undersider/TV/TV_Pakker/Kanallogo_tms/"+val.ProvisioningCode+".png' title='"+val.ProductName+"'/>"+thisclass+"</li>" );
break;
case("30"):
items30.push( "<li><img src='/files/Images/Privat/Undersider/TV/TV_Pakker/Kanallogo_tms/"+val.ProvisioningCode+".png' title='"+val.ProductName+"'/>"+thisclass+"</li>" );
break;
case("40"):
items40.push( "<li><img src='/files/Images/Privat/Undersider/TV/TV_Pakker/Kanallogo_tms/"+val.ProvisioningCode+".png' title='"+val.ProductName+"'/>"+thisclass+"</li>" );
break;
case("50"):
items50.push( "<li><img src='/files/Images/Privat/Undersider/TV/TV_Pakker/Kanallogo_tms/"+val.ProvisioningCode+".png' title='"+val.ProductName+"'/>"+thisclass+"</li>" );
break;
case("90"):
items90.push( "<li><img src='/files/Images/Privat/Undersider/TV/TV_Pakker/Kanallogo_tms/"+val.ProvisioningCode+".png' title='"+val.ProductName+"'/>"+thisclass+"</li>" );
break;

}

});
$( "<ul/>", {
"class": "tvKanaler",
html: items10.join( "" )
}).appendTo( "#fritvalg10" ).parents(".kanaler").fadeIn("slow");
$( "<ul/>", {
"class": "tvKanaler",
html: items20.join( "" )
}).appendTo( "#fritvalg20" ).parents(".kanaler").fadeIn("slow");
$( "<ul/>", {
"class": "tvKanaler",
html: items30.join( "" )
}).appendTo( "#fritvalg30" ).parents(".kanaler").fadeIn("slow");
$( "<ul/>", {
"class": "tvKanaler",
html: items40.join( "" )
}).appendTo( "#fritvalg40" ).parents(".kanaler").fadeIn("slow");
$( "<ul/>", {
"class": "tvKanaler",
html: items50.join( "" )
}).appendTo( "#fritvalg50" ).parents(".kanaler").fadeIn("slow");
$( "<ul/>", {
"class": "tvKanaler",
html: items90.join( "" )
}).appendTo( "#fritvalg90" ).parents(".kanaler").fadeIn("slow");
});
<!--@EndIf(DwContent(fritvalgtvtekst))-->

$.getJSON( "/CustomHandlers/TvPackagesAndChannels.ashx?method=Pakker", function( data ) {
var items = [];
var mainPackProvCode = $(".mainpack.kanaler").attr("data-package-id");
$.each( data, function( key, val ) {
$("#tvpakker").find("section[data-package-id='" + val.ProvisioningCode + "']").fadeIn("slow").find("span.title").text(val.ProductName).parent().find("span.right").text(val.Price+" kr. / mdr.").find("span.minprice").text("(Min. pris i 1 mdr. "+val.Price+"kr.)");;

if(mainPackProvCode == val.ProvisioningCode){

	$(".mainpack.kanaler h3 span.price").html(" "+val.Price+" kr./md.");
	$(".mainpack.kanaler h3 span.minprice").html("<small><b>(Mindstepris inkl. TV boks i 6 mdr. "+val.Price*6+"kr.)</b></small>");
}
});
});



<!--@SnippetEnd(kanalscript)-->