<h2>Afmeld Nyhedsbrev</h2>
<!--@LoopStart(FormValidationErrors)-->
	<!--@HeaderStart-->
		<div id="errormessages">
			<ul>
	<!--@HeaderEnd-->
				<li>Error in the input field "<!--@UserManagement:User.FormValidationError.FieldNiceName-->": <a href="javascript:document.getElementById('<!--@UserManagement:User.FormValidationError.FieldName-->').focus();"><!--@UserManagement:User.FormValidationError.Message--></a></li>
	<!--@FooterStart-->
			</ul>
		</div>
	<!--@FooterEnd-->
<!--@LoopEnd(FormValidationErrors)-->

<form enctype="multipart/form-data" method="post" action="http://<!--@Global:Request.Host-->/Default.aspx?ID=<!--@Global:Page.ID-->" data-abide name="UserManagementEditForm" class="" id="interesseform">


<input type="hidden" name="UserManagementForm" value="1">
<input type="hidden" id="UserManagementForm.DeleteImage" name="UserManagementForm.DeleteImage">

	<div class="row">

		<div class="small-9 medium-10 columns">
				<label for="email-input" class="interesseLabel">E-mail *</label>
			<input name="UserManagement_Form_Email" id="UserManagement_Form_Email" type="email" id="email" required placeholder="E-mail">

			<small class="error">Venligst indtast din email!</small>
		</div>
	</div>
<input name="<!--@UserManagement:User.EmailAllowed.InputName-->" type="checkbox" id="<!--@UserManagement:User.EmailAllowed.InputName-->" value="False" />
				<!--@UserManagement:User.EmailAllowed.Hidden.Input-->


	<div class="row">
		<div class="small-9 medium-10 columns"><button type="submit" class="button primary right radius">Afmeld</button></div>
	</div>
<!--@UserManagement:User.FormEnd-->


