﻿<!--@LoopStart(FormValidationErrors)-->
	<!--@HeaderStart-->
		<div id="errormessages">
			<ul>
	<!--@HeaderEnd-->
				<li>Fejl i feltet: "<!--@UserManagement:User.FormValidationError.FieldNiceName-->": <a href="javascript:document.getElementById('<!--@UserManagement:User.FormValidationError.FieldName-->').focus();"><!--@UserManagement:User.FormValidationError.Message--></a></li>
	<!--@FooterStart-->
			</ul>
		</div>
	<!--@FooterEnd-->
<!--@LoopEnd(FormValidationErrors)-->

<form enctype="multipart/form-data" method="post" action="http://<!--@Global:Request.Host-->/Default.aspx?ID=<!--@Global:Page.ID-->" name="UserManagementEditForm" data-abide class="custom" id="interesseform"><input type="hidden" value="1" name="UserManagementForm"><input type="hidden" name="UserManagementForm.DeleteImage" id="UserManagementForm.DeleteImage">
<div class="row">
		<div class="small-9 medium-10 columns">
			<h2>Udfyld felterner herunder</h2><font size="2">(Felter med * skal udfyldes)</font>
			<p></p>
		</div>
	</div>

	<div class="row">
		<div class="small-9 medium-10 columns">
			<label for="navn-input" class="interesseLabel">Navn *</label>
			<input name="UserManagement_Form_Name" id="UserManagement_Form_Name" type="text" id="navn-input" required placeholder="Navn" >

			<small class="error">Venligst indtast dit Navn!</small>
		</div>
	</div>
	<div class="row">
		<div class="small-9 medium-10 columns">
			<label for="adresse-input" class="interesseLabel">Adresse *</label>
			<input name="UserManagement_Form_Address" type="text"  id="adresse-input" required   placeholder="Adresse">
			<small class="error">Venligst indtast Adresse !</small>
			</div>
	</div>
	<div class="row">
	<div class="small-9 medium-10 columns">
<div class="row">
      <div class="small-3 medium-2 columns">

       	<div class="row">
				<div class="small-12 columns">
				<label for="navn-postnr" class="interesseLabel" >Post nr. *</label>
					<input name="UserManagement_Form_Zip" type="text" id="navn-postnr" required placeholder="Post nr.">

					<small class="error">Venligst indtast Post nr.!</small>
				</div>
			</div>
		</div>
      <div class="small-9 medium-10 columns">
	      <div class="row">
				<div class="small-9 medium-12 columns">
						<label for="navn-postnr" class="interesseLabel">By *</label>
					<input name="UserManagement_Form_City" type="text" id="by-input" required placeholder="By" >

					<small class="error">Venligst indtast By!</small>
				</div>
	      </div>
		</div>
	</div>
</div>
</div>
<div class="row">
	<div class="small-9 medium-10 columns">
<div class="row">
      <div class="small-9 medium-6 columns">
       	<div class="row">
				<div class="small-9 medium-12 columns">
			<label for="telefon-input" class="interesseLabel">Telefon *</label>
			<input name="UserManagement_Form_Phone" type="text" id="telefon-input" required placeholder="Telefon">

			<small class="error">Venligst indtast Telefon!</small>
		</div>
			</div>
		</div>
      <div class="small-9 medium-6 columns">
	      <div class="row">
				<div class="small-9 medium-12 columns">
			<label for="mobil-input" class="interesseLabel" >Mobil</label>
			<input name="UserManagement_Form_PhoneMobile" type="text" id="mobil-input" placeholder="Telefon" maxlength="8">

		</div>
	      </div>
		</div>
	</div>
</div>
</div>

<div class="row">

		<div class="small-9 medium-10 columns">
				<label for="email-input" class="interesseLabel">E-mail *</label>
			<input name="UserManagement_Form_Email" id="UserManagement_Form_Email" type="email" id="email-input" required placeholder="E-mail">

			<small class="error">Venligst indtast din email!</small>
		</div>
	</div>
	<div class="row">

		<div class="small-9 medium-10 columns">

			<label for="checkbox1" >

				<input name="<!--@UserManagement:User.EmailAllowed.InputName-->" type="checkbox" id="<!--@UserManagement:User.EmailAllowed.InputName-->" value="True" checked="checked" />
				<span class="custom checkbox"></span> Ja tak, jeg &oslash;nsker at modtage nyheder og tilbud fra Bredb&aring;nd Nord og nyt om etablering af fiberbredb&aring;nd. Jeg har l&aelig;st og accepterer samtidig Bredb&aring;nd Nords <a href="/Default.aspx?ID=48 ">betingelser og persondatapolitik</a>.<br/><br/>

			</label>
			<!--@LoopStart(SelectableGroups)-->
			<!--@HeaderStart-->

			<!--@HeaderEnd-->
				<label for="<!--@UserManagement:User.SelectableGroup.InputName-->" style="padding-left:30px;font-weight:300">
<!--@UserManagement:User.SelectableGroup.Input--><span class="custom checkbox"></span> Jeg &oslash;nsker nyheder om 					<!--@UserManagement:User.SelectableGroup.Name--></label>
			<!--@FooterStart-->

			<!--@FooterEnd-->
		<!--@LoopEnd(SelectableGroups)-->
		</div>
	</div>
	<!--@UserManagement:User.EmailAllowed.Hidden.Input-->
	<div class="row">
		<div class="small-9 medium-10 columns"><button type="submit" class="button primary right radius">Tilmeld</button></div>
	</div>

<!--@UserManagement:User.FormEnd-->