﻿<h2>Unsubscribe for email</h2>
<!--@LoopStart(FormValidationErrors)-->
	<!--@HeaderStart-->
		<div id="errormessages">
			<ul>
	<!--@HeaderEnd-->
				<li>Error in the input field "<!--@UserManagement:User.FormValidationError.FieldNiceName-->": <a href="javascript:document.getElementById('<!--@UserManagement:User.FormValidationError.FieldName-->').focus();"><!--@UserManagement:User.FormValidationError.Message--></a></li>
	<!--@FooterStart-->
			</ul>
		</div>
	<!--@FooterEnd-->
<!--@LoopEnd(FormValidationErrors)-->

<!--@UserManagement:User.FormStart-->
	<table>
		<tr>
			<th align="left"><!--@Translate(Email, "Email")-->: </th>
			<td><!--@UserManagement:User.Email.Input--></td>
		</tr>
      	<tr style="display: none;">
      		<th align="left"><!--@Translate(confirmunsubscribe, "I want to unsubscribe")-->: </th>
			<td>
                <input name="<!--@UserManagement:User.EmailAllowed.InputName-->" type="checkbox" id="<!--@UserManagement:User.EmailAllowed.InputName-->" value="False" />
				<!--@UserManagement:User.EmailAllowed.Hidden.Input-->
			</td>
      	</tr>
	</table>
	<input type="submit" id="submitter" value="<!--@Translate(unsubscribe, "Unsubscribe")-->">
<!--@UserManagement:User.FormEnd-->