<div class="no-fiber-box js-fiber-not-found reveal-modal"><!-- fiber findes ikke box alert-->
<div class="reveal-modal-inner">
			      		<button class="js-close-box fi-x  close-reveal-modal"></button>
			      		<h3>Der findes IKKE fiber p&aring; adressen!</h3>
			      		<p>Gå til <a href="/Default.aspx?ID=<!--@Translate(bestillingID, '28', global)-->">“Bestil”</a> for at bestille<br/>alm. Bredbånd (DSL) fra Bredbånd Nord.</p>
			      		<a class="knap-f-bestilling" href="/Default.aspx?ID=<!--@Translate(bestillingID, '28', global)-->">G&aring; til bestilling >></a>
			      		<p>Eller vis os din interesse for Fiberbredbånd, så kontakter vi dig, den dag fibernettet bliver etableret i dit område.</p>
			      		<a class="knap-f-bestilling VisIn" href="/Default.aspx?ID=<!--@Translate(visinteresseID, '159', global)-->">Vis interesse >></a>
			      		<small>Når du viser din interesse er der ingen garanti for at du får fiberbredbånd, men generelt etablerer vi fibernettet først, i de områder hvor interessen er størst.</small>
		    		</div>
		    	</div>
		    		<div class="fiber-box js-fiber-found reveal-modal"><!-- fiber findes box alert-->
		    			<div class="reveal-modal-inner">
					    <button class="js-close-box fi-x close-reveal-modal"></button>
					    <h3>Du kan få fiberbredb&aring;nd!</h3>
					    <a class="knap-f-bestilling" href="/Default.aspx?ID=<!--@Translate(bestillingID, '28', global)-->"><b>Bestil >></b></a>
					</div>
					</div>
					<div class="fiber-box js-address-not-found reveal-modal">
						<div class="reveal-modal-inner">
  <button class="js-close-box fi-x close-reveal-modal"></button>
  <h3>Vi kunne ikke finde din adressen!</h3>
  <p>Gå til <a href="/Default.aspx?ID=<!--@Translate(bestillingID, '28', global)-->">“Bestil”</a> for at bestille<br/>alm. Bredbånd (DSL) fra Bredbånd Nord.</p>
  <a href="/Default.aspx?ID=<!--@Translate(bestillingID, '28', global)-->">G&aring; til bestilling</a>
  <small>Når du viser din interesse er der ingen garanti for at du får fiberbredbånd, men generelt etablerer vi fibernettet først, i de områder hvor interessen er størst.</small>
</div>
</div>
<div class="fiber-box js-user-found reveal-modal">
	<div class="reveal-modal-inner">
  <button class="js-close-box fi-x close-reveal-modal"></button>
  <h3>Du er allerede kunde</h3>
  <p>Gå til Mit Bredbånd Nord for at se dit abonnement.</p>
  <a class="knap-f-bestilling" href="/Default.aspx?ID=<!--@Translate(mitbbnID, '249', global)-->"><b>Mit Bredb&aring;nd Nord >></b></a>
</div>
</div>

<div class="js-erhverv-fiber reveal-modal">
	<div class="reveal-modal-inner">
  <button class="js-close-box fi-x close-reveal-modal"></button>
  <h3>Du har indtastet en erhvervsadresse!</h3>
  <p>Du bliver nu sendt til vores erhvervsside, hvor du har mulighed for at kontakte os og høre mere om en erhvervsløsning fra Bredbånd Nord.</p>
  <a class="knap-f-bestilling" href="/Default.aspx?ID=<!--@Translate(erhvervbestilID, '179', global)-->"><b>Bestil >></b></a>
</div>
</div>



