<div id="addresslookup2" class="reveal-modal">
		<div class="reveal-modal-inner">
	<button class="js-close-box fi-x  close-reveal-modal"></button>

<!--@If(Server:Request.nomainproducts == 'true')-->
	<h3>Fejl</h3>
	<p>Der skete en fejl i forbindelse med at gennemføre din ordre. Prøv venligst igen.</p>
<!--@Else-->
	<h3>Ny kunde</h3>
	<p>For at kunne vise dig de produkter vi kan tilbyde dig, skal du
indtaste din adresse herunder.</p>
<!--@EndIf-->


	<form id="form2" runat="server" class="js-livesearch js-livesearch-loader custom" action="/CustomHandlers/LookupAddress.ashx">
		<input type="hidden" class="js-itemclick-action" value="/CustomHandlers/LookupAddress.ashx">
		<input type="hidden" class="js-noresults" value="Søgningen gav intet resultat">
		<input type="hidden" class="js-error" value="Der opstod en fejl">
		<input type="hidden" class="js-result-item-class" value="search-item">
		<input type="text" class="js-input radius js-loader" value="" placeholder="Skriv din adresse her..." size="100">
		<button type="submit" class="js-submit-button button radius right">Tjek min adresse >></button>
		<ul class="results js-results"></ul>
		<div class="clearfix"></div>

	</form>


</div>
</div>