<footer id="footer" class="">
  <div class="row">
  <div class="small-12 medium-10 medium-centered large-12 columns">
	<div class="row">
		<div class="large-3 medium-6  small-12 columns border-left">
			<h3>Bredbånd Nord A/S</h3>
  				<dl class="vcard">
	  				<dd>Håndværkervej 27</dd>
	  				<dd>9700 Brønderslev</dd>
  				</dl>
  				<dl>
	  				<dd>Telefon 98 88 99 90</dd>
	  				<dd><a href="mailto:info@bredbaandnord.dk">info@bredbaandnord.dk </a></dd>
  				</dl>
  				<dl>
  					<dd>CVR nr.: 34 88 30 84</dd>
  				</dl>
		</div> <!--  -->
		<!--  -->
		<div class="large-3 medium-6 small-12 columns border-left">
			<h3>Følg Bredbånd Nord</h3>
			<ul class="inline-list social">
				<li><a href="https://www.facebook.com/bredbaandnord"target="_blank" title="Facebook"></a></li>
				<li><a href="http://www.youtube.com/Bredbaandnord" target="_blank" title="YouTube"></a></li>
				<li><a href="https://plus.google.com/+BredbaandnordDks/posts" target="_blank" title="Google +"></a></li>
				<li><a href="http://www.linkedin.com/company/bredband-nord" target="_blank" title="Linkedin"></a></li>
			</ul>

      <div id="trust">
      <h3>Trustpilot</h3>
			<div class="tp_-_box" data-tp-settings="domainId:36767,fontSize:13,fontColor:222222,bgColor:none,bgBarColor:646464,borderWidth:0,showReviews:False,showRatingText:False,showComplementaryText:False,usePopup:False,width:135,height:100;fontBarColor:111111,useDarkLogo:False">
    <a href="http://www.trustpilot.dk/review/www.bredbaandnord.dk" rel="nofollow" hidden>Bredb&#229;nd Nord Anmeldelser</a>
    </div>
    </div>
<script type="text/javascript">
   /* (function () { var a = "https:" == document.location.protocol ? "https://ssl.trustpilot.com" : "http://s.trustpilot.com", b = document.createElement("script"); b.type = "text/javascript"; b.async = true; b.src = a + "/tpelements/tp_elements_all.js"; var c = document.getElementsByTagName("script")[0]; c.parentNode.insertBefore(b, c) })(); */
</script>
	</div> <!--  -->
		<div class="large-3 medium-6 small-12 columns border-left">
			<h3>Om Bredbånd Nord</h3>
			<ul id="footermenu2" class="no-bullet dwnavigation" settings="template:footermenu.xslt;parentid:19;startlevel:2;endlevel:2">
				<li><a href="">Hvem er Bredbånd Nord?</a></li>
				<li><a href="">Job & Karriere</a></li>
				<li><a href="">Presse & PR</a></li>
				<li><a href="">Sponsor</a></li>
			</ul>
			<h3>Ejere</h3>
			<ul class="no-bullet">
				<li><a href="http://www.nordenergi.dk" target="_blank">Nord Energi</a></li>
				<li><a href="http://www.nyfors.dk" target="_blank">Nyfors</a></li>
				<li><a href="http://www.hef.dk" target="_blank">HEF</a></li>
			</ul>
		</div> <!--  -->
		<div class="large-12 medium-12 small-12 columns" id="bottomLogo">
				<img src="img/bottomLogo.png"  alt="">
		</div>
	</div>
 <!--  -->
 </div>
</div>
</footer>