<div id="forgotpass" class="reveal-modal">
	<div class="reveal-modal-inner">
  <button class="js-close-box fi-x close-reveal-modal"></button>
  <h3>Send adgangskode!</h3>
  <p>Indtast mailadresse herunder for at f&aring; tilsendt din adgangskode.</p>
  <form name="ExtUserForm" method="post" data-abide Action="default.aspx?ID=<!--@Global:Page.ID-->&glemtpass=send">
  	<input type="hidden" name="ForgotPassword" value="True">
  	<input type="hidden" name="ForgotPasswordConfirm" value="Dit kodeord blev sendt til din e-mail adresse.">
  	<input type="hidden" name="ForgotPasswordEmailNotFound" value="Din e-mail er ikke i vores system.">
<input type="hidden" name="ForgotPasswordMailTemplate" value="mitbbn_sendinfo.html" />
  	<input type="text" tabindex="1" name="Username" required pattern="email">
  	<small class="error">Indtast venligst e-mailadresse.</small><br/>
  	<button type="submit" tabindex="3" class="knap-f-bestilling"><b>Send >></b></button>
  </form>

</div>
</div>
<!--@If(Server:Request.glemtpass=='send')-->
<div id="glemtmailsend" class="reveal-modal">
    <div class="reveal-modal-inner">
   <button class="js-close-box fi-x close-reveal-modal"></button>
    <h3>Brugeroplysninger afsendt.</h3>
    <p>Vi har sendt dit brugernavn og adgangskode til din mail.</p>
      <a class="close-reveal-button knap-f-bestilling"><b>OK</b></a>
    </div>
</div>
<!--@SnippetStart(errorinlogin)-->
  $('#glemtmailsend').foundation('reveal', 'open');
<!--@SnippetEnd(errorinlogin)-->
<!--@EndIf-->


