<div id="opretbruger" class="reveal-modal text-left">
	<div class="reveal-modal-inner">
	<button class="js-close-box fi-x  close-reveal-modal"></button>
		  <h3>Opret ny bruger</h3>


<form id="lookUpAddress" runat="server" class="js-livesearch js-livesearch-loader js-create-user js-lookup" action="/CustomHandlers/LookupAddress.ashx" style="margin-bottom:15px">
  <input type="hidden" class="js-itemclick-action" value="/CustomHandlers/LookupAddress.ashx">
  <input type="hidden" class="js-noresults" value="Søgningen gav intet resultat">
  <input type="hidden" class="js-error" value="">
  <input type="hidden" class="js-result-item-class js-look-up-user-address" value="search-item js-look-up-user-address">
  <input type="text" class="js-input radius" value="" placeholder="Skriv din adresse her...">

  <ul class="results js-results"></ul>
</form>

<form id="lookUpUser" data-abide class="" runat="server" method="post" action="/CustomHandlers/UserManagement.ashx?target=mybbn">
  <input type="hidden" class="js-address-container js-loader" name="address" required>
  <ul class="results js-results"></ul>
  <small class="error" style="margin-top: -15px;">Indtast venligst adresse.</small>
  <input type="text" class="radius " name="axID" value="" required placeholder="Indtast kundenummer">
  <small class="error">Indtast venligst kundenummer.</small>
  <p style="font-size:12px">Du finder dit kundenummer på brevene fra Bredbånd Nord.</p>
<div class="secundaryArea">
  <input type="email" name="email" class="radius " value="" required pattern="email" placeholder="Indtast email">
  <small class="error">Indtast venligst e-mailadresse.</small>
  <p  style="font-size:12px">Skriv den email du ønsker at knytte til Mit Bredbånd Nord. Denne email bruges som brugernavn til Mit Bredbånd Nord.</p>

  <button type="submit" class="js-submit-button button radius right">Opret bruger >></button>
<div class="clear-fix" style="clear:both;width:100%"></div>
</div>
</form>
</div>
</div>

<!--@If(Server:Request.mailsend=='ok')-->
<div id="mailsend" class="reveal-modal">
    <div class="reveal-modal-inner">
   <button class="js-close-box fi-x close-reveal-modal"></button>
    <h3>Din brugerprofil er oprettet.</h3>
    <p>Vi har sendt en mail med dine brugeroplysninger til dig.</p>
      <a class="close-reveal-button knap-f-bestilling"><b>OK</b></a>
    </div>
</div>
<!--@SnippetStart(errorinlogin)-->
  $('#mailsend').foundation('reveal', 'open');
<!--@SnippetEnd(errorinlogin)-->
<!--@EndIf-->

<!--@If(Server:Request.incorrectinformation=='true')-->
<div id="incorrectinformation" class="reveal-modal">
    <div class="reveal-modal-inner">
   <button class="js-close-box fi-x close-reveal-modal"></button>
    <h3>Fejl ved oprettelse af profil.</h3>
    <p>Den indtastede adresse og kundenummeret passer ikke sammen.</p>
      <a class="close-reveal-button knap-f-bestilling"><b>OK</b></a>
    </div>
</div>
<!--@SnippetStart(errorinlogin)-->
  $('#incorrectinformation').foundation('reveal', 'open');
<!--@SnippetEnd(errorinlogin)-->
<!--@EndIf-->

<!--@If(Server:Request.userexists=='true')-->
<div id="userexists" class="reveal-modal">
    <div class="reveal-modal-inner">
   <button class="js-close-box fi-x close-reveal-modal"></button>
    <h3>Fejl ved oprettelse af profil.</h3>
    <p>Brugeren findes allerede.</p>
      <a class="close-reveal-button knap-f-bestilling"><b>OK</b></a>
</div>
</div>
<!--@SnippetStart(errorinlogin)-->
  $('#userexists').foundation('reveal', 'open');
<!--@SnippetEnd(errorinlogin)-->
<!--@EndIf-->


<!--@If(Server:Request.mailsend=='failed')-->
<div id="mailnotsend" class="reveal-modal">
    <div class="reveal-modal-inner">
   <button class="js-close-box fi-x close-reveal-modal"></button>
    <h3>Din brugerprofil er oprettet.</h3>
    <p>Men vi kunne desværre ikke sende en mail til dig med dit brugernavn og adgangskode. Prøv at bruge funktionen <b>”Glemt adgangskode”</b> senere.</p>
      <a class="close-reveal-button knap-f-bestilling"><b>OK</b></a>
    </div>
</div>
<!--@SnippetStart(errorinlogin)-->
  $('#mailnotsend').foundation('reveal', 'open');
<!--@SnippetEnd(errorinlogin)-->
<!--@EndIf-->

<!--@If(Server:Request.usercreate=='failed')-->
<div id="usercreatefailed" class="reveal-modal">
    <div class="reveal-modal-inner">
   <button class="js-close-box fi-x close-reveal-modal"></button>
    <h3>Fejl ved oprettelse af profil.</h3>
    <p>Der skete desværre en fejl under oprettelse af din brugerprofil. Prøv igen senere eller kontakt kundeservice.</p>
      <a class="close-reveal-button knap-f-bestilling"><b>OK</b></a>
    </div>
</div>
<!--@SnippetStart(errorinlogin)-->
  $('#usercreatefailed').foundation('reveal', 'open');
<!--@SnippetEnd(errorinlogin)-->
<!--@EndIf-->
