   <td width="282" valign="top" class=" w282 ">

   <table width="282" class="w282" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td width="282" class="w282">
                                          <!--@ParagraphImage-->

                                                <p align="left" class="article-title"><singleline label="Title"><!--@ParagraphHeader--></singleline></p>
                                                <div align="left" class="article-content">
                                                    <multiline label="Description"><!--@ParagraphText--></multiline>

                                                </div>

                                            </td>
                                        </tr>
                                    </tbody></table>
    </td>