  <td width="180"  valign="top" >
   <table width="180" class="w180" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td width="180" class="w180">
                                                <div align="left" class="article-content">
                                                                                                    <!--@If Defined(ParagraphImageClean)-->
<img src='/admin/public/getimage.ashx?Image=<!--@ParagraphImageClean-->&Format=jpg&Width=180&Height=100&Crop=0' alt='<!--@ParagraphImageTitle-->' />

                                                    <!--@EndIf(ParagraphImageClean)-->

                                                <p align="left" class="article-title"><singleline label="Title"><!--@ParagraphHeader--></singleline></p>
                                                    <multiline label="Description"><!--@ParagraphText--></multiline>


                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td width="180" height="10" class="w180"></td></tr>
                                    </tbody></table>

                                </td>