.nomargin{margin:0 !important; padding:0 !important}
// centering top-nav
.top-bar-section ul {display: table ; margin: 0 auto;}
.top-bar-section ul li {display: table;}
//fixed [role=banner] {
 //   position: fixed;
 //   top: 0;
//}
.clear_top {
    clear: both;
    height: 80px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: -100;
}

.indhold a:hover{color:rgb(9, 121, 223);}
.marginbottom{margin-bottom:50px;}
/**{
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
}*/
header{
    position:fixed;
    width: 100%;
    height: 79px;
    top: 0;
  background: #fff;
    @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25));
    z-index: 999;
}
nav{
    z-index:999;
}

#logo{
    margin-top:6px;position:relative;
    z-index:999;
    a{display:block;}}
#search-trigger{
border: 1px solid rgb(150, 150, 150);
color: rgb(51, 51, 51);
display: block;
font-size: 16px;
height: 30px;
left: auto;
overflow: hidden;
padding: 5px 4px 0;
position: relative;
text-align: center;
transition: none 0s ease 0s;
width: 62px;
outline: none;
z-index: 999;
top: 10px;
}

.cycle-slideshow{
    position:relative;
    width:100%;
    height:em-calc(475);
     img{
      width:100%;
      min-width:90%;
          height:em-calc(475);
     }
}
//.kundeslid{
    //top:79px;
    //margin-bottom:79px;
//}
.cycle-prev{
    left:0;
     @extend .icon-ARROW_Left !optional;
}
.cycle-next{
    right:0;
     @extend .icon-ARROW_Right !optional;

}
.cycle-prev, .cycle-next {
position: absolute;
width:45px;
height:114px;
top: 40%;
z-index: 800;
cursor: pointer;
}
.Psplatter{
    position: absolute;
    z-index: 100;
    margin-top: 23%;
    width: 22.938em;
    margin-left: -1px;
    text-align:center;
}
.button-slide{
    border: 1px solid #7fb438; // stroke
    @include box-shadow(0 2px 3px 0 rgba(0,0,0,.25)); // drop shadow
    background-color: #7fb438; // Old browsers
    @include filter-gradient(#7fb438, #8cc63e, vertical); // IE6-8
    @include background-image(linear-gradient( #7fb438 0%, #8cc63e 100%)); // gradient overlay
    border-radius: $global-radius;
    position: relative;
    left: 26px;
    top: -18px;
    width: 150px;
    text-align: center;
    padding-top: 0.7125em;
    padding-bottom: 0.4em;
    span{
            color: #fefefe;
            font-family: "Roboto";
            font-size: 1.500em;
            font-weight: 900;
            padding: 16px 28px;
         }
}
.Tkunder-wrap{
    position: absolute;
    float:right;
    right: 10%;
    top: 80px;
    text-align: center;
    @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25)); // drop shadow
    z-index:100;
    padding: 10px 8px 0px;
    background:white;
    background: rgba(255, 255, 255,.95);
}
.Tkunder{
    background-color: white;
    position:relative;
   width: 316px;
    height: auto;;
    @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25)); // drop shadow

        h5{
            color: #000;
            font-size: 24px;
            padding-top: .34em;
            font-weight: bold;
            line-height: 1.4;
        }
    ul{
       text-align: left;
       overflow: hidden;
       margin-bottom: .6em;
            li{

             border-bottom: 1px solid #fff;

                &:last-child{border-bottom:0px; line-height:1.67}
            }
        }
        a{
            display: block;
            margin-right: 15px;
            padding: 0.41em 0.6em 0.75em 55px;
            color: #fff;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            margin-left: 15px;
            top: 4.2px;
            &.kunde {
                    @extend .icon-kunderS !optional;
                    }
                    &.mit {
                         @extend .icon-ErrowIcon !optional;
                    }
                    &.hjalp{
                        @extend .icon-RegningIkon !optional;
                    }
                    &.drift{
                        @extend .icon-Tandhjul !optional;
                    }
                    &.kont{
                        @extend .icon-telfIkon !optional;
                    }
                    &.installation{
                        @extend .icon-instal !optional;
                    }
                     &.internet{
                        @extend .icon-fiber !optional;
                    }
                      &.tv{
                        @extend .icon-TV !optional;
                    }
                     &.telefoni{
                        @extend .icon-telefonS !optional;
                    }
                }
}

.knap-kontakt{
    width: 100%;
    border: 1px solid #e36d00;// stroke
    background-color: #e46d00; // Old browsers
    @include filter-gradient(#e46d00, #f5851f, vertical); // IE6-8
    @include background-image(linear-gradient( #e46d00 0%, #f5851f 100%));// gradient overlay
}

#search-box{
    position:relative;
    margin-bottom:em-calc(40);
    width: 100%;
    z-index:200;
    background-color: #f5851f ;// color overlay
    @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25)); // drop shadow
    padding:6px;
        form{margin-bottom:0;}
        h5{
            font-size: 1.35em;
            color: white;
            padding-top: .23em;
            font-weight: 500;
            margin-bottom: 0;
            padding-left: 20px;
            white-space:nowrap;
        }
        .adresseBox{
            margin-left: -20px;
            padding-left: 5px;
            padding-right: 0;
            margin-right: 20px;
        }
        input[type="text"], input[type="password"]{
            height:35px;
            @include border-radius($global-radius 0px 0px $global-radius);
            margin-bottom:0px;
            margin-bottom: 0;
            margin-top: .12em;
            margin-left: 0;
            font-style: italic;
            font-weight: 300;
            padding:.2em;
             -moz-user-select: none;
             -webkit-user-select: none;

     }

    .sales{margin-bottom:10px}
    .sales h5{font-size:1em}
.skundeS, .sbox{
margin-top: 0px;
    h5{
        font-size:1.22em;
        span{display:inline !important;}


      }
          input[type="text"],input[type="password"] {
            margin-bottom: 0;
            height: 35px;
             @include border-radius($global-radius);

            }
            input[type="text"].findaddress{border-radius:6px 0px 0px 6px;
            -webkit-border-radius: 6px 0px 0px 6px;
-moz-border-radius: 6px 0px 0px 6px;
-ms-border-radius: 6px 0px 0px 6px;
-o-border-radius: 6px 0px 0px 6px;}
            .glemt_link{color:white; font-size:80%;}
            .glemt_link:first-of-type{border-right:1px solid #FFF; margin-right:10px; padding-right:10px}

    .logInd{
    height: 35px;
    border: 1px solid #7fb438; // stroke
    background-color: #7fb438; // Old browsers
    @include filter-gradient(#7fb438, #8cc63e, vertical); // IE6-8
    @include background-image(linear-gradient( #7fb438 0%, #8cc63e 100%)); // gradient overlay
    padding-top: 0.3em;
    margin-bottom: 0;
    top: 2px;

    }
    .knpFace{
    height: 39px;
    border: 1px solid #39579b; // stroke
    background-color: #3a589b; // Old browsers
    @include filter-gradient(#3a589b, #566fa4, vertical); // IE6-8
    @include background-image(linear-gradient(#3a589b 0%, #566fa4 100%)); // gradient overlay
    padding-top: 0.455em;
    margin-left:8px;
    }
    }
    }
input::-ms-clear {
    display: none;
}
form .row .row.collapse input.knap-tjek{
   /* width: 177px; */
    height: 35px;
    border: 1px solid #7fb438; // stroke
    background-color: #7fb438; // Old browsers
    @include filter-gradient(#7fb438, #8cc63e, vertical); // IE6-8
    @include background-image(linear-gradient( #7fb438 0%, #8cc63e 100%)); // gradient overlay
    font-size:em-calc(17);
    margin-bottom:0px;
    margin-top: .12em;
    line-height: 1.9 !important;
     -moz-user-select: none;
    -webkit-user-select: none;
    outline:none;
    @include border-radius(0px $global-radius $global-radius 0px);

    }
#interesseform label[for=checkbox1]{padding-left:20px; span{margin-left:-20px}}
.footer-knap{
    z-index:150;
    right:16px;
    width: 106px;
    height: 42px;
    border: 1px solid #e36d00; // stroke
    background-color: #e46d00; // Old browsers
    @include filter-gradient(#e46d00, #f5851f, vertical); // IE6-8
    @include background-image(linear-gradient(#e46d00 0%, #f5851f 100%)); // gradient overlay
    font-size:em-calc(19);
    padding:0;
background-color: #e36d00;
border-color: #e36d00;
}
.myBox, aside .myBox2{
    transition:all 0.25s ease 0s;
    width:100%;
    padding:0px;
    @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25)); // drop shadow
    figur{width:100%;}
    img{width:100%;}

}
.myBox2 .date-and-author{position:relative; float:left; clear:both; left:0px; bottom:0px; height:24px;}
.myBox.soegbox{position:relative}
.myBox.soegbox .box1{height:135px;}
.myBox.soegbox article{font-weight:300}
.myBox.soegbox:after {
position: absolute;
bottom: 0px;
left: 0px;
right: 0px;
height: 70px;
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, #ffffff 80%) repeat scroll 0% 0% transparent;
content: "";
}
#mainbox .large-3{margin-bottom:20px}
#mainboxe .box1, .indhold .box1,
aside .myBox2 .box-text{
    width:100%;
    position:relative;
    padding: 16px 0px 11px 15px;
    background:white;



        h4{
        margin-top:0;
        line-height: 1.2;
        margin-right: 10px;
        font-size: 1.45em;
        margin-bottom: 0.4em;
        color:#f5851f;
        }
        :not(h4) a{
        color:#000;
        margin:0;
        padding:0;

        }
        p{margin-right: 15px !important;line-height:1.4;font-weight:normale;}
}

#mainboxe .box1{height:152px;}
 .box-text:after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, rgb(255, 255, 255) 100%) repeat scroll 0% 0% transparent;
    content: "";
}
#mainboxe .myBox.nolink .box1{
        h4{color:#000}
        a{color:$primary-color}
    }
#slider{position:relative;}
.cycle-slideshow img { width: 100%;}
.sbox{padding: 0px 18px 0px 0px; margin-left: 0;}

.sec-1{ margin-top:40px;padding-bottom:8px;}
.sec-2{  margin-top:0px; margin-bottom:27px;
.nyt{text-align:center; font-size:2.1em!important;font-weight:700!important;margin-top: 0.3em;margin-bottom: 0.4em;}}
.sec-1 > div{margin-bottom:11px;padding-bottom:14px;}
.boxeffect:hover{
cursor: pointer;
 @include box-shadow(0 2px 7px 0 rgba(0,0,0,.5)) ;// drop shadow

  h4{
   color:#0979df !important;
  }
}
//borders
.border{border-bottom: 1px solid #b7b7b7; }
.border-top{border-top: 1px solid #b7b7b7; }
.border-left{border-left: 1px solid #b7b7b7;
padding-left: 24px; height:em-calc(300);}
//section 2

.divid{
        margin: .96em 0 1.1875em;
     }
.myBox2{
    background:#fff;
    @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25));
    display: block;
    width: auto;
    float: left;
    transition: all 0.2s ease 0s !important;
    padding: 20px;
    vertical-align: top;
    margin-right: 0px;
    margin-bottom: 20px;
        .figur{
            float: left;
            margin: 0px 20px 0px 0px;
            display: block;
            overflow: hidden;
            left: 50px;
            img{
                position: relative;
                margin: 0px auto;
                vertical-align: bottom;
            }
        }
 }
.box-text{
    position:relative;
    overflow:hidden;
        h4{
            margin: 0px 0px 10px;
            font-weight: 400;
            line-height: 1.2;
            margin-right: 0;
            font-size: 1.4em;
        }
        p{
            line-height: 1.5;
            color: #333;
        }
}

.date-and-author {
    position: absolute;
    left: 270px;
    bottom: 40px;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
        time{
            color: rgb(168, 177, 179);
            position: relative;
            line-height: 18px;
            text-transform: uppercase;
            font-size: 11px;
        }
}

.read-more{
    width: 193px;
    height: 55px;
    display: block;
    margin: 0px auto;
    box-shadow: none;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    position: relative;
    bottom: 20px;
    line-height: 0;
    overflow: hidden;
    background-image: url("../img/tunge.png");
    background-repeat: no-repeat;
    color: white;
    padding: 14px;
    font-size: 14px;
    font-weight: 300;
    &:hover{
    color:#fff;
    font-weight:500;

    }
}

#footer{
    position:relative;
    width:  100%;
    width: 100%;
    background-color: #636363;
    padding: 32px 20px 0px 20px;
    color: white;
    margin-top: -8px;
        h3{
            color:white;
            font-size: 1.3875em;
            font-weight:500;
            margin-bottom: 0.3em;
        }
        p{
            font-size:.85em;
            line-height:1.4;
            font-weight:400;
        }
        input[type="text"], input[type="email"], input[type="password"] {
            @include border-radius($global-radius);
            height:1.85em;
            width:95%;
            margin: 0 0 1.2em 0;
            padding:.2em;
        }
        label{
            font-size: 1em;
            margin-bottom: 0.43em;
            color: white;
            font-weight: 400;
        }
        dd {
            font-size: .85em;
            margin-bottom: 0;
        }
        dl {
            line-height: 1.4;
            }
        .vcard {
            border: none;
            padding: 0px;
            }
        label.required:after {
            content: "*";
            color: #f6861f;
            }
        .social a[title="Facebook"] {
            @extend .icon-face !optional;
            }
        .social a[title="YouTube"] {
            @extend .icon-youtube !optional;
            }
        .social a[title="Google +"] {
            @extend .icon-gplus !optional;
            }
        .social a[title="Linkedin"] {
            @extend .icon-in !optional;
            }
        .social a {
            display: inline-block;
            width: 49px;
            height: 49px;
            transition: all 0.5s ease 0s;
            }
        .social a:hover, .social a:focus {
            @include rotate(360deg);
            outline: 0px none;
            }
            div.border-left:nth-child(4){
            border-right:1px solid #b7b7b7;
            }
        .inline-list{
            margin-left: -1.075em;
            overflow:hidden;
             li{
                margin-left: .9em;
                line-height:0;
                }
            }
            ul.no-bullet {
            line-height: 1.15;
            a{
                font-size: .85em;
                &:hover{
                color:rgb(9, 121, 223);
                }
                }
            }
            error > small, .error small.error {
font-size: .90em;
font-weight: 400;
width: 95%;
margin-top: -22px;
}
.columns .row{margin:0px;}

}
#bottomLogo
{
    padding: 93px 0px 70px 120px;
}

////////////////////////////////

.indhold{
    margin-top: em-calc(30)!important;
    margin-bottom: em-calc(50);
    h1{
        color:#333;
        font-size:em-calc(50);
        font-weight: 700;
        margin-bottom:0;
        //margin-top: -18px;
    }
    p.subheader,  h2.subheader {
        font-size: em-calc(26);
        line-height: 1.3;
        color: #333;
        font-weight: 300;
        margin-top: 0.3em;
        margin-bottom: 2.1em;
    }
    .info-1, .info-2{
        margin-top: 1.9em;
        font-size: 1.2em;
        line-height: 1.7;
        margin-bottom: 1.25em;
    a {font-weight:500;}
    a:hover, a:focus{color:rgb(9, 121, 223);}
    }
    .info-2{margin-top: .2em;}

     a {font-weight:500;}
     .button-group{
     margin-bottom:.45em;
     }

    .button-group > * {
            margin: 0 3px 0 0;
            -moz-margin-end:5px!important;

    }

   .button-group .button{
   font-size:16px;
   }

    .info{
        font-size: 21px;
        font-weight: normal;
        line-height: 1.7;
        margin-bottom: 1.25em;
    }
    aside{
     p{
        font-weight: 300;
        margin-top: 0;
        margin-right: auto;
        line-height: 1.5;
        font-size: 18px;}
            }
    h4{font-weight: normal;
        color: #333;
        font-size: 23px;
        a{font-weight:normal;}
    }
    a.button:hover{color:black;}
    button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus{color:#fff;}

}

///kundeservice Underside////
#vejl-liste{

    h3{
    color:#333;
    font-weight:500;
    }
    strong{font-size:1.1em;}
    li a{
    font-size:1.3em;
    font-weight:400;
     &:hover{
      color:$primary-color;
     }
      &:focus{
      color:$primary-color;
     }
     span{
     color:#333;
     }
    }

}
ul.button-group img {margin-top:.4em;}
////tv Pakker////
#tvPakker{
        overflow:hidden;
        background-color:#fff;
          padding-top:34px;
        @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25));
            h3{
        color: #333;
        font-weight: 600;
        font-size: 1.8875em;
        line-height: 1.2;
        margin-bottom:0px;
        span{font-weight:300;}

    } p{small{color:$primary-color}}

        small{font-size:80%;
            img{vertical-align:baseline;}}
}
#tvpakker span.minprice,
#fritvalgtv span.minprice{float:right;
            font-size: 11px;
            color: #f5851f;
            line-height: 2.6em;
}

.private{
    border-bottom:1px solid white;
    background: #fff;
    @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25));
}
.forening{
    border-left:1px solid #b7b7b7;
    border-bottom:1px solid #b7b7b7;
    border-right:1px solid #d8d8d8;
    background-color:#e1e1e1;
  @include background-image(linear-gradient(85deg, #e1e1e1 0%, #f5f5f5 100%));
  @include filter-gradient(#e1e1e1, #f5f5f5, vertical);
  h2, span{color:#656565;}
    }
.forening, .private{
padding:11px 0px 11px 20px;
h2{
     margin: 0  0 0 20px;
     padding: 0;
     font-size:3.125em !important;
     }
     span{
     margin: 0  0 0 20px;
     font-weight:300;
     }
}
  .greenB{
   width: 122px;
height: 47px;
right: 1.4em;
padding-top: .6em;
font-size: 1.7em;
color: #fefefe;
top: 27px;
  padding: .1em;
    border: 1px solid #7fb438; // stroke
    @include box-shadow(0 1px 3px 0 rgba(0,0,0,.25));
    background-color: #7fb438; // Old browsers
    @include filter-gradient(#7fb438, #8cc63e, vertical);
    @include background-image(linear-gradient( #7fb438 0%, #8cc63e 100%));
  }
.kanaler{
    .content{margin-top:0px;}
    .minprice{cursor:pointer}
}
  .tvKanaler{
  @include inline-list;
  margin-left:0;

    li{
    position:relative;
    text-align:center;
    width: 87px;
    height: 79px;
    border:1px solid #b7b7b7;
    vertical-align: middle;
    margin-left:-1px;

    &:first-child{margin-left:1px;}
  }
    img{
     display:table-cell;
     margin:0 auto;
     padding-top:0px;
    }
    .an{
     position:absolute;
    width:32px;
    height:31px;
    bottom:0;
    right:0;
    @extend .icon-Analog !optional;
    }
    .hd{
    position:absolute;
    width:30px;
    height:31px;
    bottom:0;
    right:0;
    @extend .icon-hd !optional;
    }
     .od{
    position:absolute;
    width:30px;
    height:31px;
    bottom:0;
    right:0;
    @extend .icon-OD !optional;
    }
    .hdan{
    position:absolute;
    width:30px;
    height:31px;
    bottom:0;
    right:0;
    @extend .icon-hdan !optional;
    }
    }
      .pakkerknap{
      color:#333;
    border: 1px solid #c7c7c7; // stroke
    background-color: #dcdcdc; // Old browsers
    @include filter-gradient(#dcdcdc, #e1e1e1, vertical); // IE6-8
    @include background(linear-gradient(rgba(220,220,220,.99) 0%, rgba(255,255,255,.99) 100%)); // gradient overlay

    }

    .panel p.radio-text{padding:0px 34px;}


///////////////////////
.sideBox{
    background-color:#fff;
    @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25)); // drop shadow
    padding: 13px 18px 6px 18px;
    position: relative;
    margin-bottom:20px}

.prik{
    overflow: hidden;
    width: 18px;
    height: 18px;
    margin: 0 auto;
    background: url("../img/bullet.png") 50% 50% no-repeat;
    text-indent: -50em;
}
i {
font-style: italic;
line-height: inherit;
//background: #fff;
//padding: 2px 4px;
//margin-right: 10px;
//border: 1px solid #c7c7c7;
//color: #656565;
}
.tCenter{text-align:center;}
.fiberKnap{ border: 1px solid #c7c7c7; // stroke
    background-color:#FFF;
    color:#333;
    background-color: #fefefe; // Old browsers
    @include filter-gradient(#fefefe, #ffffff, vertical); // IE6-8
    @include background-image(linear-gradient( #fefefe 0%, #fff 100%)); }
.fiberKnap:hover{
    color:$primary-color;
}
/////////////////////////////////
.indhold {
 //margin-top: 5.9em;
//margin-bottom: em-calc(50);
    h3{
        color: #333;
        font-weight: 600;
        font-size: em-calc(37);
        line-height: 1.2;
        margin-bottom:20px;
    }
    #hBottom{
        margin-top: 0.025em;
padding-bottom: 2px;

    }

}
.kT{
    position:relative;
    //width:21.8em;
    height:em-calc(220);
    background:#fff;
    padding: 19px 0px 17px 15px;
    -moz-user-select: none;
    -webkit-user-select: none;
    @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25));
    img{margin-right:35px;}
    ul{list-style:none;
    line-height:1.2;
     margin-left: 0;}
    li{
        line-height: 1.4;
        font-weight: 500;

    }
    ul li:before {
    background-color:$primary-color;
    border-radius: 50%;
    content: "";
    float: left;
    height: 0.5em;
    line-height: 1.5em;
    margin: 0.5em 0.25em 0;
    width: 0.5em;   }

    }
.transition{transition: all 0.3s ease 0s;}
.Radio{
    position: absolute;
    float: left;
    height:31px;
    width:30px;
    bottom: 23px;
    left: 44px;

}
#tilbudform.custom .custom {
    @extend .icon-Checkbox !optional;
     height:31px;
    width:30px;
    border:none;
    position:  relative;
}
#tilbudform.custom .custom.radio.checked:before {
 border: medium none;
    border-radius: 0;
    height: 50px;
    left: -4px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -20px;
    width:57px;
    height:50px;
   @extend .icon-Checkmark !optional;
   border-radius:0;
}
.wText{
    margin-bottom: 15px;
h3{
.font-weight: 900;
font-size: 25px;
color: #333;
margin: 0;
padding: 0;
line-height: 1;
}
}
.wText2{
    position: absolute;
    bottom: 6px;
    left: 36%;
    h4{
    margin: 0 0 0 10px;
    line-height: 1;
    font-weight: 900;
    font-size: 24px;
    color: #333;
    }
    a{
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
    }
}
#sammen{
.sammensat-1, .sammensat-2, .sammensat-3 {
    position:relative;
    background-color:#fff;
     @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25)); // drop shadow
    padding: 1em 0.45em 0em .5em;
     margin-bottom:em-calc(10);
     -moz-user-select: none;
-webkit-user-select: none;
        .inline-list{
        margin:0;
            li{
                margin:0;
             }

        }
        canvas{position: absolute;
width: 5px;
height: 100%;
background: white;
left: 7px;
z-index: 9;
top: 0px;}
        .ss1{
        text-align:center;
        font-size:em-calc(16);
        width:em-calc(135px);
        font-weight:500;
        float:left;
            img{padding-bottom:em-calc(10); padding-top:em-calc(10)}
         }
        h5{
        font-size:em-calc(20);
        color: #333;
        margin: 0;
        padding: 0;
        font-weight: 600;
        line-height: 1.2;
        }
        .tvNavn{font-size:0.9em;}
        small{
        font-size: em-calc(13);
        margin: 0;
        padding: 0;
        font-weight: normal;
        }
        label{
            position:relative;
            height:100%;
            width:100%;
                a{
                font-size: em-calc(15);
                margin: 0;
                padding: 0;
                font-weight: normal;
                }
        }


      #tilbudform.custom .custom.radio, #minradio2.radio, #minradio3.radio, #minradio1.radio {
        background:url("../img/Checkbox-1.png") no-repeat !important;
        position:absolute !important;
        height:27px !important;
        width:26px !important;
        top:70% !important;
        left:40% !important;
        border:none;
        border-radius:0;
        }
#minradio2.checked:before, #minradio1.checked:before, #minradio3.checked:before,  {
    border: medium none;
    border-radius: 0;
    height: 50px;
    left: -4px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -20px;
    width:57px;
    height:50px;
   @extend .icon-Checkmark-2 !optional;
   border-radius:0;
    }

        .inline-list > * {
        margin: 0 1px 0 7px;
        }
        .large-block-grid-3 > li{
        margin-bottom:1.1em;
        }

}
}
.button.secondary,
button.secondary,
.section-container section.active form .button.secondary{
    border-color:#c8c8c8;
    background-image:none;
    color:#303030 !important;
    @include filter-gradient(#ffffff, #dededc, vertical); // IE6-8
    @include background-image(linear-gradient( #ffffff 0%, #dededc 100%));
}
.section-container section.active form .button.secondary{padding-top:13px; padding-bottom:12px}


.sbutton{
            display:block;
            text-align:center;
            border-left:1px solid #b7b7b7;
            height:em-calc(100);
            width:9.2em;
            padding:0;
            position:relative;
            span, p{
                font-size:0.90em;
                color:#333;
                line-height:1.2;
                margin-top:em-calc(5);
                font-weight:900;
                margin-bottom:0;
        }
             span{
            display: block;
            line-height: .9;
        }
}
.slast{border-right:1px solid #b7b7b7; width:em-calc(150);}
.knap-f-bestilling{

    $padding: $button-med;
    @include button($padding);
    border-radius:$global-radius;
    padding-top: 0.29em;
    padding-right: 1em;
    padding-bottom: 0.8125em;
    padding-left: .5em;
    font-size: 22px;
    font-weight:bold;
    color:white;
    display: $button-display;
    //width: 255px;
    height: 46px;
    margin: 1.4em 0 1.25em;
    border: 1px solid #5b9900; // stroke
    background-color: #5b9900; // Old browsers
    @include filter-gradient(#5b9900, #8db932, vertical); // IE6-8
    @include background-image(linear-gradient( #5b9900 0%, #8db932 100%)); // gradient overlay
    font-weight:500;
    padding-left:.8em;
    padding-left:.8em;
    }
    .knapKund{
    font-size: 1.28em;
    height: 42px;
    }

    .custom.radio{cursor:pointer}
    label{cursor:default;}
    //.js-ajax-container{
    //padding-bottom:50px;
    //}

    .i-kurve{
    position:relative;
    top:63px;
    background:#fff;
    overflow:hidden;
    padding-top:14px;
    padding-bottom:10px;
    margin-bottom:50px;
     @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25)); // drop shadow
     h4{
     color:#333;
     font-weight:500;
     line-height:1.2;
     }
    h6{font-size:em-calc(15);color:#333; font-weight:900; margin-bottom: 0px;
    line-height: 1.2;
    span{font-weight:400;}}

    span{font-weight:300;}

    p, span{font-size: 0.875em !important; line-height:1.1em !important} /*app.css:9595 10300*/
    // &>div>span, span.right:first-of-type{font-size: 1em !important;}

    ul{margin-left: 20px;
        font-size: em-calc(14);
        font-weight: 300;
        line-height:1.1;}
    .ialt{padding-top:em-calc(3); font-size:.95em; font-weight:400;}
    small{font-size:75%; font-weight:300;}
    .dms{
    h6{text-transform:uppercase;line-height:1.6;margin-left: 4px;}
    margin:30px 0px 10px 0px;
    background:#f0f0f0;
    padding: 14px 6px;
font-size: 90%;
 ul{font-size:85%;}}
    hr{margin: .7em 0 .5em;}
    p{line-height: 1.1; margin-bottom: 0;}
    strong{font-size: 1em;font-weight: 900;
    }
        .pris-1{margin-left:-1px;}
    }


//bestilling 2///
.bstNav{
        height: 51px;
   //border: 1px solid #c7c7c7; // stroke
    background-color: #dcdcdc; // Old browsers
    @include background-image(linear-gradient(bottom, rgba(220,220,220,.99) 0%, rgba(255,255,255,.99) 100%)); // gradient overlay
}

.tlv{
li{margin-right:0px !important;}
.arrow_box, .arrow_box:hover{
 @include button-base;
  @include button-size;
color:#bcbcbc;
cursor:default;
position:relative;
border-left:none;
border-right:1px solid #c7c7c7;
border-top:none;
border-bottom:none;
padding-bottom:1em;
padding-right:1.4em;

}

.tlv .arrow_box:after, .tlv .arrow_box:before{z-index:99;}

.arrow_box:after, .arrow_box:before {
left: 100%;
top: 50%;
border: solid transparent;
content: " ";
height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
 z-index:99;
 }

 .arrow_box:after {
 border-color: rgba(199, 199, 199, 0);
 border-left-color: #ececec;
 border-width: 10px; margin-top: -10px; }
  .arrow_box:before {
  border-color: rgba(199, 199, 199, 0);
  border-left-color: #c7c7c7;
  border-width: 11px; margin-top: -11px; }

.arrow_box_selected,.arrow_box_selected:hover{
 @include button-base;
  @include button-size;
color:#fff;
cursor:default;
line-height:1.5;
position:relative;
border:1px solid #e36d00;
background-color: #e46d00; // Old browsers
@include filter-gradient(#e46d00, #f5851f, vertical); // IE6-8
@include background(linear-gradient( #e46d00 0%, #f5851f 100%));
}
.arrow_box_selected:after, .arrow_box_selected:before {
                left: 100%;
                top: 50%; border:
                solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                }
.arrow_box_selected:after {
z-index:100;
border-color: rgba(213, 99, 0, 0);
border-left-color: #ed790f;
border-width: 10px;
margin-top: -10px;
}
.arrow_box_selected:before { border-color: rgba(51, 51, 51, 0); border-left-color: #e36d00; border-width: 11px; margin-top: -11px; }
}
#fltN{
    margin-left:em-calc(20);
    .fstN{
    border-radius:$global-radius;
    height:44px;
    border-color:#cbcbcb;
}
h4{
    font-weight:500;
}
label{
    font-size:18px;
    font-weight:500;
}
.tlfTj{
    ul ul{
    list-style:none;
    }
    label{
        font-weight:400;
        }
        radiogroup{
            label{
                display:list-item;
                list-style:none;
            }
        }
    }
}
.knap-tilbage-bestilling{
    //width: 117px;
    height: 45px;
    border: 1px solid #c7c7c7; // stroke
    background-color: #dcdcdc; // Old browsers
    @include filter-gradient(#dcdcdc, #e1e1e1, vertical); // IE6-8
    @include background-image(linear-gradient( rgba(220,220,220,.99) 0%, rgba(255,255,255,.99) 100%)); // gradient overlay
    color:#333;
//    top:2px;
    font-size: .95em;
// padding-top: .7em;
padding-left: .5em;
padding-right:.8em;
margin-right:8px;


}
.knap-videre-bestilling{
    width: 117px;
    height: 44px;
    border: 1px solid #5b9900; // stroke
    background-color: #5b9900; // Old browsers
    @include filter-gradient(#5b9900, #8db932, vertical); // IE6-8
    @include background-image(linear-gradient( #5b9900 0%, #8db932 100%));
    //top:2px;
    font-size: 1.2em;
    padding-top: .4em;
    padding-left: 1.2em;
}

 .installation{
 .grav{
 font-size:1.6em;
 font-weight:600;
   span{font-size:.8em; font-weight:400;}
 }
 label{
 font-size:em-calc(20);
 font-weight:400;
 }
 h4{font-weight:600;}
 p{margin-bottom:.3em;}
 }
.has-tip{
 display: inline-block;
    height: 24px;
    margin: -2px 0 0 8px;
    vertical-align: middle;
    width: 25px;
 @extend .icon-tooltip !optional;
}

.accept-field label{width:100%}
.accept-field label small.error{
display: block !important;
  padding: 0.375em 0.25em 0.375em 2em;
  margin-top: 0;
  margin-left:-1.5em;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  background: #c60f13;
  color: white; }
.accept-field label.error small.error,
.accept-field label input:checked~small{display:none !important}

/*    RETTELSER TIL TOPMENU */
.top-bar-section .has-dropdown{position:static;position: initial;}
.top-bar-section ul, .top-bar-section .has-dropdown, .top-bar-section li:hover, .top-bar-section li a:not(.button):hover,
.top-bar-section ul li.active > a {background-color:Transparent !important; color:#fff;}
.top-bar-section .dropdown{width:1024px; position:absolute; text-align:center;}
.top-bar-section .dropdown li{float:left; clear:none; float:none; display:inline-block; width:auto;}
.top-bar-section .dropdown li a {background: Transparent}
#blob{width: 0px;
height: 0px;
border-style: solid;
border-width: 0 9px 9px 9px;
border-color: transparent transparent #d7cfbf transparent;
position:absolute;
bottom:-12px;
display:none;}
li.active:after{
    content: "";
 position: absolute;
    display: block;
    top: 14px;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    margin-left: 18px;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}



@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.top-bar-section .has-dropdown > a:after, .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after{display:none;}
#mainmenu .dropdown  {
position: absoulte;
    left: 0;
top: 40px;
    min-height: 51px !important;
     max-height:51px;
    background-color: #d6cebe !important; // color overlay
    @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25));
     @include transition (all .25s ease);

}
#Indicator{
    content: "";
    background:url("../img/Indicator.png");
    display: none;
    height:10px ;
    margin-left: -6px;
    position: absolute;
    width: 17px;
}
.top-bar-section ul, .top-bar-section .has-dropdown, .top-bar-section li:hover, .top-bar-section li a:not(.button):hover, .top-bar-section ul li.active > a{
    background-color: none !important;
}
#mainmenu .dropdown li{
     -webkit-transition: all .25s eas
}
#mainmenu {
   margin-top: 8px;
    }
#mainmenu ul ul{
  -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
animation: fadeIn 1s;
    -webkit-transition: height 0.3s ease-in;
            -moz-transition: height 0.3s ease-in;
            -o-transition: height 0.3s ease-in;
            -ms-transition: height 0.3s ease-in;
            transition: height 0.3s ease-in;
}
#mainmenu ul ul li{
    -webkit-transition: background-color 0.3s ease;
            -moz-transition: background-color 0.3s ease;
            -o-transition: background-color 0.3s ease;
            -ms-transition: background-color 0.3s ease;
            transition: background-color 0.3s ease;
}
#mainmenu  ul ul a{
    color: #000;
    /*padding: 16px 0 25px;*/
    display: inline-block;
    font-size: 19px;
    font-weight: normal;

}


 .top-bar-section ul li ul{
     margin-top:0;
    }
     .top-bar-section li ul li a{
     margin-top:8px;
    }
    .hover:hover{box-shadow:none;}
    .top-bar-section li.hover > a:not(.button){background:none;color:$primary-color;}

.inpath.activeitem{text-decoration: none;}
#mainmenu{
    z-index:1;
    margin-top:8px;
    font-size:16px;
    font-weight:normal;
        a{
        background:none;
        color:black;
        font-size:19px;
        font-weight:normal;
        }
}

.js-results{
  position:absolute;
  width:55%;
  margin-top: 0px;
  margin-left: 39px;
  background-color:white;
  background-color: rgba(255, 255, 255, .9);
  transition: 1.5s cubic-bezier(0, 1, 0.5, 1);
  transform: translateY(0);
  list-style-position: inside;
  list-style:none;
  @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25));
   li{
        margin:8px 0px 14px 14px;
        outline:none;
    a{
        color:#333;
        font-weight: 400;
        font-size: 1.2em;
        outline:none;
        &:hover{
        color:primary-color;
        }
        }
     }
   }
/*.js-results::after{
content: "";
display: block;
width: 0;
height: 0;
border: inset 6px;
border-color: transparent transparent white transparent;
border-bottom-style: solid;
position: absolute;
top: -12px;
left: 10px;
}*/
.loading::after  {
content:"";
display:inline;
width: 32px;
height: 32px;
position: absolute;
top: 50%;
left: 80%;
margin-top: -15px;
margin-left: -20px;
background:url(../img/Loader_GFX.gif) no-repeat;
}
form div.loading::after{right:0px; left:auto; top:21px}
.js-results .loading::after{top:-15px; right:0px; left:auto; position:absolute}





    .no-fiber-box.active, .fiber-box.active {
    display: block;
    opacity: 1;
    @include transition (all 0.2s ease-in-out);
  @include transform (scale(0.8));
    h3{
      font-size: 1.78em;
      margin: 55px 0 30px 0px;
      }
      }
      .VisIn{
      margin-top:-14px;
      }

    .js-close-box{
    display: block;
    position: absolute;
    right: -20px;
    top: -20px;
    border: 4px solid #656565;
    @include border-radius(50%);
    width: 36px;
    height: 36px;
    color: rgba(0, 0, 0, .85);
    background-color: rgb(255, 255, 255)!important;
    background: url("../img/X_CloseSearch.png") no-repeat 50% 50%;
      margin: 0;
      padding: 0;

      outline:none;
       @include transition (all 0.2s ease-in-out);
       font-size: 1.48em;
        font-weight: 300;
       &:hover{
       font-size:1.54em;
       color: rgba(0, 0, 0, 1);
       }
      }
.reveal-modal h1,
.reveal-modal h2,
.reveal-modal h3{
font-size: 1.6875em;
color: #333333;
font-weight: 500;
}

.reveal-modal .close-reveal-modal:not(.button), .reveal-modal .close-reveal-modal:not(.button):hover {
font-size: 1.375em;
line-height: 1;
position: absolute;
color: #000;
font-weight: bold;
cursor: pointer;
top:-24px;
right:-24px;
}

li.loading::after {
content:"";
display: inline;
width: 32px;
height: 32px;
position: absolute;
top: 50%;
left: 50%;
margin-top: -10px;
margin-left: -50px;
background:url(../img/Loader_GFX.png);
-webkit-animation-name: rotate;
-webkit-animation-duration: 1.5s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
-moz-animation-name: rotate;
-moz-animation-duration: 1.5s;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;
-o-animation-name: rotate;
-o-animation-duration: 1.5s;
-o-animation-iteration-count: infinite;
-o-animation-timing-function: linear;
animation-name: rotate;
animation-duration: 1.5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
      }
#opretbruger .loading::after{
    margin-top: -101px;
margin-left: 43px;
}

/*ash*/
.mainIndhold{
-webkit-transition: all .9s ease-in-out;
-moz-transition: all .9s ease-in-out;
transition: all .9s ease-in-out;
}

header#search{
    position:fixed;
}
#search {
display: none;
position: relative;
z-index: 999;
top: 7px;
right: 0;
width: 100%;
height: 51px;
-webkit-transition: all .9s ease-in-out;
-moz-transition: all .9s ease-in-out;
transition: all .9s ease-in-out;
background-color: #d6cebe !important; // color overlay
@include box-shadow(0 1px 1px 0 rgba(0,0,0,.25));

 label {
position: relative;
display: block;
padding: 0;
height: 50px;
font-size: .0625em;
margin: 0 0 3px 9px;
}

input {
position: absolute;
top: 5px;
left: 58px;
margin: 0;
padding: 0;
min-height: 30px;
max-height: 40px;
width: 100%;
outline: 0;
border: 0 none;
background: none;
font-size: 26px;
font-weight: 300;
box-shadow: none;
}
.close {
background:url("../img/X_CloseSearch.png");
width: 16px;
height: 15px;
display: block;
position: absolute;
top: 20px;
right: 28px;
overflow: hidden;
color: rgb(0, 0, 0);
z-index: 20;
font-size: 25px;
font-weight: normal;
text-align: center;
}
}
#search>div {
position: relative;
margin: 0 auto;
width: 1426px;
padding-right: 10px;
}
#search button[type=submit] {
display: none;
}
.dropdown:after {
     content: "";
    position: absolute;
    top: 31px;
    display: block;
    width: 100%;
    height: 51px;
    -webkit-transition: height .15s;
    -moz-transition: height .15s;
    -o-transition: height .15s;
    -ms-transition: height .15s;
    transition: height .15s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.dropdown.expanded:after {
    height: 52px;
}
[class*="column"] + [class*="column"]:last-child {float:left;}
//sWAPPR
.swiper-container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
}
.swiper-wrapper {
    position:relative;
    width:100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;

    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;

    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);

    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;

    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
    /* Specify Swiper's Size:*/
    width:100%;
    height: em-calc(470);
    text-align:center;
}

.swiper-slide {
    /* Specify Slides's Size: */
    width:100% ;
    height: 100%;
    img{height:100% !important;}
}

.swiper-slide-active {
    /* Specific active slide styling: */

}
.swiper-slide-visible {
    /* Specific visible slide styling: */

}

[role="complementary"], [role="main"] {
    padding:0 !important;;
}
.mainIndhold.slided-down{
padding-top: 51px !important;
}
 /* end media query */

[role="main"]:before {
    content:"";
    /* Changes the bg color of the flyout panel */
    background-color: #D6CEBE ;
}
#sidebarButton{
    background: url("../img/Mobi_Menu.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 34px;
    margin: 20px 0 0 10%;
   width: 45px;
}
#sideMenu ul li a {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    display: block;
    line-height: 2;
    list-style: none outside none;
    padding: 0 10px;
}
#sideMenu > ul li{
    list-style:none;
}
#sideMenu ul li ul a{
    font-size:.95em;
    font-weight:300;
}

#sideMenu .has-dropdown{
    color:#FFF;
    list-style:none;
    // border-bottom: 1px solid #b6b6b6;
    // padding-left: 20px;
    margin-bottom:20px;
    li{list-style: none}
    a{color:#000}

}
#trust{margin-top:em-calc(35);
h3{margin-bottom:0px;}}
.tp_-_box{margin-left:-10px;margin-top:-5px;}


.f-dropdown{padding:10px; max-width:372px; -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    p{margin:0px !important; padding:0px !important}}
.indhold .large-8 p.requiretext{font-size:15px !important;}
/* ============================================================================================================================== */
/* ==============================================================================================================================
MEDIEQUERIES HERE BELOW
=============================================================== */
/* ===============================================================*/


@media only screen and (max-width:1750px){.swiper-container{ height:564px;}
    .swiper-slide{ width:1500px!important;min-width:1200px;height:564px!important;}
}

@media only screen and (max-width:1455px) {
.swiper-container{ height:470px;}
.swiper-slide{ width:1249px!important;min-width:1249px;height:470px!important;}
}
@media only screen and (max-width:1350px){
.swiper-container{ height:400px;  }
.swiper-slide{ width:1063px!important; min-width:1063px; height:400px!important;}
.Tkunder-wrap{top:45px;}


}

@media only screen and (max-width: 1280px)  {

.medium-block-grid-2{ @include block-grid(2, $block-grid-default-spacing, true); }
#search-box .skundeS h5{font-size:1.2em; padding-top:0.3em}
.swiper-container{  height:361px;}
.swiper-slide{max-width:960px!important;min-width:560px;width:960px!important; height:361px!important;}
#logo{margin-left: 20px;}
#search-trigger {margin-right:20px;}
#bottomLogo{padding:20px 24px 20px 24px;}
.sec-1, .sec-2 {padding:0 20px;}
.Tkunder-wrap{top:20px;}
.cycle-prev, .cycle-next{top: 30%;}
}
@media only screen and (max-width:1050px){
.swiper-container{ height:339px;  }
.swiper-slide{ width:900px!important; min-width:800px; height:339px!important;}
.Tkunder-wrap{top:8px;}
.cycle-prev, .cycle-next{top: 25%;}
#tilbudform .small-block-grid-1 > li.produkt{width:100%;
.wText2{left:160px;}}
}
@media only screen and (max-width:1130px){
aside .myBox2{
    background:#fff;
    @include box-shadow(0 1px 1px 0 rgba(0,0,0,.25));
    display: block;
    width: 100%;
    float: left;
    transition: all 0.2s ease 0s !important;
    padding: 20px;
    vertical-align: top;
    margin-right: 0px;
    margin-bottom: 20px;
        figur{
            width: 33%;
            float: left;
            display: block;
            overflow: hidden;

            img{
                min-width: 100%;
                width: 100%;
            }
        }
 }
aside .myBox2 .box-text{
 width: 66%;
padding: 0 0 0 20px;
        h4{
            margin: 0px 0px 10px;
            font-weight: 400;
            line-height: 1.2;
            margin-right: 0;
            font-size: 1.4em;
        }
        p{
            line-height: 1.5;
            color: #333;
        }
}

.large-3.large-push-1{left:0px}

}
@media only screen and (max-width:1023px){
    .cartwrapper{position: fixed;
        top: 100%;
        /* top: auto; */
        margin-top: -38px;
        width: 100%;
        z-index:999;
        .product-cart{position:relative; padding-top:40px }
        .i-kurve{top:-9px}

        h4{margin:-55px -20px 10px -20px; padding:10px 20px;
            @include background-image(linear-gradient(bottom, #609d05 0%, #88b72d 100%));
            color:#FFF;
        }
        h4:after{content:" ";float:right; margin-right:10px; background: url("../img/mobile-up-dn.png") no-repeat 0px 6px; width:22px; height:22px}
        &.isDown h4:after{content:" ";float:right; margin-right:10px; background: url("../img/mobile-up-dn.png") no-repeat 0px -20px; width:22px; height:22px}
    }

}
@media only screen and (min-width:1024px){
    .cartwrapper{margin-top:0px !Important}
}

@media only screen and (max-width:950px) {.swiper-container{ height:320px;}
.swiper-slide{ width:850px!important; min-width:850px; height:320px!important;}
.Tkunder-wrap{top:0px;}
.Tkunder h5{font-size:22px;}
.Tkunder a{overflow:hidden;font-size:18px;top:0;}


}
//@media only screen and (max-width:850px) {
//.swiper-slide{ width:700px!important; min-width:700px; height:263px!important;}
//.Tkunder-wrap{top:0px;}
//.Tkunder h5{font-size:20px;}
//.Tkunder a{font-size:18px;top:0;}
//}

@media (max-width:795px) {
#search-box, .Tkunder-wrap{width:100%}
#logo {margin-top: 23px;}
.button.primary.right.footer-knap.radius{right:32px;}
#footer div.border-left:nth-child(4){border-right:none;}
#sideMenu > #mainmenu .dropdown {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    box-shadow: none;
    height: 100%;
    left: 0;
    max-height: 100%;
    transition: all 0.25s ease 0s;
}

.indhold .large-8 h1{line-height:1.3em !important;font-size:2.8em;}

.swiper-container{ height:226px;}
.swiper-slide{ width:700px!important; min-width:700px; height:226px!important;}
.mainIndhold.slided-down{padding-top:0 !important;}
.indhold h1{line-height:normal;}
 .nav-bar > li:hover {
        border-bottom: none;
    }

    .nav-bar > li > a.main {
        border:none;
    }

.Tkunder-wrap {
    margin-bottom:em-calc(20);
    position: inherit;
    top: 0px;
    z-index:1;
     left: 0;
    margin-left:0;
    margin-right:0;
    padding:0;
    .Tkunder{padding:0 12px; margin:0px;}
    ul{
    padding:0px;
    list-style:none;
    .knap-kontakt{width:50%;float:left; border-top: 1px solid #e36d00; border-left:1px solid #FFF; border-right:0px}
    }
    }
    .Tkunde{
    font-size:18px;

    a{
            display: block;
            margin-right: 15px;
            padding: 0.41em 0.6em 0.75em 55px;
            color: #fff;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            margin-left: 15px;
            top: 4.2px;
            }

    }
    .top-bar{
      background:none;
      position:absolute;

    }
    #search-trigger{
    background:url("../img/soeg.png") no-repeat;
     border:none;
    height: 40px;
    right: 15px;
    top: 20px;
    width: 42px;
    }
    .myBox2{width:100%;
    img{min-width:220px;}

    }
    #logo a{padding:0px 10px}
    #logo img{margin-left:0px; max-width:100%}
.sec-1 {padding:0;}
.cycle-slideshow{margin-bottom:0px;}
#search-box{top:0px; margin-bottom:0px;z-index:1;}
.sec-2 {padding: 0;}
.greenB{ right: 1em; top: 25px;}
.mobil_links{background-color:rgba(0,0,0,0.2);
display:block;
a{color:#000; @include box-shadow(0 1px 1px 0 rgba(234, 234, 234, 0.5));line-height:2;margin:6px 0; padding-left:20px !important}
li.active:after{   border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF;
        width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #fff;
    content: "";
    display: block;
    height: 0;
    margin: 0;
    position: absolute;
    top: auto;
    bottom:7px;
    width: 0;}
}
#footer{padding-right:55px;}

#bottomLogo{padding:0px 24px 35px 24px;}
}
.error input, .error textarea, .error select{
    border:none;
    background-color:#f4a4a4;
}
error > small, .error small.error {
font-size: 1.25em;
font-weight: 400;
}
#driftWarningDiv a{
    font-size:13px !important;
}

#mainboxe .mitbbn.igang{background-color:#fbdcc0;margin-bottom:0px; height:auto !important; padding-bottom:100px}


#mainboxe .mitbbn{
    min-height:360px;
    height:380px;
    .icon-chkMsmall{width:35px; height:30px; margin-top:20px;}
    .left.content{width:225px; padding-bottom:15px;}
    p{font-size:15px;
        span{font-size:13px;}}
    table{background-color: transparent;width: 100%; margin-bottom:0px !important;
        tr{background-color: transparent;}
        td{font-size: 15px !important; background-color: transparent;}
        td.right{text-align: right;font-size: 13px; white-space:nowrap; padding-right:15px !important;}
        td.small{font-size:13px;}
    }

    .buttonwrapper{width: 100%;
clear: both;
text-align: center;
position: absolute;
bottom: 15px;
left: 0px;

        .button{width: auto;
margin: 0px;
position: initial;
padding: 5px 10px;
clear: both;}
}

 img.left{width:40px; border:none}
.bottom-txt{
@include background-image(linear-gradient(bottom, #e46d00 0%, #f5851f 100%)); // gradient overlay
color:white;
padding:5px 15px;
margin: 15px -15px 0 -15px;
position: absolute;
bottom: 0px;
h6{
    text-transform:uppercase;
    font-size:0.95em;
    color:white;
    margin-bottom:.2em;
    font-weight:700;
}
p{line-height:1.2;
margin-bottom:.75em;
font-size:0.9em}
}

p{
line-height: 1.1;
margin-bottom: 0;}
.knap-tilbage-bestilling{
    top: 80%;
    position: absolute;
    left: 30%;
    padding-top: .75em;
    color:black;
    &:hover{color:black;}
}
ul{
    list-style-position:inside;
    font-size:.85em;
    margin-bottom:0px;
}
a {
    color:$primary-color;
    &:hover{color:rgb(9, 121, 223);}
}
hr{margin-top:.80em;margin-bottom:.80em;margin-right:0.78125em}
strong, ialt{font-size:.90em}
h6{font-size: 1em;
color: rgb(51, 51, 51);
font-weight: 900;
margin-bottom: 0px;
line-height: 1.6;}
.sidst{color:black;}
}
#form.phonevlg{
.custom.radio{float:left;margin-right:6px;padding:0px!important;margin-top:-1px;}
.custom.checkbox{top:-3px;margin-right:6px;}
.custom.radio.checked:before{
height: 100%!important;
width: 100%!important;
@extend .icon-RadioChecked;top: 1px;
left: 1px;
}
#phonenumber{height:42px;border-radius:$global-radius;}
h4{padding-left:4px;font-size: 1.5625em;; margin-top:-2px;font-weight:500!important;line-height: 1;
margin-bottom: 0.625em;}
.flyt{font-weight:500;font-size:1.5625em;margin-bottom:0.625em;}
.custom.dropdown{height:42px; background:none;border-radius:$global-radius;}
.custom.dropdown .current{height:100%;font-size: 1.25em;
padding: 2px 0 0 10px}
 .number-relocation-container{
 label{
 font-weight:500;
 font-size:18px!important;
 padding-bottom:.2em;
}
.fltN{margin:1em 0 0;}
.marginLeft{margin-left:1.25em;}
.custom.checkbox.checked:before{
    content:""!important;
    border: medium none;
    width:29px;
    border-radius: 0;
    height: 28px;
    margin-left: -8px!important;
    padding: 0;
    position: absolute;
    top: -17px!important;

   @extend .icon-chkMsmall !optional;
   border-radius:0;
    }

}

.additional-products label {font-size:18px;font-weight:400;margin-bottom:.4em;}
.additional-products li label{margin-bottom:.1em;}


}
#rightcolumn{
    margin-top:25px;
}
#form{
.custom.radio{float:left;;padding:0px!important;margin-top:1px;
 height:23px;
 width:24px;
 border:none;
  @extend .icon-RadioButton; }
.custom.radio.checked:before{
height: 100%!important;
width: 100%!important;
@extend .icon-RadioChecked;top: 1px;
left: 1px;
}
.custom.dropdown{height:42px; background:white;border-radius:$global-radius;@include box-shadow (inset 0 1px 2px rgba(0, 0, 0, 0.1));}
.custom.dropdown .current{height:100%;font-size: 1.25em;
padding: 2px 0 0 10px}
 label{
 font-weight:400;
 font-size:18px!important;
 padding-bottom:.5em;
    span{
   vertical-align:middle;
    }
}
.custom.checkbox{
    //border-radius:4px;
    @extend .icon-Checkbox-2;
    //margin-top:4px;
    height:23px;
    width:23px;
    vertical-align:middle;
    border:none;

}
   .custom.checkbox.checked:before{
    content:""!important;
    border: medium none;
    width:29px;
    border-radius: 0;
    height: 28px;
    margin-left: -8px!important;
    padding: 0;
    position: absolute;
    //top: -17px!important;
   @extend .icon-chkMsmall !optional;
   border-radius:0;
    }
label[for="no-tv"]{
    h4{
    font-size:1em;
    font-weight:400;
    }
}
h4{font-weight:500;}
.custom .custom.dropdown{
border-radius: $global-radius;
background:none;
height:42px;
}

.custom.dropdown .current{
    height:100%;
    margin-top:0em;
    font-size: 1.25em;
    font-weight: 400;
}
.custom.dropdown .selector{
    background-color:#5b9900;
    @include background-image(linear-gradient( #5b9900 0%, #8db932 100%));
    height:100%;
    @include radius(0 4px 4px 0px);
}
label [for="tv-packages"], label[for="tv-channel"]{
    font-size:18px;
    font-weight:400;
}
.tv-packages-button:checked ~ .tv-packages-container, .tv-channel-button:checked ~ .tv-channel-container {
margin-left: 20px;
line-height: 1.2;
font-size: 18px;
font-weight: 400;
}

#no-tv, #tv-box {
overflow: hidden;
float: left;
margin-right: 3px;
}
}

#form.installationform{
.grav{margin-bottom:.1em;}
p{font-size:.9em;margin-left:20px;font-weight:500;margin-bottom:.2em;}

}
#form.informationform{

    input[type="text"], input[type="email"]{height:42px;font-size:normal;  border-radius: $global-radius;padding:0 .5em; }
    textarea{border-radius: $global-radius;height:5em;

    }
    input[readonly]{background-color: #dddddd;}
.kudOplys{
 h4{
 font-weight:500;
 }
 label{
    font-size:em-calc(18);
    margin-bottom:0;
    font-weight:400;
 }
.altA{
    top:110px;
}
.altAd{
    height:41px;
    @include border-radius($global-radius);
}
p{
    margin-top:-10px !important;
    margin-top: -10px !important;
    line-height: normal!important;
    font-weight: normal!important;
    font-size: .90em !important;
}
.check {
    font-size:.8em!important;
    display:block;
    float:left;
    vertical-align: middle;
    position: relative;
    padding-left: 18px;
    text-indent: -20px;
    line-height:normal;
    color:#000;
}

  f[type="text"]{
              height:44px;
             @include border-radius($global-radius);}

 }
}
.menuwrapper{
    p{margin-bottom:0px;padding-bottom:0px;}
}

#cookieWarningDiv p a:hover{text-decoration:underline !important;}

@media(min-width:761px){
.myBox .hide-for-small{display:block !important;}
// div>.medium-6 {
// width: 50%;
// }
}

@media(max-width:794px){
 div>.medium-6 {
 width: 50%;
 }
 #footer{padding-left:0px; padding-right:0px;}

}

@media(max-width:767px){
 div:not(#footer) div>.medium-6 {
 width: 100%;
 }

}

@media(max-width:760px){

.myBox {
background: rgb(255, 255, 255);
-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
display: block;
width: 100%;
float: left;
transition: all 0.2s ease 0s !important;
padding: 20px;
vertical-align: top;
margin-right: 0px;
margin-bottom: 20px;
 a{display:block;}


img { float: left; max-width:163px; max-height:97px; width:auto;position:relative; right:20px; margin-left:20px;}
.box1{background:none;box-shadow:none;
        width:100%;
        margin-bottom:0px;
    padding: 16px 0 15px 10px;
    position: relative;}
    .sideBox{background:none;box-shadow:none;
    h4{fon-size:1.25em;
    overflow:hidden;}}

}

.myBox.soegbox{height:125px;
    .box1 article p{height:47px; overflow:hidden}}
.myBox2:after, .myBox:not(.mitbbn):after, .myBox.soegbox:after{
 background:url("../img/h4_after.png");
font-size: 60px;
font-family: "Roboto", Arial, sans-serif;
float: right;
position: absolute;
height:35px;
width:20px;
color: #f5851f;
content: "";
right: 17px;
left:auto;
top: 50%;
margin-top: -17px;
color: #f5851f;
}
.myBox2.boxeffect:hover:after, .myBox.boxeffect:hover:after{background:url("../img/h4_after_hover.png")!important;}


}



@media(max-width:690px){
.bstNav{height:auto;}
.indhold .button-group.tlv{background:#FFF; margin-bottom:0px}
.indhold .button-group.tlv li{
border-style: none;
border-width: 0px;
border-color: #e6e6e6;
}
.indhold .button-group.tlv li,
.indhold .button-group li a{width:100%; height:40px;}
.indhold .button-group li a,
.indhold .button-group li a:hover
{padding-top:0.35em;}
.indhold .button-group li a:after,
.indhold .button-group li a:before{content:none}

.border-left {
    border-left:none;
    border-bottom: 1px solid #B7B7B7;
    margin:0px 24px 24px 0px;
    height:auto;
}
}


@media(max-width:595px){
  .small-block-grid-1{ @include block-grid(1, $block-grid-default-spacing, true); }

}

/*MAX WIDTH 450PX*/

@media (max-width:450px) {
#form .tv-packages-container label{font-size:14px !important}
    //     .figur{width:0;}
    // .figur img, figur img, .myBox img{height:0; overflow:hidden;}
    .indhold .box1 h4{margin-right:0;padding:0;}
#search-box .skundeS{
    .logIndlinks{text-align:center; padding-bottom:5px;}
 .logInd{width:100%; margin-bottom:5px;}
}
#tilbudform .small-block-grid-1 > li.produkt{
    .kT>img{display:none;}
    .kT li{margin-left:0}
    .wText2 {left: 60px;}
    .Radio{left:25px;}
}
// aside .myBox2{ figur{display:none}
//     .box-text{width:100%;padding:0px}
// }

.sbutton{width:50% !important}
}

.afmeld{position:relative;top:10px; font-size:90%;}
.midt.right {margin-right: 15%; margin-top: 14px;}

//#form .additional-products .custom.radio{margin-top:-1px !important;}
#form label.required:after{content:"*";
}
.aendring{margin-top:0px;width: auto; margin-right: 8px}
.phone-number-container{ input[type="text"], input[type="search"]{
 height:42px;
 border-radius:$global-radius;
     padding-top: 4px;
}


}



.nulstil{height:48px;}

@media(max-width:1515px){
    left:auto;
    right:10%;
}
@media(min-width:1516px){
.Tkunder-wrap.hide-for-small{
    left:50%;
    right:auto;
    margin-left:300px;
}
.cycle-next{left:auto; right:50%; margin-right:-757px}
.cycle-prev{left:50%; right:auto; margin-left:-758px}
}

@media(min-width:761px) and (max-width:1130px){
    .indhold>.medium-12{
        margin-left: auto;
margin-right: auto;
float: none !important;
width:83.333%;
    }
    #maincontent{padding-left: 0.78125em;
padding-right: 0.78125em;}

aside .medium-12{padding:0px;padding-left: 0.78125em;
padding-right: 0.78125em;}
}



