/* ----------- toggle --------------------- */
.btn {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	margin: 1.25em 5% 0 0;
	padding: 0.25em 2%;
	color: #fff;
	text-decoration: none;
	border-radius: 0.25em;
	background-color: #5b5756;
	background-image: -webkit-linear-gradient(top, #6b6766, #5b5756);
	background-image:    -moz-linear-gradient(top, #6b6766, #5b5756);
	background-image:     -ms-linear-gradient(top, #6b6766, #5b5756);
	background-image:      -o-linear-gradient(top, #6b6766, #5b5756);
	background-image:         linear-gradient(top, #6b6766, #5b5756);
	
	&:hover {
		background-color: #7b7776;
		background-image: -webkit-linear-gradient(top, #8b8786, #7b7776);
		background-image:    -moz-linear-gradient(top, #8b8786, #7b7776);
		background-image:     -ms-linear-gradient(top, #8b8786, #7b7776);
		background-image:      -o-linear-gradient(top, #8b8786, #7b7776);
		background-image:         linear-gradient(top, #8b8786, #7b7776);
	}
}



/* --------- Header------------ */
.header {
	color:#fff;
	text-align: center;
	background: #2b2726;
	padding-bottom: 5em;
}

.logo {
	float: left;
	margin: 1.25em 0;
	width: 200px;
}

#nav {
	margin: 0;
	position: absolute;
	top: 5em;
	right: 0;
	left: 0;
	z-index: 10;
	list-style: none;
	text-align: left;
	
	a {
		border-bottom-width: 0;
		background: #444;
		height: 0;
		line-height: 0;
		display: block;
		padding: 0 1em;
		overflow: hidden;
		color:#fff;
		text-decoration: none;
		-webkit-transition: 0.5s;
		   -moz-transition: 0.5s;
		    -ms-transition: 0.5s;
		     -o-transition: 0.5s;
		        transition: 0.5s;
	}
}

/* --------- Submenu ------------ */
.slide:after {
	content: " \0025B6";
	font-size: 0.5em;
}

.submenu {
	position: absolute;
	left: -100%;
	top: 0;
	width: 100%;
	-webkit-transition: 0.75s;
	   -moz-transition: 0.75s;
	    -ms-transition: 0.75s;
	     -o-transition: 0.75s;
	        transition: 0.75s;
}

.submenu.open {
	left: 0;
}

#back:before {
	content: " \0025C0";
	font-size: 0.5em;
}	

#nav .submenu.open a {
		background: #555;
}

/* ----------- checkbox --------------------- */
#toggle {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

#toggle:checked ~ .nav #nav {
	z-index: 101;
	-webkit-box-shadow: 0px 3px 5px 0px #bbb;
	   -moz-box-shadow: 0px 3px 5px 0px #bbb;
	    -ms-box-shadow: 0px 3px 5px 0px #bbb;
	     -o-box-shadow: 0px 3px 5px 0px #bbb;
	        box-shadow: 0px 3px 5px 0px #bbb;

	a {
		line-height: 3em;
		height: 3em;
		border-bottom: 1px solid #999;
		position: relative;
		z-index: 1;	
	}

	#close {
		position: relative;
		z-index: 0;
		
		label {
			background: transparent;
			border-bottom: 0;
			position: absolute;
			top: -101em;
			bottom: -101em;
			height: 202em;
			left: 0;
			right: 0;
			z-index: 0;
		}
	}
	
}

/* ----------- imports --------------------- */


/* ----------- media queries --------------------- */
@media screen and (min-width: 48em) {
	.btn {display: none;}
	.submenu {
		-webkit-transition: 0;
		   -moz-transition: 0;
		    -ms-transition: 0;
		     -o-transition: 0;
		        transition: 0;
	}
	
	#toggle:checked ~ .nav #nav,
	#nav {
		top: 2em;
		right: 2%;
		left: 35%;
		-webkit-box-shadow: 0 0 0 0;
		   -moz-box-shadow: 0 0 0 0;
		    -ms-box-shadow: 0 0 0 0;
		     -o-box-shadow: 0 0 0 0;
		        box-shadow: 0 0 0 0;
		
		li {display: inline; float: left;}
		li.current a {color: #7b7776;}
		
		a {
			line-height: 1em;
			height: 1em;
			display: inline;
			float: right;
			background: transparent;
			padding: 0 1.15em;
			border-bottom: 0;
		}
		
		#close {display: none;}
		
		.submenu {
			position: absolute;
			left: -999em;
		}

		.slide:after {
			content: "";
		}

		li:hover {
			
			.submenu {
				left: auto;
				top: 1em;
				background: #2b2726;
				margin-left: 5%;
				max-width: 15em;
				
				li {
					border-bottom: 1px solid #999;
				}
				
				a {
					height: 3em;
					line-height: 3em;
					width: 15em;
					color: #eae8db;
					background: #2b2726;
					padding: 0 0.75em;

				-webkit-transition: 0;
				   -moz-transition: 0;
				    -ms-transition: 0;
				     -o-transition: 0;
				        transition: 0;
				}
				a:hover {color: #7b7776;}
			}
			
		}

	}
	
	#toggle:checked ~ .nav #nav li:hover .slide ~ ul,
	#nav li:hover .slide ~ ul {margin-left: -10%;}
	
	#toggle:checked ~ .nav #nav #back,
	#nav #back {display: none;}
}

@media screen and (min-width: 52.5em) {
	#nav {
		left: 33%;

		a {padding: 0 1.65em;}
		li:hover .slide ~ ul {margin-left: 5%;}
	}	
}

@media screen and (min-width: 64em) {
	#nav {
		a {padding: 0 2.25em;}
	}
}

@media screen and (min-width: 75em) {
	#nav {
		left: 32%;
	
		a {padding: 0 3.4em;}
	}
}




// eof