// Global Foundation Settings
// Comment out this import if you don't want to use normalize
@import "normalize";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,400italic,300,500,500italic,700,700italic,900,900italic,100italic);
//@import "compass/css3/pie";
@import "compass/css3";
@import "compass/utilities/sprites";
@import "settings";
//type css
//foundation-icons
@import "foundation-icons";
// Comment out this import if you are customizing you imports below
//@import "foundation";
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing
 @import "foundation/components/global"; // *always required
 @import "foundation/components/grid";
//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
@import "foundation/components/grid-5";
@import "foundation/components/block-grid-5";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
@import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
@import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
@import "foundation/components/flex-video";
@import "foundation/components/section";
@import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
 @import "foundation/components/reveal";
// @import "foundation/components/joyride";
//@import "foundation/components/clearing";
@import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
@import "foundation/components/labels";
@import "foundation/components/inline-lists";
//@import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
@import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
 @import "foundation/components/dropdown";
// min styles

//@import "jquery.fancybox";
 $experimental-support-for-svg: true;
 //$pie-behavior: url("/css/PIE.htc");
$icon-spacing: 20px;
@import "icon/*.png";
@include all-icon-sprites;
//@import "developcss";
@import "style";


