<!--@If Not Defined(News:NoNewsMessage)-->
<div class="small-12 columns">
<div class="row ">
	<!--@LoopStart(NewsList)-->
		<div class="large-6 medium-12 small-12 columns" >

			<article class="myBox2">
				<!--@If(News:ImageClean<>"")-->
				<figur><img class="left lazy" src="/admin/public/getimage.ashx?Image=<!--@News:ImageClean-->&Format=jpg&Width=354&Height=240&Crop=0" alt="" style="display: block;"/></figur>

				<!--@EndIf-->
				<div class="box-text">
					<h4><a href="<!--@News:Href-->"><!--@News:Heading--></a></h4>
					<!--@If(News:Manchet<>"")--><p><!--@News:Manchet--></p>
					<!--@Else-->
					<p><!--@News:Text.StripHtml().Crop(160)--></p>
					<!--@EndIf-->
<div class="date-and-author"><time datetime="<!--@News:Date.ShortDate-->"><!--@News:Date.LongDate--></time></div>
				</div>
			</article>
		</div>

	<!--@LoopEnd(NewsList)-->
</div>

<hr class="divid">
<!--@If(DwAreaID==1)--><a href="Default.aspx?ID=64" class="read-more" title="Flere blogindlæg">Flere nyheder</a><!--@EndIf-->
<!--@If(DwAreaID==3)--><a href="Default.aspx?ID=108" class="read-more" title="Flere blogindlæg">Flere nyheder</a><!--@EndIf-->
</div>
    <!--@EndIf(News:NoNewsMessage)-->
