<!--@If Not Defined(News:NoNewsMessage)-->
<!--@SnippetStart(driftwarningheader)-->
  driftwarningheader
  <!--@SnippetEnd(driftwarningheader)-->
  <!--@SnippetStart(driftwarningpadding)-->
  <div class="driftwarningpadding"></div>
  <!--@SnippetEnd(driftwarningpadding)-->
<div id="driftWarningDiv">
    <div class="row">
    	<div class="small-12 columns">
	    <!--@LoopStart(NewsList)-->
     <a href="<!--@News:Href-->"><!--@News:Date--> kl. <!--@News:Date.Hour-->.<!--@News:Date.Minute--> - <!--@News:Heading--> <!--@News:Manchet--><!--@News:FirstXChar--></a>
      <!--@LoopEnd(NewsList)-->

	 </div>
    </div>
</div>
    <!--@EndIf(News:NoNewsMessage)-->