div.datepicker {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
width: 400px !important;
height: auto !important;
	float:left;
	clear: both;
	cursor: default;
	display: none;
}
.datepickerContainer {
	background: Transparent;

}
.datepickerContainer table{background-color: #FFF !important}
.datepickerBorderT {
	position: absolute;
	left: 10px;
	top: 0;
	right: 10px;
	height: 10px;
	background: url(../images/datepicker_t.png);
}
.datepickerBorderB {
	position: absolute;
	left: 10px;
	bottom: 0;
	right: 10px;
	height: 10px;
	background: url(../images/datepicker_b.png);
}
.datepickerBorderL {
	position: absolute;
	left: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
	background: url(../images/datepicker_l.png);
}
.datepickerBorderR {
	position: absolute;
	right: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
	background: url(../images/datepicker_r.png);
}
.datepickerBorderTL {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_tl.png);
}
.datepickerBorderTR {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_tr.png);
}
.datepickerBorderBL {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_bl.png);
}
.datepickerBorderBR {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_br.png);
}
.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
}
div.datepicker a,
div.datepicker a span
 {
	color: #333;
	text-decoration: none;
	cursor: default;
	outline: none;
}
div.datepicker table td {
	text-align: center;
	margin: 0;
	font-size: 1.125em;
	padding: 0px !important;
}
div.datepicker th {
	text-align: center;
	color: #999;
	font-weight: normal;
}
div.datepicker th span{color: #999;}
div.datepicker tbody th {
	text-align: left;
}
div.datepicker tbody a {
	display: block;
		-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
width: 30px;
height: 30px;
line-height: 30px;
margin: auto;
}
.datepickerDays a {
	line-height: 16px;
	text-align: center;
}
.datepickerYears a,
.datepickerMonths a{
	width: 44px;
	line-height: 36px;
	height: 36px;
	text-align: center;
}
td.datepickerNotInMonth a {
	display:none !important;
}
td.datepickerNotInMonth a:hover {
	color: #fff;
}
tbody.datepickerDays td.datepickerSelected a{
	background: #f17000;
	color:#FFF;


}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
	background: #17384d;

}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
	background: #17384d;
}
div.datepicker a:hover,
div.datepicker a:hover {
	color: #88c5eb;
}
div.datepicker td.datepickerNotInMonth a:hover {
	color: #999;
}
div.datepicker tbody th {
	text-align: left;
}
.datepickerSpace div {
	width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	height: 20px;
	line-height: 20px;
	width:100% !important;
}
.datepickerGoNext a {
	float: right;
	width: 20px;
}
.datepickerGoPrev a {
	float: left;
	width: 20px;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}

table.datepickerViewDays th,
table.datepickerViewDays td,
table.datepickerViewDays{background-color: #FFF !important}
table.datepickerViewDays thead td span{color: #333 !important}
table.datepickerViewDays thead .datepickerGoPrev a,
table.datepickerViewDays thead .datepickerGoNext a{width:28px; height:28px; background:#dddddd; color:#999999;}


table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}
table.datepickerViewDays td{padding:0px;}
td.datepickerDisabled a span,
td.datepickerSaturday a span,
td.datepickerSunday a span
{
	color: #cdcdcd !important;
}
td.datepickerDisabled a:hover span,
td.datepickerSaturday a:hover span,
td.datepickerSunday a:hover span{
	color: #cdcdcd !important;
}
td.datepickerSpecial a,
td.datepickerSpecial.datepickerSelected a,
td.datepickerSpecial a:hover {
color:#FFF !important;
-webkit-border-radius: 15px !important;
-moz-border-radius: 15px !important;
border-radius: 15px !important;

}
td.datepickerSpecial a span{color:#FFF !important;}

#timepickerwrapper{clear:both;text-align: left; padding:10px 0px;}
#timepickerwrapper #timepicker a{float: left; background: #FFF;
padding: 0px 10px; width:100%; height:33px; line-height:32px;border-bottom:1px solid #e6e6e6;color:#333; border-right:none;}
td.datepickerSpecial a,
td.datepickerSpecial.datepickerSelected a,
#timepickerwrapper #timepicker a.selectedTime
{color:#FFF;background: #8bc53e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhiYzUzZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZmI1MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #8bc53e 0%, #7fb539 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8bc53e), color-stop(100%,#7fb539)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8bc53e 0%,#7fb539 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8bc53e 0%,#7fb539 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8bc53e 0%,#7fb539 100%); /* IE10+ */
background: linear-gradient(to bottom, #8bc53e 0%,#7fb539 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bc53e', endColorstr='#7fb539',GradientType=0 ); /* IE6-8 */

}



