﻿<div class="large-3 medium-6 small-12 columns">
    <div class="myBox nolink mitbbn">
        <div class="box1 mitbbn">
            <h4 style="color: #f5851f">Betalingsform</h4>
            <p><b>PBS</b></p>
            <p>Du er <b>ikke</b> tilmeldt PBS <span class="right"><a href="" class="button radius secondary">Tilmeld</a></span></p>
            <hr />
            <p><b>Automatisk betaling via Betalingskort</b></p>
            <p>Dankort/Visa xxxx xxxx xxxx 1012 <span class="right"><a href="" class="button radius secondary">Afmeld</a></span></p>
            <hr />
            <p><b>Faktura pr. Post:</b> Nej</p>
        </div>
    </div>
</div>
