﻿@using NoZebra.S_DW_BBN.CustomCode
@{
    var customer = new Customer();
    var customerData = customer.GetCustomerData(Helpers.GetCustomerQueryFromUser().Body.Customer_QueryResult.CustomerInfoData);
}
<div class="large-3 medium-6 small-12 columns">
    <div class="myBox nolink mitbbn">
        <div class="box1 mitbbn">
            <h4 style="color: #f5851f">Mine oplysninger</h4>
            <h6 class="kNavn">@customerData.FirstName @customerData.Surname</h6>
            <p class="adresse">@customerData.Address</p>
            <hr>
            <div class="row">
                <div class="small-6 columns tNr">
                    <h6>Telefon</h6>
                    <p>@customerData.Phone</p>
                </div>
                <div class="small-6 columns mNr">
                    <h6>Mobil</h6>
                    <p>@customerData.MobilePhone</p>
                </div>
            </div>
            <hr>
            <div>
                <h6>Email</h6>
                <p>@customerData.Email</p>
            </div>
            @if (Helpers.NotNonCompletedOrder())
            {
                <a class="knap-tilbage-bestilling button radius" href="overblik/Rediger-mine-oplysninger" style="color:#000">Rediger>></a>
            }
        </div>
    </div>
</div>