﻿@using System.Collections.Generic
@using System.Linq
@using NoZebra.S_DW_BBN.CustomCode
@using NoZebra.S_DW_BBN.CustomCode.Model

@{
    var customer = new Customer();
    var customerProducts = customer.GetProducts(Helpers.GetCustomerQueryFromUser().Body.Customer_QueryResult.CustomerInfoData);
    double gebyr = 49;
    double totalsimple = 0;
    double totaldetail = gebyr;
    double totalOptional = 0;
    var tilvalg = new List<string>();
    List<int> provisioningCodes = new List<int>();
    List<string> productNames = new List<string>();
    if (customerProducts.MainProducts.HasProducts())
    {
        if (customerProducts.MainProducts.InternetProducts != null)
        {
            foreach (InternetProduct product in customerProducts.MainProducts.InternetProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
            {
                provisioningCodes.Add(product.ProvisioningCode);
                productNames.Add(product.ProductName);
                totalsimple += product.Price;
            }
        }
        if (customerProducts.MainProducts.PhoneProducts != null)
        {
            foreach (PhoneProduct product in customerProducts.MainProducts.PhoneProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
            {
                provisioningCodes.Add(product.ProvisioningCode);
                productNames.Add(product.ProductName);
                totalsimple += product.Price;
            }
        }
        if (customerProducts.MainProducts.TvProducts != null)
        {
            foreach (TvProduct product in customerProducts.MainProducts.TvProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
            {
                provisioningCodes.Add(product.ProvisioningCode);
                productNames.Add(product.ProductName);
                totalsimple += product.Price;
            }
        }
    }
    if (customerProducts.OptionalProducts.HasProducts())
    {
        foreach (InternetProduct product in customerProducts.OptionalProducts.InternetProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
        {
            tilvalg.Add(product.ProductName);
            totalOptional += product.Price;

        }
        foreach (PhoneProduct product in customerProducts.OptionalProducts.PhoneProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
        {
            tilvalg.Add(product.ProductName);
            totalOptional += product.Price;
        }

        foreach (TvProduct product in customerProducts.OptionalProducts.TvProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
        {
            tilvalg.Add(product.ProductName);
            totalOptional += product.Price;
        }
    }
    var igang = "";
    if (customerProducts.ProductState == ProductState.Oprettelse)
    {
        igang = "igang";
    }
}

<div class="large-3 medium-6 small-12 columns">
    <div class="myBox nolink mitbbn" style="min-height: 100px;height: auto;">
        <div class="box1 mitbbn @igang" style="min-height: 100px;height: auto;">
            <div id="simple" style="display: block">
                <h4 style="color: #f5851f">Mit abonnement <span style="font-size: 11px; vertical-align: bottom" class="right" onclick="toggledetails()">(Se detaljer)</span></h4>
                <table>
                <tr><td><b>@customerProducts.PackageName</b></td><td class="right"><b>@totalsimple.ToString("F2") kr./md.</b></td></tr>
                @if (!string.IsNullOrEmpty(customerProducts.PackageName))
                {
                    foreach (string name in productNames)
                    {
                    <tr><td class="small"> - @name</td><td class="right"></td></tr>

                    }
                }
                else
                {
                    foreach (string name in productNames)
                    {
                    <tr><td class="small">@name</td><td class="right"></td></tr>

                    }
                }
                </table>
                <hr>
                <table>
                    <tr><td><b>Tilvalg</b></td><td class="right"><b>@totalOptional.ToString("F2") kr./md.</b></td></tr>
                    @foreach (var name in tilvalg)
                    {
                        <tr><td class="small"> - @name</td><td class="right"></td></tr>
                    }

                </table>
                <hr>
                @{ double tot = @totalsimple + @totalOptional + @gebyr; }
                <table>
                    <tr><td class="small">Betalingsgebyr*</td> <td class="right">@gebyr.ToString("F2") kr./md.</td></tr>
                </table>
                <hr>
                <table>
                    <tr><td><b>IALT Betales månedligt</b></td><td class="right"><b>@tot.ToString("F2") kr.</b></td></tr>
                </table>
            </div>
            <div id="details" style="display: none">
                <h4 style="color: #f5851f">Mit abonnement <span style="font-size: 11px; vertical-align: bottom" class="right" onclick="toggledetails()">(Skjul detaljer)</span></h4>

                    @{
                        if (customerProducts.MainProducts.InternetProducts.Any() || customerProducts.OptionalProducts.InternetProducts.Any())
                        {
                        <table>
                            <tr><td colspan="2"><b>Fiberbredbånd</b></td></tr>
                            @foreach (InternetProduct product in customerProducts.MainProducts.InternetProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                            {
                                <tr><td class="small">- @product.ProductName</td><td class="right">@product.Price.ToString("F2") kr./md.</td></tr>
                                totaldetail += product.Price;
                            }
                            @foreach (InternetProduct product in customerProducts.OptionalProducts.InternetProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                            {
                                <tr><td class="small">- @product.ProductName</td><td  class="right">@product.Price.ToString("F2") kr./md.</td></tr>
                                totaldetail += product.Price;
                            }
                            </table>
                        }
                        if (customerProducts.MainProducts.TvProducts.Any() || customerProducts.OptionalProducts.TvProducts.Any())
                        {
                            <hr>
                            <table>
                            <tr><td colspan="2"><b>TV</b></td></tr>
                            @foreach (var product in customerProducts.MainProducts.TvProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                            {
                                <tr><td class="small">- @product.ProductName</td><td class="right">@product.Price.ToString("F2") kr./md.</td></tr>
                                totaldetail += product.Price;
                            }
                            @foreach (var product in customerProducts.OptionalProducts.TvProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                            {
                                <tr><td class="small">- @product.ProductName</td> <td class="right">@product.Price.ToString("F2") kr./md.</td></tr>
                                totaldetail += product.Price;
                            }
                            </table>
                        }
                        if (customerProducts.MainProducts.PhoneProducts.Any() || customerProducts.OptionalProducts.PhoneProducts.Any())
                        {
                        <hr>
                        <table>

                            <tr><td colspan="2"><b>Telefoni</b></td></tr>
                            @foreach (var product in customerProducts.MainProducts.PhoneProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                            {
                                <tr><td class="small">- @product.ProductName</td><td class="right">@product.Price.ToString("F2") kr./md.</td></tr>
                                totaldetail += product.Price;
                            }
                            @foreach (var product in customerProducts.OptionalProducts.PhoneProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                            {
                                <tr><td class="small">- @product.ProductName</td> <td class="right">@product.Price.ToString("F2") kr./md.</td></tr>
                                totaldetail += product.Price;
                            }
                            </table>
                        }
                        <hr>
                        <table>
                            <tr><td class="small">Betalingsgebyr*</td> <td class="right">@gebyr.ToString("F2") kr./md.</td></tr>
                        </table>
                        <hr>
                        <table>
                            <tr><td><b>IALT Betales månedligt</b></td><td class="right"><b>@totaldetail.ToString("F2") kr.</b></td></tr>
                        </table>

                    }

</div>
<br/>
                        <div class="small" style="padding-right:15px"><small><i>* Hvis du er tilmeldt PBS betaler du kun 5 kr. I dette tilfælde træk da 44 kr fra den samlede pris.</i></small></div>
            @{
    if (!string.IsNullOrEmpty(igang))
                {
                    <div class="bottom-txt">
                        <h6>Abonnementet er under oprettelse</h6>
                        <p>Så længe abonnementet er under oprettelse kan du ikke ændre dine produkter.</p>
                    </div>
                }
            }


        </div>
    </div>
</div>

<script>
    function toggledetails() {
        $("#simple").toggle();
        $("#details").toggle();
        }
</script>