﻿@using System.Linq
@using NoZebra.S_DW_BBN.CustomCode
@using NoZebra.S_DW_BBN.CustomCode.Model

@{
    var customer = new Customer();
    var customerProducts = customer.GetProducts(Helpers.GetCustomerQueryFromUser().Body.Customer_QueryResult.CustomerInfoData);
    double gebyr = 5;
    double total = gebyr;
}

<div class="large-3 medium-6 small-12 columns">
    <div class="myBox nolink mitbbn">
        <div class="box1 mitbbn">
            <h4 style="color: #f5851f">Mit abonnement <span style="font-size: 15px; vertical-align: bottom" class="right">(Skjul detaljer)</span></h4>
             @{
                 if (customerProducts.MainProducts.InternetProducts.Any() || customerProducts.OptionalProducts.InternetProducts.Any())
                 {
                     <b>Fiberbredbånd</b>
                     foreach (InternetProduct product in customerProducts.MainProducts.InternetProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                     {
                         <p>- @product.ProductName <span class="right">@product.Price.ToString("F2") kr./md.</span></p>
                         total += product.Price;
                     }
                     foreach (InternetProduct product in customerProducts.OptionalProducts.InternetProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                     {
                         <p>- @product.ProductName <span class="right">@product.Price.ToString("F2") kr./md.</span></p>
                         total += product.Price;
                     }
                 }
                 <br/>
                 if (customerProducts.MainProducts.TvProducts.Any() customerProducts.OptionalProducts.TvProducts.Any())
                 {
                     <b>TV</b>
                     foreach (var product in customerProducts.MainProducts.TvProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                     {
                         <p>- @product.ProductName <span class="right">@product.Price.ToString("F2") kr./md.</span></p>
                         total += product.Price;
                     }
                     foreach (var product in customerProducts.OptionalProducts.TvProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                     {
                         <p>- @product.ProductName <span class="right">@product.Price.ToString("F2") kr./md.</span></p>
                         total += product.Price;
                     }
                 }
                 <br/>
                 if (customerProducts.MainProducts.PhoneProducts.Any() || customerProducts.OptionalProducts.PhoneProducts.Any())
                 {
                     <b>Telefoni</b>
                     foreach (var product in customerProducts.MainProducts.PhoneProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                     {
                         <p>- @product.ProductName <span class="right">@product.Price.ToString("F2") kr./md.</span></p>
                         total += product.Price;
                     }
                     foreach (var product in customerProducts.OptionalProducts.PhoneProducts.Where(p => p.PaymentType == null || p.PaymentType != "One-time fee"))
                     {
                         <p>- @product.ProductName <span class="right">@product.Price.ToString("F2") kr./md.</span></p>
                         total += product.Price;
                     }
                 }
                 <br/>
                 <p>Betalingsgebyr <span class="right">@gebyr.ToString("F2") kr./md.</span></p>
                 <hr />
                 <p><b>IALT Betales månedligt <span class="right">@total.ToString("F2") kr.</span></b></p>
             }
        </div>
    </div>
</div>
