﻿@using System
@using System.Linq
@using NoZebra.S_DW_BBN.BBNSemiOpen
@using NoZebra.S_DW_BBN.CustomCode

@{
    var customer = (CustomerInfoData)System.Web.HttpContext.Current.Session["SelectedCustomer"];
    if (customer == null)
    {
        var cust = Helpers.GetCustomerQueryFromUser();
        if (cust.Body.Customer_QueryResult.CustomerInfoData != null)
        {
            customer = cust.Body.Customer_QueryResult.CustomerInfoData;
        }
    }
    if (customer != null)
    {
        var orders = new OrderListManager().GetNonCompletedOrders(customer);

        if (customer.FiberData != null && customer.FiberData.FiberProducts.Any())
        {
            <div class="large-3 medium-6 small-12 columns">
                <div class="myBox nolink mitbbn">
                    <div class="box1 mitbbn">
                        <h4 style="color: #f5851f">Igangværende ordre</h4>
                        @if (orders.Any())
                        {
                            foreach (var order in orders)
                            {
                                var newProducts = order.Products.Where(p => p.Action.ToLower() == "add" && p.AllowedToCreate && !p.ProductName.ToLower().Contains("kampagne"));
                                if (newProducts.Any())
                                {
                                    var date = order.ActionDate;
                                    DateTime dt;
                                    if (DateTime.TryParse(order.ActionDate, out dt))
                                    {
                                        date = dt.ToString("dd.MM.yy");
                                    }

                                    <p>@date <span class="right" style="display: none"><a href="#" style="visibility: hidden">(Annuller)</a></span></p>
                                    foreach (var newProduct in newProducts)
                                    {
                                        <p>@order.OrderType: @newProduct.ProductName</p>
                                    }
                                    <hr/>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        }
    }
}
