﻿@using System
@using System.Linq
@using NoZebra.S_DW_BBN.CustomCode
@using NoZebra.S_DW_BBN.CustomCode.KS

@{
    var customer = Helpers.GetCustomerQueryFromUser().Body.Customer_QueryResult.CustomerInfoData;
    var date = "";
    if (customer.NonCompletedOrders != null && customer.NonCompletedOrders.Any() && (customer.FiberData == null || !customer.FiberData.FiberProducts.Any()))
    {

        var mainOrder = customer.NonCompletedOrders.SingleOrDefault(o => o.MainProductID == 1);
        if (mainOrder != null)
        {
            date = mainOrder.ActionDate;
        }
        var afsluttet = CustomerStatus.GetFlowStatusColors(customer.AxCustomerID)["Installation udført"] == "green";
        var bookdisabled = (afsluttet || string.IsNullOrEmpty(date)).ToString().ToLower();
        <div class="large-3 medium-6 small-12 columns">
            <div class="myBox nolink mitbbn">
                <div class="box1 mitbbn">
                    <h4 style="color:#f5851f">Tilslutning</h4>
                    <p>Herunder kan du se hvor langt vi er med tilslutning af fiberbredbånd til din bolig.</p>

                    @if(string.IsNullOrEmpty(date))
        {
                        <div>
                            <div class="left">&nbsp;</div>
                            <div class="left content">
                                <h6>Bestilling oprettet</h6>
                                <p class="adresse">Afventer booking af teknikertid</p>
                            </div>
                        </div>
                        <hr />
        }
        else{
            var dt = DateTime.Parse(date);
            var dateString = @dt.ToString("dddd dd. MMMM yyyy");
            dateString = dateString.First().ToString().ToUpper() + dateString.Substring(1);
                        <div>
                            <div class="left icon-chkMsmall">&nbsp;</div>
                            <div class="left content">
                                <h6>Booket teknikkertid</h6>
                                <p class="adresse">
                                    @dateString mellem @mainOrder.TechnicianTime<br>
                                    @if (@mainOrder.TechnicianTime != "kl. 07 til 15")
                                    {
                                        <span style="color: #f5851f">(Du skal være hjemme i ovennævnte tidsrum)</span>
                                    }
                                    </p>
                                </div>
                            </div>
                            <hr />

        if (afsluttet)
            {    <div>
            <div class="left icon-chkMsmall">&nbsp;</div>
            <div class="left content">
                <h6>Tilslutning afsluttet</h6>
            </div>
        </div>
        }
        else if ((dt - DateTime.Now) > new TimeSpan(3, 0, 0, 0))
        {
            <div class="buttonwrapper">
                <a class="button radius secondary" data-reveal-id="installationstid" href="#">Book ny installationstid >></a>
            </div>
            }
        }
                </div>
            </div>
        </div>


    }

    <!--@SnippetStart(scripts)-->

    if(!string.IsNullOrEmpty(date))
    {
    var thisdate = Convert.ToDateTime(date).ToString("dd-MM-yyyy");
        <text>
            console.log("@{@customer.AxCustomerID}");
            getavailabledates("@{@customer.AxCustomerID}","@thisdate");
                $("#datepickerContainer").on("click",function( event ) {
                event.preventDefault();
                });
                $(document).on("click","#timepicker a",function(){
                $("#timepicker a").removeClass("selectedTime");
                $(this).addClass("selectedTime");
                $("#installationstid .knap-f-bestilling").removeClass("disabled").html("<b>Book tid >></b>");
                });

        </text>
    }
    <!--@SnippetEnd(scripts)-->

}

<!--@SnippetStart(loadstyle)--><link rel="stylesheet" media="screen" type="text/css" href="/Files/templates/designs/2014/js/datepicker/css/datepicker.css" />
<!--@SnippetEnd(loadstyle)-->
<!--@SnippetStart(loadscript)-->
<script type="text/javascript" src="/Files/templates/designs/2014/js/datepicker/datepicker.js"></script>
<script type="text/javascript" src="/files/templates/designs/2014/js/booking.js"></script>
<!--@SnippetEnd(loadscript)-->
<!--@SnippetStart(reveal)-->
<div id="installationstid" class="reveal-modal" data-ax="@{@customer.AxCustomerID}">
    <div class="reveal-modal-inner">
        <button class="js-close-box fi-x close-reveal-modal"></button>
        <h3>Book teknikertid</h3>
        <p>Her kan du booke din teknikertid. Husk at du skal være hjemme i det valge tidsrum.</p>
        <div id="datepicker"></div>
        <h5 style="color:#333">Vælg tidspunkt på dagen</h5>
        <div id="timepicker"></div>
        <a class="close-reveal-button button radius"><b><< Annuller</b></a>&nbsp;<a class="close-reveal-button knap-f-bestilling" style="font-size: 16px;line-height: 37px;height:48px"><b>Book tid >></b></a>
    </div>
</div>

<div id="bookerror" class="reveal-modal">
    <div class="reveal-modal-inner">
        <button class="js-close-box fi-x close-reveal-modal"></button>
        <h3>Der opstod en fejl</h3>
        <p>Kontakt venligst kundeservice for at ombooke din tid.</p>
        <a class="close-reveal-button knap-f-bestilling" style="font-size: 16px;line-height: 37px;height:48px"><b>OK >></b></a>
    </div>
</div>
<div id="bookok" class="reveal-modal">
    <div class="reveal-modal-inner">
        <button class="js-close-box fi-x close-reveal-modal"></button>
        <h3>Booking er ændret</h3>
        <p>Bookingen er ændret til den ønskede dato og tidspunkt.</p>
        <a class="close-reveal-button knap-f-bestilling" href="javascript:location.reload();" style="font-size: 16px;line-height: 37px;height:48px"><b>OK >></b></a>
    </div>
</div>
<!--@SnippetEnd(reveal)-->
